[2017-03-24 11:04] kalessil commented on #199
That's a very confusing design: the `return (string)$userInfo` should be used here (with `__toString` implementation of course).

I don't do this often, but I think we should leave as but reflect this case and solution in docs.

[2017-03-24 11:06] funivan commented on #199
This is simple example. Here is real use case from symfony:
https://github.com/symfony/symfony/blob/7e766dae4a88be16dd5d7f4927deb032e0573a08/src/Symfony/Component/Console/Helper/ProgressIndicator.php#L244

[2017-03-24 11:14] kalessil commented on #199
Makes no difference, except `private static function initPlaceholderFormatters()` is private.
I need to think, handling this will complicate the inspector a lot...

[2017-03-24 11:18] funivan commented on #199
@kalessil agree, this is very specific case. The most simple way to add documentation)

[2017-03-24 11:22] rentalhost commented on #199
Why when you set it as non-static it works fine? Maybe some if() is causing this issue. Static should be allowed to work with cases like that.

[2017-03-24 12:03] rentalhost opened #200 "Suggests use of @property"
_It's a bit complicated, but let's go..._

When you are using the `__get()` magic method, is hard you get the typehint of your magic property, because IDE can't knows that before the runtime (and IDE can't do that). But, we can tell before, _because we know_, by using the  `@property` annotation on class.

Things like `$user->created_at->lt(...)` turns harder, because `created_at` are not a real p

[2017-03-24 12:14] kalessil commented on #199
@rentalhost : that;s a trick for accessing non-public properties:

- the lambdas created inside the class, so they have access to all internals (incl. all private things);
- the lambdas dispatched to an outer consumer, which calls the lambda without side-effects;

It's VERY dirty hacking, alternative is to use [decorators](https://en.wikipedia.org/wiki/Decorator_pattern)

[2017-03-24 12:48] rentalhost commented on #199
Wow, it's very hard to understand what [this code does](https://github.com/symfony/symfony/blob/7e766dae4a88be16dd5d7f4927deb032e0573a08/src/Symfony/Component/Console/Helper/ProgressIndicator.php#L244). After rerereading that I finally get. But still is hard, maybe because of this strange pattern (or antipattern, I don't know now, I am confused haha).

In all case, I guess that you could make it w

[2017-03-24 13:38] funivan commented on #200
In our project we try to remove usage of virtual `@property`. This is not a good approach to write dynamic code.

[2017-03-24 13:39] rentalhost commented on #200
@funivan how do you treat public or magic properties?

[2017-03-24 13:42] funivan commented on #200
@rentalhost we have old code with `@property` but we try to avoid that. In new classes we write private properties, getter and setter for them. It is easy to write and maintain classes with defined properties alongside with magic properties)

[2017-03-24 14:00] rentalhost commented on #200
@funivan Ah, it's basically what Java devs does. I just don't know if in PHP it's fully recommended, once that it will decrease the code performance (_functions call is about 500% heavier_). In java it makes sense because it is compiled, then probabily will not cost more.

In all cases, I think that magic properties are very common mainly if you are using some framework. Then except if you code li

[2017-03-24 14:15] rentalhost opened #201 "Reports using of public property instead of getter/setter"
It should reports if you have a getter/setter over a public property in a simple way.

**For instance:**

[code]

Note: the method name should not be checked, it could be anything. What matter here is the argument structure and type and the method structure.

**On getter:**

* Method should be public;
* Readed property should be public;
* Returns the own public property crudely;
* Method should no

[2017-03-24 14:19] funivan commented on #200
@rentalhost yes but `__get` is heavy method too. Also if we have `parent::__get()` calls ;)

[2017-03-24 14:23] funivan commented on #201
One big disadvantage of the public property: it is hard to deprecate them.
You can not just drop public property (for example if you develop library) you need to deprecate it first.

p.s. I know that there are `__get`, `__set`, `__isset`, `__unset` methods but it is really hard way of public property deprecation

[2017-03-24 14:40] kalessil opened #203 "[optional, opinionated] Report multiple returns in class methods (ignore traits)"
? static methods ?

[2017-03-24 14:41] kalessil commented on #203
@funivan : thanks for a link ;)

[2017-03-24 16:01] funivan commented on #203
Emmm.. what link? ))

[2017-03-24 16:06] rentalhost commented on #203
And I'm curious if you are talking about methods like [this](https://github.com/laravel/framework/blob/fda32246e66decb0e83813daf5ff4c79356e1a90/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L456):

[code]

If yes, which should be the solution?

[2017-03-24 18:01] Fleshgrinder commented on #203
There is absolutely nothing wrong with multiple `return` statements!?!

[2017-03-24 18:18] kalessil commented on #203
@funivan : https://www.youtube.com/watch?v=qAxLtSYN0nw

[2017-03-24 18:23] kalessil commented on #203
@Fleshgrinder : no worries, it's optional tool for myself.

The rule indicates methods written in a procedural style, but can be simplified.
Such methods harder to test and might be a good candidate for more precise review.

[2017-03-24 18:58] kalessil commented on #203
@rentalhost : same answer as above =)

[2017-03-24 19:41] kalessil commented on #199
The approach from @rentalhost should be sufficient, I'll give it a try.

[2017-03-24 20:06] #197 closed

[2017-03-24 20:58] Fleshgrinder commented on #203
All fine if it is disabled by default, and available for those who really need it.

For any user arriving here in search of more info on this, please go through [this Stackoverflow thread](https://stackoverflow.com/questions/36707) where people discuss this topic in extreme length. There is lots of great literature being quoted from Steve McConnell, Martin Fowler, Kent Beck, … of which I recommend

[2017-03-25 09:28] #183 closed

[2017-03-25 09:30] #186 closed

[2017-03-25 10:11] funivan commented on #203
@kalessil yep. After this video I started to look at my code from another side. Single return has pros and cons, but having such inspection would be great.
I see this inspection simple, if you would like I can implement it =) What do you think?

[2017-03-25 13:44] kalessil commented on #203
@funivan, go ahead =)

[2017-03-25 18:46] kalessil commented on #186
@funivan : FYI, I added content-aware behaviour and corresponding [documentation](https://github.com/kalessil/phpinspectionsea/blob/master/docs/code-style.md#usage-of-the-silence-operator).

If the content awareness settings switched off, the inspection gets behaves as in original version.

[2017-03-25 19:26] funivan commented on #186
@kalessil nice documentation. Simple inspection become smarter. Nice job ;)

[2017-03-25 20:04] kalessil commented on #186
Thank you @funivan, it was a good basis there ;)

[2017-03-25 21:31] kalessil commented on #183
@Garethp : the fix works, thanks! I extended tests with testing fixes: 2593558f65d2cbdade5e6c2b70099388cc0e2214

[2017-03-26 06:19] #196 closed

[2017-03-26 16:48] Garethp commented on #183
Thanks. Are there any other quick fix bugs you'd like me to look at? Or test existing ones? I'd love to contribute, and those seem like good starting points for learning the plugin.

Also, are you able to explain the checkHighlighting function at all? I don't understand what the three booleans do, but any other values caused errors, and I wasn't able to get the available quick fixes without that f

[2017-03-26 17:24] kalessil commented on #183
Perhaps increasing test coverage will be a good point: https://github.com/kalessil/phpinspectionsea/blob/master/RULES.md#inspections-lists-type-compatibility: IsEmptyFunctionUsageInspection doesn't have tests yet. Best will be to reference to last commits for adding tests.

I don't remember the meaning of the flag, but this combination will apply given inspector, ensure that all warnings (error, w

[2017-03-27 09:14] kalessil opened #204 "[FR] Architecture: method could be static by @rentalhost"
Origin: https://bitbucket.org/kalessil/phpinspectionsea/issues/113
Author: @rentalhost

Can be simple check if a method can be static. Basically, just check if in some point it refer to `$this`.

Example (_could be static_):

[code]

Example (_can't be static_, `$this` is used to refer same object):

[code]

[2017-03-27 09:15] b1rdex opened #205 "[false-positive] Unnecessary parentheses"
[code]

Logic will change if parentheses omitted. Same problem with `?:`.

[2017-03-27 09:41] kalessil commented on #205
Thank you for reporting @b1rdex, looks like you are on PS 2017.1. I'll take care about the issue.

[2017-03-27 10:33] davidmpaz opened #207 "Improve dev docs"
Hi there,

can somebody help with images from docs/DEVELOPERS.md file? I am trying to set up the project but links are broken.

also just noticed that .idea/ dir is not ignored completely. Is this on purpose to get some defaults settings?

Could we consider ignoring .idea/ dir completely and describe in more details what is needed to be done for the full setup without using the settings committed.

[2017-03-27 10:41] kalessil commented on #207
Since it's n time escalated, will add missing images next days...

[2017-03-27 11:01] b1rdex commented on #205
Yes, I'm on latest release.

2017-03-27 19:41 GMT+10:00 Vladimir Reznichenko <notifications@github.com>:

--
Анатолий Пашин.

[2017-03-27 13:06] kalessil opened #208 "[maintanability] Promote chaining exceptions"

[2017-03-27 16:08] rentalhost opened #210 "Report anonymous functions on methods"
It is a discussion/issue related to #199 and maybe with #203 (_I don't know_).

There are some sense of a method returns a lot of differents callables in a single method? I just see a unique case where it is allowed, where you should return an anonymous function as a complement for a function.

[code]

It should reports the `getCallable()` method by have two anonymous functions declared (independe

[2017-03-27 16:27] rentalhost opened #211 "Report usage of anonymous functions as argument"
_Just a note: it's a bit different of #210, but will cross in some moment._

Basically, it should report to you the usage of anonymous functions as argument to a function or method that expects a callable.

## Case 1

[code]

In this case, is better you create a specific function (helper) that will do that for you. It'll avoid duplicated, _hard-to-test_ code and will improve the readability of cur

[2017-03-27 16:36] Fleshgrinder commented on #211
What would actually be better is a delegate class:

[code]

Now we have type safety and can pass it to `array_reduce`:

[code]

[2017-03-27 17:29] #205 closed

[2017-03-27 17:56] rentalhost commented on #204
@funivan What do you mean by _confusing_ emoji? Do you think that could be some expection on this case?

[2017-03-27 18:15] funivan commented on #207
@kalessil developers can install php plugin to the intellij, then you can change openapi path (like CSS lib)
So all developers just need to install php plugin without any path change. What do you think?

[2017-03-27 18:36] funivan commented on #204
Static methods is hard to test. So in most cases it is better to have some performance downgrade and use non static methods. ;)

[2017-03-27 18:43] kalessil commented on #204
Hm, I thought we could spot such methods and suggest decoupling them from the class.
If we have a method which can be static, it most probably not needed in the class at all.

Or?

[2017-03-27 18:47] kalessil commented on #207
I recommend to keep IDEA fresh and build against older PS version - because of enterprise users.
But of course I'll add a note to your proposal, it makes sense and balance out my approach perfectly.

[2017-03-27 19:20] kalessil commented on #207
[Dev-docs](https://github.com/kalessil/phpinspectionsea/blob/master/docs/DEVELOPERS.md) as been reworked, images there + cleanup done.

//cc @tomzx @funivan @veewee

[2017-03-27 19:20] #207 closed

[2017-03-27 19:21] kalessil commented on #8
Developers documentation has been updated in #207.

[2017-03-27 19:21] #8 closed

[2017-03-27 19:38] kalessil commented on #9
@funivan : it seems like you played around with travis already, how far did you go with it?

[2017-03-27 21:39] Fleshgrinder commented on #210
Still trying to wrap my head around that stuff. 😝

[2017-03-27 22:16] rentalhost commented on #210
@Fleshgrinder what, exactly?

[2017-03-28 04:51] funivan commented on #204
Maybe i need to see more examples ;)

[2017-03-28 04:57] funivan commented on #9
- [x]  Create travis configuration : https://github.com/funivan/phpinspectionsea/blob/4418fee7814274f7fe3d6a241bfb06b14db58a5b/.travis.yml
 - [x] Download intellij idea and phpstorm idea, Install on the travis. https://github.com/funivan/phpinspectionsea/blob/4418fee7814274f7fe3d6a241bfb06b14db58a5b/travis.sh
 - [ ] Build project (try to investigate ant) and run tests.

Last stage is the hardest o

[2017-03-28 06:23] kalessil commented on #204
I need a prototype to spot examples =)

[2017-03-28 06:26] kalessil commented on #9
Sounds good, I'll play with a build itself.

[2017-03-28 08:33] Fleshgrinder commented on #210
The original Symfony example that was given in #199. Your example here seems over simplified, and the proposed solution seems over complicated.

[code]

This looks like the proper solution to me. Testability is not an issue here, one can easily instantiate and call the method. On top of all that, the logic is so simple, not sure if I would even write a test for this.

[2017-03-28 09:37] funivan commented on #210
@rentalhost how to deal with this code https://github.com/symfony/symfony/blob/7e766dae4a88be16dd5d7f4927deb032e0573a08/src/Symfony/Component/Console/Helper/ProgressIndicator.php#L240:L256 ?

[2017-03-28 09:40] Fleshgrinder commented on #210
As I said, I need to wrap my head around that one still. Checked out Symfony yesterday, and will have a look at the implementation. The whole thing (just from looking at it on GitHub) looks very hacky and wrong.

[2017-03-28 12:33] rentalhost commented on #210
@Fleshgrinder that was not the point, I just did a simplified example (and _yep, maybe I over simplificate too much a lot_ haha). About the testability, this is not the major issue here, is about SRP. There a lot of cases where you give responsability to method that does more than it should does. And I guess that an inspection like that should help dev avoid cases like that (example, _me_).

Your

[2017-03-28 12:48] Garethp opened #213 "[Tests] Unregistered inspections requested"
I had to set up a new machine due to hardware issues, and when I try to run any tests, I get this error

[code]

For each test (Obviously each test failing on the inspection it's trying to test). I'm not sure what's going on, I had my settings set up right. Have you seen something like this?

[2017-03-28 12:57] kalessil commented on #213
Looks like resources folder is not recognized, so ParameterByRefWithDefaultInspector considered as not register (I guess all of then actually).

Do you have the same layout as here: https://github.com/kalessil/phpinspectionsea/blob/master/docs/images/module-settings.png ?
Folders near the selection at screenshot have different icons.

[2017-03-28 13:30] Garethp commented on #213
It was set like that. I solved it, somehow. I'm not sure how or why, but swapping from Community to Ultimate seems to have performed some voodoo magic that lets my tests run.

[2017-03-28 13:32] #213 closed

[2017-03-28 17:49] Fleshgrinder commented on #204
This is generally true, but not an argument against static methods in general; it highly depends. In case it’s a _pure_ function without state and side effects, and it is used to protect the invariant of a class, nothing is wrong. More important, it is not a dependency that should be broken! The example in this issue is once more very simple, but it is a _pure_ function, no side effects, no hard w

[2017-03-29 11:58] kalessil opened #215 "Deprecations (existing inspection): reporting consistency"
- [x] implementation of a deprecated method;
- [x] overriding deprecated methods;
- [x] extending deprecated classes/interfaces - **by PS**;
- [x] a method is deprecated, but parents' one is not (methods only, not classes)

[2017-03-29 12:14] rentalhost commented on #215
Maybe it should consider too when you deprecate a overrided method, then the parent method should be warned too. I don't know if have some sense of deprecate a child method but not the parent one.

[code]

[2017-03-29 12:21] kalessil commented on #215
@rentalhost : makes sense, adding the case into description

[2017-03-29 13:11] Schrank commented on #172
I have the same Problem in Magento. But as in https://github.com/kalessil/phpinspectionsea/issues/172#issuecomment-285271131 described, I think this is intended behaviour. There is no (easy) way to decide wether a file is used in global or non-global context as in

[code]
[code]

[2017-03-29 13:17] kalessil commented on #172
Let me check at least why types are so strangely recognized.

[2017-03-29 15:12] funivan commented on #215
If someone decide to deprecate method in the child class. And default one (`Parent::deprecatd`) should be used instead. I think this is not invalid situation to show warning on the parent method.
We can go deeper. Developers can even deprecate `Child` class (and all its methods) and deny users to use it. What do you think about this situation? How to deprecate `Child` class and all his methods?

[2017-03-29 15:40] kalessil commented on #215
@funivan I think in the example from @rentalhost we should report the child and ask developers to deprecate the parent one instead.

@rentalhost, are you agree with me?

[2017-03-29 16:27] rentalhost commented on #215
@kalessil (cc @funivan) Exactly, it should only report _method-to-method_ (not _method-to-class_), and just advise that is better deprecate the parent method instead of child method (to make deprecation globals on each child of this parent).

About his first argument, I think that we should think better about it applied to real world, because is a good argument, but I can't think about where I can

[2017-03-29 18:14] kalessil commented on #172
Currently, it looks like we have to restrict the scope: functions and methods only.
Then I could reduce a number of false-positives and cover all cases in this report. What do you think guys?

In the worth case, we could drop the inspections - it makes too many problems for quite a while.

[2017-03-29 18:16] funivan commented on #172
Agree. Skip check in global scope

On 29 Mar 2017 9:14 p.m., "Vladimir Reznichenko" <notifications@github.com>
wrote:

[2017-03-29 20:13] Fleshgrinder commented on #210
OK, had a closer look at the whole thing, and must say that it is very, very, very wrong from an OO perspective. We have global (`static`) state all over the place, as well as (very common in PHP land) primitive obsession. Solving the whole thing in a proper OO way requires lots of stuff, as is often the case in OO (and a reason why many people hate it). Nonetheless, here it comes.

https://gist.g

[2017-03-30 06:31] kalessil opened #216 "[new] Promote `@deprecated use x instead`"
https://twitter.com/kalessil/status/847049161023328256

[2017-03-30 06:33] funivan commented on #216
We add tag `@see` it is better  because value of this tag is resolved and we can immediately go to element (method, class)

[2017-03-30 06:39] kalessil commented on #216
Same concerns popped up on twitter

[2017-03-30 07:22] kalessil commented on #216
@funivan : `@deprecated since x, use {@link <FQR>} instead` seems to be a solution for the conserns.

[2017-03-30 07:40] funivan commented on #216
FQR - full qualify resource ? ;) I do not know this abbreviation :-|
[code]

[2017-03-30 07:42] kalessil commented on #216
Yes, fully qualified resource: URL/class reference/method reference

[2017-03-30 08:44] davidmpaz commented on #215
Agree for reporting child deprecation. For the specific case [exposed before](#issuecomment-290071290), I as developer would feel more comfortable if when deprecating some child class method of the package, the inspection warn me to deprecate parent method instead.

Actually it would be nice not even report on parent that we have deprecated on child but also when in child, report we should move de

[2017-03-30 17:36] #203 closed

[2017-03-30 22:07] rentalhost opened #219 "Overrided property by constructor"
Consider the next code:

[code]

You will note that the `$property` is initially `1000`, but is overrided immediately by constructor, by considering the `$initial` argument.

In this case, it should display a warning on `$property`: this value is immediately overrided by constructor (autofix: unset an initial value on property).

It should only consider when the property is affected on root of con

[2017-03-31 04:18] kalessil commented on #219
@rentalhost : sounds like extension of [this](https://github.com/kalessil/phpinspectionsea/blob/master/src/test/resources/fixtures/codeStyle/property-initialization-override.php#L26)

[2017-03-31 04:36] funivan commented on #219
This feature is already implemented
![07 35 33](https://cloud.githubusercontent.com/assets/425208/24536691/bbfe19a8-15e4-11e7-988e-cfaf2c6008c9.png)

[2017-03-31 06:26] kalessil commented on #219
@rentalhost : would you please check the inspection and close the issue if we are talking about the same thing?

[2017-03-31 12:55] kalessil opened #220 "Suspicious assignments: further enhancements"
[code]

[2017-03-31 15:34] rentalhost commented on #219
@funivan (cc @kalessil) yep, for some reason, I have disabled that inspection on past. My fault! 😄

[2017-03-31 15:34] #219 closed

[2017-03-31 19:51] rentalhost opened #221 "Identify no side-effect statements"
_It should be a very ambicious inspection, but I think that will be one of more powerful and helpful. But, it should be disabled by default while in development, because it could trigger a lot of false-positives._

**Consider the next code:**

[code]

**And the usage:**

[code]

Based on original class you should note that if we just write the _first reference_ code it will give any sense to our c

[2017-04-01 11:57] funivan opened #222 "[proposal] Naming convention inspection"
All php developers follow naming conventions. One of the best example is symfony framework:
http://symfony.com/doc/current/contributing/code/standards.html#naming-conventions
[code]

I thing this inspection should be disabled by default and have some configuration options.

Here is how we can configure naming convention:

| Type          | Regex                          | Base class FQN          |

[2017-04-02 20:00] kalessil commented on #222
@funivan : that's would be a big piece of work, I'd rather think of introducing a new plugin instead.

To give advice I need understand your intention better at first place:
- does it only to support symfony naming standards?
- will it be beneficial to Zend/Shopware/Magento/Laravel communities?
- can it be done with already existing naming convention inspections by JB?

[2017-04-03 04:42] kalessil opened #223 "Class and file name mismatch (case-sensitive FSs)"
- incl. underscore based class loading for e.g. ZFv1

[2017-04-03 04:52] funivan commented on #222
No. This inspection should support user naming convention. Before using this inspection developers should configure it.

If developers of this frameworks use phpstorm and share inspections than YES.

Existing naming convention does not cover this cases (for example: Controller classes should end with Controller)

The most hard part for me is configuration. I should create form with 3 elements and

[2017-04-03 06:38] kalessil commented on #222
Then:
- Will work as inspection in the EA plugin;
- Ensure that symfony-alike config available by default;
- You need to provide basic strategies (isAbstract, isInterface, isTrait, isFinal, isExtending) which invoked with the corresponding regex;
- Take care about older classloading: e.g. Zend_Date_<analyze only this part>DateObject</analyze only this part>;
- For configuration: pretty list with e

[2017-04-03 11:44] kalessil commented on #221
`$sum->calculate()` can be also spotted by #72. Of course, it's not as a detailed concept as here, but still an efficient shortcut (enabled by default, 100% accuracy).

Speaking honestly, full implementation is not feasible due to the OSS nature of the project.

[2017-04-03 12:56] rentalhost commented on #221
@kalessil Exactly. I thought I had sent this issue to the PS team (the #72), then maybe you can consider the previous closed, because this one is more detailed.

I think that this project can accept thing like that because it's a step of inspection. **It seems to be very complex** (_was what I thought initially_), but I guess that it's only _long described_.

I guess that you can implements that s

[2017-04-04 09:30] Denitz opened #224 "Change echo to short code"
Is it possible to add inspection which highlights `<?php echo ` and allows to change it into `<?= `

[2017-04-04 09:49] kalessil commented on #224
Yes, should be easy to do.

[2017-04-04 10:21] kalessil commented on #222
@funivan : I want to put some labels on the ticket and wondering if this is it WIP?

[2017-04-04 10:29] funivan commented on #222
Yes. You can put `WIP`. I work on it (current stage is prototyping)
But do not set milestone. I do not know how much time i will spent on this inspection ;)

[2017-04-04 12:05] funivan commented on #224
@kalessil I suggest you to create new label `easy-pick` This label can indicate that any contributor can work on it =) In some repositories I saw this label and for me it very useful.

[2017-04-04 15:48] kalessil commented on #224
@funivan : added the new label

[2017-04-04 18:09] funivan opened #225 "Use short ternary instead null coalesace operator"
[code]
We get suggestion in the target line. With QF get next code:
[code]

All is fine BUT we can use `short ternary`:

[code]

If our variable can be null|Object and variable exists in current scope than short ternary can be used.
Do not know if this is real enhancement or but.

[2017-04-04 18:20] Fleshgrinder commented on #225
What difference does it make? My guess would actually be that the null coalesce operator is the better choice in such situations, because it does not try to coerce the variables content to a Boolean, but rather checks for null only.

[2017-04-04 18:39] funivan commented on #225
@Fleshgrinder you are correct in this case. But if we use short ternary we can get error on undefined variable. But with constructions like `isset`, `empty`, `??` we should never get error on undefined variable.

P.S I saw @rentalhost report issue related to empty, isset and ?? oprator

[2017-04-04 19:25] kalessil commented on #225
I see the point, but both ?? and ?: are have side effects. I think it worth to drop this pattern at all.

[2017-04-04 20:42] Fleshgrinder commented on #225
They can be exactly what you want, but at the same time they can be exactly the opposite too. We should rather find the situations in which it is clear that it can be reduced:

[code]

This would be a clear situation for null coalesce:

[code]

etc. pp.

[2017-04-04 20:48] kalessil commented on #166
- 'array_keys(...)/array_values(...)' used as foreach array: dropped after proper benchmarking;
- in this case the reference usage was not suggested, but this irrelevant due to the first point;

[2017-04-04 20:48] #166 closed

[2017-04-04 20:54] rentalhost opened #226 "NestedNotOperatorsInspector: !bool [!=]== true|false"
_This is one of issue that I think that exists by some reason, but I can't found it on inspections available. Then, sorry me if it is a dup._

**Check the code below:**

[code]

The expression result will be reverted by the _not operator_. But you can rewrite it to make more simple, without change behavior:

[code]

Basically, if your expression is _not'ed_ and is strictly _(not-)equal_ a boolean

[2017-04-04 21:06] kalessil commented on #225
@Fleshgrinder : that's a new pattern, which relies on isset and therefore 100% compliant with null coalescing RFC.

What I mean is [this](https://github.com/kalessil/phpinspectionsea/blob/master/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/languageConstructions/nullCoalescing/NullCoalescingOperatorCanBeUsedInspector.java#L36), the last 2 strategies (null comparison and array key

[2017-04-04 21:10] kalessil commented on #226
It doesn't exist, and it is easy to pick this one =)

[2017-04-04 21:32] rentalhost opened #227 "Strictness and coalesce operators"
In case where we have a strict type, coalesce operators should be avoided. Both case above should be avoided.

[code]

But could be allowed for:

[code]

[2017-04-04 21:40] rentalhost opened #228 "get_class() === ::class"
The [`get_class()`](http://php.net/manual/en/function.get-class.php) returns current class name from argumented object (else it throw an error). Compare it with the `::class` is lower performance than use `instance_of`.

[code]

[2017-04-04 22:17] rentalhost opened #229 "Strictness, instanceof and similars"
`instanceof`, `get_class`, `is_a`, so on, could be dropped in case of strict type.

**For instance:**

[code]

[2017-04-05 01:17] rentalhost commented on #225
Seems that the `?:` for this case (`Class|null`) is better, because that if in sometime variable doesn't exists (for instance, after refactoring) it'll not be _always-else_ variable and should help to find it easily. The #148 will help with that, futurely, if PS implements that (I still guess that we should wait about 5 years haha).

[2017-04-05 06:49] kalessil commented on #228
For future people: only for interfaces, abstract and final classes.
Regular classes and traits comparison must not be reported (traits are not applicable here, but nevertheless).

[2017-04-05 06:52] kalessil commented on #225
@rentalhost : `?:` is not an option =) We either implementing #148 or sticking to RFC (null compare, array key exists contexts analysis will be dropped)

You have to choose this time.

[2017-04-05 06:54] funivan commented on #225
Vote for `2. Stick to RFC, but we are going to loose additional patterns I referenced before.`

[2017-04-05 06:55] kalessil commented on #172
On this today, going ahead with checking foreach source only inside functions/methods.

[2017-04-05 07:04] funivan commented on #228
Interesting thing with `get_class`. May help someone in future =)
[code]

[2017-04-05 07:06] kalessil commented on #228
WTF, oh my

[2017-04-05 08:57] kalessil opened #230 "probable bugs: empty(...) - report obvious failures"
- isset|empty -> __isset for objects (property/array access)

[2017-04-05 09:46] juliangut opened #231 "Accept different types when annotated in docblock"
Moving this [issue from jetbrains](https://youtrack.jetbrains.com/issue/WI-35830)

[code]

In foreach $criteria is not being considered as an array, it raises an error:

Even if I annotate with `/* @var array $criteria */` right before the foreach it still shows the error

Could be several types accepted in the foreach, when documented/annotated properly?, and by extension in other statements, fun

[2017-04-05 10:15] bazzik commented on #228
Weird (stupid if you like) but documented behaviour with `null` as parameter. [Example 2](http://uk3.php.net/manual/en/function.get-class.php#function.usort.examples.multi) from `get_class()` documentation raises more "???" questions as for me...

[2017-04-05 11:03] kalessil commented on #231
Duplicate of #172. The root case is type resolving from PS, but I hope we'll cover this as well.

[2017-04-05 11:03] #231 closed

[2017-04-05 11:04] kalessil commented on #231
@juliangut: thank you for reporting, please subscribe to the referenced tick for status updates )

[2017-04-05 11:19] rentalhost commented on #228
Exactly!

Even, I think that you can implements an inspection to `get_class()` without parameter to PHP < 7.2, because on [this RFC](https://wiki.php.net/rfc/get_class_disallow_null_parameter) it was definetively disallowed. To get current class, you have two options: `get_class($this)` or statically `static::class`. Maybe should I open a new ticket to this?

[2017-04-05 11:22] funivan commented on #228
@rentalhost it is not so hard to find `get_class` without parameters.  It is really hard to find null parameter
[code]
You need to check all stack and find if `$a` can be null

[2017-04-05 11:23] funivan commented on #201
@iltar can you explain "should be a blocker for this fixer." ?

[2017-04-05 11:27] rentalhost commented on #231
I don't know if it is related to #172.

It seems to be a conflict of types. While `$criteria` could be `array|QueryBuilder`, it is immediately returned if it is `instaceof QueryBuilder`. Then it could be only an array after that (what should be allowed on `foreach`).

The solution here is remove the `QueryBuilder` typehint after this declaration (_if + return_).

By otherside, I don't know if it s

[2017-04-05 11:32] rentalhost commented on #225
@kalessil Ah, right. This is a bit confuse to me (_some little problems with english_), but I still thinks that #148 should be implemented by EA, because PS will implements it _who knows when_. And it should be skipped when PS do that finally.

[2017-04-05 12:12] iltar commented on #201
As you voted with a confused emoji

[2017-04-05 12:16] kalessil commented on #228
if I get this correctly, `get_class()` behaves as `__CLASS__`: https://3v4l.org/B56Tc

[2017-04-05 12:20] kalessil opened #232 "Constant can be used instead: get_class() -> __CLASS__"
Following up on #228

[2017-04-05 12:21] juliangut commented on #231
Hi @rentalhost. I was writing an explanation on why I needed that method signature for my use case BUT as I was writing it I realized you got a point on my actual problem so I'm going to refactor just a bit. Thanks

On the typing resolution matter I don't know how feasible this is:

The inspection should detect that you are testing for one of the annotated types to remove it from the list afterwar

[2017-04-05 12:27] BenMorel commented on #225
I'm not sure to get all the ins and outs of this discussion, but I'm still all for #148; even though it's [now in the roadmap for JetBrains](https://youtrack.jetbrains.com/issue/WI-35211), as @rentalhost said, it might take years before it's implemented (*if* it's ever implemented). I do think it's a separate issue though, some people seem to be happy that `??` does not care if the variable is set

[2017-04-05 12:29] kalessil commented on #231
A note: we are relying 100% on PhpStrom types resolving, the code construct is a well known issue for the type resolver.

[2017-04-05 12:29] rentalhost commented on #231
I was thinking that if you done is by yourself, like reannotating the variable, it should works fine. But for some reason it don't worked (I guess that it's possible on PS, does not, @kalessil? I could swear I've seen something similar to this works):

[code]

[2017-04-05 12:32] kalessil commented on #231
When parameters are involved, additional annotations are not making any impact - PS takes types definitions from doc-block.

[2017-04-05 12:58] funivan commented on #201
@iltar I get it) If this feature will be interesting for the community - then ok =)

[2017-04-05 13:04] juliangut commented on #231
@rentalhost in my original comment I already noted that was my first approach and it didn't worked

@kalessil maybe that is a point to inform PS to make a change? If I'm annotating a parameter inside a method I'm supposed to know what I'm doing

[2017-04-05 15:50] sobhanattar opened #234 "Wrong hint"
Consider following code:

[code]
and the help it gave me:
[code]

which is obvious that is a destroy the code, because if I give the `$companyBaseScoreInfo->time_range = ''` before `if` then the condition will always be `false`.

Do I miss something or the helper really wants to give my app some help?

[2017-04-05 16:06] kalessil commented on #234
@sobhanattar, you are right here - the inspection is not checking conditions and this needs to be fixed.
Thank you for reporting.

[2017-04-05 17:00] #232 closed

[2017-04-05 17:35] kalessil commented on #234
Fixed, fix will be available with the next release (ETA 2 weeks)

[2017-04-05 17:35] #234 closed

[2017-04-05 18:04] rentalhost opened #235 "[suspicious BOs] ! $nullable <|<= 5"
In some cases, it should create more confusion than solve anything. For instance, when you read `!$number < 5`, probably you mean `$number >= 5` (_considering that this variable is really an integer, [because on PHP, null is lower than 5](https://3v4l.org/YuAKa)_).

**Then my suggestion is:** if I am not treating a strict boolean, the not-operator should be avoided, by defining exactly what you re

[2017-04-05 18:09] rentalhost opened #236 "Discourage non-booleans in expressions"
While I write up the #235 I thought that it can do more, by discourage non-boolean in expressions. For instance, is very common things like `if(count($arr))`, and it is very clear because we know what `count()` does, but it can be a problem if we don't know too much about a method (_from vendor code, for instance_).

Then, like strong typed languages does, maybe is interesting if EA checks if the

[2017-04-05 18:35] sobhanattar commented on #234
Thank you

Sent from my iPhone

[2017-04-05 18:44] kalessil commented on #172
@funivan , @Schrank , @rjhdby : I pushed a fresh binary into the master with fixes and looking for feedback. Does anyone of you want to run the fixed version this and next week?

[2017-04-05 18:47] kalessil commented on #172
Closing, will re-open in case of negative feedback.

[2017-04-05 18:47] #172 closed

[2017-04-05 18:48] kalessil commented on #234
You are welcome )

[2017-04-05 19:45] funivan commented on #172
I will try ;)

[2017-04-05 19:52] kalessil commented on #172
Great, tests are green but a battlefield is always spots new issues =)

[2017-04-05 20:34] kalessil commented on #188
Added, reports unsed use-variables and reports only-write cases for the variables

[2017-04-05 20:34] #188 closed

[2017-04-05 20:40] rentalhost commented on #188
@kalessil No binary?

Did you checked if it will warn too:

[code]

[2017-04-05 20:45] kalessil commented on #188
Fresh binary pushed now. And pretty similar cases is tested also.

[2017-04-05 21:06] rentalhost commented on #188
@kalessil I tried last binary, but unfortunetelly the `&$a` doesn't is reported. 😢

[2017-04-05 21:11] rentalhost commented on #188
Off-topic: there some doc that I can read to try to help with some easy-picks PRs? I am not a Java programmer, but I think that I can help in some cases, but I don't know from where I should starts.

[2017-04-06 04:14] kalessil commented on #188
Right, added the test case; fix will be available today.

Yep, docs are available, you can find  it [here](https://github.com/kalessil/phpinspectionsea/blob/master/docs/DEVELOPERS.md).

[2017-04-06 04:20] kalessil commented on #188
I'ts pretty easy to add tests, we have lists of missing tests [here](https://github.com/kalessil/phpinspectionsea/blob/master/RULES.md). Some text samples even [available](https://github.com/kalessil/phpinspectionsea/tree/master/php).

[2017-04-06 11:34] rentalhost commented on #188
@kalessil  Can you share your Java code style settings?

[2017-04-06 11:39] kalessil commented on #188
I use defaults, except aligning sequential assignments manually.

[2017-04-06 11:39] rentalhost commented on #188
Auto alignments doesn't works?

[2017-04-06 11:40] kalessil commented on #188
I didn;t find where I can switch this on...

[2017-04-06 12:32] rentalhost commented on #188
Seems that the align could be done by enable the "group declarations" on Java code style / Wrapping and Braces.

---

Okay, I have done the initial setup and I can run the tests, but I received 13 failed tests. I think that we can have some problem here, because in some comment you told that all is green. Or maybe I'm just forgetting something.

**For instance:**

**Differences:**

[code]

I'm run

[2017-04-06 12:35] kalessil commented on #188
Pull new changes from the master - I pushed fixed ~10 mins ago. Will check the option today, thanks!

[2017-04-06 12:50] rentalhost commented on #188
Yep! All green now. Great! Now I should try some easy-picks 😋

[2017-04-07 14:53] andreyshade opened #238 "Where I can get info about using "&&" instead "and"?"
In code when I use the operator 'and'  inspection receives message: '&&' should be used instead (best practices)". Where I can get info about using "&&" instead "and"?

[2017-04-07 14:57] rentalhost commented on #238
What do you mean? You wants to disable this inspection? If is the case, you could go to `Settings: Editor / Inpections / PHP / Php Inspections (EA Extended) / Control Flow / Non-optimal if conditions / (Uncheck) Report literal and-or operators`,

[2017-04-07 15:10] andreyshade commented on #238
I want to read articles or another info about this best practice.

[2017-04-07 15:33] kalessil commented on #238
The official docs are pretty good: http://php.net/manual/en/language.operators.logical.php

Short answer:
`The reason for the two different variations of "and" and "or" operators is that they operate at different precedences. (See Operator Precedence.)`

`Example #1 Logical operators illustrated` also helps to get an idea why the plugin encourages to use &&, ||.

[2017-04-07 15:34] kalessil commented on #238
I'll update our docs accordingly.

[2017-04-07 15:35] rentalhost commented on #238
It's not like "the best pratice" but "the most common pratice". Then this inspection suggests that for you. I guess that PSR, for instance, don't suggests a best use for that, for instance.

Is the same case for the "for: endfor;", the common pratice on PHP is "for {}". But PHP allows both.

[2017-04-07 16:17] rentalhost opened #239 "Suggests reverts simple conditions with else-only"
Hard to explain, but consider the next code:

[code]

It could be writed as:

[code]

It is... keeps the `if()` always positive. It'll help a lot with simple ifs conditionals. I guess that I see that in some IDE (maybe for C#).

**Edit:** ah, yeah. The own PS allows you flip if-else statements. Then I guess that need justs an inspection. If possible, uses the own QF from PS.

[2017-04-08 14:54] rentalhost commented on #221
@kalessil Did you think that this inspection is compatible with the project? I am think to work on it (no promises, I should read a lot still).

[2017-04-08 15:16] funivan commented on #239
1. Flip if else is standard phpstorm intention
2. For me it would be interesting to find ` NOT NOT ` conditions.
for example:
[code]
And suggest user to rewrite this conditions, because is is really hard to understand them.

[2017-04-08 15:20] funivan commented on #238
see this http://stackoverflow.com/a/2803576/4053996

[2017-04-08 15:28] rentalhost commented on #239
I guess that your examples will works fine if applied in a general way too. Suggests flip for both cases will make easier to understand, `!$dealer->isActive()` or `!$dealer->isInactive()`. It will avoid a mapping for negative words.

[2017-04-08 21:04] kalessil commented on #238
I extended our documentation, brief explanation is [here](https://github.com/kalessil/phpinspectionsea/blob/master/docs/control-flow.md#literal-and-or-operators-usage)

[2017-04-08 21:04] #238 closed

[2017-04-09 19:58] kalessil commented on #189
I did enhance message generation for some cases + added QF for the cases when we are able to suggest the replacement.

Note: only simple cases are hinted with suggestions, in general case we are falling back to the original message.

[2017-04-09 19:58] #189 closed

[2017-04-10 10:22] kalessil commented on #225
Closing in favor of #148

[2017-04-10 10:22] #225 closed

[2017-04-10 10:26] kalessil commented on #148
Picking up instead of the closed #225

[2017-04-10 11:26] rentalhost commented on #72
I guess that we have no reason to keep it opened, once that #221 should have something like that, but too will allow more complexes inspections over that.

[2017-04-10 11:26] #72 closed

[2017-04-10 11:37] kalessil commented on #72
Sure, thanks for closing.

[2017-04-10 13:00] #215 closed

[2017-04-10 13:10] kalessil commented on #173
For myself: statements which doesn;t reference variables should not be reported

[2017-04-10 13:14] rentalhost commented on #173
I don't know if I understand your last message, but you should take care about things like:

[code]

It do not references any variable, _but should be reported_.

[2017-04-10 13:16] funivan commented on #173
@rentalhost  should be not reported =)
If we have 10 messages then we get 10 hello, and this is correct.

[2017-04-10 13:18] rentalhost commented on #173
I don't see reason for it allows things like that. Maybe if it is a `for()`, but on `foreach()` it doesn't make sense for me.

[2017-04-10 13:24] kalessil commented on #173
I think we should cut a number of false-positives with this approach.

In fact, we'll not lose much - real problems will be spotted.

[2017-04-10 13:33] rentalhost commented on #173
Right, but if you cut cases like that, what will be really reported?

[2017-04-10 14:26] kalessil commented on #173
E.g. in the case of Symfony (2.7 branch): from 19 cases, 17 will remain.
That's right not relying on just 1 project stats, but the approach gives us a chance to focus on relly weird staff.

[2017-04-10 14:28] rentalhost commented on #173
Great!

I guess that futurely with the implementation of #221 we can work on this topic again to improve this inspection (for instance, if called function have no sense inside of a looping).

[2017-04-10 14:34] kalessil commented on #173
Yep =)

[2017-04-10 16:11] #173 closed

[2017-04-10 16:31] kalessil commented on #9
Closing #217 brings us TravisCI integration, I need only incorporate it.

[2017-04-10 16:31] #9 closed

[2017-04-10 19:56] #220 closed

[2017-04-11 07:36] kalessil commented on #172
So, it seems like the last changes are good enough, or?

[2017-04-11 07:46] kalessil commented on #172
Super =)

[2017-04-11 07:56] b1rdex opened #242 "Mixed types iteration false positive"
[code]

`$b[$key]` is reported as containing `mixed` type.
But it's reported by PhpStorm `Ctrl+Q` as `array $b array|\array[]`.

`$d` type is correct and is `array`.

I'm not sure if it's phpinspectionsea bug or I should report it to jetbrains?

[2017-04-11 07:58] b1rdex commented on #242
`$b[$key]` is not reported if I remove `array` from method signature (but not from phpdoc).

[2017-04-11 08:03] kalessil commented on #242
It's our message. Weird, I'll check this on our side in first place.

[2017-04-11 08:05] b1rdex commented on #242
I know this message is from plugin, but `array|array[]` types list is generated by phpstorm itself. I think it might be phpstorm bug that `array` from signature adds it to types list if `scalar[]` or `class[]` is already there.

[2017-04-11 08:41] kalessil commented on #242
We have to fix this on our side, in fact fixed already. I pushed a fresh binary in case if you want to install fixed version.

[2017-04-11 08:41] #242 closed

[2017-04-11 10:07] kalessil commented on #31
Shifting fresh-look review to 2.3.7, need to focus on 2.3.6

[2017-04-11 10:27] kalessil commented on #28
So, requirements engineering:

- inspection applied to non-abstract and non-magic methods from classes/traits;
- PHP language level is taken into account;
- method DocBlock must be completely ignored, types are resolved natively; with QF supporting following:
  - nullable return types identification;
  - void return type identification;

@mfn: did I miss anything here?

[2017-04-11 11:10] mfn commented on #28
No expert 😄 but sounds reasonable to me.

I understand for non-magic methods but abstract .. might be useful(?), but not strong opinion about it.

[2017-04-11 11:22] kalessil commented on #28
Let give a try, abstracts return type can be taken from DocBlock directly - easy to pick in fact.

[2017-04-11 14:29] kalessil commented on #223
Feature is ready, warning level.

[2017-04-11 14:29] #223 closed

[2017-04-11 19:39] kalessil commented on #199
Fixed, I had only to remove static method checks - main logic is not changed.

[2017-04-11 19:39] #199 closed

[2017-04-12 07:22] #184 closed

[2017-04-12 11:45] kalessil commented on #28
Status update:
- implemented with QickFix (QF declares fully qualified classes, not sure if this should be similar to ::class QF);
- tests needs to be added;

If anyone wants to play with: fresh binary pushed as well.

[2017-04-12 13:17] funivan commented on #28
@kalessil install plugin from binary.

[2017-04-12 13:20] funivan commented on #28
Notice. It will be cool to have option in the configuration panel  "Import classes automatically"
I know that this is not so simple to do, but ti is very annoying to do it manually)

[2017-04-12 13:26] kalessil commented on #28
Heh, seems like @funivan got addicted to quick-fixes =)

[2017-04-12 13:26] funivan commented on #28
False positive:
[code]

In this case we will break our code if we add `RedirectResponse` to the return type

[2017-04-12 13:29] rentalhost commented on #28
For PHP 7.1, maybe it could uses a nullable type: `?RedirectResponse`.

[2017-04-12 13:29] kalessil commented on #28
PhpDoc is missing, no implicit null return - no chance to suggest nullable here.

[2017-04-12 13:30] rentalhost commented on #28
I guess that for this case, when you don't have `return` as last statement, then you could consider that it coulds returns `null` too.

[2017-04-12 13:35] kalessil commented on #28
Nope, that's not a feasible assumption - it can be throw exception or something else.

[2017-04-12 13:36] kalessil commented on #28
`method.getType().global(holder.getProject()).filterUnknown().getTypes()` - that's how types got resolved, and missing null in resolved types totally makes sence.

[2017-04-12 13:42] rentalhost commented on #28
[code]

In this case, it still should returns `?Good`, even if exception could happen (it doesn't affects the return typehint). If you have sure that you will always return `Good`, then `if()` is needless here, or you should create a new "generic" return that returns the `Good` too.

There are some real example that you have thought that can causes a problem?

[2017-04-12 14:53] kalessil commented on #28
I guess I have to check the last statement as suggested @rentalhost ... x_x

[2017-04-12 14:56] kalessil commented on #28
And I should admit that in spite of my analytical skills, I'd come with this solution fast, so thank you @rentalhost

[2017-04-12 16:44] rentalhost commented on #28
That is the advantage of open source world. We can "combine" our minds to improve application.

[2017-04-12 16:46] kalessil commented on #28
And the fix is pushed with fresh binary, next feedback round?

[2017-04-12 17:59] kalessil opened #243 "ReturnTypeCanBeDeclaredInspector: enhance QF - auto-import would be nice to have"

[2017-04-12 18:00] kalessil commented on #28
Pilot version of the inspection, QF enhancement follow-up: #243

[2017-04-12 18:00] #28 closed

[2017-04-12 18:16] funivan commented on #28
I will check new version tomorrow

On 12 Apr 2017 9:00 p.m., "Vladimir Reznichenko" <notifications@github.com>
wrote:

[2017-04-12 18:17] kalessil commented on #28
Super, thank you @funivan

[2017-04-13 01:18] royallthefourth opened #244 "iterable is valid in foreach"
Putting an `iterable` typehinted item into a `foreach` (in my code these are `\Generator` and `array`) shows a problem where the code works perfectly fine. [This inspection](https://github.com/kalessil/phpinspectionsea/blob/master/docs/types-compatibility.md#foreach-source-to-iterate-over) doesn't seem quite right in that regard.

Here's an example:
[code]

This executes fine, but the inspection h

[2017-04-13 01:26] rentalhost commented on #244
Can you please post a code that shows that issue?

[2017-04-13 05:23] kalessil commented on #244
@royallthefourth : let me check if I can reproduce this (we re-worked the inspection in an upcoming release). Or perhaps code fragment would speed up investigation a lot =)

[2017-04-13 05:55] kalessil commented on #29
Moving discussion from Twitter: I have a [list of classes](https://github.com/kalessil/phpinspectionsea/blob/master/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/classes/LongInheritanceChainInspector.java#L22) (PhpUnit and etc) which treated as root classes for inheritance depth calculation.

If we reach the class, the depth calculation stops. It's pretty fair

[2017-04-13 06:13] kalessil commented on #244
Thank you @royallthefourth, checking this.

[2017-04-13 06:17] froschdesign commented on #29
@kalessil

[Controller](https://github.com/zendframework/zend-mvc/blob/master/src/Controller/AbstractActionController.php) classes are not a problem: `MyController` extends `AbstractActionController` extends `AbstractController`

Usually a [form](https://github.com/zendframework/zend-form/blob/master/src/Form.php) has 3 parent classes: `MyForm` extends `Form` extends `Fieldset` extends `Element`:

[2017-04-13 06:21] kalessil commented on #244
Seems to be resolved:

![image](https://cloud.githubusercontent.com/assets/1577185/24992527/260457d0-2022-11e7-93a7-e07a674075d7.png)

[2017-04-13 06:24] kalessil commented on #244
To not wait for the release you can download PhpInspectionsEA.jar from master branch and install it manually: File -> Setting -> Plugins, under the plugin list click "Install from disk" and select the downloaded file.

The dev-build is stable: @funivan and me running dev builds.

[2017-04-13 06:44] kalessil commented on #29
Thank you @froschdesign

[2017-04-13 07:12] Jean85 commented on #29
Shouldn't Controller classes be ignored too? I would get a warning if I write an `abstract BaseController extends AbstractActionController` to store some common methods in my app...

[2017-04-13 07:23] asgrim commented on #29
I think controllers should not be extended like that. Inject that kind of functionality IMO. We're talking best practices here, and reducing inheritance is the goal.

Forms are annoying, but unavoidable as @froschdesign already pointed out.

+1 for form in ZF
-1 for controllers

[2017-04-13 07:23] froschdesign commented on #29
@Jean85

No, because if your class `BaseController` is an extra layer between the `AbstractActionController` and a concrete controller then the inspection is correct.

This construct is a problem and not needed in a ZF application:

`MyController` extends `BaseController` extends `AbstractActionController` extends `AbstractController`

Please look at the [Controller Plugins](https://docs.zendframe

[2017-04-13 07:38] Jean85 commented on #29
Thanks for the input @asgrim and @froschdesign. In reality, I'm not a ZF dev, I mainly work with Symfony, and I was porting my issue from the SF Controller structure.

In that case, I have a BaseController to store some shortcuts, like this one for flash notices:

[code]
Do you still think that this kind of stuff is a bad practice that should get a warning? I'm not aware of an homologous of contro

[2017-04-13 07:53] asgrim commented on #29
Generalised, I'd inject an implementation of something like `FlashBagMessengerServiceInterface`. It looks like you're receiving directly from a service locator there (shouldn't inject the whole service locator, just what you use). I'm on my phone otherwise I'd give a more comprehensive example ,sorry. ;)

[2017-04-13 07:54] Jean85 commented on #29
Understood, don't worry, thanks!

[2017-04-13 08:29] kalessil commented on #29
Thanks for your feedback guys!

[2017-04-13 08:36] froschdesign commented on #29
@Jean85
If your controller extends `Symfony\Bundle\FrameworkBundle\Controller\Controller` then you can use the [`addFlash` method](http://symfony.com/doc/current/controller.html#flash-messages). No extra layer is needed and no exclusions in "Php Inspections".

[2017-04-13 08:42] vladyslavstartsev opened #245 ""Variable is redundant" refactoring is wrong"
The refactoring works wrong because it will fail because of `Parse error`

Before refactoring
![](http://dl3.joxi.net/drive/2017/04/13/0015/2269/1046749/49/f96a0ff385.png)

After refactoring
![image](https://cloud.githubusercontent.com/assets/17382248/24997063/e786726a-203d-11e7-86be-3618578d1b6f.png)

The right way to refator
![image](https://cloud.githubusercontent.com/assets/17382248/24997101/0

[2017-04-13 08:45] kalessil commented on #245
That enough info here, thank you @vladyslavstartsev.

For myself: the same applies to the clone operations.

[2017-04-13 09:19] Jean85 commented on #29
@froschdesign thanks, I missed that!
We had that shortcut since 2.3 and we forgot to switch to the official one when that got out.

[2017-04-13 10:40] #245 closed

[2017-04-13 10:49] kalessil commented on #245
Fixed =)

[2017-04-13 11:01] kalessil commented on #29
For myself: keep only PhpUnit, Form classes (ZF, Symfony) and review Yii show stoppers.

[2017-04-13 11:17] kalessil commented on #32
So, I want to start with original scope - only parameters. And we'll make a followup ticket for chained calls.

Step by step we'll get to fully functional NPEs inspection =)

[2017-04-13 15:03] rentalhost opened #246 "New label "confirmed""
I wants to proposes a new label called "_confirmed_". It should be used only for a second person that have tested an issue and have confirmed that it happens. It should be useful to identify if there are some bugs that need to be test by someone other than the one who reported.

[2017-04-13 15:53] rentalhost opened #247 "Keep .idea/libraries/php_openapi.xml"
On commit cb7e2dd80c88e086b264af8b56929ff465e6e52a you have removed this file, and I guess that it is useful on initial setup.

[2017-04-13 17:19] kalessil commented on #247
Not sure, we have upgraded dev docs - can we enhance them instead of recovering the file?

[2017-04-13 17:20] kalessil commented on #246
Added (green colored)

[2017-04-13 17:20] #246 closed

[2017-04-13 17:21] rentalhost commented on #247
I guess so!

[2017-04-13 17:32] kalessil commented on #29
Status update: great feedback, here essential changes:
- [test cases](https://github.com/kalessil/phpinspectionsea/commit/854c04e44ad80ee47fcd5b21eb14dba6994e44db#diff-90efae9d1462629e81404698c685dc84R12) - to review behaviour
- [agreement](https://github.com/kalessil/phpinspectionsea/commit/854c04e44ad80ee47fcd5b21eb14dba6994e44db#diff-ad308efbf7c6696f475878930ea818cfR22) to not make controller s

[2017-04-13 17:32] #29 closed

[2017-04-13 17:34] kalessil commented on #247
Do you mean that we have great documentation already or something else =) ?

[2017-04-13 17:38] rentalhost commented on #247
Definitely true. But I think the information about the openapi configuration should be more detailed. For example, about which files exactly should be added. The current image helps a lot, but I confess I had some difficulty, especially with the recent changes of directory of Jetbrains.

[2017-04-13 19:18] davidmpaz commented on #247
Hi @rentalhost, I proposed to ignore the file because after finishing the project set up, I had a broken `php_openapi.xml`, file names that were pointing to fixed paths non existent on my system.

That's why I added more docs to supply the need of keeping local configurations in git, that later on, could lead to not clean git repository.

I will gladly improve setup instructions alongside with ima

[2017-04-13 19:58] rentalhost commented on #247
Same here. Make sense ignore it definitely. But, there not chance to use relative paths? I don't know if it is supported (but still keeps the problem that Jetbrains renames the folder in each version). The unique hope is if it set a relative path on user environment.

[2017-04-13 20:17] davidmpaz commented on #247
And then we are depending also to any change they decide to do also with those variables.

Actually my initial suggestion was to ignore completely the `.idea` directory. This is supposed to be ignored since it is local settings that IDE save, and like you just said, they (JetBrains guys) are changing every time they go to toilet :) for so to speak

I did not suggest to ignore completely first to n

[2017-04-14 05:19] kalessil commented on #247
I've merged the PR, already

[2017-04-14 05:19] #247 closed

[2017-04-14 14:02] kalessil commented on #32
Ready, fresh binary pushed as well. Please also note [limitations](https://github.com/kalessil/phpinspectionsea/blob/master/docs/probable-bugs.md#null-pointer-exceptions-prevention).

[2017-04-14 14:02] #32 closed

[2017-04-14 17:37] kalessil commented on #32
For beta-testing:
- download PhpInspectionsEA.jar file from our master branch;
- in IDE follow this path: File -> Settings -> Plugins;
- under the plugins list click "Install from disk" and point to the downloaded file;
- apply chnages, restart ide and activate the inspection (File -> Settings->Editor -> Inspections -> Php -> Php Inspections (EA Extended) -> Probale bugs -> Null pointer exceptions

[2017-04-14 19:46] rentalhost commented on #226
As this is slight related to #239, I'll improve this last instead of create a new inspection. But for that, I should wait for review of the PR #249.

[2017-04-15 07:31] kalessil commented on #78
Fixed finally.

[2017-04-15 07:31] #78 closed

[2017-04-15 14:52] kalessil commented on #170
@tarlepp, I'm not able to reproduce the issue with the latest build - I getting 39 reported with the inspection.

I also not really getting what you meant by catching `\array_map('trim', ['foo ', ' bar']);`

[2017-04-15 16:28] kalessil commented on #176
All frameworks debug methods, error_log, phpinfo will appear in custom debug methods list - so you'll be able to turn off the challenged reports =) Should be pretty neat IMO.

[2017-04-15 16:28] #176 closed

[2017-04-15 16:44] tarlepp commented on #170
@kalessil `\array_map('trim', ['foo', 'bar']);` versus `\array_map('\trim', ['foo', 'bar']);`

[2017-04-15 17:04] kalessil commented on #170
@tarlepp, oh I see now. Should be pretty easy to implement =)

[2017-04-15 19:48] fabioi opened #250 "missing phpdoc after property initialization"
I think would be able to set a warning in case you initialize a property (eg: from a constructor) but not phpdoc has been set.

[2017-04-15 19:55] rentalhost commented on #250
If I understand, I guess that it should be two issues:

1. Warn about no-phpdoc on class properties;
   1. Warn if `@type` is not set;
2. Warn if class uses (R/W) an undefined property (if it is magical, you should declares as `@property`);

[2017-04-16 08:07] fabioi commented on #250
Hi thanks yes seems it. I am adding also another nice to have about improving the type check on a class property / field

[2017-04-16 08:12] fabioi opened #251 "Warning if property / field type is not consistent with the one specified on the interface"
Warning if property / field type is not consistent with the one specified on the interface

[2017-04-16 12:08] #170 closed

[2017-04-16 18:42] #96 closed

[2017-04-17 01:42] rentalhost opened #252 "Property is not phpdoc'ed"
This should inpect declared properties that doesn't declares a phpdoc. It currently happen with methods. Maybe related to #250.

[code]

[2017-04-17 01:44] rentalhost opened #253 "Disallow dynamic properties"
This should warn if user call for read or write on a not declared property. Maybe related to #250.

[code]

Should have two ways to avoid that:

1. Declare as a property: `public/protected/private $property`.
2. Declare as a `@property`: `@property $property`.

[2017-04-17 01:46] rentalhost opened #254 "Property should declares @type"
Following #252. After declares a phpdoc on property, you should declares the `@type` property.

[code]

[2017-04-17 01:48] rentalhost commented on #254
For lasts #254, #253 and #252, if no one work on that, I'll try on weekend. @fabioi, can you confirm if that is related or exactly what you have described on #250?

[2017-04-17 08:41] fabioi commented on #254
Hi yes it seems related thanks :-). Fields / property  should always have a phpdoc which specify the type

[2017-04-17 11:44] rentalhost opened #255 "Declare type: simplify FQN automatically"
Following #28, is important simplify automatically yet-imported classes.

**Code before declare type:**

[code]

**After QF:**

[code]

**Expected after QF:**

[code]

---

**Semi-related**: the tooltip that is shown to current inspection is "': {class} can be...". [There are](https://cloud.githubusercontent.com/assets/421851/25088070/eedda97a-2349-11e7-926b-dcfdc2dd9271.png) a `':` before the cla

[2017-04-17 12:19] funivan commented on #255
It is interesting if we can check phpstorm options. In phpstorm we have option: `automatically import classes`

[2017-04-17 12:21] funivan commented on #254
We can validate property type.
For example:
`@var mixed`  <- invalid
`@var string|int`  <- invalid
`@var string|null`  <- valid
`@var null`  <- valid

The main feature is to have only single type or null. No mixed types. What do you think?

[2017-04-17 12:22] rentalhost commented on #254
I guess very valid and really useful, but maybe it should be part of a new issue. Can you do open that?

[2017-04-17 12:37] funivan commented on #254
It can be done with the checkbox in the confirmation panel. I think this feature is related to this inspection. If it is important I can create new issue.
@kalessil how to deal with this situation. New issue for each feature?

[2017-04-17 12:40] rentalhost commented on #254
I mean that because it could not be related specifically to properties, but to parameters or variables. For instance, the next example should be warn.

[code]

[2017-04-17 14:05] kalessil commented on #255
Should be the same behaviour as for ::class constant usage QF, hence removing easy to pick.

[2017-04-17 15:12] funivan commented on #254
Hmm. Interesting. I think this is bad idea. Check properties and method arguments should be placed into the different​ inspections. And here is why:
1. Check property inspection:
1.1 warn if empty type
1.2 warn if invalid type (aka mixed)
1.3 if type is valid and version is > 7.0 then add QF (add strict type to the property) in php7.1 we can do that.

2. Check argument inspection:
2.1 check if mix

[2017-04-17 15:22] rentalhost commented on #254
About 1.3, you mean [this rfc](https://wiki.php.net/rfc/typed-properties)?

I guess that it should be splitted into two issues. One is that current (#254), that will treat only if `@type` was defined. Another is check if `@type` (or `@var`) and `@param` have mix types as you mentioned.

- 1.1: could be check from this issue (if is _undefined_ or _empty_);
- 1.2: should be checked by _new feature_

[2017-04-17 15:31] funivan commented on #254
You are correct, i will create new issue.

P.S. It's my bad, i think that properties can have strict type declaration.

[2017-04-17 15:34] rentalhost commented on #254
No problem!

I feel so bad when I see that RFC declined. :( I guess that the internals don't like too much of changes on properties. haha

[2017-04-17 17:07] rentalhost opened #256 "Suggests return typehint from phpdoc"
Following #28 too, it should suggests the typehint from phpdoc and vice-versa. For instance: if I declare a singular type or nullable on phpdoc (eg. `string` or `?string` for _7.1_), then suggests to apply on other side.

[code]

[code]

For PHP 7.1, you should accepts nullable to: `?string` or some else. For complex types, this inspection should be ignored.

[2017-04-17 17:22] kalessil commented on #256
Not sure why this ticket is needed - code samples have no return statements, hence PhpDoc is totally incorrect.

@rentalhost : did you try extending cases with valid returns - the inspection expected to report as you want then.

[2017-04-17 17:23] kalessil commented on #253
Is this constructor specific only?

[2017-04-17 17:28] kalessil commented on #251
@fabioi : can you provide an example, please - I guess it was a real-life issue, which I would like to understand in first place.

[2017-04-17 17:44] rentalhost commented on #253
I guess that it can be valid in any method (or even outside class).

[2017-04-17 18:11] fabioi commented on #251
eg: on a repository:

User repository
`/**
     * @param int|array $id
     *
     * @throws ModelNotFoundException
     *
     * @return User|User[]|Collection
     */
    public function findOrFail($id);`

its interface

`/**
     * @param string $id
     *
     * @throws ModelNotFoundException
     *
     * @return void
     */
    public function findOrFail($id);`

[2017-04-17 18:48] kalessil commented on #251
Means DocBlocks are inconsistent, I see now. But DocBlocks are meta-information - we in fact not relying on them for this specific reason, only implicit types hints matters (and supported when we are talking about parameters, PHP is pretty good here).

I want to reject this feature request, but with some hints:
- implicit type hints declaration in the interface is the right way to go;
- in case if

[2017-04-17 18:48] #251 closed

[2017-04-17 18:50] kalessil commented on #251
But still, we'll consider topics with class properties doc-blocks - because PHP doesn't support type hints there.

[2017-04-17 19:00] kalessil commented on #253
- property annotations ignored;
- magic methods (__get/__set) are taken into account;

2 use cases to target:
- property annotations + magic methods (from parent/trait);
- implicit property definition;

[2017-04-17 19:05] kalessil commented on #250
@rentalhost : #254, #252 are the same - property type declaration correctness. Would you please update/close tickets (so just 1 of them left)?

- Should check if property has PhpDoc
- Should check if property has type definition in PhpDoc;

[2017-04-17 21:16] #252 closed

[2017-04-17 21:19] rentalhost commented on #250
My initial though about #252 was about describe what property was need (description).

[code]

[2017-04-17 21:20] rentalhost commented on #256
Edited,

But basically, I mean to sync phpdoc with php typehint.

[2017-04-18 04:35] funivan commented on #254
Hmm. Interesting. I think this is bad idea. Check properties and method
arguments should be placed into the different​ inspections. And here is why:
1. Check property inspection:
1.1 warn if empty type
1.2 warn if invalid type (aka mixed)
1.3 if type is valid and version is > 7.0 then add QF (add strict type to
the property) in php7.1 we can do that.

2. Check argument inspection:
2.1 check if mix

[2017-04-18 10:01] iltar opened #257 "False positive on "can be declared as return type hint""
This check is really neat! However, it's giving me quite a few false positives on interface that come from a vendor package. This is a shortened example from the Symfony `UserProviderInterface`.

[code]

[code]
![image](https://cloud.githubusercontent.com/assets/1754678/25125266/80f2c676-242e-11e7-90fb-b49007f68bfe.png)

Yes, this check is correct. However, I cannot change the vendor code. If I we

[2017-04-18 11:29] Fleshgrinder commented on #254
The _typed properties_ RFC was not accepted because the proposed implementation was not good enough, not because the feature per se is not wanted. 😉

Do you plan to activate this inspection by default? Not sure if I like it. There are various situations where mixed types are required (e.g. `uint64`), and even more where strict types are actually unwanted.

[2017-04-18 11:30] Fleshgrinder commented on #256
Why would we need phpDoc if we have a return type?

[2017-04-18 11:32] Fleshgrinder commented on #250
Are you sure that you want `@type` and not `@var`. The latter is much more widespread, although the former is more precise.

[2017-04-18 11:34] kalessil commented on #257
Great to hear =)

What happens if you add the proposed type hint?

[2017-04-18 11:36] rentalhost commented on #254
The `mixed` still will works for cases like that. But is a good pratice avoid mixes types where it is not really need.

[2017-04-18 11:38] rentalhost commented on #257
For what I understand, the problem here is that the `/vendor` is inspectioned. But it is inevitable. I guess that what you should do is ignore the vendor directory on _inpection code_. In general way, it could be useful if you is the vendor dev (for instance, a subpackage) and you'll like to know that you have a improvement in your code. In case where you are not the owner, just ignore that.

[2017-04-18 11:39] rentalhost commented on #256
Yeah, it make sense. Then maybe it could do the inverse? Check if both are declared then warn about that (QF transfer phpdoc to return typehint, case is omited).

[2017-04-18 11:43] rentalhost opened #258 "@type -> @var: contribute to Php CS Fixer"
Following https://github.com/kalessil/phpinspectionsea/issues/250#issuecomment-294795977 we could think about suggests some normalizations. As from this comment, for instance, we could think about normalize `@var` over `@type` (to be discussed).

For instance:

[code]

This is a topic for discussion, then you could suggests another normalizations (if there are), and too if you think better uses `@

[2017-04-18 11:50] kalessil commented on #257
@rentalhost : warning is in user class, the question is about re-defining the implementation signature.

@iltar, safely apply type hints for this case: https://3v4l.org/l86ir

[2017-04-18 11:50] #257 closed

[2017-04-18 11:52] iltar commented on #257
Right now, it doesn't fix the interface in the vendor and it PHP will allow this (as the return type of the implementation is stricter and doesn't conflict with the empty definition).

This still means that the interfaces are not matching though, but I guess that should be fine (as long as people don't rely on the vendor changes). I just noticed that if the parent method (docblock) changes to int,

[2017-04-18 11:58] kalessil commented on #257
For this case just introduce your own interface (inherited from the 3rd party) and fix type-hints there, less headache on long-term timeframe.

[2017-04-18 11:58] kalessil commented on #257
By fix I mean define them implicitly.

[2017-04-18 15:06] Riimu opened #259 "StrNcmpUsedAsStrPosInspection is ill advised and should probably be removed/disabled by default"
The inspection suggests using `strpos` instead of `strncmp`. While this may be understandable from certain code readability perspective, the description for the inspection reads as follows:

The claims of "additional comparison strategies" and "overhead" seem to be rather bogus when actually looking into PHP's source code. In fact, when it comes to short strings, internally PHP actually uses C's `

[2017-04-18 18:00] kalessil opened #260 "Activities coordination"
Here I want to structure my vision of activities around the plugin:

- Q2 2017: stabilization, crowdfunding obligations
  - bug-fixes
  - QFes
  - dev-stuff (graddle, Jenkins)
- Q3 2017: further stabilization
  - key features hardening (probable bugs, NPEs, not optimal if conditions)
  - next battle for reasonable performance
  - backlog big cleanup
- Q4 2017: to be planned

Small features will be

[2017-04-18 18:06] kalessil commented on #260
@rentalhost @funivan @davidmpaz @Garethp  : I want to define some focus in my activities and understand how to align our activities.

Would you please share your thoughts - are there any ways for you to work on some topics together or perhaps I have to dedicate fixed time for some activities?

[2017-04-18 18:09] rentalhost commented on #260
If you mean about issues, I like to work on issues that I have reported and QFs/UQFs for current features (based on RULES.md). Maybe first QFs to respect Q2. And I suggest that, if possible, each one could do the same, then we can reduce the issues list a lot (current 61 items) and create a lot of QFs.

[2017-04-18 19:07] funivan commented on #260
@kalessil totally agree. I think we should reduce number of new inspections and try to close all `false-positive`

What i`m planing to do. I have a lot of interesting ideas for new inspections. But i will try to implement them in the separate plugin and test it in my project. Q3 or Q4 can be a good period to push some inspections to this plugin (step by step)
In this repository I will try to fix s

[2017-04-18 19:10] funivan commented on #258
Easy to pick: +1 for `@var`
I think this inspection should be placed in `code style`

[2017-04-18 19:14] rentalhost commented on #260
Ah, a good idea that I see in some projects, like Laravel, is separates the issue to a `internals` project (something like _kalessil/internals_ or _kalessil/phpinspectionsea-internals_). Then we could discuss what we could do in each case before create an issue on this project. On this project, only issues "closest to WIP" will remain. For instance, in last day I sent about 5 issues, but I guess t

[2017-04-18 19:40] kalessil commented on #260
It was lying on the surface, how I could miss that idea ).
Community edition (CE) version of the plugin should resolve current bottleneck issues (back-merge is another topic, but if each of new inspections is self-contained we are on the safe side).

Should I fork a new project (propose name please) and create a new plugin for it?

[2017-04-18 19:51] rentalhost commented on #260
I prefer just a new empty project, just tô handle discussions and future features. I don't know if you mean that. Two plugins code is too much.

[2017-04-18 20:12] kalessil commented on #260
And how to be with what @funivan experimenting with?

[2017-04-18 20:20] kalessil commented on #259
That's one of the best Bug-Reports I've ever seen, thank you @Riimu =)

In December 2016 I relocated the inspection from Performance to Control Flow group, but the description was not updated at that time. Thank you for pointing to the outdated docs.

IMO the inspection needs to be enabled for at least reasons:
- the warning honestly references to maintainability;
- if the performance degradation

[2017-04-18 20:22] kalessil commented on #259
@samdark : I don't remember exactly, but wasn't it you who once raised the `strncmp vs strpos` topic?

[2017-04-18 21:13] samdark commented on #259
@Riimu is absolutely correct https://3v4l.org/WCE1H

Could be me but we've switched from `strpos()` to `strncmp()` in Yii so if it was me, it was other way around i.e. to prefer `strncmp()` if you don't need position.

[2017-04-18 21:14] samdark commented on #259
Found it: https://bitbucket.org/kalessil/phpinspectionsea/issues/172/suggests-strpos-instead-of-strncmp

[2017-04-19 06:03] Fleshgrinder commented on #254
Absolutely, it is, however, using `mixed` instead of `int|string` is definitely not a good idea. People run into `float` very fast if they are not paying attention due to type coercion. Ideally the IDE and/or extension would be able to follow that, and warn about it. Instead there are still many situations where PhpStorm is not capable of understanding PHP.

That being said, go further with it. It

[2017-04-19 06:10] Fleshgrinder commented on #256
This is a very problematic situation. One the one hand we do not want to duplicated things, since it is a waste of effort. On the other hand we need PhpDoc to define extended return type information. Consider again the delegate example I gave in another issue:

[code]

The additional `callable` is required because PhpStorm will not understand that an instance of `Delegate` is actually a _callable_

[2017-04-19 07:40] kalessil commented on #259
Right, and we are at 2nd round. I'll just drop it then.

[2017-04-19 07:54] dryabov commented on #259
When I did tests (seems it was PHP 5.6), `strpos` is faster for short strings (<100 chars), and `strncmp` is faster for long strings (>1000 chars). The problem was that it's necessary to compare time of `strlen`+`strncmp` vs `strpos`, and overhead for function calling was quite high. Maybe they have improved it in PHP7. Then, it would be nice to have "inversed" inspection, i.e. to found `str[i]pos

[2017-04-19 08:03] kalessil commented on #259
Hm, my implementation doesn't check strlen usage.
@dryabov : how the `strlen+strncmp` looks like? Can you share a code fragment please?

[2017-04-19 09:15] Garethp commented on #260
I don't mind an internals repository or going this way. I'm also happy just to grab an issue and run with it, and if someone else is also going to be working on that issue, then communicating over the issue. Either way works for me. I'd probably be most useful bug-fixing, but I'd like to tackle some new QF's. Can't say how efficient I'll be at it, but I'd like to give it a shot.

[2017-04-19 11:18] davidmpaz commented on #260
I would like stick to Docs and review Code, not having so much time now and I feel currently that starting with Inspections and QFes implementation, then I would need support from one of you and dont want to take time from you for that.

Ofcourse if at some point you found something that could be easily done or even boring to do (the coding i mean), I could take it and that would serve as an entry

[2017-04-19 11:20] davidmpaz commented on #258
I can say also that what I have seen more is the `@var` usage.

[2017-04-19 12:04] davidmpaz commented on #254
I had always the feeling that having `mixed` type was some kind of design problem in APIs. After reading you @Fleshgrinder

I feel i should read more about it. Could you please point out to some resources or give some more examples when having `mixed` is needed?

It will helps to keep the whole concept in docs later on. Whatever the desicion is taken about to keep it or discard it.

[2017-04-19 12:12] hollodotme opened #261 "Misleading recommendation [mb_]substr($string,0,1)"
Hi, when using the following code:

[code]

The inspection recommendation is:

[code]

In this case it would produce a bug, because `$string[0]  != mb_substr($string, 0, 1)`

I suggest to remove this recommendation for the `mb_substr()` function. For `substr()` it is valid.

[2017-04-19 13:13] Fleshgrinder commented on #254
Well, as I said, `mixed` is definitely bad. `mixed` is PHP’s supertype and basically says that it can contain absolutely everything. More constrained union types like `int|string` are perfectly valid, and sometimes even required. The best example for this are `uint64` values which we cannot represent in PHP with an `int` type because it is always signed. However, it is very rare to encounter such

[2017-04-19 13:16] Fleshgrinder commented on #258
There was once a setting for this in PhpStorm where one could choose between `@var` and `@type`, but it seems as if it was removed in the latest version. I liked the `@type` much more because it is more descriptive, but the bad tool support and fact that the community settled with `@var` convinced me to stick to `@var` everywhere.

[2017-04-19 13:18] kalessil commented on #261
Good catch @hollodotme, will fix this.

[2017-04-19 16:00] whale001 commented on #244
Can not iterate '\iterable' (must implement one of iterator interfaces)

I get this message over variable which is returned from function with return type iterable
function() : iterable
installed version 2.3.6

@kalessil will it help in this particular case?

Thank you in advance
![iterable](https://cloud.githubusercontent.com/assets/5070812/25189657/1907fe30-252a-11e7-9cd0-980a154c0c05.png)

[2017-04-19 16:23] kalessil commented on #244
@whale001 : thanks for reporting, yes all needed information is here.

[2017-04-19 16:28] whale001 commented on #244
@kalessil Thank you for awesome plugin

[2017-04-19 19:05] funivan commented on #253
This inspection already exists in phpstorm: `php -> undefined field` :)

[2017-04-19 19:07] rentalhost commented on #253
Oh, really. I have disabled that for some reason that I can remember. I don't know if @kalessil annotations can mean something now.

[2017-04-20 06:36] kalessil opened #262 "Suspicious binary expressions: count(`something` > 0) in logical and/or context"
For myself:

- inspect only the last parameter
- if the parameter has no implicit bool definition:
  - find out the right operand type;
  - if right operand type is type returned by the call, fire the message;

[2017-04-20 06:48] kalessil commented on #253
Will not happen - PS has already similar inspection

[2017-04-20 06:48] #253 closed

[2017-04-20 12:37] kalessil opened #263 "assertStringEqualsFile: re-check correctness, use variant lookup"

[2017-04-20 13:59] kalessil opened #264 "Revisit: chmod(..., ...) vs chmod(..., ... & ~umask())"

[2017-04-20 16:46] Haehnchen opened #265 "[FR] Type hint implemention extends or interface inspection"
Some common pitfalls often seen: Instead of using interface implementations or abstract classes main implementation is used for type hints.

So collect all method calls and try to find a more suitable type hint. valuable feature but heavy code analysis ;)

[code]

One common use case:

[code]

[code]

EDIT by VR: report final classes used in this context.

[2017-04-20 17:00] funivan commented on #265
Implementation is not simple and it can generate a lot of false positive

[2017-04-20 17:03] #261 closed

[2017-04-20 17:28] kalessil commented on #244
You are welcome @whale001 =)

I added support for the `iterable` type.

[2017-04-20 17:28] #244 closed

[2017-04-20 17:36] kalessil commented on #259
The inspection has been dropped - very solid arguments against.

[2017-04-20 17:36] #259 closed

[2017-04-20 17:42] kalessil commented on #265
@funivan : complex, but we can just fix limitations, e.g: ensure the parameter is only consumed (methods calls, invoke context, string context). If the parameter is re-dispatched, we stopping the analysis.

[2017-04-20 17:46] kalessil commented on #265
@Haehnchen : I'll try to pick up this feature in one of nearest release.

We are focusing on QFes and stabilization Q2/Q3, so depending on overall bug0reporting rate the feature can be shifted.

[2017-04-20 17:47] mnpenner opened #266 "Exception for "Missing or empty conditionals group statement" when body is on same line"
I know not everyone will agree, but I think this should be allowed:

[code]

But *not* this:

[code]

Can you add option to "Missing or empty conditionals group statement" to allow the first case?

------

PS: This should also *not* be allowed:

[code]

Because `y()` is in the conditional but `z()` is not.

[2017-04-20 17:50] rentalhost commented on #266
I can't confirm that. You are receiving an exception or an inspection? What is version of PS and EA plugin?

[2017-04-20 17:53] kalessil commented on #266
@rentalhost : probably @mnpenner request a special handling - mixed style of placing `{}`

[2017-04-20 17:56] kalessil commented on #266
@mnpenner, [PSR-2](http://www.php-fig.org/psr/psr-2/#if-elseif-else) defines no such exceptions.

The behavior you are requesting, where ist coming from (a PSR or CS used by your team)?

[2017-04-20 17:57] rentalhost commented on #266
Ah, I understand now! And I agree with @mnpenner. Currently I always uses `{}`, but on past when I don't, I had serious issues with that.

[2017-04-20 18:00] kalessil commented on #266
From my experience always placing `{}` is extremely useful as preventing bad merges, but still my question about such CS source needs answer =)

[2017-04-20 18:23] mnpenner commented on #228
I think so. And `get_class($this)` appears to be like `get_called_class()`: https://3v4l.org/Of3GP

[2017-04-20 18:25] iltar commented on #228
`static::class` is also an option if you want to get the "current" class afaik.

[2017-04-20 18:33] kalessil commented on #228
That's great addition, thank you @mnpenner

What if we extend `::class constant can be used` inspection then?
- `get_class($this)` -> `static::class`
- `get_called_class()` -> `static::class`

[2017-04-20 19:15] mnpenner commented on #266
I didn't realize this was strictly following PSR. This is a personal
request for my team. I'd recommend leaving it off by default.

On Apr 20, 2017 11:00 AM, "Vladimir Reznichenko" <notifications@github.com>
wrote:

[2017-04-20 19:17] mnpenner commented on #266
Oh.. I see where the confusion is now. I'm requesting an exception (special
handling) for mixed brace usage -- I'm not hitting an exception caused by
the plugin.

On Apr 20, 2017 12:15 PM, "Mark" <marknpenner@gmail.com> wrote:

[2017-04-20 19:46] mnpenner commented on #228
@kalessil That sounds good to me, but we have to watch out for weirdness. HHVM and PHP behave differently [here](https://3v4l.org/gom2N) -- `get_class($this)` does not behave the same as `static::class` but `get_called_class()` does.

[code]

[2017-04-21 05:25] funivan commented on #260
I think that Community Edition is not the best choice. All inspections in this plugin (CE) will be unstable. And I can not use inspection from @rentalhost and he can not use mine.
Why I will create inspection in closed source plugin:
- check if i can implement it
- check if it is useful
- test how it works.

Only after this steps I can create issue and then polish this inspection if needed.
If I c

[2017-04-21 06:49] kalessil commented on #266
Sooo, I looked up more deep to check if options can be added, but apparently, all if-related inspections requiring `{}` - they simply stop when the body is not wrapped.

Means it makes no sense to add options - too many inspections would need re-work.

I'd encourage you guys to follow the PSR, as it enables other inspections to support you.

[2017-04-21 06:49] #266 closed

[2017-04-21 06:56] kalessil commented on #260
@funivan @rentalhost

Ok, then we don't need to add new repositories - I get used to using milestones for picking up stories in 1-2 next releases. Other requests/discussions are not harming at all, or we can just label them properly.

[2017-04-21 07:00] kalessil commented on #260
@Garethp @rentalhost : I'll check which tickets you can pick up - to start gaining experience, will assign to you directly.

PS: there is no boring work in this project, just matter of priorities =)

[2017-04-21 08:39] funivan opened #268 "Disconnected Foreach - severity changes are not applied"
How to reproduce. Get latest syfmony version and write this code:
[code]

`$bar->advance()` -- should not be disconnected

Also I can`t change severity of this inspection.

[2017-04-21 08:55] kalessil commented on #268
Severity: will check why.
False-positive: nope - reported as needed. Implementation needs enhancement, e.g. you can use setProgress/setProgress instead to make inner operation really dependent on the loop variables.

[2017-04-21 10:22] funivan commented on #268
@kalessil in some cases I agree with you. But http://symfony.com/doc/current/components/console/helpers/progressbar.html we have ` $progress->advance();`  so a lot of developers using symfony and this plugin get errors.
P.S. Write `$bar->setProgress($bar->getProgress()+1);` is less c lean ;)

[2017-04-21 10:32] kalessil commented on #268
I meant something like this:
[code]

[2017-04-21 10:36] funivan commented on #268
This was the sample cases. Here is real one:
[code]

[2017-04-21 11:24] kalessil commented on #268
This already something to work with:

[code]

This way you progression is really based on the business logic: sending e-mail, was it really send.

[2017-04-21 11:33] MarlonSchultz opened #269 "Method can be dropped, as it identical to parent´s one (false/positive)"
When overrriding a method from a parent class with same behaviour, but different scope modifier a warning is issued that the method can be dropped. Warning has a typo as well ("is" is missing)

Doctrine Example:

Main Class:

[code]
Inheriting Class:

[code]
Scope changed from protected to public to make EntityManager available to the outside. If you would drop method as suggested, the public API

[2017-04-21 11:35] kalessil commented on #269
Good catch @MarlonSchultz, I'll take care about fixing the issue.

[2017-04-21 11:39] kalessil commented on #268
@Garethp : you can pick up this issue

The fix is to replace ProblemHighlightType.WEAK_WARNING with ProblemHighlightType.GENERIC_ERROR_OR_WARNING and ensure that in plugin.xml the inspection error level is the weak warning.

[2017-04-21 11:40] kalessil commented on #268
@funivan : what do you think about the last code fragment from me?

[2017-04-21 11:42] funivan commented on #268
Ok. I get your point) But:
1. Sometimes we have function that return nothing. Instead they fire exception. For example:
[code]
I do not know how to deal in this situation with `advanced()`. (Yep i can use `setProgress`)

2. What to do if i want to iterate over all items, display progress of iteration, and send email to only 10-100 dealers. I have 100000 dealers for example.

[2017-04-21 11:54] kalessil commented on #268
1) Wrap `save` with try-catch, handle exception - the send out should not stop on the single failure.
2) Depends on the progress bar intention: is it for human?

[2017-04-21 12:18] funivan commented on #268
1. ok
2. yes for human. Bar has `message` and we can put number of processed items: `$bar->setMessage($itemsNum)` Sow it is readable and usable for developers)

[2017-04-21 13:05] Garethp commented on #268
@kalessil Can you assign this to me? Or add me to the repository as someone who can do that?

[2017-04-21 13:07] Garethp commented on #269
@kalessil Have you started progress on this one, or can I take a stab at it?

[2017-04-21 17:54] vladyslavstartsev opened #270 "Only variables should be passed by reference"
no highlighting for this

![](http://dl4.joxi.net/drive/2017/04/21/0015/2269/1046749/49/6be65d668f.png)

but it has one for this (with message "Only variables should be passed by reference")

![](http://dl4.joxi.net/drive/2017/04/21/0015/2269/1046749/49/b0104e3b59.png)

Works the same way (I'm getting error).
Can provide any additional info if needed.

[2017-04-21 18:16] kalessil commented on #270
Hm, that's not reported by Php Inspection (EA Extended). Please report to [JetBrains](https://youtrack.jetbrains.com/issues/WI).

[2017-04-21 18:21] kalessil commented on #269
Currently analyzing the root cause, implementation is rather complicated - I'll take care about.

- when method relaxes visibility, the inspection should propose (and QF) proxying the call to parent.

[2017-04-21 18:24] kalessil commented on #268
@Garethp : you should receive an invitation to join collaborators group. Feel free to re-assign the ticket.

[2017-04-21 18:27] kalessil commented on #268
@funivan : 2 looks damn great, you can actually try to generate a message with both success and failure numbers.

And if we step back - that spin off (really great IMO) of the inspection complains.

[2017-04-23 18:22] #269 closed

[2017-04-23 18:24] kalessil commented on #269
Now we have QFes and proposal to proxy such calls to parent.

[2017-04-23 18:47] jdreesen opened #271 "iterable is valid in is_array"
`iterable` support for `foreach` has been added in #244 but is still broken for `is_array()`.

installed version 2.3.6

![iterable](https://cloud.githubusercontent.com/assets/424602/25316340/9dc83458-2865-11e7-9425-9ea468efd85b.png)

[2017-04-23 19:42] rentalhost commented on #271
I do agree. Once `iterable` could be an array, then `is_array()` should accept `iterable` for test, although it will naturally fail.

[2017-04-24 04:39] funivan commented on #271
@jdreesen try to download binary from the master and install plugin from disk (https://github.com/kalessil/phpinspectionsea/blob/master/PhpInspectionsEA.jar)
@kalessil set milestone 2.3.7 so as I can see this version is not published yet.

[2017-04-24 05:55] jdreesen commented on #271
I did but it doesn't seem to change anything. Even #244 seems not to be fixed. Do I need to do anything else apart from installing the plugin from disk (downloaded from your link) and restarting PhpStorm?

[2017-04-24 06:01] funivan commented on #271
@jdreesen nope. Maby @kalessil did not update binary.
There are 2 ways:
1. wait for 2.3.7 release
2. wait for new binary (we will ping you when it will be available)

[2017-04-24 06:40] kalessil commented on #271
That's lack of the iterable type support: see [here](https://github.com/kalessil/phpinspectionsea/blob/8235cc5c72087b0b355e13111c6d7456d6669512/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/CallableParameterUseCaseInTypeContextInspection.java#L111).

Thank you for reporting @jdreesen.

[2017-04-24 09:05] kalessil commented on #271
Picking up - the inspection needs refactoring and UTs.

[2017-04-24 10:28] #268 closed

[2017-04-24 11:37] kalessil commented on #228
@mnpenner : let's stick to `get_called_class()` -> `static::class` then.

[2017-04-24 11:38] rentalhost commented on #228
@kalessil is EA compatible with/supports HHVM? Because if not, then you could consider only the PHP result for thinkgs like that.

[2017-04-24 12:52] Garethp commented on #255
@kalessil I hope you don't mind that I've picked this up. I figured I already knew somewhat how teh `:class constant` QF worked, so it would be a good ticket for me to pick up and dig deeper

[2017-04-24 13:13] kalessil commented on #255
Good idea and I have additional input: QF for `::class` and this one should have the same import settings (auto-import, relative FQNs).

The part in `::class` is more stable (and here is rather POC). I'd like the fixer from `::class` to be generalized (without decomposition) for using also in return type hints.

[2017-04-24 13:14] Garethp commented on #258
I may be a bit unclear on the scope of PhpInspectionsEA, but isn't this out of that scope? It feels like the responsibility of a different plugin, maybe a PHPDocs plugin

[2017-04-24 13:21] Garethp commented on #255
That's the plan. I'll probably end up refactoring the `::class` inspection and QF entirely in the process, since 90% of the logic in there basically relates to what should be common functionality.

Can you please expand on what you mean by

My current approach was to create a utility class that contained the following functions: `isClassImported`, `importClass` and possibly `resolveClass` (If the

[2017-04-24 14:27] kalessil commented on #255
Yes, my idea was doing this:

1) move the fixer into a separate class (we have fixers package) for ::class
2) add an abstract method responsible for the fixing reported expressions (base fixer still big and responsible for importing, but no utils introduced - minimal changes)
3) ::class, return type hints got small fixes injecting class references supplied by the base class
4) a new service class

[2017-04-24 14:43] kalessil commented on #228
@rentalhost : depends.

In this case, we had valuable feedback from @mnpenner, who also mentioned HHVM. We need to take care about HHVM in this case.

If HHVM would not be mentioned, we'd go with the both new patterns for the ::class inspection

[2017-04-24 14:43] Garethp commented on #255
I think so. I'll give it a shot over the next couple of days, and I'll ping you on the PR when I think I've got something closer to what you want, and see if I went the right way

[2017-04-24 15:43] andreasschroth opened #274 "Discussion: "Multiple return statements usage""
First of all thanks for the amazing work with this plugin, it's definitely one of my favourites.

But I'd like to discuss the rule "Multiple return statements usage".

For me, this rule doesn't really make sense. In fact, it might lead beginners to avoid multiple returns inside methods, which is a great code practice "return as early as possible". Early (and thus multiple) returns lead to simplifi

[2017-04-24 17:40] kalessil commented on #274
Note: The inspection is deactivated by default, but It's a good topic to discuss anyway.

The inspection forces to use nested constructions, instead of decorating them with early returns.
Results as you correctly mentioning are not really nice, but fair - it's the same logic.

What is different:
- nesting states implicitly dependent steps (fair complexity representation)
- early returns doing this

[2017-04-24 19:10] Fleshgrinder commented on #258
We need to be careful to avoid feature creep, but this is definitely within the scope. The extension is about PHP best practices, and phpDoc is an integral part of PHP; even if it is not an official part of the language.

[2017-04-24 19:23] Fleshgrinder commented on #274
The status would actually be an Enumeration and should definitely not be any of the two proposed solutions. 😉

[code]

[2017-04-24 19:37] #262 closed

[2017-04-24 19:39] kalessil commented on #274
@Fleshgrinder : I mentioned enum ;)

[2017-04-24 19:54] Fleshgrinder commented on #274
Oh, true that, did not read the comment in your code. 😋

[2017-04-24 20:54] mnpenner commented on #228
I don't personally use HHVM, but I wouldn't recommend any code mods that make it incompatible. Who knows, maybe the PHP team will employ a similar optimisation that subtly breaks your code because of this.

[2017-04-25 01:11] andreasschroth commented on #274
Thanks for the reply so far.

But, first of all, this was just example code - I could post lots of more code and there are definitely many use-cases where multiple returns just make sense and improve the readability and maintability of the code.

Yes, the inspection is disabled by default, but the docs say: "Note: the inspection is deactivated by default, but highly recommended for enabling".

And

[2017-04-25 01:39] andreasschroth commented on #274
Next example, a factory:

[code]

Bad code as well? Needs refactoring?

[2017-04-25 05:07] funivan commented on #274
Switch can be replaced with map:
[code]
If you need to add new class you just add it to the map.
In some cases I agree with you that single return statement is not so good. But this strict rule show us the problem in the  code and we definitely need to rewrite our code. Take a look in your project and find some ugly methods with multiple return statements and try to rewrite them.

Lets take a simp

[2017-04-25 05:22] andreasschroth commented on #274
While I agree that everything can be rewritten so that it only uses a single return, I just disagree that this **should** be a goal throughout the whole project as the documentation states (enabling the inspection is highly recommended). There's no reason for me to rewrite the above code examples as the readability and the maintability are good and the intention of the code is very clear.

For sur

[2017-04-25 05:28] funivan commented on #274
@andreasschroth by default it is disabled. If you need it just enable and specify any severity ;)

[2017-04-25 07:16] kalessil commented on #274
No pressure @andreasschroth, we just giving options based on code samples.

Main bullet points which I can observe:
- "enabling the inspection is highly recommended" is seems to be opinionated (fair enough);
- your team already agreed on approaches;

Let's just change drop the "enabling the inspection is highly recommended" note, I still can promote it on meetups.

[2017-04-25 15:28] vladyslavstartsev opened #275 "Simplify return statment"
I think in this situation we can simplify this return statments
![](http://dl4.joxi.net/drive/2017/04/25/0015/2269/1046749/49/cc7c5b7210.png)

to `return null !== $role ? $role->id : null;`

[2017-04-25 17:04] Fleshgrinder commented on #274
@andreasschroth: if you go back to the original issue, then you’ll notice that I actually already mentioned there that the inspection is _highly_ opinionated. I don’t know why @kalessil decided to add a _highly recommended_, because it is very true that multiple returns are definitely no code smell at all per se. Real world example where it always makes sense, no matter the context, are early retu

[2017-04-25 17:05] kalessil commented on #274
@kalessil is probably a little bit impulsive xD, but true @Fleshgrinder mentioned this already.

[2017-04-25 17:06] Fleshgrinder commented on #275
[code]

[2017-04-25 17:44] rentalhost opened #276 "Optimize UTs"
Something that I like to work is on the optimization of UTs. There is no much problems on it currently, but I like to normalize UTs to improve readability and testability. One problem that I don't know if is with me only is about QFTs, seems that when it fails it just report the fail, not the actual vs expected result, and I can fix that.

I have done some internal changes, and I reach to a result

[2017-04-25 17:49] rentalhost opened #277 "Optimize JPanel's"
Following #276 idea, I like to do the same for JPanel created by some inspections. Currently each option is manually declared on the own inspection class. I don't know if we can change that, but we can make the readability better.

And it is my test result:

[code]

As I am not a Java programmer, then I have some limitations. For instance, the lambda parameter `component` receives an instance of

[2017-04-25 17:56] rentalhost opened #278 "Optimize files and directories"
And finally, to completes my issues sequence, optimize (read "reorder") the files and directories. Currently it conflicts with the own inspection type declared on `plugin.xml`. It should be reworked to make it more simple to future devs. Seems a simple task, but it should be done with caution to avoid more confusions.

One of my suggestion is package like that:

For instance:

Then the inspection

[2017-04-25 20:10] vladyslavstartsev commented on #275
@Fleshgrinder second one will work I think. The first one I can't use because I have old php version on this project. (not 7.X)

[2017-04-25 20:49] rentalhost commented on #275
I could be detected from IDE then suggest the best fix.

[2017-04-25 21:00] vladyslavstartsev commented on #275
@rentalhost I think it will be `return $role ? $role->id : \null;` because in my particular situation this will be converted to bool and will equal `false`.
But the `return $role->id ?? \null;` is short for `return isset($role->id) ? $role->id : \null;` it's not useful (in my particular situation).

[2017-04-25 21:09] rentalhost commented on #275
At least on your original code it seems to be returned like `?int` (`int|null`), then [I still don't see reason](https://3v4l.org/seWhlm) to not use `??` for PHP 7.x instead of `?/:`. Can you provide a code where it could cause a problem if applied with `??`?

[2017-04-25 21:20] vladyslavstartsev commented on #275
@rentalhost yeah, you're right. I've tested, can't provide the code.

[2017-04-25 22:26] rentalhost opened #279 "Send variable to compact()"
I need some help here to know it it can run out the project scope. Although that I think yes, maybe can be like an exception, because it should be useful to avoid some warnings. Basically, my idea is suggests as a optional-quickfix add current variable to `compact()` if it exists on scope.

For instance:

[code]

Here  `$b` is unused because I pretends put it on `compact()`. Currently I should do

[2017-04-26 04:38] funivan commented on #279
I think it is out of scope

[2017-04-26 04:45] funivan commented on #276
I use similar approach in other branch (https://github.com/funivan/phpinspectionsea/blob/222-naming-convention/src/test/java/com/kalessil/phpStorm/phpInspectionsEA/codeStyle/NamingConventionInspectorTest.java#L35:L45)
Agree with you.

p.s. I event don't know what mean this code `myFixture.testHighlighting(true, false, true);`)))

[2017-04-26 04:45] funivan commented on #276
We should add label `internal`

[2017-04-26 04:48] rentalhost commented on #276
The `myFixture.testHighlighting()` will get the pure PHP code from tested file (it is, without the XML code), then will run all inspections (that will regenerate the XML) then will compare if "original XML+PHP" is equal to "generated XML+PHP".

I agree about `internal` label.

[2017-04-26 04:50] funivan commented on #277
Sometimes panels are complicated. And it is better to create external class.

[2017-04-26 04:52] rentalhost commented on #277
I am working on that just now. I have finished, now I am having some issues as, for instance, the generated checkbox works but not affects or save preferences. haha I am investigating it then I will make a PR about ~1h (else, I will continues tomorrow).

[2017-04-26 06:12] rentalhost commented on #277
Argh... I can't do it work. As Java have no support to reference, then I need create an Atomic type (or Mutable), but too for some reason, it change the instance value correctly but IDE can't see that. Each time that I open the settings it creates a new instance (even when it is static!). I'll push to someone check the current code, but for now I will not make a PR.

[2017-04-26 10:05] strayobject opened #280 "Long Inheritance Chain (add special case for PhalconPHP)"
In [Long Inheritance Chain](https://github.com/kalessil/phpinspectionsea/blob/master/docs/architecture.md#long-inheritance-chain) there is a note stating that some framework specific assumptions are made, please add Phalconphp to those assumptions.

[2017-04-26 11:07] Koopzington opened #281 "[New Check] Check if used class is inside composer requirements"
Sometimes you are working with PHP libraries which consist of multiple repositories.
Let's take Zend Framework as an example.

Your project might have a requirement on zendframework/zend-mvc which in return depends on [zendframework/zend-modulemanager](https://github.com/zendframework/zend-mvc/blob/master/composer.json#L19).
Your vendor folder will contain the classes from zend-modulemanager.
If y

[2017-04-26 12:00] kalessil commented on #280
@strayobject : gladly, but I need input on which inherited classes got reported - I'm not involved into the community or related development.

[2017-04-26 12:17] #228 closed

[2017-04-26 12:23] kalessil commented on #280
Almost, I need just a few classes (2-3, except controllers) like here: https://github.com/kalessil/phpinspectionsea/blob/master/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/classes/LongInheritanceChainInspector.java#L25

[2017-04-26 12:47] strayobject commented on #280
I see. In this case would it not be better to count only userland inheritance by allowing people to set partial namespaces that are not to be counted or counted as 1 (example would be adding '\\Phalcon\\' to adjust the count if "extends" matches)?

As for the classes, I would consider the following (although other people might think otherwise):
[code]

[2017-04-26 13:22] #271 closed

[2017-04-26 17:58] Fleshgrinder commented on #279
I think that the usage of `compact` is so seldom, that it makes no sense to include in the first place. The extension is about best practice, not necessarily about how to use PHP correctly. On top, PhpStorm will already mark `$b` as unused in your example.

[2017-04-26 17:59] Fleshgrinder commented on #281
This is a brilliant feature request. The same could be done for PHP extensions. Full support on this one!

[2017-04-26 18:03] rentalhost commented on #279
It is not true. It is very used when you works with MVC, for instance. The controller prepares all variables then send to view, for instance. The `$b` is marked as unused because the idea is send it to `compact()`. And is this that this issue suggests.

[2017-04-26 18:06] rentalhost commented on #281
I guess that is a great idea. I don't promiss nothing for now, because I am working with another inspections, but I like to give attention on it soon if no one take it. Seems easy-to-pick.

[2017-04-26 18:47] Fleshgrinder opened #282 "Check if required extensions are specified in Composer config"
Same feature request as in #281 but for elements that originate from PHP extensions. I created a separate issue, because this might sound trivial, but in fact is very hard to implement. The problem is, that it is hard to maintain a list of available extensions.

An [MVP](https://en.wikipedia.org/wiki/Minimum_viable_product) of this feature could support available core extension only (e.g. `ext-ope

[2017-04-26 18:50] Fleshgrinder commented on #279
Oh, my bad, PhpStorm marks all of them as unused because they are referenced as strings; true that.

I am not working much with frameworks besides Symfony from time to time, but never encountered much in the wild. You guys probably know better than me on this one. Disregard my previous comment, I leave this to you. 😸

[2017-04-26 21:31] kalessil commented on #282
MVP would be to rely on this info (but I need to find a way to get this info):
![image](https://cloud.githubusercontent.com/assets/1577185/25457982/6d9605f6-2ad8-11e7-81cc-0fb97ea0b973.png)

[2017-04-26 22:03] rentalhost commented on #277
About the issue that I have mentined before, I found the cause. Seems that the Intellij SDK can handle only configurations of type `boolean` and `List<>`, and I am trying to use `AtomicBoolean` and similar (if it was possible, this would greatly reduce the code as well).

**From (what I have did after found this problem):**

[code]

**To (what I liked to do, but don't worked):**

[code]

[2017-04-26 22:06] kalessil commented on #281
Requirements ingeniering:
- indexing of composer.json
- analyze use statements only: resolve, check class file path against the index
- QF is not available

[2017-04-26 22:08] kalessil commented on #281
Not easy, I'll give a try but no promises (other priorities may shift this).

[2017-04-26 22:23] kalessil commented on #276
May I cut in? Do we really need to touch tests (it's even not all inspections covered, I'll keep in mind name new once properly ofcourse)?

[2017-04-26 22:33] rentalhost commented on #276
I want do that for two reasons: it is the first step. The unit tests are not the major problem currently, we have to create UTs for all inspections and too QFTs. But if we normalize that, make it more simple, we can improve the testability.

As I mentined, I don't know if is only with me, but on run some QFTs I don't see the "click to see difference". But it is implementable (I have did internally

[2017-04-27 03:28] funivan commented on #276
I have only one problem with UT. When I create unit test in intellij i should change location of this test. I would rather prefer to synchronize location of test cases.

[2017-04-27 04:41] kalessil commented on #276
@funivan @rentalhost Sold, go ahead. Feel free to share work and re-work the structure on your taste.

[2017-04-27 04:55] funivan opened #284 "Change release strategy"
Current release strategy is following:
Get previous latest version for example 2.3.6 and add +1 to its patch version
Correct me if i`m wrong.

I suggest to use Semantic Versioning - http://semver.org/

**Why?**
We can deliver patch versions to the users very fast.
For example: if we have version 2.3.6 all bug fixes will be delivered in 2.3.7. And if users find new bugs, we can fix them and introdu

[2017-04-27 05:01] funivan commented on #282
We can create map of `function => extentions`
For example: `openssl_cipher_iv_length => ext-openss`
Then if project call function `openssl_cipher_iv_length` then we can check `composer.json` for specified extension.
But it can be very-very slow inspection. Maybe it will be better to write custom tool or other plugin for that (collect php extensions)

[2017-04-27 05:20] kalessil commented on #282
Yep, building the mapper on our own is total overkill. The ways which would make sense is to catch up on the settings from the screenshot.

[2017-04-27 05:23] kalessil commented on #279
This would be out of our scope.

[2017-04-27 05:27] kalessil commented on #274
Done: "highly recommended" note dropped.

[2017-04-27 05:28] #274 closed

[2017-04-27 07:41] kalessil commented on #148
Implemented (47caa076e57b0a578517de1f669e93ac3f11a79a, fresh binary pushed as well) as a probable bugs inspection.

[2017-04-27 07:41] #148 closed

[2017-04-27 08:02] kalessil commented on #148
@BenMorel : can you give a try to the plugin version from master?

[2017-04-27 08:04] funivan commented on #148
@kalessil I will try too :)

[2017-04-27 08:07] kalessil commented on #148
@funivan : great =)

[2017-04-27 08:27] davidmpaz opened #285 "GitHub pages for docs ?"
What do you think guys of using this feature from GitHub ?

https://github.com/blog/2233-publish-your-project-documentation-with-github-pages

[2017-04-27 10:03] kalessil commented on #285
+1 from me

[2017-04-27 10:09] kalessil commented on #230
Implemented, fresh binary pushed

[2017-04-27 10:09] #230 closed

[2017-04-27 10:23] BenMorel commented on #148
Works like a charm, well done and thank you! 👍

[2017-04-27 13:48] rentalhost commented on #279
Yes, I do agree. It mean an intention and not a inspection. But then, the ultimate is to close that? Do the honors in this case.

[2017-04-27 13:52] rentalhost commented on #284
While I think that loveable, it means that we should keep two development branches. Right?
One for stable (_current minor_ with _possible patches_) and another for dev (_minor plus one_).

It will turn harder the development (because you should apply a fix on both branches), BUT I think that currently is the right thing to do.

[2017-04-27 14:29] rentalhost opened #286 "Conditional style: Yoda vs regular"
Okay, as part of development process, we should defines a code style on which all of us should follow. Alignment style is not a big problem, because IDE helps a lot and the default style is good (_maybe with small custom style options_).

But for now, the conditional style is a problem.
It because all project mixes the Yoda and regular style, sometimes on same inspection class.

And before introdu

[2017-04-27 14:46] davidmpaz commented on #286
I agree with you on that. I prefer to read php more in regular way.

Also to provide yet another link to illustrate: https://blog.codinghorror.com/new-programming-jargon/

Coincidently, point number 1 is "Yoda Conditions" :D

[2017-04-27 15:41] davidmpaz commented on #284
@rentalhost In my opinion all of that could be done in same branch. All changes will contribute to new releases under same major version. I dont see the need to do the work on two development branches.

Still may be needed creating another branch when development will start features for new major version that could brake backward compatibility. To not interfere with stable development, is that wha

[2017-04-27 15:42] kalessil commented on #280
Great, the list looks good.

Some frameworks are using older PSRc, so namespace fragments there will not work.

[2017-04-27 15:48] kalessil commented on #286
In general, in Java people follows regular order, in my case, it's just php-influence.
Colleagues are pitching me pretty often, so I using yoda style in php and regularone  in Java.

@funivan : I guess it were my review comments about the using yoda, I think we should follow to regular way.

[2017-04-27 16:21] rentalhost commented on #284
I am thinking about this situation: let supposes that we are running on version 2.3.0. Then until 2.3.99 we could only works on bugfixes, no new features (according to _semver_). New features come only on 2.4.0.

As this project get new features fastly, let says, one new by week or two, then the minor will increase fast, while the patch will change few. Basically, all bugfixes will happen together

[2017-04-27 16:28] rentalhost commented on #286
@davidmpaz Great article, I think that I will translate it to my language (just need auth).
@kalessil I guess that it have started there, too.

Then should I consider two votes in favor of regular style?

[2017-04-27 16:30] goetas opened #287 "Inspection Proposal: Warn when depending on final classes"
Consider this example:

[code]

Should this be considered as a bad practice? Testing `Task` will be hard because is not possible to mock `Consumer` since is `final`

Can we "suggest" the user to add an interface and depend on it?
The right code should be:

[code]
There are a lot of good reasons to declare a class as `final` (see https://ocramius.github.io/blog/when-to-declare-classes-final/) but d

[2017-04-27 17:14] rentalhost opened #288 "ComparisonOperandsOrderInspector: avoid double-disabling"
Following https://github.com/kalessil/phpinspectionsea/pull/283#pullrequestreview-34976722, we should avoid the double-disabling of "_Yoda/regular conditions style usage_" (currently you could enable the inspection, but _disable the inspection_ that it does by unchecking both available options).

* [x] By default, the inspection will be disabled by default;
* [x] When enabled, the Yoda style will

[2017-04-27 17:42] rentalhost commented on #288
Fixed with 2a4b6a59ff5dce82be98666ac00927167f10242f (waiting for #283 to a PR).

[2017-04-27 17:57] rentalhost commented on #11
Instead of create small "patches" on `mcrypt`, why just not consider that "insecure" and suggests to use OpenSSL?

[2017-04-27 18:01] kalessil commented on #284
@rentalhost got the idea right - we do frequent releases, constantly adding/dropping/moving features. Semantic versioning is not applicable IMO

2nd digit bumped in e.g. following cases:
- we are bumping um minimal platform version requirements;
- we announcing NPEs is not beta anymore;
- or e.g. when I review a group and shifting inspections from it;

[2017-04-27 18:08] rentalhost commented on #14
**Todo:**

* [ ] Check if method annotate `@thrown`;
* [ ] Check if method throws an exception by itself;
* [ ] Check if method don't treats an exception thrown by inner methods;

For each thrown exception, check if it is annotated on original signature allows that (from interface or parent class).

[2017-04-27 18:30] rentalhost commented on #16
Hard to implements. Except if it is especifically for symfony, what ensures that `getInstance()` or `getLogger()` will returns the same instance on both times?

I guess that it is possible after implements #221 (I am still working on it).

[2017-04-27 18:33] kalessil commented on #11
PHP 7.2 deprecated mcrypt, so PS will do this soon, but some frameworks has graceful fallback from openssl to mcrypt - so still makes sense.

[2017-04-27 18:35] kalessil commented on #287
Thank you for proposal @goetas, can this be bundled together with #265?

[2017-04-27 18:43] rentalhost commented on #20
Just to I understand, you mean:

1. Suggests to not use `isset($var)` before `$var` declaration; or,
2. Suggests implements a _conditional_ to `$var` then it can generate the `isset($var)`?

If the answer is "two", you are describing an _intention_ (not an _inspection_), and it is out scope of project. But, maybe we can start working over a `phpintentionsea`, who knows?

[2017-04-27 18:58] rentalhost commented on #31
I don't know...

If I can't write on static properties, then maybe I should use constants, instead this. I rarely create static properties. Basically I use to store a single instance, but it is an anti-pattern (now I am using the `App::singleton()` of Laravel to do that).

[2017-04-27 18:59] rentalhost commented on #35
Can you provide some code? I like to check that too (I am reviewing some old issues, sorry! haha).

[2017-04-27 19:05] rentalhost commented on #37
Seems related to #173, but do not worked with that code.

[2017-04-27 19:05] davidmpaz commented on #284
Point made :+1:

[2017-04-27 19:15] rentalhost commented on #45
I agree in part.

Maybe the dev intention is really check if actual result is the same object as expected, then is important keeping using the `static::assertSame()`. But, we could consider a _small fix_ where you can tell to inspection that do you know that objects are differents but expects the same properties.

In this case, I guess that the previous element should be a `static::assertNotSame()

[2017-04-28 05:28] funivan commented on #287
@kalessil I think you are correct, this feature is part of #265 but with one difference.
for example:
[code]
If we remove `final` keyword from the class than `weak warning` can be produce, or even nothing (user can configure this behavior)

[2017-04-28 05:33] funivan commented on #284
@kalessil thanks for the clarification :+1:

[2017-04-28 05:33] #284 closed

[2017-04-28 06:57] funivan commented on #148
@kalessil test it with production code. Inspection works fine.

[2017-04-28 08:06] goetas commented on #287
Looks similar to #265 but the implementation should be much easier

[2017-04-28 08:13] Fleshgrinder commented on #287
Making classes `final` is good practice and mocking is definitely bad practice. It often leads to green tests, but the objects are not compatible to each other in reality. Simply using the real object as is will not only be faster, drop the requirement for a mocking framework altogether, no, it will also ensure that the tests are _always_ using the latest version.

[2017-04-28 08:40] kalessil commented on #148
@funivan super, now we really well equipped with NCO related inspections.

[2017-04-28 08:41] kalessil commented on #284
@funivan : you are welcome, I think it was a good point to raise the topic - we are on the same page now.

Thank you!

[2017-04-28 08:45] kalessil commented on #287
@funivan : removing final would make the warning disappear (we can not offer any interface to be placed instead).

[2017-04-28 08:46] kalessil commented on #287
@goetas : I just want to bundle related work, if we promoting available interfaces, we can report using final classes. For me, it'll mean easier maintenance.

[2017-04-28 08:49] kalessil commented on #287
@Fleshgrinder : agree, it just fits perfectly with promoting the interfaces usage here.

- Final class is a good thing, no doubt
- But consuming code should rather rely on an interface but not a final implementation.

[2017-04-28 08:51] kalessil commented on #287
Marking as duplicate of #265

[2017-04-28 08:51] #287 closed

[2017-04-28 10:28] adelf opened #289 "This condition is duplicated in another if/elseif branch"
Some pseudocode:
[code]

Warning on second condition.

[2017-04-28 12:22] kalessil commented on #280
I did check the stubs and ended up with adding \Phalcon\Di\Injectable.

Feedback would be appreciated: you can download PhpInspectionsEA.jar from master,
in IDE: File - Settings - Plugins and under the plugins list click "Install from disk", point to the file and apply changes.

Let me know if the fix helps please.

[2017-04-28 12:23] #280 closed

[2017-04-28 12:28] strayobject commented on #280
Yes this works :) Thank you.

[2017-04-28 12:44] kalessil commented on #280
Super, and thank you for reporting!

[2017-04-28 12:46] michabbb opened #290 "Howto fix unknown type inside foreach with phpdoc ?"
hi,

i have this foreach:

[code]

what is the correct phpdoc i have to insert so that `$data['.....']` gets recognized as array ?
many thanks.

[2017-04-28 13:23] rentalhost commented on #289
It happen because the same expression is tested twice without check if involved variables are writed.

To fix I guess that the code between the _start of scope_ (_if then_, on this case) and the _expression_ should never write on a variable used on expression.

By other side, will be hard check conditions like that:

[code]

In all case, despite being an _ugly hack_, is store the expression to a v

[2017-04-28 13:27] rentalhost commented on #290
You have two ways to do that.

**First: check if key is an array.**

[code]

**Second: store into a variable, then phpdoc it as an array.**

[code]

Currently phpdoc has no support to determine each array key typehint. But I suggests you to check if you can replace this array by an object. Then you can do that.

[code]

[2017-04-28 13:29] michabbb commented on #290
@rentalhost many thanks !! 👍

[2017-04-28 13:29] #290 closed

[2017-04-28 13:30] adelf commented on #289
Second problem hits can be reduced with some white-list for functions like mt_rand, array_rand, etc.

[2017-04-28 14:23] rentalhost commented on #289
Not really. Is rare you use `mt_rand()` on conditionals like that (twice).

But you can want to do something like that:

[code]

[2017-04-28 16:15] kalessil commented on #290
/* @var array[] $data */ or /* @var string[][] $data */ will do the treak - you can specify any level if types are consistent.

[2017-04-28 16:21] rentalhost commented on #290
The problem with that solution is that all array values will be treated like an array. Then a case like:

[code]

Then `$arr['years']` will be treated as an array too. It could be valid if on context you uses only `$arr['phones']`, but on a general context, it doesn't works well. BUT, is a solution too.

[2017-04-28 16:23] michabbb commented on #290
@kalessil no, none of your recommendations is working for me, latest phpstorm (2017.1.3) and php inspections (EA Extended) version 2.3.6

![ausschnitt_ohne_titel_042817_061952_pm](https://cloud.githubusercontent.com/assets/3524595/25537570/4737cf26-2c3f-11e7-9b11-5f5df2e8a255.jpg)

[2017-04-28 16:30] kalessil commented on #290
Interesting, will this code fragment inside a test function work?

[code]
![image](https://cloud.githubusercontent.com/assets/1577185/25537854/8398fa0c-2c40-11e7-8762-b579c369827e.png)

[2017-04-28 16:33] michabbb commented on #290
@kalessil interesting ;)

heres a line of my code, i didn´t show:

`if (array_key_exists('attachmentspaths', $data) && $data['attachmentspaths']) {`

and if i put your phpdoc above that line, then my code is marked as "okay".
i have put your phpdoc _after_ the `if` and then i still get the error....

[2017-04-28 16:46] kalessil commented on #290
Ideally, it should be something like this (mostreliable way):

[code]

@rentalhost : yes, your also correct - my approach is for plain arrays.

[2017-04-28 16:49] kalessil commented on #279
@funivan : can this be a feature request for your plugin?

[2017-04-28 17:05] rentalhost commented on #279
And also tell us what is the name of your plugin. I do not think I know it.

[2017-04-28 17:08] kalessil commented on #279
https://plugins.jetbrains.com/plugin/9178-refactoring

[2017-04-28 21:57] davidmpaz commented on #285
@kalessil Could you create a branch in repo called: `gh-pages`?

The branch name is just a convention since most people use that for github pages. You can named like you want. Later on in settings when activating pages you need to say which branch will be used for such purpose. Just let me know against which branch should I make the pull request.

[2017-04-29 06:25] funivan commented on #279
@kalessil yes, it can be implemented in 'refactoring' plugin. This can be a good place to intentions ;)

[2017-04-29 08:39] kalessil commented on #279
Good, the it's yours now =)

[2017-04-29 08:39] #279 closed

[2017-04-29 11:57] Fleshgrinder commented on #282
Reusing that info is the best way, absolutely. It would also ensure that the plug-in is always up-to-date with the latest PhpStorm info on these things, and people can contribute to a single code base to extend it.

[2017-04-29 12:00] Fleshgrinder commented on #288
Just want to express publicly, but go ahead: _why Yoda as default!?! Why?!? 😢 _

[2017-04-29 12:11] Fleshgrinder commented on #289
I think that this is not a false positive, on the contrary, it seems as if these things violate the single responsibility principle (first example), or employ the inappropriate intimacy smell (last example).

Does anyone have a real world example for this? I cannot see where I would run into such an issue, and the examples given here are to artificial and constructed.

[2017-04-29 12:14] Fleshgrinder commented on #16
I think that this could be a good sniff in general for getters. Multiple calls to getters are always prone to the problem that there is no guarantee that the same value is returned. Regardless of whether the call is static or dynamic. However, the consuming code usually assumes that exactly that is the case.

This sniff could be simplified to simply report multiple getter calls within a given rout

[2017-04-29 15:50] rentalhost commented on #288
It make a bit sense on PHP at least, but I too prefer regular style as default. But @kalessil thinks better Yoda. In all way, as it is not disabled by default (previously too, but not explicity) then on enable you have the oportunity to select you prefered style.

[2017-04-29 15:52] rentalhost commented on #289
I have some real examples, but I am not follow totally the SRP. Then, not is valid too. haha

[2017-04-29 21:37] adelf commented on #289
It was a real example from my code. But, I refactored it and it become something like that:
[code]
But, anyway, I'm not 100% sure that first version was an example of bad code. It's a usual business logic code, when app has main and additional ways to get data. It's not a SRP violation. So, even if this behaviour won't be changed, "Try to refactor this" hint should be added. It's not 100% bad code

[2017-04-29 22:32] rentalhost commented on #289
Don't is needly a question of good or bad code, but how to implements
something like that, without discard good cases that works currently.

[2017-04-30 09:13] Fleshgrinder commented on #289
I also wouldn’t categorize it as bad code, the multiple return example of yours is something that other people would consider non-optimal compared to the initial example.

I on the other hand would argue that your examples are not generic enough. The question I am asking myself is, why are the sources not throwing exceptions if the decorator does? The whole things looks very much like the reposito

[2017-05-01 04:17] quantumpacket opened #293 "Detect Magic Numbers"
Could we have support to detect magic numbers? Right now, I'm using this https://github.com/povils/phpmnd to scan my code, but it would be great if this was part of the plugin. the default JS plugin for PHPstorm has support for it already, but there is currently none for PHP.

I'd also mark `0` and `1` as non-magic in a default editable list, which we can add/remove numbers that should be excluded

[2017-05-01 12:16] rentalhost commented on #293
I like this. We should only wait if it could be part of plugin (I guess so), and too if we can do the same for things like booleans, strings, floats (do it make sense?). ping @kalessil

[2017-05-01 13:32] rentalhost opened #294 "Disallow protected on final classes"
I guess that it doesn't makes sense if you are not overring protected properties or methods.

[code]

It should warning "_$property could be private_".

[2017-05-01 16:11] rentalhost commented on #11
I guess that this inspection should consider the general public. Fallbacks cases should not be reported. Don't you think?

[2017-05-01 21:00] kalessil commented on #293
@rentalhost: magic numbers (ints, floats) are in the scope.

[2017-05-02 06:28] kalessil commented on #288
I think that since the inspection is deactivated by default, making Yoda the default one will not hurt.

Yoda is harder to read and write, so people forced to pay more attention - unfair, but more attention ~ less bugs.

[2017-05-02 06:32] kalessil commented on #16
Sure, we are doing complex analysis (like this one) only for function/method scope.

In this case, we can only check sequential calls - should be enough to attract an attention to the routine.

[2017-05-02 10:00] kalessil commented on #294
Nice finding, picking it up.

[2017-05-02 13:35] kalessil opened #295 "DeprecatedIniOptionsInspection: make php version aware..."

[2017-05-02 14:33] rentalhost opened #296 "Change release strategy II"
Following #284.

Currently, the releases are made without a _standard strategy_, being made out at any time. So maybe we can think in a way that there is a more reasonable pattern. This will allow delivery and real world testing cases (_of users_) on top of the latest news.

As _semver_ currently is infeasible "_as is_", then we could thinks about a new release strategy, without worrying about two

[2017-05-02 18:22] Fleshgrinder commented on #288
I am currently working on an `Equalable` interface for PHP with operator overloading. People who write Yoda conditions would need to change the way they write code, because such an implementation always calls on the LHS and not RHS. However, let’s see if it makes it into core. Operator overloading is not something internals like.

[2017-05-02 18:35] rentalhost commented on #288
Initially this inspection was "enabled by default", but "disabled by options". It because none option as "yoda" or "regular" was checked by default (then the inspection is just ignored). What happen now is that the inspection was "disabled by default" and the "yoda" is default when you enable it (it should keep your last settings if you yet have this enabled).

[2017-05-02 19:12] Fleshgrinder commented on #288
Guys, all fine, my comment was really just a public outburst of disgust, keep it.

It’s just that this extension gains more and more traction and any and every default setting you choose, or recommendation you make, has an impact. An impact that is only going to increase if more people start using it. 😉

[2017-05-02 19:15] rentalhost commented on #288
@kalessil Can we consider that? I still prefer regular style instead of Yoda - although in PHP it makes sense, it's kind of weird for me.

[2017-05-02 20:45] rentalhost opened #297 "False-positive: @covers referencing to a non-existing entity"
While it works fine in general cases (eg. `@covers MyClass::method`), it give a false-positive when you try to cover an entire class, for instance `@covers MyClass`. According to [**phpunit doc**](https://phpunit.de/manual/current/en/appendixes.annotations.html#appendixes.annotations.covers), it should be valid.

We should take care about another all supported cases on this fix:

* [x] **ClassName

[2017-05-02 20:52] Fleshgrinder commented on #297
Id suggest to give the last one a high priority (`@coversDefaultClass`).

[2017-05-03 04:27] funivan commented on #296
Milestones works fine. We know in what version bug was fixed. And we can see if this version is under development.

[2017-05-03 04:36] rentalhost commented on #296
It could be replaced by tags, or not? And we have the freedom to choice exactly what you wants to work without assign nothing directly.

[2017-05-03 04:39] funivan commented on #296
I think not. With milestones we track progress in easy way.
And you can work on any issue (without WIP tag) ;)

[2017-05-03 07:40] kalessil commented on #285
@davidmpaz : done

[2017-05-03 07:42] kalessil commented on #285
@davidmpaz : what do we need to do next here?

[2017-05-03 07:47] kalessil commented on #296
For release strategy change we need a constant pool of resources to be available - that's not a case.
Max what I can do is to ping @rentalhost and @funivan for feedback on milestone and version to be given, though I have to change milestones naming to not mix up with versions and milestones.

[2017-05-03 07:49] kalessil commented on #288
@rentalhost , taking into account that warnings from @Fleshgrinder materialized several times already, please make the regular one enabled by default...

[2017-05-03 09:15] funivan commented on #296
@kalessil you can just ping me if new binary is available =)

[2017-05-03 09:59] kalessil commented on #296
@funivan : ping =), bug-fixes and QFes are bundled since NCO inspection was added.

[2017-05-03 10:02] funivan commented on #296
@kalessil fresh version installed. Wait for feedback ;)

[2017-05-03 21:42] davidmpaz commented on #285
Closed since we have already github pages :) at https://kalessil.github.io/phpinspectionsea/

[2017-05-03 21:42] #285 closed

[2017-05-04 10:44] kalessil opened #299 "is_callable "wrongly" reports true"
[code]

More details: https://gist.github.com/Danack/59f8104ef2aaaa9b2256
See also: https://3v4l.org/4hYYC

[2017-05-05 07:47] #299 closed

[2017-05-06 06:15] rentalhost opened #300 "Code style: fix modifiers ordering"
Tells that `static` should be always on start of a method then the visiblity, or the reverse. For instance:

[code]

I think that we should have an option list (read-only) to specify what is the prefered order between: abstract, static and visibility (public, private and protected).

[2017-05-06 08:33] Fleshgrinder commented on #300
The default PhpStorm is shipped with is `public static function` (or just type `pubsf` and hit tab). Hence, this should be default here, anything else would severely harm productivity, and require people to create new shortcuts.

[2017-05-06 17:04] rentalhost commented on #300
It is not a problem... We can consider that as default ordering.

[2017-05-08 10:58] dpauli opened #301 "isset can not exchanged by !== everytime"
There is an annoying hint on `if` clauses:

[code]

The suggestion is to use

[code]

This throws a notice, if `$var` is never set.

[2017-05-08 11:06] kalessil commented on #301
Thank you for reporting @dpauli, this can be disabled (a check box bottom-right):
![image](https://cloud.githubusercontent.com/assets/1577185/25801664/e28d4986-33ee-11e7-9ca2-0d64a7314da6.png)

But it's can be a false-positive as well. Can you provide more info (ideally OSS link or complete template/function/method)?

[2017-05-09 01:21] voku opened #302 "security-feature: search for insecure usage of $_SERVER"
"That sounds really convenient, but there is a problem. The $_SERVER['HTTP_HOST'] and $_SERVER['SERVER_NAME'] variables can be changed by sending a different Host header when accessing the site" - https://expressionengine.com/blog/http-host-and-server-name-security-issues

[code]

example-exploit: WordPress (03.05.2017)
- http://thehackernews.com/2017/05/hacking-wordpress-blog-admin.html
- https:/

[2017-05-10 16:28] MarcinOrlowski opened #303 "Expressions' type was not recognized on "array" type"
I got this code snippet:

[code]

but line "foreach ($dbs_on_multiple_nodes[ $db_id ] as $node) {" gets underlined with note "Expression type was not recognized, please check type hints":

![shot](https://cloud.githubusercontent.com/assets/8041294/25909739/67a5b1ce-35ae-11e7-8fa4-124e5a844a2a.png)

I believe this is a bug, as type should be pretty clear here.

[2017-05-10 17:40] kalessil commented on #303
Thank you for reporting, @MarcinOrlowski.

There is no information about the array items type declared. For human it's clear for sure, but IDE types resolving has own limitations.

This will do the treak providing needed type informattion.
[code]

[2017-05-10 17:40] #303 closed

[2017-05-10 17:42] kalessil commented on #301
@dpauli : any chance to get code samples for analysis?

[2017-05-10 17:49] kalessil commented on #302
We are taking just about reporting `$_SERVER[HTTP_HOST']` and `$_SERVER['SERVER_NAME']` in any context at all?

PS: I'm not getting why SCRF/Cookies got bypassed. Any details on this?

[2017-05-10 18:15] MarcinOrlowski commented on #303
I formerly reported this as PHPStorm issue as I thought it is their inspection. I am not sure how this all works internally but I somehow expected that you can actually draw such information i.e. from method return types, i.e. `array_filter()` returns `array` so no doubts here.

[2017-05-10 18:41] rentalhost commented on #303
It should be analyzed, but I guess that should be reported to PS team. As `array_key_exists()` should only works on arrays, and `if()` conditional pass, then we could consider that the inner variable is an array too. The same happen for `is_iterable()`, but I yet have reported to PS and seems to be fixed.

[2017-05-10 19:02] MarcinOrlowski commented on #303
I formerly reported this to PHPStorm team ([link](https://youtrack.jetbrains.com/issue/WI-36273)) as I thought it comes from their inspection. They pointed out here so we got kinda endless loop now :)

So to sum up. Sure I can add the PHPDoc block but I think this should not be mandatory in the case I have with this code. Now both my reports (here and PS) are closed which I think should not be the

[2017-05-10 19:18] kalessil commented on #302
It seem to be a case with server configuration: http://stackoverflow.com/a/2297421/1879087

Root cause analysys:
[code]

[code]

[2017-05-10 19:25] rentalhost commented on #303
This inspection is managed by this inspection, but the variable type is from IDE. As the inspection uses this information, then it reports based on what IDE says. I don't know if we can do something over it.

[2017-05-10 19:54] kalessil commented on #303
That's might be confusing but this behavior is correct. And this is not a bug of IDE/plugin.

Let me explain:
- array_filter in stubs returns array type -> no information if it is an array of integers or strings and etc.
- foreach on array element reported because of no detailed information available (mixed type technically) about the element type.

Does it make any sense, or perhaps it's too many

[2017-05-10 20:12] MarcinOrlowski commented on #303
Ah, I now see it :) It seems I assumed that inspection complains about `$db_names_found_on_multiple_nodes` not being an array, while (after I read you comment) I realized it in fact means `$db_id` referenced element of it. Now it's clear why this happens and yes, PHPDoc is the way. Thanks.

[2017-05-10 23:39] rentalhost commented on #303
Maybe we can reconsider somethings... See: the signature of this function is `array_key_exists($key, array $search)`. It mean that the `$search` component MUST be an array. In this case, strictly, because if I pass a non-array PHP will report with type mismatch.

Then what we could do: if inside an `if()` we use some method that "test strictly" (or maybe via phpdoc) a variable, then inside we coul

[2017-05-11 06:20] kalessil commented on #303
That's on-going topic: IMO that's the responsibility of PS types resolver - related tickets in their bug-tracker existing for years already.

[2017-05-11 07:33] MarcinOrlowski commented on #303
@rentalhost I do not think so. While you **can** assume that return value from `array_filter()` is type `array` you unfortunatelly **cannot** do the same with any of the arguments (unless they are produced by function you can "trust" as said `array_filter()`). So `$search` is **expected** to be `array` but you still can pass anything. In short - I think you cannot draw any conclusion about type fr

[2017-05-11 08:00] dpauli commented on #301
Sorry for late response, There is some code where this problem appears:

[code]

In this case I get the following suggestion, see image.

![nullfalsepositive](https://cloud.githubusercontent.com/assets/10072693/25938652/3e7224e0-3630-11e7-8874-7cbe90a7fea0.png)

I cant use this suggestion `null !==` because this variable is never set before.

I have the latest PHPStorm (2017.1.3, because of EAP),

[2017-05-11 15:39] rentalhost commented on #303
Not really. In case of variable type defined on signature, you MUST pass the same type, else you will have a PHP error, and the function [will not be processed](https://3v4l.org/Fsb3h).

[2017-05-11 15:41] rentalhost commented on #301
Seems valid on this context. My suggestion is check if the scope is closed (like function), then `isset($var)` should be not allowed by checking firstly that `$var` doesn't exists. In global scope seems to be a valid call when is not possible check if `$var` exists. If it exists, then it should works with the current implementation.

[2017-05-11 21:39] MarcinOrlowski commented on #303
That's correct, but I meant rather something like this which can easily wreck the whole thing:

[code]

[2017-05-12 01:07] rentalhost commented on #303
In your example you should receives a warning about not anotated type. But on what I mean is only for if().

[2017-05-12 07:50] funivan commented on #301
My use case: for example we have `view` files (aka php, html ). This files can not be recognized by phpstorm like views in twig. They are just plain php files with global scope.
But we can create own scope in phpstorm and change severity of this inspection in the specific scope.
Maybe it will helps someone
**Configure scope**
![10 46 34](https://cloud.githubusercontent.com/assets/425208/25988449/b

[2017-05-12 08:49] voku commented on #302
Yep, it's a server-configuration problem ... but the config is insecure by default (http://httpd.apache.org/docs/2.4/mod/core.html#usecanonicalname). And "$_SERVER[HTTP_HOST']" is insecure by concept.

And maybe a warning about all elements of the $_SERVER array, for whose keys begin with 'HTTP_' which come from HTTP request headers is a good idea?

**Solution**: "hard-code" the domain in the appl

[2017-05-15 12:05] dpauli opened #306 "Duplicated condition warning when its not duplicated"
Hi guys,

I found a little issue today in my the inspector.
[code]

This code is not useful (because only for test purposes). It shows 'This condition is duplicated in another if/elseif branch.` in each `elseif` branch. This is not right here.

[2017-05-15 12:27] rentalhost commented on #306
It'll depends of context. In this context, really make sense do not warn about that, once that we are checking for static types (eg. `=== false`). But for calls, it make sense. For instance:

[code]

In this example, you should store the expression in a variable then check it to avoid double running it (except if it is intentional, but in this case, you should make it clear).

Backing to your cont

[2017-05-15 12:31] dpauli commented on #306
I see the benefit in not calling the function twice. In my case I have static variables and their should not be this warning.

Its not essential important to fix this, I only want to add this information here, so it can be fixed in future to make this tool better. I love this plugin :)

[2017-05-15 14:53] kalessil opened #307 "Forgotten debug statements: relocate all functions into the user space"

[2017-05-15 14:55] kalessil commented on #301
I don't know, I should probably limit the inspection to methods/functions.

[2017-05-15 14:56] Denitz commented on #128
PHP bug  #74188 was fixed in PHP 7.0.19 and 7.1.5:
http://www.php.net/ChangeLog-7.php

Now null coalescing operator works for undeclared static properties.

[2017-05-15 14:58] kalessil commented on #302
I added a milestone, but requirements engineering not yet done.

@voku : I'll answer after RE, we should be able to offer solutions - otherwise just complaining makes no sense.

[2017-05-16 04:29] kalessil commented on #128
Thank you for an update @Denitz, reverting the patch from this ticket.

[2017-05-16 07:02] Denitz commented on #128
Actually it should not be reverted but still active if PHP version is 7.0.0-7.0.18 or 7.1.0-7.1.4.

Probably it's possible to use version from 'Project Configuration > CLI Interpreter'.

[2017-05-16 08:37] Alexgmin commented on #289
Even the [basic FizzBuzz](https://gist.github.com/rbl00/850432) gets a warning.
[code]

[2017-05-16 11:10] kalessil commented on #289
Patterns from @adelf and @Alexgmin have been reported multiple times, and I declining them all the time: it obviously code needs refactoring.

Case 1: candidate for yielding/iterator over sources.
Case 2: has maintainability and extensibility issue, I'd do something like this (perhaps something better, but limited in time):

[code]

[2017-05-16 11:10] #289 closed

[2017-05-16 11:16] kalessil commented on #128
Hm, since this fixed IMO we can start reporting this again (we are relying on the language level, not interpreter).
Does e.g. your team plan to migrate to the new version withing 1 month?

[2017-05-16 12:44] Denitz commented on #128
Hm... but PhpStorm has simple language levels like 7 and 7.1, hence we can't really check the exact version... Probably it's easier to remove this inspection and assume that the bug is fixed.

[2017-05-16 12:49] kalessil commented on #128
Yes. Also an option to wait let say 3 months and start suggesting NCO for static fields later.

[2017-05-16 15:29] #277 closed

[2017-05-16 19:11] Debeet opened #309 "Callables in 'for' loop termination condition - Quick Fix?"
Would it be possible to provide a Quick Fix for this scenario?

`for ($i = 0; $i < count($values); $i++)`
=>
`for ($i = 0, $iMax = count($values); $i < $iMax; $i++)`

[2017-05-16 20:21] #307 closed

[2017-05-16 20:26] kalessil commented on #296
Getting back to this: what shall be the next release (see estimate scope for 2.3.8 milestone)?

[2017-05-17 03:21] rentalhost commented on #296
@kalessil The last release (2.3.7) was two days ago (sunday 2017-M05-14). If we consider 15 days cycle, the next release should be on 1st (to round up, then next-next release should be 15th) or then 28th (then next-next release should be 11th).

BTW, I will try do some work on milestone too this weekend.

[2017-05-17 06:18] kalessil commented on #296
It's rather 4 weeks =) I was asking about the version in regards to semantic versioning.

No worries, I'd prefer you to focus on open PRs - I need them merged until codebase is not moved forward too much.

[2017-05-17 07:13] kalessil commented on #301
Variables in the global context are not checked anymore.

[2017-05-17 07:13] #301 closed

[2017-05-17 07:24] b1rdex opened #310 "False-positive: method can be dropped as it only calls parent's one"
[code]

`C::foo` is marked as can be dropped. No, it can't, because `B::foo` doesn't have `bool` signature and will break interface constraints.

This looks like bad design, but in my case `B` is framework code but `A` and `C` is app code, so I can't make `B implements A`.

[2017-05-17 07:30] kalessil commented on #310
Then we have to re-check returned type hints now =)

[2017-05-17 08:09] davidmpaz opened #311 "Checking for null is not needed"
Is this or similar checked already?

[code]
then somewhere else in code:
[code]
For whatever reason we came into this situation a refactor is obviously needed.

[2017-05-17 12:34] rentalhost commented on #288
PR

[2017-05-17 12:34] #288 closed

[2017-05-17 13:15] rentalhost commented on #309
There are some problem to I work on it?
(In fact I did not see your assignee, and I'm already working on it.)

[2017-05-17 13:23] kalessil commented on #309
Nope, you can grab it =)

[2017-05-17 13:27] rentalhost commented on #309
Great!

Can you explain in which case the [`messageExternal`](https://github.com/kalessil/phpinspectionsea/blob/fb95f2fe4fb713e3fa66233547d7aef1df48f529/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/CallableInLoopTerminationConditionInspector.java#L42) is registered for? I mean, a real code to I test it. I am developing the UTs and QFs, and too the CC (this is

[2017-05-17 13:52] kalessil commented on #309
It's used when inspection fires on the incomplete statement (during typing in), this probably can be dropped as inspections are fired only on finished statements.

But it worth double-checking against my code if it's the same case.

[2017-05-17 14:12] rentalhost commented on #309
I have done a lot of checks, and I don't found a case where it could be possible, then I dropped it for now. It seems be some [old code](https://github.com/ovr/phpinspectionsea-mirror/blob/master/src/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/CallableInLoopTerminationConditionInspector.java).

[2017-05-18 06:53] kalessil commented on #311
So we are more and more reaching java SCA level =)

[2017-05-18 07:30] kalessil opened #315 "Too many argument: do not handle UTs context (due to data providers and etc.)"

[2017-05-18 07:39] kalessil opened #316 "Too many arguments: re-check if ignore constructors option working and enabled by default"

[2017-05-18 08:42] kalessil opened #317 "Singleton/Util/[Factory?] checks should die"

[2017-05-18 08:44] funivan commented on #317
Can you explain why?

[2017-05-18 08:47] Ocramius commented on #317
* `Util` means nothing
 * `Singleton` is basically "how to shoot yourself in the foot 101 (only few rare examples of valid singletons exist, such as an event loop, for example)
 * `Factory` - disagree on this one - unless you want to make everything framework-magic-based, factories are the sanest way to wire together an application (boot-time)

[2017-05-18 09:04] afoeder commented on #317
@funivan , to elaborate on Util; better approach is to just simply have a class/an object of everything what your Utility class would provide.

`makeUrlSsl`? --> `(string) (new Uri('http://example.org'))->withScheme('https')`.
`slugString()`? --> `(string) (new Slug('Some arbiträry example'))`

Try it, after a bit of training it's dead simple and you'll love it. Testable as hell!

[2017-05-18 09:09] Ocramius commented on #317
Indeed - most `util` class methods can be reduced to single invokable classes. The `util`-class approach typically leads to a single very cluttered god object

[2017-05-18 09:15] funivan commented on #317
Thanks. I just misunderstood the title of issue.
Agree at all. Util, Singleton and Factory should be removed from our code.
My IMHO about factory:
`User::createFromRawData($data)`
`User::createFromRawFile($data)`
`User::createFromRepository($id, $repository)`

Maybe this will be better approach then:
[code]

[2017-05-18 09:17] #73 closed

[2017-05-18 09:18] Ocramius commented on #317
Still unclear about the factory one: anyone got examples? My typical factory is like:

[code]

[2017-05-18 09:20] funivan commented on #317
@Ocramius if you can change `Connection` class, then :
[code]

[2017-05-18 09:21] afoeder commented on #317
@Ocramius : y u no
`new ApplicationDbConnection($pdoGarbageParameters)`
while ApplicationDbConnection implements Connection(Interface) and maybe conducts the actual connection on instantiation already.

[2017-05-18 09:28] Ocramius commented on #317
Absolutely not - that would introduce a lot of glue code in my service, including type hints against framework-specific details (if I'm getting any information from other infrastructure layers)

Same as above - now my procedural code landed in a class, and I mixed procedural and OO code.

To be clear: factories *ARE* procedural code, and there's no way around it. The typical scenario is:

 * 1. re

[2017-05-18 09:39] funivan commented on #317
@Ocramius How about ConnectionParametersInterface. ?
Then you can have procedural code in `GarbageParamerers` instead of Factory.

[2017-05-18 09:42] Ocramius commented on #317
@funivan that just hides the procedural code even more by adding layers of indirection that make it even more confusing to use: you still have to take decisions on what/how to instantiate something at some point.

[2017-05-18 09:55] funivan commented on #317
@Ocramius I get your point. Word "factoy" can be indicator of some hacks (in some cases)
But, maybe it would be nice to include this in the inspection. For example if we can implement logic in the class `Connection::__construct` and this logic is pretty clear, nice and not procedural.
We will double check our factory. If we really want this class, we can suppress inspection. But in other ways, we

[2017-05-18 09:59] Ocramius commented on #317
That makes it absolutely terrible to test your `Connection::__construct()` afterwards, and instantiating your object may cause side effects.

Rejecting values in `__construct` can be OK, but messing around with them is a bad smell.

I implement loads of factories to support my DIC, for example - [ZF even has a simple interface for it](https://github.com/zendframework/zend-servicemanager/blob/fc81d

[2017-05-18 11:26] davidmpaz commented on #317
+1 for:

At some point you need/want to get procedural. Nothing wrong with that. Factories can help to find the balance between procedural and OO at that time.

[2017-05-18 18:08] kalessil commented on #316
Added UTs for constructors - option enabled by default and works.

[2017-05-18 18:08] #316 closed

[2017-05-18 18:42] #315 closed

[2017-05-18 19:05] kalessil commented on #310
Fixed, a fresh binary pushed as well.

[2017-05-18 19:05] #310 closed

[2017-05-19 05:07] funivan commented on #310
@kalessil I will check)

[2017-05-19 05:10] kalessil commented on #310
@funivan : since we have travis, we could probably start building nignhly versions of the plugin.

[2017-05-19 05:21] funivan commented on #310
@kalessil it would be great. And provide repository for the nightly builds. If you remember I provided a link to the "Upsource EAP plugin".

[2017-05-19 11:06] jaimz22 opened #319 "Multiplying by 24. False positive."
It seems to me that any time I find myself multiplying by 24, the plugin believes that I'm doing date/time math when I'm not.

This triggers a red error line to be drawn under my equation when in fact there is nothing wrong at all.

[2017-05-19 11:10] kalessil commented on #319
Thank you for reporting @jaimz22 , but unfortunately we can not provide any fix for this (was already reported and investigated).

The suggested solution is to use a constant/local variable but not a hardcoded `24` in the reported code fragment.

[2017-05-19 11:13] jaimz22 commented on #319
Ok, thanks. I searched the issues prior to reporting it but didn't find anything.

also, thanks for this plugin, it's the best!

[2017-05-19 11:29] kalessil commented on #319
Right, the old issues in the old bug tracker at bit-bucket: https://bitbucket.org/kalessil/phpinspectionsea/issues/257/false-consider-using-datetime-for-dst-safe

You are welcome =) If you find new issues, please report - I'm trying to fix false-positives with high prio normally.

[2017-05-19 14:46] funivan commented on #319
@jaimz22 can you provide some samples
In cases like:
`$lang_col_width   = ( $lang_count - 1 ) * 24 . "px"; ` we can check concatenation with string

[2017-05-19 16:27] kalessil commented on #319
@funivan: `$dateTimeInput = ($hours / 24) . ' days'` - cconcatenation is not reliable enough to judge the usage context, but @jaimz22 : +1 from me for sharing the code sample - perphaps we can learn accidentally find a way to fix the case.

[2017-05-19 16:56] jaimz22 commented on #319
I was using this when I decided to put in the issue:

`time()+(180*24*60*60)`

I've had other instances where I was trying to figure out the size of something and I was just simply multiplying by 24

[2017-05-19 17:24] rentalhost commented on #319
@jaimz22 Seems that you are reality working with datetime. Maybe you can refactoring that to use `\DateTime`.

[2017-05-19 17:36] jaimz22 commented on #319
@rentalhost in this case. kind of... I mean I was setting a cookie ttl.

in other cases I wasn't

[2017-05-19 19:35] kalessil commented on #319
@jaimz22

That's a great bet! 24 in a combination of 3600/60 is the criteria to reduce the number of false-positives.

[2017-05-19 20:39] kalessil commented on #319
Fixed, the fix is coming with the next release - ETA mid of June

[2017-05-19 20:39] #319 closed

[2017-05-19 20:58] rentalhost commented on #294
Fixed on #314, waiting for merging.

[2017-05-19 20:59] #294 closed

[2017-05-19 20:59] rentalhost commented on #221
Removing the milestone. Too complex for now. I will back to working on it next month.

[2017-05-20 01:31] rentalhost commented on #256
Closing: is better avoid duplicates. We should prioritize the php typehint declaration.

[2017-05-20 01:31] #256 closed

[2017-05-20 05:11] rentalhost commented on #255
Closing: fixed on #320

The import process is not required once that we can use the environment intention programatically (as "Import class" and "Simplify FQN").

[2017-05-20 05:11] #255 closed

[2017-05-20 08:00] kalessil commented on #256
Good decision on closing this, thank you.

[2017-05-20 09:16] rentalhost commented on #300
Closing: fixed on #321

[2017-05-20 09:16] #300 closed

[2017-05-20 20:11] #31 closed

[2017-05-22 00:57] rentalhost commented on #296
Closing: no more to discuss.

[2017-05-22 00:57] #296 closed

[2017-05-22 01:18] rentalhost opened #322 "Code reordering: split phpunit inspection in different inspections"
I am reading the phpunit inspection code (at `PhpUnitTestsInspector`) and it seems be very confuse.

Can we think about split it in different inspections and files? For instance, maybe I like to disable a specific inspection. Currently I should disable all them (with a unique exception case for the `assert::same`).

Seems too much responsability to a single inspection.

[2017-05-22 01:20] rentalhost commented on #309
Closing: fixed on #313.

[2017-05-22 01:20] #309 closed

[2017-05-22 01:22] rentalhost commented on #306
@kalessil How you should fix that? Allowing comparison with static types, maybe?

[2017-05-22 02:25] rentalhost commented on #293
I am working on that, but for now, I do not understand why `return 0` should not be warned, while `return $allNumberExceptZeroOrOne` should be.

[2017-05-22 04:21] kalessil commented on #306
Working on this, the idea is to allow variable comparison to bool

[2017-05-22 06:25] rentalhost commented on #306
And for another scalar types? For instance: `$count === 1`.

[2017-05-22 06:41] kalessil commented on #306
Out of the scope ATM

[2017-05-22 07:47] kalessil commented on #322
Will happen, but not this year please. Safe for splitting if-strategies.

[2017-05-22 08:35] rentalhost commented on #293
Closing: PR #323

[2017-05-22 08:35] #293 closed

[2017-05-22 08:44] rentalhost commented on #322
No problem, I am focusing on milestone and last opened issues that seems to be useful for now. Code reordering and refactoring should be done sloooowly.

[2017-05-22 12:08] kalessil commented on #322
^_^, correct =)

[2017-05-22 16:21] nCrazed opened #324 "PropertyCanBeStaticInspection should suggest class constants"
As far as I can tell you can only have the following scenarios:

 1. Property is modified - the inspection is not relevant because static is not viable.
 2. Property is modified statically - the inspection not relevant because the the property is already static
 3. Property is should never be modified - it's a constant and is better represented as class constant.
 4. Property is upon for modificat

[2017-05-22 16:21] nCrazed commented on #324
@koopzington

[2017-05-22 17:45] #306 closed

[2017-05-22 19:35] kalessil opened #325 "Nightly builds"
1. https://docs.travis-ci.com/user/cron-jobs/
2. git log --pretty=oneline --since="yesterday"
3. https://intellij-support.jetbrains.com/hc/en-us/community/posts/206102069-API-for-publishing-plugin

[code]

[2017-05-22 20:47] rentalhost opened #326 "Strong-typed language"
Okay, a bit pretentious, but PHP is a weak-typed language that could be treated lika strong-typed language, if user desire, by in some aspects ([differences here](https://en.wikipedia.org/wiki/Strong_and_weak_typing)).

Because of some limitations of PHP, as not support to override, my idea is create an inspection (_disabled by default, of course_) that will requires strong-typed arguments on func

[2017-05-22 22:43] Debeet commented on #309
Thank you! 👍

[2017-05-22 23:22] Fleshgrinder commented on #326
The guys from [psalm](https://github.com/vimeo/psalm) are working on a static analysis tool that imposes similar rules. The idea is more than great, and I’d probably even activate this by default. However, be prepared for many, many, many edge cases. PHP has a really good type checker, better than the one from Java thanks to no support for null references, but the type system is kind of deranged,

[2017-05-22 23:36] rentalhost commented on #326
About properties, it should be done by another inspection (#254). I should work on that on next time.

[2017-05-22 23:50] rentalhost commented on #239
Closing: PR #249

[2017-05-22 23:50] #239 closed

[2017-05-22 23:57] rentalhost commented on #235
Notes:
* `BinaryExpression` with left operand as unary expression negative not enclosed by parentheses;
* Double check for instanceof operator (eg. `!$number instanceof X`).

[2017-05-23 08:05] b1rdex opened #327 "Return conditions simplifacition has bug"
[code]

This is simplified as `return !$job` — missing `or` part.

[2017-05-23 08:06] b1rdex commented on #327
Simplification works as expected if I replace `!$job` with `$job === null`.

[2017-05-23 11:26] rentalhost commented on #327
Confirmed. It should be fixed on next release. (it's your @kalessil)

[2017-05-23 11:31] rentalhost commented on #324
It's hard to identify, once that PHP can hide some properties from analysis (eg. if I read via [`ReflectionProperty`](https://3v4l.org/#preview)). But I think that it is valid once that it should not happen in a good code case.

[2017-05-23 11:34] rentalhost commented on #311
I guess that it is related to #221, can you confirm?

[2017-05-23 11:36] #275 closed

[2017-05-23 11:41] rentalhost commented on #224
I guess that we should think about a reversed-way too as option. I personally prefer to use the long term (`<?php echo`) instead of short term (`<?=`).

[2017-05-23 11:58] rentalhost opened #328 "Milestone setup"
Well, I am doing some work on milestones. I have created three last time and I am creating this topic to explain why I do that:

**Milestones:**

* [**Internal:**](https://github.com/kalessil/phpinspectionsea/milestone/14)
Are issues that solves some internal thing. Different of label `internal`, it mean that we have something to be fixed internally needly, while the label is just an internal disc

[2017-05-23 14:28] kalessil commented on #327
On it =)

[2017-05-23 15:07] CZechBoY opened #329 "FP: Foreach variable with referenced and then unsetted variable still existing"
[code]

[2017-05-23 15:30] rentalhost commented on #329
While I think that it should be fixed, I too think that this code should be refactored.

[2017-05-23 15:30] #327 closed

[2017-05-23 17:55] rieschl commented on #138
Sorry for posting in a closed issue but I think it's worth mentioning that PHP will throw a Fatal error (`ArgumentCountError`) if the `foreach` loop isn't executed at least once:

something like
[code]
could be inserted

[2017-05-23 18:08] kalessil commented on #138
No problems, it's pretty handy actually as the context already here - I'll update the docs.
[code]

[2017-05-23 18:28] CZechBoY commented on #329
I can rename the variable in the second foreach of course. Or you mean something different?

[2017-05-23 19:46] rentalhost commented on #329
Yes, rename is an option. But anyway it should be valid, because the unset() should "clear" the "used variable" status.

[2017-05-23 20:07] kalessil commented on #138
@rieschl : I updated the documentation, thanks for reporting =)

[2017-05-24 02:38] b1rdex commented on #326
Take a look at https://github.com/phpstan/phpstan

[2017-05-24 04:19] kalessil commented on #326
@rentalhost, this one going to be challenging, mostly of because of JB types influence. We have partially support for the topic, check them if you need some ideas:
- Callable parameter usage violates definition
- Null pointer exceptions prevention
- Parameter could be declared as array
- Return type hint can be used

[2017-05-24 14:09] rentalhost commented on #329
Moving to 3.0.+ because we need do some refactoring on this file and UTs to make sure do not break nothing (ping @kalessil).

[2017-05-24 16:46] kalessil commented on #329
Sorry, but I promised to keep fixing bugs as prio 1 =)

[2017-05-24 17:04] kalessil commented on #328
Milestones looking good, IMO also transparent about prios.

[2017-05-24 18:01] rentalhost commented on #329
No problem. I just worry about there is no UTs for this inspection currently. I tried to work on it but I was worried about breaking something haha

[2017-05-24 18:04] kalessil commented on #329
I'll take care about

[2017-05-24 20:19] kalessil opened #331 "NPEs: chain calls pattern"

[2017-05-24 20:53] rentalhost opened #332 "Suggests remove the typehint if is declared on language"
Following #256, but at reserve...

Currently we can dupe the typehint definition on `@return`. I suggests that, if typehint is declared on language, then it should be deleted from docblock.

[code]

I like to be possible too for `@param`, but I guess that we can't do that because it will conflicts with the param description (eg. `@param $param It is my param`, the word "It" is confused by the `It`

[2017-05-25 05:10] #331 closed

[2017-05-25 13:11] Stevehans commented on #332
@return can have a description, surely just verify that the code hint and @return types match?

[2017-05-25 13:19] rentalhost commented on #332
@Stevehans ahh... then maybe we can verify if we have a description in both cases (`@param` and `@return`). If we haven't, then we can omit that, else, we should match types. What do you think?

[2017-05-25 13:21] rentalhost commented on #332
In fact, I believe that the parameters should be sufficient to describe their meanings. In more complex cases, the description of the method should do so. So, the description of parameters and return end up becoming redundant, which is important to be removed from the code to avoid double maintenance.

[2017-05-25 13:32] Fleshgrinder commented on #332
It is possible to omit all these things already with existing PhpDoc parsers.

[code]

One added nice thing about writing documentation like this is that the fight over alignment of the description is gone. Drupal does its documentation everywhere like this.

[2017-05-25 19:46] rentalhost opened #333 "Property: can be dropped if is equals to parent declaration"
It should detect if the property have the same value that the parent declaration.

[code]

Note that `ChildClass` declares `$casts` with the same value from `ParentClass`, then `$casts` could by dropped without side-effects.

To consider:

* Traits properties should be considered;
* If property visiblity is changed, then it is acceptable;

[2017-05-25 19:54] rentalhost commented on #333
At this trail, there are some API that I can found the parent declaration from a method or property? I mean something like that:

[code]

Then I could uses like:

[code]

It should be very helpful in cases like that.

(ping @kalessil for that comment)

[2017-05-25 20:36] rentalhost opened #334 "Code style: on create dochint, put null on end"
When you accept the QF for "Generate PHPDoc comment" for a reference class like `?string` it generate the code like `@return null|string`. Should be a problem we reverse it to be `string|null`? Here, `string` is the prioritary type, while null generally are for exceptional cases.

[2017-05-25 20:37] rentalhost commented on #334
Forget... it is a case for PS team.

[2017-05-25 20:37] #334 closed

[2017-05-26 07:31] kalessil commented on #333
Don't we have an inspection complaining about properties override?

[2017-05-26 10:15] rentalhost commented on #333
I don't know. I feel that yes, but I can't found (at least by searching for "property" on inspections).

[2017-05-26 10:43] funivan commented on #333
@rentalhost try to search `field`
https://github.com/kalessil/phpinspectionsea/blob/master/docs/architecture.md#class-overrides-a-field-of-a-parent-class

[2017-05-26 11:34] rentalhost commented on #333
Okay, it does de job, except by two things:

**1. It will check if you are overring property:** and the objective is check only if values are the same, or then warn it only if the parent declaration is not falsy (we should ignores boolean here, because it is just a two state value, then both `true`/`false `can be modified to `false`/`true`, respectively).

[code]

It is useful because when we are

[2017-05-26 12:09] kalessil commented on #333
Traits support makes sense, I think in the existing inspection.
And regarding defaults: this probably should o in field initialization flaws inspection.

And to plan: I'll ping I'd like to do it by myself - I have some notes in my off-line list for the both inspections.

[2017-05-26 12:10] kalessil commented on #333
Picking up for 2.3.8 - will be easier to keep the focus on other complex tasks afterward.

[2017-05-26 18:57] rentalhost opened #335 "Normalize aliases imports"
I will starts with an example. Laravel have two classes called `Builder`, in differents namespaces, of course. Is common you use both on same class, then you should import both, aliasing one of them.

The problem is that you usually import one, then other, and possibly in different order. Then for instance, sometimes I import `Query\Builder` first, then `Eloquent\Builder` next, then I aliases it t

[2017-05-26 20:49] rentalhost opened #336 "$unused++ is not detected"
The "unused variable" inspection consider `$unused++` inside a `for()` as used, even if it never is really used.

[code]

[2017-05-27 19:16] kalessil commented on #333
Status update:
- traits support in field overrides/inti flaws there
- init flaws now reports duplicate overrides of any type

And regarding the laravel specific: it makes sense to make a FR to the @Haehnchen here: https://github.com/Haehnchen/idea-php-laravel-plugin

PS: @rentalhost, I pushed a fresh binary, you can grab the mentioned chnages from master

[2017-05-27 19:16] #333 closed

[2017-05-27 20:14] kalessil commented on #336
Fixed, new binary pushed

[2017-05-27 20:14] #336 closed

[2017-05-27 20:24] kalessil commented on #336
Known false-positive: `return ++$whatever`, will fix it tomorrow

[2017-05-27 20:33] kalessil commented on #336
Fixed =)

[2017-05-29 08:50] b1rdex opened #338 "Is it false-positive?"
[code]

Sorry I can't extract minimal reproducible example. I tried to replay this defining function and class and interface, but problem gone. May be problem appears only with `@property` annotation or classes.

[2017-05-29 09:03] kalessil commented on #338
That's a false-positive (or some work ahead as I can judge xD) - the inspection probably don't check the classes hierarchy.

[2017-05-30 13:10] b1rdex commented on #110
@schlessera have you tested phpunit with coverage enabled for such scenario? Phpunit says it can't find class when I try to cover aliased name. As I know, `@covers` must have FQN class name + optionally method.
[code]

I think issue should be closed and that inspection works as it should.

[2017-05-30 13:27] b1rdex commented on #110
I created test repo: https://github.com/b1rdex/phpunit-covers-alias
Note you need php-xdebug extension installed to run coverage.
[code]

[2017-05-30 13:48] kalessil commented on #110
Ok, closing then.

[2017-05-30 13:48] #110 closed

[2017-06-01 12:40] Debeet opened #339 "False-positive: Condition duplicated in another if/elseif branch"
[code]

In theory the inspection is not wrong. This condition _is_ duplicated but it gives impression that it's a mistake in the code when in reality `$start` can have a different value in the second condition.

[2017-06-01 13:27] rentalhost commented on #339
1. You can rename the second variable.
2. The inspection could check if variable is overwrited after initial condition and "reset usage status" (ping @kalessil);

[2017-06-01 16:14] rentalhost opened #340 "Overcomplex type inspection"
In an ideal world, we should always expect that a variable, parameter or method have a single type. For instance, no make sense a method returns `int` and `string` (even) conditionally. It is probably a design failure.

This inspection should identify any case of overcomplex types.

**To consider:**

* [ ] Identify overcomplex types (eg. `int|string`);
* [ ] Identify usage in:
  * [ ] `@return`

[2017-06-01 16:16] rentalhost commented on #340
**Off-topic**: I am working on a new plugin called [laravel-insight](https://github.com/rentalhost/laravel-insight/). It is specific to Laravel framework (inspired on your plugin), and I like to not implements things like that above because it is related to PHP itself, not with Laravel. And it should be very useful to Laravel too.

[2017-06-02 08:16] funivan commented on #339
how `iconv_strlen` can return negative value ?

[2017-06-02 16:46] kalessil opened #341 "Architecture: final class must implement an interface (mocking, DI-ing)"
https://twitter.com/kalessil/status/870691669204586496

[2017-06-02 17:20] Fleshgrinder commented on #341
Absolutely not, you forget value objects and entities. There is almost never a reason for them to have an interface, and mocking is especially not an argument, because [mocking is a code smell](https://duckduckgo.com/?q=mocking+is+a+code+smell) (see also [wewut](https://leanpub.com/wewut)).

[2017-06-02 17:58] kalessil commented on #341
Value objects: agree, already mentioned in Twitter (entities are).

Mocking: probably, but for services (db/rest/soap interaction) I'd prefer mocking over stub-classes.
But if final class has no public methods (ignoring setters/getters) - then I think your point will be covered.

This should be pretty usable, what do you think @Fleshgrinder

[2017-06-02 18:19] Fleshgrinder commented on #341
Infrastructure (DB/REST/SOAP) should always come along with a ready made fake/null implementation by the vendor. Anything else is not reliable over time. Mocking has its uses, but they are very, very, very seldom (e.g. spying).

The term service is unclear to me, it is an overloaded term with too many meanings in different architectures.

A value object with a setter would also be broken by design

[2017-06-02 18:41] kalessil commented on #341
Infrastructure: should, and the inspection should spot places where this requirement (interface, testing components) is not full-filled (we have to mock -> we should spot the mocking as root cause).

Basically, we need only to identify value objects and DTOs - and the rest will be a broad set of services, facades, decorators, factories & co which normally are using interfaces.

Since we know how t

[2017-06-02 23:21] Fleshgrinder commented on #341
Value object are not defined by being `final`. They often are, but it is not a requirement. Such an inspection will lead to interface explosion and deep inheritance chains. It’s hard for most developers to understand the proper usage of interfaces in the first place, this will just make the situation worse.

The terms value object, entity, repository, etc. are originating from DDD, yes. However, t

[2017-06-04 20:15] kalessil commented on #341
I was researching the criteria last 2 days, but have to agree - there are no reliable criteria. The inspection can be applied only to final classes used as function/methods parameter types.

The NPEs inspection applied to nullable objects only, not scalars:
- [ ] method/field reference;
- [ ] dispatching into function/method;
- [ ] array access (`<whatever>[<whatever>]`) pattern support needs to e

[2017-06-04 20:34] kalessil commented on #341
After research we are getting back to #265

[2017-06-04 20:34] #341 closed

[2017-06-04 20:36] kalessil opened #342 "NPEs: array access pattern support needs to e added"

[2017-06-04 20:57] Fleshgrinder commented on #341
#265 is much better, yes. 👍

I think that it makes sense to implement the nullable check for any and every situation. It is a valid pattern after all, and PHP will most probably never be able to inspect that stuff (simply to heavy at runtime).

[2017-06-07 13:30] tensor146 opened #344 "Feature request: type casting with other actions detection."
Hello!
Just found the bug in some code:
`$param = (int) $array['key'] ?? $bar;`
In this code, variable $param always will have value "0" if $array['key'] is undefined.
(because php sees it like: `$param = ((int) $array['key']) ?? 12345;` => (int) from unexisting element is 0 => 0 is "isset" => `0 ?? $bar` means `0`)
I fixed it like:
`$param = (int) ($array['key'] ?? $bar);`
But possibly such issue

[2017-06-07 13:51] kalessil commented on #344
Thank you for reporting @tensor146, that's a nice new pattern for an existing inspection.
I'll try to deliver it with the next release (ETA ~ mid of June)

[2017-06-07 21:03] kalessil commented on #344
Done, a fresh binary has been pushed as well.

[2017-06-07 21:03] #344 closed

[2017-06-07 21:20] kalessil commented on #342
Added, currently without scalars-relater analysis (TBD in next releases).

[2017-06-07 21:20] #342 closed

[2017-06-08 07:01] kalessil opened #345 "::class usage correctness"
https://gist.github.com/bcremer/9e8d6903ae38a25784fb1985967c6056

- lookup class name case correctness
- lookup import case correctness
- report the ::class usage only, not imports

[2017-06-08 15:03] #345 closed

[2017-06-08 17:31] kalessil commented on #317
For future people:

- Class violates singleton/factory pattern definition: dropped
- Private constructor semantics: dropped

Not all going to agree, but this for best.

[2017-06-08 17:31] #317 closed

[2017-06-08 19:55] kalessil opened #346 "Update contributors list and acknowledgments"
- [x] Contributors
- [x] Acknowledgements

[2017-06-09 07:29] Doqnach commented on #339
I also run into this in our codebase with some frequency (often in the form of an `$error` boolean or similar)

[2017-06-09 08:21] kalessil commented on #339
Due to analysis workflow, I don't have a solution here - this getting reported all the time, but no chance to fix it in short term perspective.

Hence, with the 2.3.8-preview we introduced options for the inspection, where possible to skip reporting duplicate conditions (at all). Or just rename the inner variable, what also makes sense.

[2017-06-09 08:21] #339 closed

[2017-06-09 09:21] Stevehans opened #347 "False positive - suspicious assignment, variable immediately overwritten"
The following code construct is wrongly identitifed:-

[code]
It thinks the variable is being overwritten rather than appended to.

[2017-06-09 09:25] kalessil commented on #347
Thank you for reporting @Stevehans, I'll take care of the issue.

[2017-06-09 19:44] samdark opened #348 "Add a logo to readme"
I've found out that a logo in readme gives a good boost to the project because it becomes eye-catchy.

Would be cool to get professional logo. Meanwhile I did a quick mock:

![phpinspections_ea](https://user-images.githubusercontent.com/47294/26991958-2a7ee9f4-4d65-11e7-8d60-f57ca8cbb46a.png)

[2017-06-09 21:08] kalessil commented on #347
I couldn't reproduce the issues, which plugin and IDE versions do you use?

[2017-06-10 17:03] kalessil commented on #348
That's a great idea @samdark, thank you!

[2017-06-10 20:24] kalessil commented on #347
ping @Stevehans

[2017-06-10 20:25] #346 closed

[2017-06-10 21:11] Stevehans commented on #347
Sorry, I'll check tomorrow and update 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Vladimir Reznichenko <notifications@github.com> Date: 10/06/2017  21:25  (GMT+00:00) To: kalessil/phpinspectionsea <phpinspectionsea@noreply.github.com> Cc: Stevehans <steveh@brendata.co.uk>, Mention <mention@noreply.github.com> Subject: Re: [kalessil/phpinspectionsea] False posi

[2017-06-10 21:54] samdark commented on #348
@fazeful, @eshill this is really important OpenSource project. Could be good for your portfolios ;)

[2017-06-11 12:11] Stevehans commented on #347
2.3.8 preview and the latest eap 172.2827
Regards Steve 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Vladimir Reznichenko <notifications@github.com> Date: 10/06/2017  21:25  (GMT+00:00) To: kalessil/phpinspectionsea <phpinspectionsea@noreply.github.com> Cc: Stevehans <steveh@brendata.co.uk>, Mention <mention@noreply.github.com> Subject: Re: [kalessil/phpinspect

[2017-06-11 19:33] kalessil commented on #347
Ths, probably it's due to EAP - I'll check.

[2017-06-12 06:41] kalessil commented on #347
Re-checked, can not reproduce on synthetic test-cases.
The original function/method are needed (SQL parts can be replaced with empty string), can you provide it please?

[2017-06-12 08:18] acelaya opened #349 "Null pointer implicit check"
I was wondering if it would be possible to improve the null pointer exception check so that it takes into account implicit checks.
I mean. Let's consider this case. I have a model with a nullable `parent` property.

[code]

If I try to call methods on that property, the check tells me there could be a null pointer exception,  which is cool.

However, I already have a method in the category object

[2017-06-12 09:53] kalessil commented on #349
That's would hit performance really bad, I'd suggest altering `getParent()` so it doesn't return null, but throw an exception when a property is null.

[2017-06-12 13:32] Stevehans commented on #347
I’ll construct a small file that demonstrates this and attach, it won’t be until Wednesday.

From: Vladimir Reznichenko [mailto:notifications@github.com]
Sent: 12 June 2017 07:41
To: kalessil/phpinspectionsea
Cc: Steve Hanselman; Mention
Subject: Re: [kalessil/phpinspectionsea] False positive - suspicious assignment, variable immediately overwritten (#347)

Re-checked, can not reproduce on synthet

[2017-06-12 16:32] Fleshgrinder commented on #349
Could we please stop calling this _null pointers_, it is the wrong terminology. This is PHP, not Java. 😉

https://medium.com/@Fleshgrinder/the-case-of-the-null-reference-a50382de7ed0

@kalessil I still need to incorporate a link to your extension there …

[2017-06-12 17:18] acelaya commented on #349
I called it "null pointer" because that's how it's called in the plugin, and that was the easiest way to refer to it.

@kalessil, ok, I see the problem. I think I can live with it :-)

[2017-06-12 17:46] Fleshgrinder commented on #349
Well, than we really need to update the documentation in the plug-in. Haven’t noticed that it is incorrectly named there.

[2017-06-12 19:21] kalessil commented on #349
@Fleshgrinder : ths! Will correct naming.

[2017-06-12 19:22] kalessil commented on #349
@acelaya, great!

[2017-06-12 19:22] #349 closed

[2017-06-13 09:31] Doqnach opened #350 "argument same as default (e.g. in_array(...,...,false)) but leaving it out gives another warning"
I have parts of legacy code where we simply need to do an `==` unsafe check, e.g. in the use of `in_array()`. I'm sure that before a recent update, it was not a problem giving the third argument as `false`, but now this gives the inspection: "The argument can be safely dropped, as it identical to the default value.". If you remove the `false` though, it gives the inspection "Third parameter should

[2017-06-13 10:01] kalessil commented on #350
That's something I didn't look carefully at - please keep the 3rd parameter and I'll add in_array, array_search into exceptions for the inspection which complaints.

[2017-06-13 10:11] kalessil opened #351 "final classes and protected methods: do not report (private not callable from parent scopes)"

[2017-06-13 13:19] b1rdex commented on #340
This plugin should allow `type|false` or `type|bool`, because it's used in php internal functions and in other code as result. Maybe these should be controlled by separate option checkmark.

[2017-06-13 13:23] b1rdex commented on #326
I'd like to add note. If this ever be implemented it should not report parameters that are declared `mixed` in phpdoc. That's because php have no overloading and have no `Object` god type.

[2017-06-13 13:27] funivan commented on #326
@b1rdex about object type : https://wiki.php.net/rfc/object-typehint

[2017-06-13 13:30] Doqnach commented on #350
Maybe you could also correct the spelling on the second inspection?
"Third parameter should be provided to clarify if types safety important in this context."

I think this should be more in the lines of: "Third parameter should be provided to clarify if type safety is important in this context."

[2017-06-13 13:32] kalessil commented on #350
Will do =)

[2017-06-13 13:32] b1rdex commented on #326
@funivan I mean `Object` type from javascript — all other types are subtypes of it (AFAIK Java have similar). Php's `object` type is going to represent just objects (instances of any class) not including scalars.

[2017-06-13 13:34] Doqnach commented on #350
PS: 'is' is also missing from the first inspection while you are at it ;-]

"The argument can be safely dropped, as it is identical to the default value." or "The argument can be safely dropped, as it's identical to the default value."

[2017-06-13 13:36] kalessil commented on #350
Ok, will fix both =)

[2017-06-13 13:48] kalessil opened #354 "Exceptions handling workflow: add options (white-list to be not reported)"

[2017-06-13 16:49] #350 closed

[2017-06-13 16:55] #351 closed

[2017-06-13 17:06] kalessil commented on #348
Added, thank you @samdark !

[2017-06-13 17:06] #348 closed

[2017-06-13 19:06] rentalhost commented on #326
I don't know if it is a good idea, because I don't know when in a strong typed language the `object` can be used. In general way, you should always use an interface type if you need generalize a bit more, but not accept "everything". With very few exceptions, it seems not make much sense, and generally this exceptions are handled by php native functions.

In anyway, I guess that we could accept a

[2017-06-13 19:50] kalessil commented on #324
Re-visiting the ticket: if I understand correctly, we don't need to change behavior.
We need an option: suggest static field/constant, right (or probably I miss something)?

[2017-06-13 20:26] nCrazed commented on #324
@kalessil I think the best solution is to keep the current behaviour, but change the wording of the suggested from class constants to static properties.

[2017-06-14 04:18] kalessil commented on #324
Looks like it's not much work here, picking up.

[2017-06-14 07:11] #324 closed

[2017-06-14 14:35] dehrk opened #355 "FP: Foreach source to iterate over with request arrays"
`Foreach source to iterate over` doesn't recognise $_GET, $_POST, & $_REQUEST as arrays

[2017-06-14 16:10] kalessil commented on #355
Fixed, will be part of a patch release (ETA next Monday)

[2017-06-14 16:10] #355 closed

[2017-06-14 20:47] kalessil commented on #338
Sooooo, I had to refactor the inspection and add missing UTs - this done.
Now the question if this issue has gone away or not: @b1rdex can you give a try to a fresh binary from our master?

PS: I'll re-open ticket in case of negative feedback.

[2017-06-14 20:47] #338 closed

[2017-06-15 00:56] b1rdex commented on #338
Issue gone.

[2017-06-15 04:59] kalessil commented on #338
Awesome, thank you for checking.

[2017-06-15 13:53] 3DFace opened #356 "False positive - Non-optimal if conditions"
Code to type:

[code]

[2017-06-15 14:21] kalessil commented on #356
Thank you for reporting @3DFace, but this duplicates #339

[2017-06-15 14:21] #356 closed

[2017-06-16 12:40] kalessil commented on #347
Ping @Stevehans  =)

[2017-06-19 12:30] CZechBoY opened #357 "\DateTime is not implementing \DateTimeInterface (in php5.4)"
this code
[code]
generates `This condition is ambiguous and can be safely removed.` (on first part of condition).
I know that it is because on PHP 5.5+ \DateTime implements \DateTimeInterface, but I have set php5.4 in my project settings. So this is nearly dangerous not false positive.

[2017-06-19 13:50] kalessil commented on #357
Thank you for reporting @CZechBoY, uh this report is not going to be easy:
- please report to JB (https://youtrack.jetbrains.com/issues/WI, php stubs causing the issue), also please post here cross-link;
- I'll implement a workaround on our side to secure our community

[2017-06-19 19:47] #357 closed

[2017-06-20 01:59] marcosdsanchez opened #358 "False positive - null reference"
Reference:

[code]

Given this code ([original image](http://i.imgur.com/doIanOJ.png)):

[code]

I wouldn't expect a null reference check in the 2nd line.

This does not happen if I use a temp variable ([original image](http://i.imgur.com/ECNHXVZ.png)):

[code]

[2017-06-20 06:40] kalessil commented on #358
I want to give the inspection a little bit more intelligence, but meanwhile following should fix the issue 👍

[code]

[2017-06-20 08:20] leac opened #360 "Is it possible to export the results?"
Hi

First of all, great plugin.
Second of all, I would like to send the results to a team I work with. Specifically, I need to send the results of the security inspection to our information security team.
Is there a way to easily do that?

Thanks

[2017-06-20 08:36] kalessil commented on #360
Yes, just export as HTML and send generated html+js files to your team for reviewing security section
![image](https://user-images.githubusercontent.com/1577185/27323799-28ba291c-55a3-11e7-9943-0707350341e3.png)

Hope this helps, also ping me at kalessil (at) gmail (dot) com if you need external consulting/support.

[2017-06-20 08:36] #360 closed

[2017-06-22 01:51] downace opened #361 "Date interval specification validity - report "PT""
"Probable bugs | Date interval specification validity"

Inspection doesn't report the "PT" string, but it is invalid

![image](https://user-images.githubusercontent.com/7350510/27413797-8dd5d742-5738-11e7-873a-3f2e414ed07f.png)

[2017-06-22 07:02] rentalhost commented on #361
**Closing reason: fixed.**
It should be available on next release.

If you have any new question on this issue, please, feel free to open it again.

[2017-06-22 07:02] #361 closed

[2017-06-22 07:21] rentalhost commented on #340
For PHP internal functions it should not be applied (unfortunatelly). I guess that `type|false` is not good, for that we have nullable types (eg. `int|null`).

[2017-06-22 07:26] b1rdex commented on #340
@rentalhost I can say that `null`able returns are bad practice and it's not any different from `false` — best option for me is `throw`ing exceptions. But that's not a law, each one should decide how to do things best.
So we should deal — there is client code with such behaviour.

Simple example: some wrapper around internal function that can return `false`. Am I required to return null instead of

[2017-06-22 07:40] rentalhost opened #363 "Variable can be final"
It is a big confuse, once that PHP don't have support to `final` modifier, but we can implement that by creating some king of "variable annotation". Then I think about prefix a variable with `$f` to identify that it is  final and should not be overrided.

[code]

It should works like we did with parameters, by prefixing it by `$pName`.

[2017-06-22 07:41] rentalhost commented on #328
Closing: the message has been passed. 😄

[2017-06-22 07:41] #328 closed

[2017-06-22 09:01] rentalhost commented on #358
@kalessil Take a look on [this implementation](https://github.com/rentalhost/laravel-insight/blob/master/src/utils/PhpClassUtil.java#L212). I guess that it could solve problems like that. You should pass any kind of element, and it will try resolve the related types.

[2017-06-22 09:16] rentalhost commented on #340
Hmm... I don't know why `null` returns are bad pratice (including, PHP offers native support now eg. `?User`). Other features on PHP expects nulls too, as coalesce operator (eg. `getUser() ?? new User`). It `getUser()` returns false, then the coalese "else" will never run.

Can you write some example for internal functions that returns `false` instead of `null`?

[2017-06-22 09:23] b1rdex commented on #340
Lots of them :)

http://php.net/array_search
http://php.net/strpos
http://php.net/explode
http://php.net/preg_match

[2017-06-22 09:24] b1rdex commented on #340
Worst function that I remember that returns false|null|mixed is http://php.net/parse_url

[2017-06-22 10:27] rentalhost commented on #340
But PHP internal functions will not be inspectioned, only user land. You could use it too without problem, the inspection should works only on declaration, not on usage.

[2017-06-22 10:49] kalessil commented on #358
Here a little bit another issue, the call is nullable and checked in condition for nullability. Type resolving works properly here.

[2017-06-22 12:26] rentalhost commented on #358
Hmm... Now I understand. In this case, it should accept `$a->b()->c()` when `$a->b()` is previously tested and pass. But in all way, I don't know if it is a solution. When you call `$a->b()` for the first time, you can receives a result different of the second time. For instance, a implementation for `$array->pop()`. I think that should be better you uses a variable to store last value (it too sho

[2017-06-22 13:25] kalessil commented on #358
It would be the best way, but 100% of feedback so far is about supporting the case.

[2017-06-22 18:55] kalessil commented on #347
Closing the issue to keep milestone clear. Will reopen when test sample arrives =)