[2018-10-30 07:47] #1083 closed

[2018-10-31 11:07] windaishi opened #1086 "False-positive if "possible Null-pointer exception" when variable has been checked with ternary that uses brackets"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | EA extended 3.0.7  |
| Language level | PHP 5.6                        |

Current behaviour (description/screenshot:)

[2018-10-31 15:56] kalessil commented on #1086
Thank you for reporting @windaishi, I'll take care of fixing the issue.

[2018-10-31 19:54] kalessil commented on #1086
Fixed!

[2018-10-31 19:54] #1086 closed

[2018-10-31 21:16] kalessil commented on #1074
Fixed!

[2018-10-31 21:16] #1074 closed

[2018-11-01 08:12] someniatko opened #1087 ""Function result is unused" false-positive for methods returning $this"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-positive                         |
| Plugin         | Php Inspections (EA Ultimate) 2.0.9 |
| Language level |  PHP 7.2  |

Some methods use so-called fluent interface, where yo

[2018-11-01 08:14] someniatko commented on #1059
Consider using "PHPUnit Enhancement" plugin - it has such assertions built-in.

[2018-11-01 08:56] andreasschroth commented on #1059
@someniatko Thanks for the info, will check out.

[2018-11-01 13:18] windaishi opened #1088 "The call to count() should not be seen as inefficient."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 5.6                      |

Current behaviour (description/screenshot:)
--
The sniff "Calla

[2018-11-01 14:12] kalessil commented on #1088
It's the root cause of this inspection - a pattern-troublemaker in high load projects. I'd encourage to follow its recommendations (Quick-Fix) or disable the inspection if it doesn't fit the project.

[2018-11-01 14:12] #1088 closed

[2018-11-01 14:48] #415 closed

[2018-11-01 15:05] rentalhost commented on #1088
By PHP 7.2.2, I got **17%+** performance when `count()` is not used on looping conditional (eg. `for ($i = 0, $j = count(...); $i < $j; ...)`). So I think that this inspection is valid at moment.

[2018-11-01 19:40] windaishi commented on #1088
Hey guys. Thanks for clarification.

Am Do., 1. Nov. 2018, 16:22 hat David Rodrigues <notifications@github.com>
geschrieben:

[2018-11-02 01:13] reedy commented on #1078
Thanks!

[2018-11-02 13:37] kalessil opened #1089 "Static binding side-effects: https://3v4l.org/KbFl0"

[2018-11-02 15:52] someniatko commented on #1087
#1083 was a duplicate, i guess?

[2018-11-02 16:15] kalessil commented on #1087
Yep, duplicates #1083.

[2018-11-02 16:15] #1087 closed

[2018-11-02 16:36] kalessil commented on #1059
@someniatko: checked, didn't get any notices for the specified cases. The plugin seems to enhance types resolution in PhpUnit scope, what else =)?

[2018-11-02 16:38] kalessil commented on #528
Re-opening

[2018-11-02 17:30] kalessil commented on #265
Reopening

[2018-11-02 17:31] kalessil commented on #1071
@tzfrs, the inspection does only this check. So: yes.

[2018-11-02 17:37] kalessil commented on #459
Currently PhpStan does report the case, hence Iet's drop this ticket from our scope. It also a complex one, I'd like to focus on our primary scope.

[2018-11-02 17:37] #459 closed

[2018-11-02 17:51] kalessil commented on #201
Since communities not yet agreed on a common approach, I'll close this ticket an used this time for more architecture inspections.

[2018-11-02 17:51] #201 closed

[2018-11-02 19:06] andreasschroth commented on #1059
I think a good first step for implementation might be to just check if the passed parameter to the `assert*()` method is static, i.e. never changes (not being a result of a method call or whatever). Maybe that check is easier to implement than all the logic if an assert check is useful or not.

Because even if the assertion always fails (although that obviously shouldn't ever happen as then the te

[2018-11-02 19:53] kalessil opened #1090 "iterator_to_array: require the second argument"
Advice false for generators

[2018-11-02 20:42] kalessil commented on #1090
Implemented!

[2018-11-02 20:42] #1090 closed

[2018-11-03 07:57] someniatko commented on #1059
@kalessil @andreasschroth My bad, these inspections are coming from the PHP Inspections EA 🤦‍

[2018-11-05 13:23] WiXSL opened #1091 "Variable variables incorrectly evaluated as suspicious assignment."
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Pl

[2018-11-05 14:34] puggan opened #1092 "New value type (static) is not in annotated types"
Is #439 back?

Issue type: Bug/False-Positive
Plugin: EA Ultimate 2.0.9
Language level: php 5.6

Current behaviour:
![screenshot from 2018-11-05 15-28-37](https://user-images.githubusercontent.com/866668/48003906-11410400-e110-11e8-8f0a-07a69e72db05.png)

Expected behaviour:
static shold be converted to Carbon, and Carbon is in @param, so no warning.

Environment details:
PhpStorm 2018.3 EAP
Build

[2018-11-05 18:21] kalessil commented on #1092
@puggan, is it possible to provide a simplified code fragment?

[2018-11-05 18:42] kalessil commented on #1091
Fixed!

[2018-11-05 18:42] #1091 closed

[2018-11-06 12:15] kalessil opened #1093 "`->getMockBuilder()->disableOriginalConstructor()->getMock()` -> `createMock`"
Same for interfaces

[2018-11-06 14:37] puggan commented on #1092
@kalessil use the one in 439, it also fails.

![screenshot from 2018-11-06 15-37-06](https://user-images.githubusercontent.com/866668/48071141-d905f800-e1d9-11e8-9575-d5215dab36d4.png)

[2018-11-06 15:52] kalessil commented on #1092
Great, will check today.

[2018-11-06 16:30] kalessil commented on #1092
Reproduced, will take care of fixing the issue.

[2018-11-06 17:34] kalessil commented on #1092
Fixed!

[2018-11-06 17:34] #1092 closed

[2018-11-06 20:12] kalessil commented on #1093
Meh, not so great idea.

[2018-11-06 20:14] kalessil commented on #1052
ping @ihor-sviziev

[2018-11-06 20:16] kalessil commented on #702
Duplicates #834

[2018-11-06 20:16] #702 closed

[2018-11-06 20:17] kalessil commented on #766
Covered by an existing inspection already + we have plenty of work around PhpUnit ahead.

[2018-11-06 20:17] #766 closed

[2018-11-06 20:19] kalessil commented on #834
Update: ArrayTypeOfParameterByDefaultValueInspection was recently dropped

[2018-11-07 06:52] kalessil commented on #1093
Or... Reopening
[code]

[2018-11-07 14:17] kalessil commented on #1093
And more related thingy:

[code]

[code]

[2018-11-08 18:32] #1089 closed

[2018-11-09 06:44] ihor-sviziev commented on #1052
Hi @kalessil,

Now I can't provide you this info. Will close this issue for now

[2018-11-09 06:44] #1052 closed

[2018-11-11 17:18] fux666 opened #1094 "Feature request - need inspection to validate names of function/method parameters same as now for function names"
Hi!

I would like to kindly ask to add to EA Extended a possibility to check the naming of function / method parameter names. I have currently method to validate other constructs as constants, classes, methods, etc. But surprisingly the parameters naming validation seems to be missing.

Please help to add such inspection to allow to more completely fit the organizations coding / naming standards.

[2018-11-11 17:23] fux666 opened #1095 "Feature Request - validation of the missing parametr types definitions"
Hi!

We discovered that we need to have inspection where the code audit shows us all the instances where the parameter type if not defined, right now we do not seem to have a way to easily tell which parameters are missing type definitions. We would like to use fully typed model for 95% of our functions in the code base. For this reason the inspection that will show us all instances where such def

[2018-11-11 17:34] fux666 opened #1096 "Support Request - Define the inspection (Structural Search?) requiring all int parameters have name starting with "int" prefix"
Hi!

Our coding standards require that all int parameters should have name starting with "int" prefix, We need to set-up the inspection that would find all occurrences where type is defined but the name prefix does not match this requirement and list it for respective corrections or silencing this error (e.g. for legacy class or function).

As per our best knowledge the "Structural Search" functio

[2018-11-11 22:28] andreasschroth opened #1097 "[Feature Request] Warn about dangerous Phpunit assertions, e.g. assertEquals()"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.9 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here

[2018-11-12 06:40] kalessil commented on #1097
This has been addressed with: 'Suggest to use type safe asserts' option, if i understanding the request correctly.
![image](https://user-images.githubusercontent.com/1577185/48330785-1b9e5900-e64e-11e8-80fe-af0f88ba519d.png)

[2018-11-12 06:40] #1097 closed

[2018-11-12 06:49] kalessil commented on #1096
SSR never worked for me as well, and it still mystery for me why PhpStorm invests time into it.
But getting back to the topic, so far I didn't see similar functionality in PhpStorm or 3rd party tools. The easiest way (taking in account this project history and scope) would be to implement a custom PHP CodeSniffer rules for that (I didn't dig too much there, but it possible to hook a custom AST nod

[2018-11-12 06:49] #1096 closed

[2018-11-12 06:57] funivan commented on #1096
Hello @fux666, I can help you with this rule. You can contact me via email: alotofall [at] gmail.com

@kalessil Structural search helped me several times. But I totally agree - SSR is crap)

[2018-11-12 07:01] funivan commented on #1095
Implemented this feature:
https://github.com/funivan/PhpClean#missingparametertypedeclaration
https://plugins.jetbrains.com/plugin/11272-phpclean

[2018-11-12 07:33] andreasschroth commented on #1097
Oh, awesome. Didn't see it in the options, thanks!

[2018-11-12 07:34] kalessil commented on #1097
No problems =) I'm also open for improving the option wording - perhaps is so bad, that you missed it ;)

[2018-11-12 07:35] andreasschroth commented on #1097
I actually think the wording is fine, I honestly just didn't check the options of that inspection at all...

[2018-11-12 07:37] kalessil commented on #1097
Oh, no worries then =)

[2018-11-12 08:10] foobar13372 opened #1098 "False positive: Unnecessary parentheses"
Using short ternaries to decide for an array and directly accessing these arrays results in a warning about missing paranetheses:

` ($concreteArray ?? $defaultArray)['key'];`

(also for `?:`)

Basically the same as #205 just for arrays.

[2018-11-12 08:11] kalessil commented on #1098
Thank you for reporting @foobar13372, I'll take care of fixing the issue.

[2018-11-12 21:16] kalessil commented on #1098
Fixed!

[2018-11-12 21:16] #1098 closed

[2018-11-13 04:31] fux666 commented on #1095
Thanks a million, I will check it out tomorrow :)

[2018-11-13 04:31] #1095 closed

[2018-11-13 06:46] kalessil commented on #1094
Mark, this seems similar to #1096, or? Did you try also "Naming conventions" inspections coming with IDE itself (the are disabled by default)?

[2018-11-13 16:41] fux666 commented on #1094
Actually I did for all other objects, and they are working beautifully. The issue is that this is missing for Parameters, we currently have in newest version: PHP -> Naming Conventions -> Class, Constant, Function, Method, Property and Variable. However.... parameter (of functions and methods) are not here - why?!

The issue #1096 is different, while the Naming Conventions works perfectly to estab

[2018-11-15 20:49] kalessil opened #1099 "`->will($this->returnValue(...))` -> `->willReturn(...)`"

[2018-11-15 21:06] antiphp opened #1100 "Do not suggest return type for interface implementations"
Hey,

**Implementing an interface** - especially a native interface - **should not lead to inspection issues** regarding suggested return types or similar.

Expected behaviour:
=> Ignore it, since it's an interface defintion. **Complain at the interface, not the implementation**.

Environment details:
=> Php Inpsections: 3.0.8.1
=> PhpStorm: 2018.3 EAP
=> PHP: 7.2.10

Example:

    class FooSet im

[2018-11-15 23:03] iakoder opened #1101 "I love new patterns but..."
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Feature request     |Feature request                          |
| P

[2018-11-16 01:22] iakoder opened #1102 "Fix for null coalesce operator ate my braces"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         |

[2018-11-16 01:32] iakoder opened #1103 "Invalid fix for interesting null coalesce pattern"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                        |
| Plugin         | Ph

[2018-11-16 01:36] iakoder opened #1104 "Null coalesce operator missed pattern"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug / Feature request                          |
|

[2018-11-16 01:44] iakoder opened #1105 "Null coalesce invalid detect / fix with reference"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug / Feature request                          |
|

[2018-11-16 06:59] kalessil commented on #1101
Great writing @iakoder, thank you fior the feedback. This is clearly a problem and the setting is needed without much discussion ;) In future poke me directly via e-mail for when situation repeated - shorter and less tolerant forms will work ;)

And, I'll add a setting shortly. Question on my end: should I make 3.0.8.2 with it or you've already take care of the reported cases?

[2018-11-16 07:01] kalessil commented on #1100
Thank you for reporting @antiphp, will do.

[2018-11-16 12:44] thomasphansen opened #1106 "extending "__" methods from SoapClient class causes a false positive"
Let's start with common details:

Subject: False positive when extending SoapClient
Details: Php has legacy classes methods that start with "__" (double underscore). If you try to overwrite one of them when extending those classe, you get a false positive error.
| Issue type     | Bug/False-Positive|
| Plugin         | Php Inspections (EA Extended) v3.0.8 |
| Language level | PHP 7.1 |

Current be

[2018-11-16 16:21] #1099 closed

[2018-11-16 16:44] kalessil commented on #1101
Added new settings!

[2018-11-16 16:44] #1101 closed

[2018-11-16 16:48] kalessil commented on #1106
Covered by #1107

[2018-11-16 16:48] #1106 closed

[2018-11-16 17:11] kalessil commented on #1100
@antiphp, looking deeper into the issue and questions are coming:
- what is the problem exactly (I can see this case has no side-effects when hints are getting applied: https://3v4l.org/tpbkP)?
- what's is the typical workflow for this issue types and why it can not be applied in this case?

[2018-11-16 17:43] kalessil opened #1108 "Research rarely used inspections"

[2018-11-16 17:50] rbairwell commented on #1108
Here's mine from a recent project:
``
<component name="InspectionProjectProfileManager">
  <profile version="1.0">
    <option name="myName" value="Project Default" />
    <inspection_tool class="AnonymousFunctionJS" enabled="true" level="WARNING" enabled_by_default="true" />
    <inspection_tool class="AssignmentResultUsedJS" enabled="true" level="WARNING" enabled_by_default="true" />
    <inspec

[2018-11-16 18:30] iakoder commented on #1101
@kalessil, thanks!  As you could guess from the other issues I reported I've taken a pass at cleaning up all these issues.  When I'll get approval to commit them is another story.  The only inspection I can't get rid of is  https://github.com/kalessil/phpinspectionsea/issues/1105

[2018-11-16 18:34] iakoder commented on #1105
I was just looking at this code again and noticed that only one of the two isset is being caught in the full version of the code I originally provided.  I can see that it's not quite the pattern you're looking for.

[code]

[2018-11-16 18:40] iakoder commented on #1104
@kalessil yea, no worries.  One thing I just noticed about it...

Start with

[code]

Run inspection by name and it fixes to

[code]

Run inspection by name again, nothing found.  Add the brace back so it's

[code]

Run inspection by name again and it matches the pattern and will fix it to

[code]

So at least once you get the braces right multiple passes will eventually "get it right."

Cheers

[2018-11-16 18:54] kalessil commented on #1104
Very precise observation, once the bug with missing `{}` getting fixed we are good here.

[2018-11-16 19:34] kalessil commented on #1102
Fixed!

[2018-11-16 19:34] #1102 closed

[2018-11-16 19:41] kalessil commented on #1105
Indeed, that's not a target pattern. The inspection was not intended to work with references - semantics guesses are hardly possible.

[2018-11-17 09:06] kalessil commented on #1105
Fixed!

[2018-11-17 09:06] #1105 closed

[2018-11-17 11:59] Rarst commented on #19
I've noticed "type unsafe comparison" showing up on DateTime objects as of right now, had this regressed since or something?

[2018-11-17 17:09] funivan commented on #1108
Can you collect them automatically?

[2018-11-17 20:54] andreasschroth commented on #1108
Good idea in general, although I guess the inspections that aren't activated by default are much less used than the ones that are activated by default.

Do you already have a plan in mind what to do with rarely used inspections? Like removing them to reduce the size of the code base? Or just leave them as they are and concentrate further on the more used ones?

[2018-11-17 20:55] andreasschroth commented on #1103
OT: Could we maybe have an inspection that reports multiple assignments in the same line? Doesn't feel like a best practice for me really...

[2018-11-19 06:46] kalessil commented on #1108
@funivan: currently no chance.

[2018-11-19 06:49] kalessil commented on #1108
@andreasschroth: the plan is to stronger focus on used once.

[2018-11-19 14:16] antiphp commented on #1100
Well it looks like the return type can be any value. I just replaced ":bool" with ":\DateTime" and it does not raise an error.

But my point was more like, when an interface defines an expectation, the implementation must follow that definition. So inspections should not complain for things like that, because that piece of code is right, it just follows the interface definition. But that's just an

[2018-11-20 08:10] kalessil commented on #19
@Rarst: would you please create a new issue for your case?

[2018-11-20 08:19] kalessil commented on #1100
@antiphp  if I understand correctly, the point is to follow one-to-one the interface/parent method definition (even if we can declare return type there). That's opposite to the inspection intentions, probably it should be disabled in the project context at all (probably as I\m not aware of the project specific and team level).

[2018-11-20 08:49] Rarst opened #1109 "Type unsafe comparison triggers on comparable objects"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) 3.0.8.1 |
| Language level | PHP 7.2                         |

Current behaviour (descr

[2018-11-20 20:02] antiphp commented on #1100
I thought it is not allowed to specify a return type in the class when the interface does not. Well but with fact my report does not make any sense, sorry guys! Thanks for pointing that out.

[2018-11-20 21:09] kalessil commented on #1100
Ah, ok =)

[2018-11-20 21:09] #1100 closed

[2018-11-21 16:00] kalessil commented on #1103
@andreasschroth: why not. Please create a new issues, so the idea is not lost =)

[2018-11-21 18:12] andreasschroth opened #1110 "[Feature Request] Warn about multiple assignments in one line"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.9 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here

[2018-11-21 18:12] andreasschroth commented on #1103
@kalessil Yeah, right, I agree. Added a new issue for that.

[2018-11-22 09:27] machour opened #1111 "Inspection "disconnected from its parent foreach" should check parentS foreach"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) v 3.0.8.1 |
| Language level | PHP 5.6                       |

Current behaviour
--

In

[2018-11-22 09:34] machour commented on #1110
I did some digging and the only references I could find about this being best practice or not is this thread: https://groups.google.com/forum/#!topic/php-fig/JS5Z8fVqLSI

But this only concerns properties declaration in a class.

I personally like the ability to declare multiple variables on a single line, when the value is of a simple type (number, string, boolean, empty array ..) but tend to avo

[2018-11-22 10:47] funivan commented on #1110
My rule: avoid it in all cases.

[2018-11-22 12:56] andreasschroth commented on #1110
@machour Thanks for the link, interesting to read, although no real outcome over there as well.

Personally, I'd love to see it as an optional inspection that's deactivated by default - form what I can see some people like multiple assignments per line, while others avoid them at all costs. I don't want to force any developer or team to avoid them, if they like them and it works well for them. But

[2018-11-22 13:58] andreasschroth opened #1112 "[False-Positive] New value type not in annotated types + preg_replace()"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.9 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Please

[2018-11-22 15:49] andreasschroth opened #1113 "[False-Positive] One-time use variables + annotations"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.9 |
| Language level | PHP 7.2                        |

Current behaviour:
---

First

[2018-11-22 16:35] kalessil commented on #1113
Has been fixed already, the fix will be in the next release.

[2018-11-22 16:35] #1113 closed

[2018-11-22 16:37] kalessil commented on #1111
Good catch @machour, I'll take care of fixing the issue.

[2018-11-22 18:05] kalessil commented on #1111
Fixed!

[2018-11-22 18:05] #1111 closed

[2018-11-22 18:11] kalessil commented on #1108
Closing, I have multiple configurations now for first research round. Thank you, folks!

[2018-11-22 18:11] #1108 closed

[2018-11-22 18:13] #1084 closed

[2018-11-22 21:00] kalessil commented on #1103
Fixed!

[2018-11-22 21:00] #1103 closed

[2018-11-23 09:40] Jean85 opened #1115 "Callable parameter usage false positive for callable objects"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) 3.0.8.1  |
| Language level | PHP 7.1 |

Current behaviour (description/screenshot:)
--

[2018-11-23 10:09] samdark commented on #1073
@kalessil was it released for EA Ultimate?

[2018-11-23 10:11] ockstadt opened #1116 "@param self"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) |
| Language level | e.g. PHP 7.2              |

Current behaviour (description/screens

[2018-11-23 11:57] kalessil commented on #1115
Oh, good catch @Jean85! I'll take care of the issue.

[2018-11-23 11:59] kalessil commented on #1116
Thank you for reporting @ockstadt, unfortunatelly that seem to be an inspection by PhpStorm itself. Please report to JetBrains team ([here](tbrains.com/issues/WI)).

[2018-11-23 11:59] #1116 closed

[2018-11-23 14:59] samdark commented on #1073
False positive is still there for me in the current version. It's reporting that constructor return result isn't used.

[2018-11-23 17:39] kalessil commented on #1115
Fixed!

[2018-11-23 17:39] #1115 closed

[2018-11-23 19:19] kalessil commented on #1112
Fixed!

[2018-11-23 19:19] #1112 closed

[2018-11-27 10:08] Bilge opened #1117 "isset(...) usage inspection's null-comparison suggestion is not intelligent"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive
| Plugin         | Php Inspections (EA Extended), 3.0.8.1 |
| Language level | e.g. PHP 7.1                         |

Current behaviour (description/screenshot:)
-

[2018-11-27 12:55] kalessil commented on #1056
@puggan: plugin indexes all composer.json files for getting packages information.

[2018-11-27 15:51] kalessil commented on #1056
Done!

[2018-11-27 15:51] #1056 closed

[2018-11-27 20:04] FlyingDR opened #1118 "False positive for "Null pointer exception may occur here" inspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive       |
| Plugin         | Php Inspections (EA Extended), v3.0.8.1 |
| Language level | PHP 7.1, 7.2, 7.3                      |

Current behaviour
--
Consider followin

[2018-11-27 20:09] FlyingDR commented on #1118
I've published example with other test variants as a [gist](https://gist.github.com/FlyingDR/f2fe8f79d16d01aa6ce6f5e7a39676a7) for reference

[2018-11-27 20:34] #589 closed

[2018-11-28 01:42] iakoder opened #1119 "New value type (null) is not in annotated types - need type inference through ternary"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive / Feature request / Support request                          |
| Plugin         | Php Inspections (EA Extended), 3.0.8.1 |
| Language level | PHP 7.0

[2018-11-28 05:33] funivan commented on #1119
This condition guarantees that not empty string will not be assigned into $p2
Try to run this code when p1 is null

[2018-11-28 05:47] funivan commented on #589
PhpStorm has built-in inspection PhpVariableVariableInspection.

[2018-11-28 10:30] MaXal opened #1120 "[critical] [performance-problem] ReferenceMismatchInspector produce tree materialization"
According to our performance test runs of batch inspection, the method `ReferenceMismatchInspector::checkReferenceReturnedByCallable` is the main culprit in performance degradation. It introduces significant hit and in some cases (drupal8 batch inspection) leads to total freeze because of constant GC. GC happens because a lot of files should be materialized.

As you may see the method does `Openap

[2018-11-28 12:19] MaXal opened #1121 "[performance-problem] Upward tree traversing for each string literal"
The method `visitPhpStringLiteralExpression` invokes `ExpressionSemanticUtil.getBlockScope` for each string literal in the project and that cause a significant performance hit.

[2018-11-28 12:26] MaXal opened #1122 "[performance-problem] Tree materialization in TraitsPropertiesConflictsInspector"
In the method `TraitsPropertiesConflictsInspector#visitPhpClass` there is the following code:
[code]
that cause tree materialization.

`getName` should be used since it's backed by stub.

[2018-11-28 12:37] MaXal opened #1123 "[performance-problem] AutoloadingIssuesInspector traverse the whole tree to the bottom"
In the class `AutoloadingIssuesInspector` on the line:
`final List<PhpClass> classes = PsiTreeUtil.findChildrenOfType(file, PhpClass.class).stream()
                            .filter(c -> !c.isAnonymous()).collect(Collectors.toList());`
the whole tree is traversed to the bottom to find classes.
It's better to use: `com.jetbrains.php.lang.psi.PhpFile#getTopLevelDefs`.

[2018-11-28 14:54] MaXal opened #1124 "[performance-problem] ClassConstantUsageCorrectnessInspector traverse the whole tree looking for trait usages"
In class `ClassConstantUsageCorrectnessInspector` the code `for (final PhpUse use : PsiTreeUtil.findChildrenOfType(current, PhpUse.class)) {` traverse the whole class in attempt to find use statements.

Probably `com.jetbrains.php.lang.psi.stubs.PhpClassStub#getTraits` should be used instead.

[2018-11-28 15:11] wbars commented on #1120
@kalessil Despite the fact that we don't yet keep information about returning by reference in stubs you still can index your own information via implementing file based index (e.g. `com.intellij.util.indexing.FileBasedIndexExtension`. Is this extensions you can keep boolean value for each function/method FQN whether it returned by reference and use this index in your inspection. This expected to b

[2018-11-28 18:34] iakoder commented on #1119
php -r '$p1=null; $p2 = ( $p1 != "" ? $p1 : ""); var_dump($p2);'
Command line code:1:
string(0) ""

[2018-11-28 18:47] funivan commented on #1119
@iakoder you are right. This is not a strict comparison so we should filter null values here.

[2018-11-28 20:29] kalessil opened #1125 "Getter/Setter correctness: one-liners can be verified for the properly used properties"

[2018-11-28 22:32] kiler129 opened #1126 "[FR] Warn for string & array concatenation"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) v.3.0.8.1 |
| Language level | PHP 7.2                        |

#### Current behavior:
The

[2018-11-29 08:56] kalessil commented on #1122
Fixed!

[2018-11-29 08:56] #1122 closed

[2018-11-29 09:47] kalessil commented on #1124
Fixed!

[2018-11-29 09:47] #1124 closed

[2018-11-29 10:23] kalessil commented on #1123
Fixed!

[2018-11-29 10:23] #1123 closed

[2018-11-29 11:35] kalessil commented on #1121
Fixed!

[2018-11-29 11:35] #1121 closed

[2018-11-29 12:19] MaXal commented on #1124
@kalessil Thank you a lot for the fixes! It was really fast!

[2018-11-29 12:42] kalessil commented on #1124
You are welcome @MaXal =)

[2018-11-29 12:57] kalessil commented on #1120
Done! Dropping it completely.

[2018-11-29 12:57] #1120 closed

[2018-11-29 13:13] kalessil commented on #1119
`$p2 = $p1 ?: '';` shoulddo the trick. The original case types are resolved by ide, while the short one is handled on our end.

[2018-11-29 13:13] #1119 closed

[2018-11-29 13:45] kalessil commented on #1126
Done!

[2018-11-29 13:45] #1126 closed

[2018-11-29 14:19] kalessil commented on #528
Bad bot, I've wrote "reopening".

[2018-11-29 14:22] kalessil commented on #589
Sweet, thank you @funivan!

[2018-11-29 15:50] rentalhost commented on #528
Maybe reconfigure it to 2 years instead of one?

[2018-11-29 16:09] kalessil commented on #528
Most probably I'll do it =)

[2018-11-29 17:41] iakoder commented on #1119
@kalessil Unfortunately $p1 ?: '' is not the same as $p1 != "" ? $p1 : "" since the first case converts "0" to "" whereas the second does not.

[2018-11-29 17:56] iakoder opened #1127 "Another issue with null coalesce inspection and references"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended), 3.0.8.1 |
| Language level | PHP 7.0                        |

Not sure if this is the same as the oth

[2018-11-29 18:51] kalessil commented on #528
Implemented!

[2018-11-29 18:51] #528 closed

[2018-11-29 18:53] kalessil commented on #1119
Oh, my bad. Semantics is really differs.

[2018-11-30 06:55] funivan commented on #1119
@kalessil do you plan to fix it?

[2018-11-30 07:33] kalessil commented on #1119
Nope, it's not realistic IMO to produce reliable enough fix here.

[2018-11-30 07:39] funivan commented on #1119
Agree.
To prevent this behavior it is better to use strict type comparison + avoid union types.  IMHO

[2018-11-30 08:47] kalessil commented on #1094
Understood. In order to keep focus, I think we shouldn't expand the plugin functionality in this direction. Perhaps someone from the community wants to create a new plugin (sharing the link in my Twitter).

[2018-11-30 08:47] #1094 closed

[2018-11-30 09:21] aand18 commented on #871
Hello,
it still doesn't work with `laravel/*`
I'm using `illuminate/*` as a workaround.

![image](https://user-images.githubusercontent.com/36073609/49279932-12ecb600-f489-11e8-89fa-218e7cfacd29.png)

[2018-11-30 10:30] kalessil commented on #871
Hey @aand18: probably ignoring 'illuminate/*' was intended. But Laravel case has been addressed and will be in the next release (ETA next week).

[2018-11-30 10:40] Synchro opened #1128 "HTML generation runs out of memory"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended) 3.0.8.1 |
| Language level | PHP 7.1                     |

Current behaviour
---
I have done an inspec

[2018-11-30 11:41] funivan commented on #1128
1. How many errors do you have?
2. Do you try to do the same operation with disabled plugin PhpInspeactions EA?

[2018-11-30 18:22] Synchro commented on #1128
You're right - I don't think this is a PIEA problem, it's more about PHPStorm. I'm not sure why I didn't think of that before, sorry! In this case I think it was due to two CSV files in the repo causing > 20k errors. I removed them from the inspection profile and though it still took a while (and generated a 155M HTML file), it did eventually finish. I would report it to JetBrains but their bug tr

[2018-11-30 18:22] #1128 closed

[2018-11-30 19:17] funivan commented on #1128
No problem.
You can run inspections from CLI.

[2018-11-30 21:36] #500 closed

[2018-11-30 21:36] #453 closed

[2018-12-01 00:35] iakoder opened #1129 "Questionable str_replace behavior"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Maybe false positive?                          |
| Plugin         | Php Inspections (EA Extended), 3.0.9 |
| Language level | PHP 7.0                        |

Was there a change in 3

[2018-12-01 12:39] kalessil commented on #453
The inspection has been dropped this year, hence the ticket is outdated.

[2018-12-01 12:44] kalessil commented on #500
@rentalhost: is this idea still in demand?

[2018-12-01 14:06] kalessil commented on #1129
Fixed!

[2018-12-01 17:13] rentalhost commented on #500
Maybe. It is just to normalize the code style. Nothing critical.

[2018-12-01 21:02] kalessil commented on #265
Done, currently, it's quite straight-forward and we'll need to find a good guessing criteria.

[2018-12-01 21:02] #265 closed

[2018-12-01 21:07] kalessil commented on #14
Closing this:
- PhpDoc is involved
- the desired reporting should be possible to archive by configuring existing inspections

[2018-12-01 21:07] #14 closed

[2018-12-02 14:58] andreasschroth commented on #1125
Wow, awesome idea, love it!

[2018-12-03 07:00] kalessil commented on #1125
Indeed, while folk from Twitter have requested this, I do this mistake from time to time.

[2018-12-03 07:31] kalessil commented on #1118
Thank you for detailed report @FlyingDR, I'll check the issue.

[2018-12-03 14:57] puggan opened #1130 "[FP] "Null pointer exception may occur here" inside isset()"
Issue type: Bug/False-Positive
Plugin: Php Inspections (EA Ultimate) v2.0.10
Language level: PHP 5.6

Current behaviour (description/screenshot:)
--
![screenshot from 2018-12-03 15-55-19](https://user-images.githubusercontent.com/866668/49381319-e8faf400-f713-11e8-8cf2-e347d75acae3.png)

"Null pointer exception may occur here" warning, inside the isset().
The content of the var is from a function

[2018-12-03 16:04] JanGalek opened #1131 "Trait collisions inspect"
| Subject             | Details                                                     |
| :-------------------- | :------------------------------------------------------- |
| Issue type         | Feature request                                       |
| Plugin               | Php Inspections (EA Extended), v3.0.8.1 |
| Language level | PHP 5.6 and 7.2                                       |

Current

[2018-12-03 19:22] JanGalek commented on #1131
Hi @kalessil its mean, than I should by license OSS ? If Yes, I try install it by phpstorm and dont see where I can see input for serial key :)

[2018-12-03 19:45] kalessil commented on #1131
Hi @JanGalek, if you are in OSS camp then using Php Inspections (EA Extended) is a great option.

Php Inspections (EA Ultimate) has more rules and you can try to evaluate it for 2 weeks free, after that you'll need a license. When it comes to the license, perhaps your company would agree to by one for you - the Ultimate pays back within a few weeks.

Great, thank you =)

[2018-12-03 20:00] JanGalek commented on #1131
Hi @kalessil I paid, and now waiting for license :)

[2018-12-03 20:04] kalessil commented on #1131
Super! Please check Patreon messages: it already there =)

[2018-12-03 20:10] JanGalek commented on #1131
@kalessil so now I can disable Extended ? :)

[2018-12-03 20:33] kalessil commented on #1131
Yes, moreover you can remove it - settings will be picked up properly =)
Also yes, I didn't actualize tickets yet.

[2018-12-03 21:08] kalessil commented on #1131
Implemented!

[2018-12-03 21:08] #1131 closed

[2018-12-03 23:37] iakoder commented on #1129
@kalessil Just ran 3.0.9.1.  Here are the cases it still found

[code]

[2018-12-04 05:48] kalessil commented on #1129
Snap, I'll keep fixing then.

[2018-12-04 07:49] kalessil commented on #1130
Oh, interesting why I didn't handle this.

[2018-12-05 14:34] kalessil opened #1132 "OTU variables: new pattern"
[code]

[2018-12-06 16:12] puggan opened #1133 "[Feature request] Non-optimal regular expression, PCRE_UNGREEDY"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type | Feature request |
| Plugin | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 5.6 |

Current behaviour (description/screenshot:)
--
The project had the code `preg_replace("/

[2018-12-06 16:37] puggan commented on #1133
Tested, and U also makes `?` act as `??`

https://3v4l.org/PYRBN

[2018-12-07 05:46] funivan commented on #1133
Hello @puggan. Thanks for the report.
But in the original preg_match you already have `U` modifier`"/[^0-9]/isU"`.
If you remove it - what plugin will suggest to you?

[2018-12-07 09:55] puggan commented on #1133
If you use the U modifer, without any of the `?`, `*` or `+`,
I expext the plugin to say its ambiguous,
as it do if i or s is used when not needed.

So the `/[^0-9]/isU` should be minimized to just `/\D/`.

[2018-12-07 10:18] kalessil commented on #1133
Oh, looks like a great addition to the inspection, thank you @puggan for making the research!

[2018-12-07 10:35] funivan commented on #1133
I think this should be splited to 2 workflows:
1. replace `[^0-9]` to  `\D`
2. remove unnecessary `U` modifier

[2018-12-07 11:03] MaXal opened #1134 "[performance-problem] ArgumentEqualsDefaultValueInspector produces tree materialization"
In the inspection the following code:
[code]
produces tree materialization since `Parameter#getDefaultValue` is not backed by stubs.

You may use `Parameter#getDefaultValuePresentation` which is available since PhpStorm 2018.2 instead.

[2018-12-07 11:33] puggan opened #1135 "[False-Negative] Non-optimal regular expression, s PCRE_DOTALL"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Negative |
| Plugin         | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP5.6 |

Current behaviour (description/screenshot:)
--
"Non-optimal regular expression

[2018-12-07 17:02] kalessil commented on #1134
Fixed! Has do introduce a new index in order to keep compatibility with PS 2016.

[2018-12-07 17:02] #1134 closed

[2018-12-08 11:59] orklah opened #1136 "[False-Positive] Parameter/variable is not used : consider include/require below"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Extended) v3.0.9.1 |
| Language level | PHP 7.2                      |

Current behaviour :
--
When ty

[2018-12-08 12:06] andreasschroth commented on #1136
Well, true, I ran into this as well a few times, but decided to not report it, because it's dirty / a bad practise anyway and we will get rid of that remaining code soon.

But you are correct, would be better if that would be taken into account.

[2018-12-08 12:20] orklah commented on #1136
Thanks!

As I was saying, we have a 10 years old legacy code, we're using Inspections to help clean old stuff, detect unused code etc... We have a file with  5000+ lines of code who consist almost entirely in preparing variable and then include a small template for printers. Inspections are really useful to be sure not to break something but they're hard to use when there are false positives as we

[2018-12-10 05:48] funivan commented on #1136
@orklah you can suppress this inspection for the file.

[2018-12-10 09:07] voku opened #1137 ""argument unpacking" can be used -> is not working with root-namespace hint "\""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Ultimate), v2.0.11 |
| Language level | e.g. PHP 7.0                       |

Current behaviour (description:)
--

[2018-12-10 11:50] kalessil commented on #1137
Added new test cases, probably php version in the project settings is not set to 7.0.

[2018-12-10 11:50] #1137 closed

[2018-12-10 18:13] orklah commented on #1136
@funivan Indeed. This is what I'll do if this issue is declined. However, the file I took for my example is only one case, We have many more and they're not so binary, in some case we have code after the include, which could be in error, in some other the functions are mixed.

This is clearly not a major issue, but it could be a great functionnality for project like mine.

[2018-12-10 19:42] kalessil commented on #1136
@orklah: you are welcome, happy to hear that it helps to keep the legacy under control =)
I added the setting and it'll be available in the next release (somewhere in January).

[2018-12-10 19:42] #1136 closed

[2018-12-10 19:57] kalessil commented on #1135
Ooops, thank you for reporting @puggan

[2018-12-10 19:59] kalessil commented on #1118
Thank you for reporting @FlyingDR, I'll take care of fixing the issue.

[2018-12-10 21:03] kalessil commented on #1135
Fixed!

[2018-12-10 21:03] #1135 closed

[2018-12-10 22:03] orklah opened #1138 "[Feature Request] new inspection: unecessary call via parent::"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                   |
| Plugin         | Php Inspections (EA Extended)  |

Expected behaviour :
--
If there is a class who call a method via parent:: and neither the cla

[2018-12-11 12:07] zakirovir6 opened #1139 "[FP] "Null pointer exception may occur here" after && check"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) v3.0.9.1 |
| Language level | PHP 7.2 or higher                      |

Current behaviou

[2018-12-11 19:19] kalessil commented on #1133
Implemented!

[2018-12-11 19:19] #1133 closed

[2018-12-11 19:21] kalessil commented on #1139
Thank you for reporting @zakirovir6, not sure yet how I going to fix it yet, but let's hope it'll be simple enough =)

[2018-12-11 19:23] kalessil commented on #1138
Looks like a code style issue to me, I'll implement with the intention to the original use-case and ignoring magic.

[2018-12-11 19:33] kalessil commented on #1130
Fixed!

[2018-12-11 19:33] #1130 closed

[2018-12-11 20:47] kalessil commented on #1138
Implemented!

[2018-12-11 20:47] #1138 closed

[2018-12-11 20:50] orklah commented on #1138
Wow! Thanks!

[2018-12-11 20:52] kalessil commented on #1138
You are welcome =)

[2018-12-12 15:04] Sorcy opened #1140 "False positive "This makes no sense or enforces the operation result""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Extended) V3.0.9.1 |
| Language level | PHP 7.1                         |

Current behaviour (descript

[2018-12-12 18:02] orklah commented on #1140
Well, this is specifically the case I want to be warned about when I use this inspection.

If it was ruled as a false positive(because how it is indented?), it would be a bug for others.

Did you consider suppressing the inspection for this statement? You can do it with this tag:
/** @noinspection SuspiciousBinaryOperationInspection */

[2018-12-12 18:48] kalessil commented on #1140
Technically, `true && ...` and `false || ` are false positives. So I have to skip them in this specific inspection.

But code style is questionable, so I'll introduce a new code style inspection marking those hardcoded booleans as dead code.

[2018-12-12 18:58] orklah commented on #1140
Oh, I thought this was the "This makes no sense" part of the inspection, the other part being the opposite "enforces the operation result". I misinterpreted the message of the inspection

[2018-12-14 11:07] tom-reinders opened #1141 "[FP] "Null pointer exception may occur here" after instanceof check"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                         |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 5.6                       |

Current behaviour
--

[code]

Expected

[2018-12-14 12:01] andreasschroth commented on #1141
Might be related to https://github.com/kalessil/phpinspectionsea/issues/1139 ?

[2018-12-14 14:14] WiXSL opened #1142 "(mb_)strlen misused inspection suggests incorrect substitution on null value."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) Latest |
| Language level | PHP 7.2                         |

Current behaviour (descri

[2018-12-14 17:50] orklah opened #1143 "[FR] extending "'instanceof' can be used" inspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 5.3+                        |

There is a lot of PHP function who

[2018-12-18 07:17] kalessil commented on #1142
Will check, perhaps we can fix this by making types analysis more precise.

[2018-12-18 07:19] kalessil commented on #1143
@orklah: my feedback is positive, please go ahead with populating such list.
I'll take care of implementing and maintaining it later.

[2018-12-18 07:21] kalessil commented on #1141
@andreasschroth, this one is similar, but the context is different (ternary here, binary operation in the referenced one).

[2018-12-18 19:02] fraserredmond opened #1144 "[False-Positive] `Callable parameter usage violates definition` with preg_replace and str_replace"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                         |
| Plugin         | Php Inspections (EA Extended) 3.0.9.1 |
| Language level | PHP 7.2.2                        |

I'm not exactly sure, bu

[2018-12-19 19:24] kalessil commented on #1142
Fixed!

[2018-12-19 19:24] #1142 closed

[2018-12-20 18:31] kalessil commented on #1125
Implemented

[2018-12-20 18:31] #1125 closed

[2018-12-20 21:03] orklah commented on #1143
Hi,

I tried to do something clear, but I'm not sure if it's going to be easy to apprehend.

Here's the code:
[Repo](https://github.com/orklah/instanceof-inspection)

There are 7 experiments files, each one is a standalone file which can be executed. If everything is ok, there shouldn't be an "alert" message in the output.

For each experiment, I played with 3 things: a Class, a children Class and

[2018-12-22 19:55] dstockto opened #1145 "Bug/False-Positive: Trim incorrectly suggested for regex"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive

[2018-12-23 10:17] kalessil commented on #1145
Thank you for reporting @dstockto, fixed!

[2018-12-23 10:17] #1145 closed

[2018-12-23 10:18] kalessil commented on #1144
Thank you for reporting @fraserredmond, looks like a duplicate of #1129

[2018-12-23 10:18] #1144 closed

[2018-12-27 08:21] kalessil commented on #1140
Fixed! I re-worked reporting, so the `true && ...` and `false || ...` are decorated as unused code when reported. When this is out, I'll need feedback ;)

[2018-12-27 08:21] #1140 closed

[2018-12-27 08:58] kalessil commented on #1141
Fixed!

[2018-12-27 08:58] #1141 closed

[2018-12-27 09:14] kalessil commented on #1139
Fixed!

[2018-12-27 09:14] #1139 closed

[2018-12-28 07:31] kalessil commented on #1118
Fixed!

[2018-12-28 07:31] #1118 closed

[2018-12-28 08:41] kalessil commented on #1110
Implemented

[2018-12-28 08:41] #1110 closed

[2018-12-28 11:31] kalessil commented on #1143
Implemented!

[2018-12-28 11:31] #1143 closed

[2018-12-28 11:52] orklah commented on #1143
Awesome! I can't wait for the next release :)

[2018-12-28 12:01] kalessil commented on #1143
Should happen ~ mid of January =)

[2018-12-28 21:02] kalessil commented on #1002
Implemented!

[2018-12-28 21:02] #1002 closed

[2018-12-29 14:03] orklah opened #1146 "[FR] "Native Function result unused" inspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) |

Current behaviour (description/screenshot:)
--
There is  a PhpStorm inspection called  "

[2018-12-29 14:13] kalessil commented on #1146
'Unused function result' inspection already exists in Php Inspections (EA Ultimate) - the commercial version of the analyzer. Hence marking as a duplicate.

[2018-12-29 14:13] #1146 closed

[2018-12-29 15:44] orklah opened #1147 "SenselessTernaryOperatorInspection not shown on ultimate"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                     |
| Plugin         |  Php Inspections (EA Ultimate) 2.0.11 |

I just installed the 14 days trial for EA Ultimate and I'm surprised that the SenselessTernaryOpe

[2018-12-29 16:03] kalessil commented on #1147
Awesome, the Ultimate really great =)
I'll hardly remember all changes, but yes the inspection was replaced with one called "Illusion of choice".

[2018-12-29 16:04] #1147 closed

[2018-12-29 17:42] vladyslavstartsev opened #1148 "[Feature Request] extend `'in_array(...)' misused` and `Non-optimal if conditions`"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended), v3.0.9.1 |
| Language level |  PHP 7.2                        |

This code (that is marked

[2018-12-29 19:05] kalessil commented on #1129
Fixed!

[2018-12-29 19:05] #1129 closed

[2018-12-29 19:18] orklah opened #1149 "[FP] Substring comparison flaws"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                         |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.11 |
| Language level | PHP 7.3                 |

Current behaviour (description/scree

[2018-12-29 19:43] orklah opened #1150 "[FP] Optional before required parameter"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                         |
| Plugin         | Php Inspections (EA Extended)  |
| Language level | PHP5.*, PHP 7.0                       |

Current behaviour (description

[2018-12-29 20:02] kalessil commented on #1149
Ouch, good finding @orklah. Fixed!

[2018-12-29 20:02] #1149 closed

[2018-12-29 20:06] kalessil commented on #1150
Checked, the "PHP | Probable bugs | Optional before required parameter" inspection is from IDE itself. Perhaps it's something known already: https://youtrack.jetbrains.com/issues

[2018-12-29 20:06] #1150 closed

[2018-12-29 20:09] orklah commented on #1150
My bad, I thought that was one of yours!

[2018-12-29 20:10] kalessil commented on #1150
No worries, I are getting similar ticket from time to time =)

[2018-12-29 20:32] orklah commented on #1149
I have another strange case with this inspection:

https://3v4l.org/UJti0

This launch the warning and propose to replace 4 to 0. If we do it, the code who was working doesn't work anymore

[2018-12-29 20:54] kalessil commented on #1149
Ok, fixed this case as well.

[2018-12-29 21:55] orklah opened #1151 "[FP] ClassExistenceCheckInspector with is_subclass_of"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                         |
| Plugin         | Php Inspections (EA Ultimate)|

Current behaviour (description/screenshot:)
--
When using is_a with a string, the ClassExis

[2018-12-30 00:45] vladyslavstartsev opened #1152 "[Bug] `PHPunit bugs and best practices` false positive assertion suggestion"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive, Feature request, Support Request                          |
| Plugin         | Php Inspections (EA Extended), v3.0.9.1 |
| Language level | PHP 7.2     |

Current

[2018-12-30 08:58] kalessil commented on #1151
Sound reasonable (I also didn't notice that defaults differs there). Fixed!

[2018-12-30 08:58] #1151 closed

[2018-12-30 10:33] orklah opened #1153 "[FP] 'compact(...)' variables existence with variable"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                        |
| Plugin         | Php Inspections (EA Extended)  |

Current behaviour (description/screenshot:)
--
The following code:
[code]
Displays a "'com

[2018-12-30 11:12] orklah opened #1154 "[FP] Statement could be decoupled from foreach with output"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                       |
| Plugin         | Php Inspections (EA Extended)|

Current behaviour (description/screenshot:)
--
When there is a statement used to output datas

[2018-12-31 08:50] kalessil commented on #1153
Fixed!

[2018-12-31 08:50] #1153 closed

[2018-12-31 08:54] kalessil commented on #1154
@orklah, I need a real-life code snippet here, as this specific inspection is quite complex.

[2018-12-31 13:05] kalessil commented on #1148
Marking as implemented, still, need to add tests, run QA and Performance tests.

[2018-12-31 13:05] #1148 closed

[2018-12-31 13:08] orklah commented on #1154
Here are two examples from wordpress source code:

![Example1](https://user-images.githubusercontent.com/9605520/50560697-b4bf2700-0d03-11e9-9155-cd44831eee68.png)
In this first one, there is a variable named $describedby_attr. It is actually defined before the loop with this pre-calculed html attributes:
[code]
The variable is then used as an output to render the full html markup.

The second one

[2018-12-31 22:32] TimothyBJacobs opened #1155 "Only warn about PHPUnit deprecations if on PHPUnit version with replacement"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive or Feature request

[2019-01-01 10:59] kalessil commented on #1154
Oh, got now, thank you. The inspection will skip loops in templating now.

[2019-01-01 10:59] #1154 closed

[2019-01-02 10:55] kalessil commented on #1132
Snap, that was nullability check.

[2019-01-02 10:55] #1132 closed

[2019-01-02 10:56] kalessil commented on #1155
Oh, it finally came time for introducing the PhpUnit version setting. Thank you for reporting @TimothyBJacobs.

[2019-01-02 16:04] kalessil commented on #1049
So, after multiple talks at UGs, we are going to skip this request types. PhpStan is doing a good job here, so I don't see much benefits in replicating its' functionality.

[2019-01-02 16:04] #1049 closed

[2019-01-02 17:47] orklah commented on #1143
Hi!

Thanks for the early release!

I went back to my test file to check if the improved inspection caught all the cases. It seems to have missed some of them:

1) Every cases involving an interface. For example:
[code]

2) is_a with $allow_string = true, but with an object in first param anyway
When we type:
[code]
It doesn't work. But the type of $MyClassObject is an object so it shouldn't be a

[2019-01-02 18:13] orklah commented on #1154
It resolved some 5 of the 9 false positives I saw.

Here are some example of what stayed highlighted:
echo $var->something in templating
![](https://user-images.githubusercontent.com/9605520/50605260-1b8a3f00-0ec2-11e9-8636-c4c227f5cebb.PNG)
This case look like the previous ones very much, I don't understand why it didn't get resolved:
![](https://user-images.githubusercontent.com/9605520/50605261

[2019-01-03 07:09] #1076 closed

[2019-01-03 07:09] kalessil commented on #949
Implemented!

[2019-01-03 07:09] #949 closed

[2019-01-03 07:09] kalessil commented on #226
Implemented!

[2019-01-03 07:09] #226 closed

[2019-01-03 08:42] kalessil commented on #1154
Yep, fixed those cases as well

[2019-01-03 08:46] kalessil commented on #1143
Will check test fixtures, probably it was intended (I don't remember exactly).

[2019-01-03 12:40] kalessil opened #1156 "Re-work pricing for ultimate (Q2 2018?)"
Organizations: 50 €/year, 5 €/month (excl. VAT)
Individual: 25 €/year, 2.50 €/month (excl. VAT)

[2019-01-03 14:23] leofeyer commented on #1057
Here are some additional screenshots:

<img width="647" alt="" src="https://user-images.githubusercontent.com/1192057/50642321-0cab9700-0f6b-11e9-8f7a-9564f8d3d90b.png">

<img width="617" alt="" src="https://user-images.githubusercontent.com/1192057/50642336-1a611c80-0f6b-11e9-9bd1-3081bae4b2c6.png">

[2019-01-07 12:21] puggan opened #1157 "[FP] replace empty() with `=== null`, where multiple parts may be null"
| Subject        | Details |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive
| Plugin         | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 5.0 - 7.3, see https://3v4l.org/TsUuU |

Current behaviour (description/screenshot:)
--
Sugesting to replace `empty()` with `=== null`, when more then one o

[2019-01-07 12:48] kalessil commented on #1157
Confirmed, thank you for reporting @puggan!

[2019-01-08 08:30] funivan opened #1158 "[FP] Unused function result on fluent interface"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                                                |
| Plugin         |  Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 7.1                        |

Cr

[2019-01-08 14:40] kalessil commented on #1158
I'll check.

[2019-01-08 15:22] cosminsandu commented on #1158
I also get this error
[code]

[2019-01-09 07:49] kalessil opened #1159 "TraitsPropertiesConflictsInspection: differentiate annotations and properties"

[2019-01-09 15:11] s1lver opened #1160 "'parent' keyword misused"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended)  |
| Language level | PHP 7.2                       |

I used Yii2 framework. I get a lo

[2019-01-09 15:19] orklah commented on #1160
For static methods, we should suggest self:: instead of $this->

[2019-01-09 15:38] orklah commented on #1160
For me it's the same principle that $this->

parent:: has a different meaning only if the method is redefined in the current class or a child class. For every other cases, it's redundant to call directly the parent:: because every method is inherited in the current class.

It can be on purpose as it will always call the part when someone redefine the method but if it's not explicitly the point, I

[2019-01-09 17:05] orklah opened #1161 "[Bug] duplicate inspection for "Parameter/variable is not used""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                   |
| Plugin         | Php Inspections (EA Extended), last version |
| Language level | e.g. PHP 7                        |

Current behaviour (description/screens

[2019-01-10 13:15] puggan opened #1162 "nested if removes comments"
| Subject        | Details
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug |
| Plugin         | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 7.3 |

Current behaviour (description/screenshot:)
--
[code]

Expected behaviour
--
[code]

Environment details
---
PhpStorm 2018.3.2
Build #PS-183.4886.22, built on D

[2019-01-10 14:49] ihorvorotnov opened #1163 "Potential false-positive of Security / Hostname Substitution inspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive |
| Plugin         | Php Inspections (EA Extended) v3.0.10 |
| Language level | PHP 7.2 |

Current behaviour (description/screenshot:)
--

[code]

I'm checking the

[2019-01-11 09:57] kalessil opened #1164 "IV correctness: when the single variant is a method, check if it abstracts bytes generation"

[2019-01-11 11:30] bcremer commented on #1164
Relates to https://github.com/shopware/shopware/pull/1970#issuecomment-453447722.

![image](https://user-images.githubusercontent.com/55820/51031365-a9d68300-159c-11e9-947c-d95fad571a0a.png)

[2019-01-11 16:20] kalessil commented on #1160
`$this` should not be suggested for sure, thank you @s1lver for reporting. I also think `self::` is a great idea, even if wasn't the part of the original plan here.

[2019-01-11 16:22] kalessil commented on #1161
Declining, this is desired behaviour - it helps to see which code branches are affected.

[2019-01-11 16:49] kalessil commented on #1161
Oh, addressing this should not be a problem!

[2019-01-11 17:33] orklah commented on #1161
Great! Thanks!

[2019-01-12 18:21] #667 closed

[2019-01-14 12:38] Koc opened #1165 "Suggest use is_a when it possible"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request
| Plugin         | Php Inspections EA Extended v3.0.10 |
| Language level | PHP 7.2

Current behaviour (description/screenshot:)
--
[code]

For now code suggests only

[2019-01-14 13:17] kalessil commented on #1165
Thank you for the proposal @Koc, I'll evaluate the case.

PS: it also possible to use `instanceof` here.

[2019-01-14 13:34] orklah commented on #1165
Hi @kalessil , it seems that it's the same as one of the cases here:
https://github.com/kalessil/phpinspectionsea/issues/1143#issuecomment-450931889

[2019-01-14 15:40] voku opened #1166 ""gettype" is not working for validating "types compatibility""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Ultimate), v2.0.11 |
| Language level | PHP 7.1                        |

Code
--
[code]

Current behaviour (desc

[2019-01-16 08:37] funivan opened #1167 "YieldFromCanBeUsedInspection false positive"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive          |
| Plugin         | P

[2019-01-16 14:42] puggan opened #1168 "[FP] SubstringCompareInspection no length"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive|
| Plugin         | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 7.3 |

Current behaviour (description/screenshot:)
--
SubstringCompareInspection warn

[2019-01-16 15:01] puggan commented on #1168
Expected:
If 3th parameter length exists, compare it with the constant string length.
else if 2th parameter is negative, compare it with the constant string length.
else skip

[2019-01-17 08:42] andreasschroth opened #1169 "[FR] Show if code is always possible / never possible to be executed with return types"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.11 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here

[2019-01-17 08:47] andreasschroth opened #1170 "Ultimate 2.0.12 not available at Jetbrains Plugins"
I was just wondering while I'm still on Ultimate 2.0.11 and not on the latest version 2.0.12 which has been released about 2 weeks ago already. My IDE is not showing any updates.

I then checked the Plugin page on the Jetbrains site and it also says that 2.0.11 is the latest version from Dec 3, 2018. But I can see a new release has been tagged here on Github.

Link to Jetbrains plugin page: https:

[2019-01-17 09:36] SpacePossum opened #1171 "false positive "PHP_OS constant should be used instead.""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive
| Plugin         | Php Inspections (EA Extended) v3.0.10 |
| Language level | PHP 7.0

Current behaviour (description/screenshot:)
--

[code]

Expected behaviour
--

No

[2019-01-17 16:49] orklah opened #1172 "[FR] If-return-return could be simplified: new patterns"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     |  Feature request                        |
| Plugin         | Php Inspections (EA Extended)  |

Expected behaviour
--
I would like to propose new patterns for the "If-return-return cou

[2019-01-18 16:16] garyblankenship opened #1173 "Unnecessary emptiness check."
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

Inspecting some legacy code.  An empty + OR statement with strlen() is a false report?

| Subject        | Details                                                                       |
| :------------- | :------------------------------------------------------------

[2019-01-18 16:30] kalessil commented on #1169
Since I still need to release 2.0.12, I'll include this =)

[2019-01-18 16:33] kalessil commented on #1172
Looks good, marking for backlog due to high bug-rate.

[2019-01-18 16:34] kalessil commented on #1171
Awesome, thank you for reporting @SpacePossum !

[2019-01-18 16:36] kalessil commented on #1173
That's quite strange behaviour... Thank you for reporting @garyblankenship, I'll take care of fixing this.

[2019-01-18 16:40] andreasschroth commented on #1170
Alright, thanks! And sorry for creating the issue.

[2019-01-18 16:42] andreasschroth commented on #1169
@kalessil Thanks, awesome! That one would have saved us from a bug that even made it into production.

[2019-01-19 10:39] Radiergummi opened #1174 "[FR] Add inspections for error control operator (@) usages"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.3 |

Current behaviour (description/screenshot:)
--
Conditions like the following trigger

[2019-01-20 16:12] kalessil commented on #1167
I'm lacking brain power today, @funivan can you please explain to me why we can not properly handle an array of iterators (or it's an array of generators, or probably iterators should not return generators). I'm lost.

[2019-01-20 17:37] kalessil commented on #1169
Implemented!

[2019-01-20 17:37] #1169 closed

[2019-01-21 05:50] funivan commented on #1174
PhpStorm has built-in inspection `Usage of the silence operator` but without QFs

One hint to speed up code grooming of the legacy project:
You can use `Search structurally` action in the IDE. Invoke this action and paste `@$a$[$b$]`. Also, you can perform replace of these statements with `Replace structurally` action.

[2019-01-21 08:52] Radiergummi commented on #1174
@funivan thank you, that's definitely helpful! What's your opinion on the quick fixes though?

[2019-01-21 09:00] funivan commented on #1174
@Radiergummi
1. Fix some code with `Replace structurally` action
2. Check how many statements (% of them) will be fixed if @kalessil add QF for this inspection?
In our project, we have a lot of legacy code, but only about 2% (6 statements) can be fixed automatically with `at QF`. So for me this QF is not needed (IMHO)

[2019-01-21 09:21] Radiergummi commented on #1174
I'm in the process of fixing stuff, but the situation is different for my team... Our code is riddled with stuff like -

[code]

Convincing some of the older devs to resort to `isset()` was hard on it's own, so if there was a QF to fix the existing code with _alt-enter, enter_, the barrier to actually do that would certainly be lower.
And with "riddled", I mean 2179 structural search matches in ju

[2019-01-21 09:51] Radiergummi commented on #1174
@andreasschroth Yup it might be sensible to add it to their issue tracker, however I've got around 5 issues open since around half a year, so there's not too much hope they actually care about minor stuff like this in the forseeable future (Not to blame JB, there's bigger issues to action on).

@orklah I don't trust a search-replace rule to match all the creative ways some people use the error con

[2019-01-21 09:55] andreasschroth commented on #1174
@Radiergummi Yep, I know, they're not very fast. I also still have unfixed issues open over there. But otherwise it would feel like a duplication somehow. Well @kalessil has to decide in the end, but for me it wouldn't add additional benefit to have the same inspection again inside the plugin just with a QF.

[2019-01-21 09:56] orklah commented on #1174
@Radiergummi , You're welcome :)

Keep in mind that it's not an automatic process, it's just like an inspection, it relies on someone in your your team typing 'alt+enter' , previewing the replace and then validate.

I add custom inspection like that for a lot of cases so my team can do the fix themselves

[2019-01-21 10:37] filipe96 opened #1175 "Dockerfile can't be build properly"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Docker build failed                          |
| Plugin         |not important for the bug|
| Language level | not important for the bug                       |

Current behaviour (de

[2019-01-21 12:02] andreasschroth opened #1176 "[False-Positive] array_keys() unrecognised type"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.11 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here

[2019-01-21 18:24] lintaba opened #1177 "OffsetOperationsInspection + return new static()"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin

[2019-01-22 08:11] Mandy91 opened #1178 "Could provoke a PHP Fatal error ([] operator not supported for strings) triggered when it should not"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                       |
| Plugin         | Php Inspections (EA Extended) v3.0.10 |
| Language level | PHP 7.2 |

In some cases _Could provoke a PHP Fatal error ([] operator not su

[2019-01-22 10:30] andreasschroth opened #1179 "New Pattern for unnecessary continue"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | New Pattern                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.12 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here is

[2019-01-23 18:53] orklah opened #1180 "[FR] Statement could be moved to a sub scope"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                 |

Current behaviour (description/screenshot:)
--
Consider the following code:
[code]
While this code is perfectly valid on its own, the variable $bar

[2019-01-24 03:04] andreasschroth commented on #1180
Nice idea for a new inspection, although I believe that there won't be too much affected code out there as it has many restrictions (no use outside of the sub-scope, no loop, etc.) which you already posted.

[2019-01-24 08:16] ScreamingDev opened #1181 "Less or no suggestion for exclamation mark instead of false comparison"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate) |
| Language level |                |

Current behaviour (description/screenshot:)
-

[2019-01-24 08:49] kalessil commented on #1174
I'm in general not against reinventing the wheel, but I'm pretty sure we should create a FR for PhpStorm team to add the QF.

SSR might be a temporal solution, did it work for you @Radiergummi ?

[2019-01-24 08:52] kalessil commented on #1175
@filipe96, I can accept even patch-file if it makes contribution easier for you =)

Regular workflow is to fork the repository on GitHub, make changes in your form and create a Pull Request on GitHub.

[2019-01-24 08:53] kalessil commented on #1176
Thank you for reporting @andreasschroth, I'll fix this.

[2019-01-24 08:55] kalessil commented on #1177
Thank you for reporting @lintaba, I'll take a look why this gets reported. Fixing might take a while due to high bug-reports rate.

[2019-01-24 08:57] kalessil commented on #1178
Thank you for reporting @Mandy91 , I'll take a look why this gets reported. Agree that superglobals should not be reported in this context.

[2019-01-24 08:58] kalessil commented on #1179
That\s a neat pattern, thank you @andreasschroth !

[2019-01-24 08:59] andreasschroth commented on #1181
I disagree. For me, `===` and `instanceof` are both operators and in your above example the cognitive load is definitely higher than it would be with `!`, especially without parenthesis, because you have to think about in which order the comparison is executed.

`if ( false === ($migration instanceof MigrationInterface) ) {` would have a better readability imo.

But `if ( ! $migration instanceof M

[2019-01-24 08:59] kalessil commented on #1180
Looks like a great addition, thank you for the proposal @orklah !

[2019-01-24 09:01] kalessil commented on #1181
The inspections is getting lots of negative feedback, so it'll be disabled by default to not distract folks during bug-hunts =_

[2019-01-24 09:02] andreasschroth commented on #1181
@kalessil Yeah sounds like a good idea to disable it by default. But personally I like it & the suggestions it provides. But yes, it's definitely a subjective thing.

[2019-01-24 10:35] kalessil commented on #1175
Merged #1182

[2019-01-24 10:35] #1175 closed

[2019-01-24 14:44] Radiergummi commented on #1174
@kalessil not quite - I tried, but I could not come up with an expression that'd match `if` conditions... It always replaced the condition body, too. But I'm pretty sure that's just a matter of reading the documentation more thoroughly and homework for me personally.
Would you mind creating the FR? I'd assume your voice has a little more weight than mine for JetBrains.

[2019-01-24 15:25] orklah commented on #1174
@Radiergummi
Try something like that:

Search pattern:
`
if(@$a$[$b$]){$c$}
`

Replace pattern:
`
if(isset($a$[$b$])){$c$}
`

You may need to create more than one SSR to match every depth of your arrays
For example if(@$a$[$b$][$d$]){$c$}, if(@$a$[$b$][$d$][$e$]){$c$} etc...

One case for elseif may be needed too (ternary also?).

[2019-01-25 08:49] kalessil commented on #1181
@ScreamingDev: no worries, I appreciate the feedback and accepting the point (cognitive load). We probably mean different thing behind "negative feedback", in this project context it means that multiple people didn't find the inspection useful and disabling it in their projects.

Good point that the feedback brings major drawbacks (cognitive load, conflicts with other inspections, violating some s

[2019-01-25 14:19] Azenet opened #1183 "False positive: empty() suggests === null when type is null|string"
Hi,

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                         |
| Plugin         | Php Inspections (EA Extended) 3.0.10 |
| Language level | PHP 7.3      |

Current behaviour (description/screenshot:)

[2019-01-28 10:11] voku opened #1184 "False positive: Parameter/variable is overridden, but is never used or appears outside of the scope."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                      |
| Plugin         | Php Inspections (EA Ultimate), v2.0.12 |
| Language level | PHP 7.0                        |

Current behaviour (description:)

[2019-01-28 12:37] Stevehans opened #1185 "Performance/Array_push misused/count() not required is wrong in some circumstances"
Issue type Bug?/wrong recommendations
Plugin       Php Inspections (EA Extended) 3.0.10
Language level:PHP 7.1

At present the following code will generate a message that the count() can be dropped

	public function push( $item )
	{
		$this->stack[ count($this->stack) ] = $item;
	}

However, the ->stack array maintains an array position, so if items are removed as follows:-

	public function pop(

[2019-01-28 17:51] orklah opened #1186 "[bug] foreach usage possible: incomplete quick fix"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                      |
| Plugin         | Php Inspections (EA Extended) |

Current behaviour (description/screenshot:)
--
Apply the "foreach usage possible" quick fix on the for l

[2019-01-29 10:04] puggan opened #1187 "[False-Negative] Non-optimal regular expression, i flag"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Negative |
| Plugin         | Php Inspections (EA Ultimate) v2.0.12 |
| Language level | PHP 5.6 |

Current behaviour (description/screenshot:)
--
[code]

Expected behaviour
--

[2019-01-29 15:49] pelmered opened #1188 "Unexpected parameter count for sprintf with .= assignment"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) 3.0.10 |
| Language level | PHP 7.1                      |

Current behaviour
---
Screen

[2019-01-30 02:55] andreasschroth commented on #1188
Why not doing this?

[code]

[2019-01-30 08:49] andreasschroth opened #1189 "[New Pattern] Repetitive method calls"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | New Pattern                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.12 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here is

[2019-01-30 09:04] andreasschroth opened #1190 "[New Pattern] Duplicate array keys"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | New Pattern                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.12 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here is

[2019-01-30 12:56] funivan commented on #1190
What to do with such errors: suppress, leave, refactor code?

[2019-01-30 14:30] orklah commented on #1190
We should at least exclude every method called on Iterator classes ->getNext() would be a perfectly valid call

[2019-01-30 15:35] andreasschroth commented on #1190
@orklah Yep, true, 100% agreed! Didn't think about a specific call on that method.

[2019-01-30 15:37] andreasschroth commented on #1190
@funivan Good question, actually I can't even think of a valid use-case (besides an Iterator as mentioned by @orklah ). It might actually even be a bug. But if it's valid code, then I guess a suppression.

[2019-02-01 18:53] pelmered commented on #1188
@andreasschroth Sure that would work in this case, but it's still a bug isn't it?
If you for example want to make one of the parts conditional with an if statement there is no clean way to do that.

For example:
[code]

[2019-02-01 20:56] rentalhost commented on #1188
I guess that the initial case should be valid once that it is a simplified case of use, which proves that the bug exists. Maybe a workaround is just ignore this inspection in case of a special assignment (like `.=`) because will be very hard to inspection consolidate the final result of `$messageFormat` to identify that it have 3 terms (like this case).

[2019-02-01 21:01] pelmered commented on #1188
Yes, that would be ok. I can imagine that it would be very hard to figure out exactly what the contents of the variable is in this case. Especially with conditions like in my second example. Just ignoring would be fine for me.

[2019-02-01 23:50] voku opened #1192 "mkdir race condition inspection: wrong auto-fix"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                      |
| Plugin         | Php Inspections (EA Ultimate), v2.0.12 |
| Language level | PHP 7.0                        |

Code:
--

[code]

Current behaviour:
--

[c

[2019-02-02 03:55] andreasschroth commented on #1188
@pelmered Sure, obviously it's a bug that should be fixed or the inspection disabled in case the final result cannot be determined of the string. But I posted my suggestion in case you're not aware of the solution to at least avoid the inspection bug.

With your example though, I would still consider it a bad practise for myself. At least we work with localisation and concatenating strings that wa

[2019-02-02 10:33] pelmered commented on #1188
@andreasschroth Yes ok, I appreciate that.
However, you make a lot of dangerous assumptions of what code in a real-world application can look like. There's as many ways to build software as there are developers, and when you make assumptions of how others should write their code you are on thin ice.

I don't necessarily see a problem with translation here neither. You can either translate the indi

[2019-02-02 11:02] andreasschroth commented on #1188
@pelmered But your aware that the word order is not the same in all languages, right? And that there are languages from left to right and also from right to left? Etc.

I mean, I keep repeating myself that this bug should be fixed, but I still don't think this is a best practice to concatenate the such a string. And isn't this plug-in and the whole idea about writing good, high-quality code? This

[2019-02-02 11:05] andreasschroth commented on #1188
@pelmered But you're aware that the word order is not the same in all languages, right? And that there are languages from left to right and also from right to left? Etc.

I mean, I keep repeating myself that this bug should be fixed, but I still don't think this is a best practice to concatenate such a string. And isn't this plug-in and the whole idea about writing good, high-quality code? This pl

[2019-02-03 21:36] voku opened #1193 "if-else workflow: wrong auto-fix"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                      |
| Plugin         | Php Inspections (EA Ultimate), v2.0.12 |
| Language level | PHP 7.0                        |

Code:
--

[code]

Current behaviour:
--

[c

[2019-02-04 02:57] andreasschroth commented on #777
Sounds like a good idea to me, should be kept open. @stalebot

[2019-02-05 12:27] andreasschroth opened #1194 "[Feature Request] Fatal error with static closures using $this"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.12 |
| Language level | PHP 7.3                        |

Current behaviour:
---

Here

[2019-02-05 16:23] andreasschroth commented on #1190
Closing this as I don't think it's a good proposal to implement.

[2019-02-05 16:23] #1190 closed

[2019-02-11 14:38] WiXSL opened #1195 "Feature request: Comparing against quotes without type checking."
| Issue type     | Feature request

It would be great an inspection to identify and remove equivalent evaluations when comparing against quotes without type checking.

Example:

[code]

[2019-02-11 14:44] andreasschroth commented on #1195
I strongly recommend using strict comparison, that means `===` instead of `==`.

[2019-02-11 14:47] WiXSL commented on #1195
Me too, but in large projects with legacy code is not an option to make such changes.

[2019-02-13 20:48] kalessil commented on #1187
Fixed!

[2019-02-13 20:48] #1187 closed

[2019-02-13 22:23] ScreamingDev opened #1196 "PHPUnit: Expects in setUp is bad usage"
Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate), which version |

Curren

[2019-02-14 07:02] kalessil commented on #1185
You are correct (https://3v4l.org/ne3ku). I'll introduce a setting to disable the case reporting.

Meanwhile I can suggest 2 options:

- suppressing the warning
- refactoring pop to following (I personally strongly recommend following this one):
[code]
public function pop( )
{
	return array_pop($this->stack);
}
[code]

[2019-02-14 07:21] kalessil commented on #1185
Added the setting.

[2019-02-14 07:21] #1185 closed

[2019-02-14 07:23] kalessil commented on #1195
Looks like a new pattern for suspicious binary expressions: always true/always false when second (any following) condition reached. Am I right?

[2019-02-14 07:55] schlessera opened #1197 ""not equal" vs "negation equals""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate) |
| Language level | any                        |

Current

[2019-02-14 08:27] kalessil commented on #1194
Great code snipplet, Andreas!

[2019-02-14 08:50] kalessil commented on #1183
Fixed!

[2019-02-14 08:50] #1183 closed

[2019-02-14 11:07] kalessil commented on #1189
Implemented!

[2019-02-14 11:07] #1189 closed

[2019-02-14 11:12] kalessil commented on #1188
Obviously a bug, I'll take care of fixing it.

[2019-02-14 13:51] kalessil commented on #1186
Fixed except inlined strings, will check later if inlined case can be fixed as well.

[2019-02-14 13:51] #1186 closed

[2019-02-14 17:24] kalessil commented on #1186
Also done for the inlined cases.

[2019-02-14 17:38] orklah commented on #1186
Thanks! Glad to see you're back :)

[2019-02-14 18:19] kalessil commented on #1193
Fixed!

[2019-02-14 18:19] #1193 closed

[2019-02-14 18:20] kalessil commented on #1186
Yep, offline topics took a few weeks =)

[2019-02-15 09:34] kalessil commented on #1192
Fixed!

[2019-02-15 09:34] #1192 closed

[2019-02-15 10:09] kalessil commented on #1184
Fixed!

[2019-02-15 10:09] #1184 closed

[2019-02-15 10:36] kalessil commented on #1179
Implemented!

[2019-02-15 10:36] #1179 closed

[2019-02-15 10:42] voku commented on #1192
Thanks for the fixes! 🎉

[2019-02-15 10:51] kalessil commented on #1174
I took time to think if this FR would fit the project scope, and decided to close the issue. Sorry.
Since PhpStorm has built-in inspection, it can spot places for cleanup.

[2019-02-15 10:51] #1174 closed

[2019-02-15 11:06] kalessil commented on #1181
The inspection is disabled by default.

[2019-02-15 11:06] #1181 closed

[2019-02-15 14:14] kalessil commented on #1159
Fixed!

[2019-02-15 14:14] #1159 closed

[2019-02-15 16:44] kalessil commented on #1176
Checked, but can not reproduce, unfortunately.

[2019-02-15 16:44] #1176 closed

[2019-02-15 16:50] andreasschroth commented on #1176
Please see this screenshot, I'm on Ultimate 2.0.12 now and can still reproduce it:

<img width="1431" alt="screenshot 2019-02-15 at 23 49 25" src="https://user-images.githubusercontent.com/13320551/52871380-83e46580-317c-11e9-89ce-d9396b452090.png">

[2019-02-15 17:06] orklah commented on #1159
Congratulations on your 1000th issue closed :)

[2019-02-15 17:09] kalessil commented on #1176
Will it persist if you create a new project?

[2019-02-15 17:23] andreasschroth commented on #1176
Funny, you are right.

If I create a new project with just this file, the warning is not displayed. What is the reason for it?

[2019-02-15 17:49] kalessil commented on #1176
One of the generic PhpStorm problems: caching/indexing data somehow causes failing resolving (due to IDE itself or 3rd party plugins). Invalidating caches and restarting might help.

[2019-02-15 17:50] kalessil commented on #1159
Thank you, that's quite a milestone =)

[2019-02-15 18:27] andreasschroth commented on #1176
Alright, thanks for the explanation and sorry for opening the issue.

[2019-02-15 18:28] kalessil commented on #1176
No problems =)

[2019-02-16 12:20] kalessil commented on #1195
Implemented!

[2019-02-16 12:20] #1195 closed

[2019-02-16 21:20] kalessil commented on #1173
Fixed!

[2019-02-16 21:20] #1173 closed

[2019-02-17 13:08] orklah commented on #1161
Hey, sorry to bother you but this issue is quite critical for my project. Do you know when you will be able to look at it?

Thanks!

[2019-02-17 17:47] kalessil commented on #1161
Moved on the top of issues list. I'll try to fix it Mon/Tue, will poke you with details where to take a fresh plugin version.

[2019-02-17 18:31] orklah commented on #1161
Great, thank you!

[2019-02-17 20:00] kalessil commented on #1197
Implemented!

[2019-02-17 20:00] #1197 closed

[2019-02-18 07:25] kalessil commented on #1161
Hey @orklah, which PhpStorm version is it (I can not reproduce the issue for some reason)?

[2019-02-18 07:55] kalessil commented on #1161
@orklah: can you try this binary in your environment and share feedback if the issue has been fixed ([binary](https://github.com/kalessil/phpinspectionsea/raw/bug-1161/PhpInspectionsEA.jar), btw do you know how to install plugin from the local file?)?

[2019-02-18 08:02] #1161 closed

[2019-02-18 12:37] kalessil commented on #1188
Fixed!

[2019-02-18 12:37] #1188 closed

[2019-02-18 16:27] orklah commented on #1161
Hi, Thanks, i'll try that right away!

Yes, I already installed from local file a few times.

[2019-02-18 16:57] orklah commented on #1161
I still have the issue.

I can reproduce it very well on the attached file (I had to rename to .txt for github)
[rss.txt](https://github.com/kalessil/phpinspectionsea/files/2876659/rss.txt)
and it generate the xml attached (had to rename as well)
[OnlyWritesOnParameterInspection.txt](https://github.com/kalessil/phpinspectionsea/files/2876674/OnlyWritesOnParameterInspection.txt)

It is just at the

[2019-02-19 17:56] kalessil commented on #1161
Ok, able to reproduce now, checking.

[2019-02-19 18:41] kalessil commented on #1161
Fixed now, I updated the binary (please ensure the plugin version will be 3.0.10.2)

[2019-02-19 18:52] orklah commented on #1161
There are less cases but still some on the same lines
[OnlyWritesOnParameterInspection.txt](https://github.com/kalessil/phpinspectionsea/files/2881515/OnlyWritesOnParameterInspection.txt)

Is there something you can do?

[2019-02-20 07:08] kalessil opened #1198 "Declaration access can be weaker: new pattern"
Description (screenshot):
--

 if the method is used in the class only (and in no interfaces) — warn that it should be private. If it's used in child only — warn that it should be protected

[2019-02-20 08:52] icanhazstring opened #1199 "New value type (static) is not in annotated types."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), 3.0.10 |
| Language level | PHP 7.1 |

This is was fixed before but is broken again.
These two issue faced the exact same problem:

https://github.com/k

[2019-02-20 10:25] puggan opened #1200 ""Cascading str_replace(...) calls", badly merged"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | EA Ultimate v2.0.12 |
| Language level | PHP 5.6 |

Current behaviour
--
![screenshot from 2019-02-20 11-17-53](https://user-images.githubusercontent.com/866668/53084537-53e0ed80-3501

[2019-02-20 10:58] puggan opened #1201 "[FP] Seems to be always true when reached. 2 strpos in if."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | EA Ultimate v2.0.12 |
| Language level | PHP 5.6 |

Current behaviour
--
2nd strpos gives "Seems to be always true when reached."

![screenshot from 2019-02-20 11-52-11](https://user-

[2019-02-20 18:31] kalessil commented on #1201
Duplicates #1173

[2019-02-20 18:31] #1201 closed

[2019-02-20 18:36] kalessil commented on #1199
Hm, which PhpStorm version is it?

[2019-02-20 19:16] icanhazstring commented on #1199
Running on IntelliJ IDEA Ultimate 2018.3.4.

Problems only happens on consecutive calls on the previous returned `static` type.

![image](https://user-images.githubusercontent.com/883543/53117970-5b79b400-354c-11e9-8f5e-314984f17297.png)

[2019-02-20 20:06] kalessil commented on #1199
Fixed!

[2019-02-20 20:06] #1199 closed

[2019-02-21 12:18] kalessil commented on #942
So, i was able finally to reproduce the issue, will be covered in #1200 (at least I hope so).

[2019-02-21 12:18] kalessil commented on #737
So, i was able finally to reproduce the issue, will be covered in #1200 (at least I hope so).

[2019-02-21 12:25] kalessil commented on #1200
So, I resolved the issue with mixing array syntax, but wasn't able to reproduce step `3`.

[2019-02-21 13:26] kalessil commented on #1177
Fixed!

[2019-02-21 13:26] #1177 closed

[2019-02-21 13:55] kalessil commented on #1168
Fixed!

[2019-02-21 13:55] #1168 closed

[2019-02-21 14:04] kalessil commented on #1166
Checked, there is no way on our end to solve this. But the inspection has setting, one of them disables complaining about  mixed types.

[2019-02-21 14:04] #1166 closed

[2019-02-22 10:20] kalessil commented on #1171
Fixed!

[2019-02-22 10:20] #1171 closed

[2019-02-22 10:23] apermo opened #1202 "PHP as Module vs CGI - Warning on using features with different results"
I recently wrote code that didn't act as locally tested. My live system is a MAMP with PHP as module, where my live system runs PHP as CGI.

In my particular case it was:

[code]
Locally the later gave me the path without URL parameter, whereas live it just gave me index.php.

I think it would be good to have a warning on using code that have ambiguous results depending on the used technology to r

[2019-02-22 11:10] kalessil commented on #1157
Fixed!

[2019-02-22 11:10] #1157 closed

[2019-02-22 12:13] puggan commented on #1200
Maybe just was lag = phpstorm maybe didn't re-parse the new line before i executed the 2nd replacement.

Having multiple phpstrom, a couple of docker containers, and a lot of websites, some with some have javascript running, makes my relative fast computer go slow. :-)

I'l see if I can reproduce it after next reboot.

[2019-02-22 12:15] kalessil commented on #1200
:+1:

[2019-02-22 15:28] SpacePossum commented on #1171
thanks : D

[2019-02-23 13:57] kalessil commented on #1162
Fixed!

[2019-02-23 13:57] #1162 closed

[2019-02-23 15:40] kalessil commented on #1160
Fixed!

[2019-02-23 15:40] #1160 closed

[2019-02-24 10:56] samdark commented on #1198
Example code:

[code]

[2019-02-24 18:06] rentalhost commented on #1198
I think that is very hard to predict that this class will never been extended by another class in some moment. Both by the own dev or by a third. So make `$x` private because of the current context will limit the usage of this property in a possible future child class.

[2019-02-24 20:11] orklah commented on #1198
It is, but for me, the point of this software is not to predict what will be, but to work with the given situation. This tool shouldn't be used blindly, there has to be a developper who will have to judge whether a suggestion is valid or not.

On the other hand, for legacy project who need refactor, this is a HUGE help. Private methods are so much easier to change, if there is a good way to detect

[2019-02-25 04:22] andreasschroth commented on #777
Please reopen.

[2019-02-25 06:26] funivan commented on #1198
@rentalhost why we should use protected properties? We can use methods instead of properties.
IMHO Properties should always be private =)

[2019-02-25 08:34] kalessil commented on #1164
Fixed!

[2019-02-25 08:34] #1164 closed

[2019-02-25 09:27] kalessil commented on #1163
Fixed!

[2019-02-25 09:27] #1163 closed

[2019-02-25 09:33] andreasschroth commented on #1198
@funivan Well, imo, that really depends on use-case. Sure we can use methods instead of properties, but if it's something that is not being publicly exposed anyway, I prefer accessing the property directly.

[2019-02-25 09:35] kalessil commented on #1202
Hi @apermo, gladly. Since I'm not using globals often, what would be the best alternative for the both `$_SERVER['REQUEST_URI']` and `$_SERVER['REDIRECT_URL']`? As I understand, the both of them are not working the same way is module/CGI modes.

[2019-02-25 09:47] apermo commented on #1202
`REQUEST_URI` is the same on both, `REDIRECT_URI`differs, depending on the implementation of PHP.

[2019-02-25 09:49] kalessil commented on #1202
Ok, then we need to complain about using `REDIRECT_URI` and propose using some thing instead. Should we propose using `REQUEST_URI` or something else?

[2019-02-25 09:51] apermo commented on #1202
Yes, but I'm sure there are more things that differ between CGI and Module, but I'm not aware of all differences.

[2019-02-25 09:53] kalessil commented on #1202
We need only to start, community will share more cases over the time =)

[2019-02-25 10:03] puggan commented on #1200
Still reproduceable, after reboot.

![screenshot from 2019-02-25 11-01-05](https://user-images.githubusercontent.com/866668/53329583-ad279300-38ec-11e9-8603-dc4af9595dc3.png)

Did some more testing:
* unicode or ascii didn't matter
* If the 2nd row is an array it fails
* Writing the code using another codestyle, made it work.
* Seams to be the whitespace in the beginging of the array thats the dif

[2019-02-25 10:32] kalessil commented on #1200
Ok, next round then =)

[2019-02-25 10:46] puggan commented on #1200
Turning of this option, in the PHP-codestyle, made the original exemple of 3 str_replace, work.
![screenshot from 2019-02-25 11-44-48](https://user-images.githubusercontent.com/866668/53332099-c6cbd900-38f2-11e9-9287-b268940b48af.png)

[2019-02-25 20:46] orklah opened #1203 "[FP] Array and string offset validity: new settings"
Description:
--
When we activate the "Array and string offset validity" inspection in our project, we get thousands of errors. The main reason is because we have a lot of methods who return mixed results like "array|false" or "RandomObject[]|int[]" and a parameter to choose whether we want ids or RandomObjects in return.

This is bad code, but it's generally working well.

However, the inspection

[2019-02-26 18:42] orklah opened #1204 "[FP] Substring comparison flaw: multibytes chars"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.13|

Current behaviour
--
For the following code:
[code]
PHP EA Ultimate suggest to change the value from 8 to 7 to match with the compared string.

[2019-02-26 18:50] orklah opened #1205 "[FP] Isset operations variables existence: array access on a loop"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--
For the following code:
[code]

PHP EA Ultimate warn that "'$a' seems to be not defined in the scope". However, we are on

[2019-02-26 19:01] orklah opened #1206 "[FR] Nested assignments usage: scalar assignments"
Description (screenshot):
--
For the following code:
[code]
If we apply the quick fix of the "Nested assignments usage" inspection we get this result:
[code]

While this is the correct meaning of the original statement, it is not very clear. Moreover, for scalar values, it is rarely the meaning the developper put behind that statement (assign multiple values at once to initialize them).

I think t

[2019-02-26 19:22] kalessil opened #1207 "Constant conditions"
`if ($i === false) { ... ($i === false ? 'foo' : 'bar') ... }`

[2019-02-26 19:36] orklah commented on #1207
Nice!

Should not be limited to ternary

[code]

Doesn't throw warnings either.

This could also be spotted and simplified:
[code]

[2019-02-26 19:43] kalessil opened #1208 "CS: implode argument order"
`implode($stuff, ' *')`: works, but smells and confuses

[2019-02-26 20:33] orklah commented on #175
I'm pretty sure this is now part of "Undefined field" in PHPStorm. The code now triggers a warning on "number" with "Field declared dynamically" warning.

[2019-02-26 20:46] orklah commented on #282
I believe this functionnality is present in PHPStorm since 2018:
https://blog.jetbrains.com/phpstorm/2018/06/phpstorm-2018-2-eap-182-3458-35/

There is a QF to add the extension in composer.json and an intention to add the extension in the settings if it's missing.

[2019-02-26 21:01] orklah commented on #668
PHPStorm introduced a new setting in the "Strict type checking rules violation" inspection in EAP to activate the check even if declare(strict_types = 1); is missing in the file.

The code in example now triggers an error when this setting is activated. I think we may close this issue.

[2019-02-26 21:26] orklah commented on #1180
This issue is in fact a duplicate of this one:
https://github.com/kalessil/phpinspectionsea/issues/859
I should have search longer before creating it :)
@kalessil feel free to close this one or the other

[2019-02-26 21:43] orklah commented on #972
On the last EAP or previous one, there was a lot of refactoring in those QF from PHPStorm side.

I believe they deleted the "Import Class" and "Simplify FQN" to replace it with "Replace qualifier with an import" and they will rename that too...

https://youtrack.jetbrains.com/issue/WI-44964
https://youtrack.jetbrains.com/issue/WI-45510

I don't think this issue is relevant anymore.

[2019-02-27 06:20] andreasschroth commented on #1207
Funny, I just wanted to create an issue with the same suggestion.

Very useful pattern! 👍

[2019-02-27 06:22] andreasschroth commented on #282
@orklah Yep, true. We use this inspection from PhpStorm already for several months and it works fine.

[2019-02-27 07:22] kalessil opened #1209 "False-negative: suspicious binary operations"
`if("a" === 0){}`

[2019-02-27 07:30] funivan commented on #668
I just check the latest inspection from the PHPStorm team `Strict type checking rules violation` and it works great.

@kalessil you can close this issue. JB team make a great work)

[2019-02-27 11:23] funivan commented on #175
@kalessil We can close this issue. `Undefined fields` works fine for me too.

[2019-02-27 12:45] andreasschroth commented on #175
I confirm. PhpStorm warns about this now.

[2019-02-27 14:37] kalessil commented on #175
Done, closing as duplicate.

[2019-02-27 14:37] #175 closed

[2019-02-27 16:22] kalessil commented on #1209
Fixed!

[2019-02-27 16:22] #1209 closed

[2019-02-27 17:08] orklah opened #1210 "[FR] Foreach can be used: improved QF with array_keys"
Description :
--
I just came across something like this in an antique piece of code:
[code]

This is just a really messed up foreach.

When I apply the "Foreach can probably be used" QF, I get:
[code]
It is technically correct. But it could be so much better!

[code]

The inspection already dectect  $i < count($array), maybe it's possible to go a little further and detect the array_keys construct

[2019-02-27 18:18] kalessil commented on #1210
In our realities, we can eliminate: `$nb_elements = count($array_keys)`.
Also `$key` redundancy could be detected, but that's another inspection.

I'll check thee 2 things, but the rest is too complex for the current project state.

[2019-02-27 18:30] orklah commented on #1210
Cool!

[2019-02-27 19:16] orklah opened #1211 "[FP] Declaration access can be weaker: overrided attribute"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.13|

Current behaviour
--

Start with the following code:
[code]

https://3v4l.org/rpTj0
It returns "b"

Apply the QF from "Declaration access can

[2019-02-27 20:01] orklah opened #1212 "[FP] Illusion of choice: Potential change of behaviour"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate),2.0.13 |

Current behaviour
--

For the following code:
[code]

The method get() can't return an empty string. The weak comparison with null will catch e

[2019-02-27 20:44] ausi commented on #18
@kalessil I stumbled on this warning today and I’m not sure if the recommendation for using the `b` flag is (still) necessary.

The [documentation for `fopen()`](http://php.net/manual/en/function.fopen.php#refsect1-function.fopen-changelog) states that *“As of PHP 4.3.2, the default mode is set to binary for all platforms that distinguish between binary and text mode.”*

Looking at the source of P

[2019-02-28 07:26] cjost1988 opened #1213 "`assertEquals()` deprecation warning seems to be incorrect"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.2                        |

Question
--
Hi,

The extension is showing me that `$delta`, `$maxDepth` and `$canonicalize` argume

[2019-02-28 07:29] kalessil commented on #1210
Done!

[2019-02-28 07:29] #1210 closed

[2019-02-28 07:37] kalessil commented on #1210
Now, when starting from the original code fragment, we making 3 QF and getting to this (Ultimate):
[code]

@orklah can you also trying to put the sample code in a method, will complains persist there as well?

[2019-02-28 14:05] kalessil commented on #1213
Hi @cjost1988, the depreciation has been announced here: https://github.com/sebastianbergmann/phpunit/blob/master/ChangeLog-7.5.md

[code]

[2019-02-28 14:05] #1213 closed

[2019-02-28 14:12] kalessil commented on #18
@ausi: might be a case, please create a new ticket, as we don't look much into closed once too often.

[2019-02-28 14:19] kalessil commented on #224
@dccampbell : makes sense to include in this one as well. Thank you for the proposal.

[2019-02-28 15:52] ausi opened #1214 "FopenBinaryUnsafeUsageInspection no longer necessary?"
I stumbled on `FopenBinaryUnsafeUsageInspection` today and I’m not sure if the recommendation for using the `b` flag in `fopen()` is (still) necessary.

The [documentation for `fopen()`](http://php.net/manual/en/function.fopen.php#refsect1-function.fopen-changelog) states that *“As of PHP 4.3.2, the default mode is set to binary for all platforms that distinguish between binary and text mode.”*

L

[2019-02-28 15:52] ausi commented on #18
Done: #1214

[2019-02-28 16:57] orklah commented on #1210
Cool! It's way better!

Do you mean the "unused variable" inspection? Yes, there is the same warning in a method or in the global scope (depending on the settings of the inspection). I'm not sure I get the meaning of your question...

[2019-02-28 17:02] orklah opened #1215 "[FR] Unnecessary type casting: new pattern"
Description :
--

This code is not detected by the "Unnecessary type casting" inspection:
[code]

If it's a function instead of a method it works great.

Thanks

[2019-02-28 17:10] orklah commented on #1215
I had an other case but I'm not sure it's worth an inspection or if it's this inspection that should do it...

I came across this code:
[code]

Either $a is already a numeric and the cast is unnecessary or $a is not a numeric and the cast will make it a numeric by force:
https://3v4l.org/660gl

In either case, the statement returns true... (except maybe if $a is an object, this will throw some kin

[2019-02-28 17:11] orklah commented on #1215
I guess while we're at it

[code]

Could be flagged as always true

[2019-02-28 17:19] orklah opened #1216 "[FP] Unnecessary type casting"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate),2.0.13|

Current behaviour
--
I came across something like this today:
[code]

The last line triggers 2 inspections:
- Unnecessary type casting
- Variab

[2019-03-01 12:51] funivan commented on #1216
I do not think that we can fix this issue.
@orklah what is your solution? You need to fix this code because of undefined variable =)

[2019-03-01 14:04] orklah commented on #1216
Probably. I could fix it by adding $b = null; at the top of everything but this is not what bothers me.

If I apply the fix on the wrong inspection (unneccessary casting) I will break functionnal code by changing $b type.

Maybe there is nothing we can do, maybe we should just add a warning or change the label to something like "$b seems to be only int, the cast could be removed". It could at leas

[2019-03-01 15:08] kalessil commented on #1216
The fix will probably break the code, but we don't have tooling to recognize if the variable is always initialized or not. Hence declining.

[2019-03-01 15:08] #1216 closed

[2019-03-01 16:24] puggan opened #1217 "[FP?] replace empty with === null"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate) v2.0.11 |
| Language level | PHP 7.3 |

Current behaviour
--
`if(empty())` is marked as can be replaced with null, but a varaible of type `string|null` m

[2019-03-01 18:10] kalessil commented on #1215
- `(int)$this->return_int()`:  in this case skipped, as no implicit return type specified. PhpDoc can notbe trusted
- `is_numeric((int)...)`, `is_numeric((float)...)`, `is_numeric(call_with_implicit_return_type())`: nice, expressions with (possibly) constant result.

[2019-03-01 20:03] kalessil commented on #1210
Oh, I already added a new test case to cover the case, so nevermind =)

[2019-03-01 21:35] kalessil opened #1218 "if-return-return: new pattern"
[code]

[2019-03-01 21:56] orklah commented on #1218
For me, the case is already covered by Illusion of choice inspection:
![capture4](https://user-images.githubusercontent.com/9605520/53668791-31737080-3c75-11e9-8f2d-19780fc7366f.PNG)

[2019-03-02 07:55] kalessil commented on #1218
Right, closing then =)

[2019-03-02 07:55] #1218 closed

[2019-03-03 10:12] kalessil commented on #147
Revisiting, I tend to use the following approach:

[code]

So wondering if the idea was to check only extension, or implementation constructs as well. @rentalhost : can you clarify this, please?

[2019-03-03 11:54] kalessil commented on #200
Oh that's PhpDoc, I have to skip this.

[2019-03-03 11:54] #200 closed

[2019-03-03 12:28] kalessil commented on #210
So, 2 years later: I see the point. Alternative of polluting global scope is still a big disadvantage as increases overall complexity (DI, contracts and etc. for the formatter example). When it comes to testability, both techniques are testable.

And the last factor, which forces me to decline this ticket: JS/.NET/Java community are heavily adopting such techniques, so PHP will do it a well =)

[2019-03-03 12:28] #210 closed

[2019-03-03 12:31] kalessil commented on #227
For myself: alternative type should be sub-set of subject types.

[2019-03-03 16:36] kalessil commented on #227
Implemented!

[2019-03-03 16:36] #227 closed

[2019-03-03 19:17] orklah commented on #893
This one could be really useful. When I try to copy the code in example, only 1 out of the 4 case is caught

[2019-03-03 20:22] kalessil commented on #282
Confirmed, this has been covered by PhpStorm already.

[2019-03-03 20:22] #282 closed

[2019-03-03 20:30] kalessil commented on #311
Seems to be implemented already =)

[2019-03-03 20:30] #311 closed

[2019-03-03 20:31] kalessil commented on #258
Apparently, finding time for CS Fixer contribution is a problem...

[2019-03-03 20:31] #258 closed

[2019-03-03 20:33] kalessil commented on #278
Checked, breaks merge into ultimate completely...

[2019-03-03 20:33] #278 closed

[2019-03-03 20:35] kalessil commented on #458
Re-evaluating. Ideally, Java has something like CS Fixer and it will not break merging into ultimate.

[2019-03-04 20:28] kalessil commented on #1194
Implemented!

[2019-03-04 20:28] #1194 closed

[2019-03-05 03:26] dezio opened #1220 ""Fix all" in Laravel Blade files only fixing selected"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), v3.0.11 |
| Language level |  PHP 7.3 (check project settings or composer.json) |
| Sub language | Laravel Blade |

**Current behaviour**
--
When using

[2019-03-05 04:07] rentalhost commented on #1220
I think that it is related to IDE. From top of my mind, the language injection of blade treats each statement as a file (not needly it).

[2019-03-05 05:54] kalessil commented on #1220
Confirmed, that handled by IDE itself.

[2019-03-05 05:54] #1220 closed

[2019-03-05 09:29] puggan opened #1221 "[FP] Null pointer exeption after ?:"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate) v2.0.12 |
| Language level | PHP 5.6 |

Current behaviour
--
if you have a var that may be a class or null, and you then use ?: to make sure its not null

[2019-03-05 17:34] orklah opened #1222 "[FP] Foreach usage possible: list() = each() construct"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--
For the following code, the replacement of while(list() = each()) by foreach is suggested but the result is not the same

[2019-03-05 20:12] kalessil commented on #1043
Implemented!

@kwvanderlinde: confirmed, let's wait for first bug-reports and only then handle the false-positive.

[2019-03-05 20:12] #1043 closed

[2019-03-06 09:17] puggan commented on #1200
Was this fixed in v2.0.13?

[2019-03-07 08:54] puggan opened #1223 "[FR] if(void_function())"
Description (screenshot):
--
When doing an if, on a function that is known to return void:
![screenshot from 2019-03-07 09-53-08](https://user-images.githubusercontent.com/866668/53944126-077bdd00-40bf-11e9-8abc-326ea350e853.png)

A warning that that if will never be true, whould be nice.

Example
--
[code]

[2019-03-07 10:32] orklah commented on #1223
This inspection is part of the default inspection by PHPStorm
PHP > Probable bugs > Void function result used > "'void' function 'ob_flush' result used"

It works with native functions, user functions and user methods alike

[2019-03-07 13:08] puggan commented on #1223
It has some wiered namespace problem

![screenshot from 2019-03-07 14-05-47](https://user-images.githubusercontent.com/866668/53958771-2b9ce580-40e2-11e9-9165-d1c05be7c050.png)
![screenshot from 2019-03-07 14-04-08](https://user-images.githubusercontent.com/866668/53958836-4d966800-40e2-11e9-9990-f7ea17f62aee.png)
![screenshot from 2019-03-07 14-06-26](https://user-images.githubusercontent.com/866

[2019-03-07 13:15] puggan commented on #1223
https://youtrack.jetbrains.com/issue/WI-45721

[2019-03-07 13:15] #1223 closed

[2019-03-07 17:23] orklah opened #1224 "[FR] 'array_merge(...)' misused: inversed order"
Description:
--
We already have 'array_merge(...)' misused inspection to deal with cases like these:
[code]
It suggest replacing array_merge with $array[] = syntax.

But I was surprised it didn't trigger with
[code]

The previous fix would indeed change the behaviour slightly because the order of the array will be changed.

I had a couple of suggestions for this case:
1. Warn that the order may ch

[2019-03-08 17:39] kalessil commented on #1224
Look good, will implement shortly!

[2019-03-09 19:51] orklah opened #1225 "[FP] Suspicious assignments: variable immediately overriden"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--
Hi! Here's a weird case

[code]
$bar = false is detected as an overriding of $bar = true

Thanks!

[2019-03-09 20:01] orklah opened #1226 "[FP] Suspicious argument with switch"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--

This case is a voluntary fall through with a switch. This triggers an error "Overrides value from a preceding case (perh

[2019-03-09 20:50] orklah opened #1227 "[FP] Suspicious binary operations: bit operations"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--
There a few case of using & for bit operations that are legitimate and we could avoid reporting:

1. With any usage with

[2019-03-09 20:53] orklah commented on #1227
I forgot binary notation:

[code]

[2019-03-09 20:58] orklah commented on #1227
Please note: I used "&" for all my examples, but they are also valid with "|".

While trying to write examples, I thought about an inspections that could check for always true cases/ always false cases with bit operations.
This is not very much used so I don't know if it's worth it. Tell me if it seems interesting, I could try to write an issue with all the details

[2019-03-11 01:16] dezio opened #1228 "[FR] Override "Convert concatenation with sprintf call" to use single quotes"
Description (screenshot):
PhpStorm offers an autofix to change concatenated strings to sprintf calls. This then generates an sprintf call with double quotes. The PhpInspection addon then wants me to change the double quotes with single quotes. To make lifes easier, I'd like to have PhpInspection do the job by overriding the intention. This way you could directly put in single instead of double quo

[2019-03-11 05:52] orklah commented on #1228
Hi,

Did you try to open a ticket in PhpStorm first?

I think it will be easier to fix on their side

[2019-03-11 09:17] paranoiq opened #1229 "Rule "Type casting can be used" is no longer valid."
rule "Type casting can be used" is no longer valid.

functions intval, floatval, strval etc. are inlined in PHP7 and have no performance impact at all. even in PHP5.6 their performance impact is marginal. see https://3v4l.org/6aZ50

this rule should be either off by default or constrained to a PHP version

using function syntax instead of type cast may be useful for code readability (precedence) a

[2019-03-11 11:25] nospor opened #1230 "inspections folder"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate), which version |
| Language level | e.g. PHP 7.2 (check project settings or composer.json)                        |

Que

[2019-03-11 11:26] nospor opened #1231 "php version"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate), which version |
| Language level | e.g. PHP 7.2 (check project settings or composer.json)                        |

Que

[2019-03-11 12:54] funivan commented on #1230
You can execute `phpstorm/bin/inspect.sh -d path/to/the/directory`
Option `-d` stands for directory.

[2019-03-11 14:47] nospor commented on #1230
But to do it, I need to overwrite your enrtypoint. Maybe worth to think about some additional param for directory to not have to override the entrypoint?

[2019-03-11 17:01] 9ae8sdf76 opened #1232 "Traits properties conflicts resolution False-Positive"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) v3.0.11 |
| Language level | PHP 7.2 |

Current behaviour
--
[code]

![Screen Shot 2019-03-11 at 1 00 06 PM](https://user-images.githubusercontent.com/25

[2019-03-11 17:02] orklah commented on #1229
It seems like in PHP 5.X it is still relevant, at least for some cases:
https://3v4l.org/F3qkl#v5632

On this version, (int) "0" is up to 3x faster.

But you're right, it is still micro optimizations on EOL versions of PHP.

On the other hand I kinda like this inspections, on our legacy code base, we have a mix of intval() and (int) for no reason and it brings uniformity. (It looks a lot like alia

[2019-03-11 17:08] orklah commented on #1231
Hi!

Seems like this error is part of PhpStorm and doesn't come from this plugin.

I tested it in my setup and I don't reproduce the issue.

Please make sure your version of PHP is PHP 7 on this path in the settings:
Settings > Languages & Frameworks > PHP > PHP language level
and not in this one:
Settings > Languages & Frameworks > PHP > CLI Interpreter

If it's ok and the issue persist, please t

[2019-03-11 17:28] orklah opened #1233 "[FP] Foreach usage possible : writing in initial array"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.13 |

Current behaviour
--
For the following code, we suggest a wrong fix:
[code]
The suggestion is:
[code]
However, we can't change $array[$i]['te

[2019-03-11 20:11] rentalhost opened #1234 "compact() highlight variable"
Highlight undefined variables instead of `compact()` identifier.

**Current:**

![image](https://user-images.githubusercontent.com/421851/54154411-9de23280-4420-11e9-8c7a-85c6968bf70d.png)

**Expected:**

![image](https://user-images.githubusercontent.com/421851/54154481-bf431e80-4420-11e9-81ea-a2ecbea3fbd1.png)

[2019-03-12 09:23] nospor commented on #1231
I am using inspections already in normal phpstorm and it catch php7.2 there. I have set php7.2 on PHP Language level. So it doesnt fetch properly php version only in headless inspections.

[2019-03-12 17:59] orklah opened #1235 "Duplicate inspection Callable name case mismatched in a call"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.13 |

Question
--
Is there a difference between the "Callable name case mismatched in a call" from PHP EA and "Case mismatch in method call or class

[2019-03-12 18:51] orklah commented on #1215
For consistency, it would be great to have a similar behaviour between functions and methods.

[code]

This triggers unnecessary type casting but the code in the first post does not.

We should either drop the function support or implement method support.

[2019-03-14 13:31] y2keeper opened #1236 "Return type generated for methods using yield allows for null"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), 3.0.11 |
| Language level | PHP 7.3.3                     |

Before going into the details let me first thank you for this awesome plugin, it has brough

[2019-03-14 14:56] Stevehans commented on #1235
quickfix on the EA one but I don't think there is on the native one.

[2019-03-14 15:45] orklah commented on #1235
I just tested, the QF exist on the native one, at least for a method call

[2019-03-14 16:14] kalessil commented on #1221
Fixed!

[2019-03-14 16:14] #1221 closed

[2019-03-14 18:31] kalessil commented on #1231
Do you use our docker image for the headless mode or something cust build?

[2019-03-14 21:00] kalessil commented on #1231
To make it reliable, please push .idea/php.xml into your repository - the PHP version is stored there.
Also pushing makes sure that IDE and headless will behave the same.

[2019-03-14 21:30] kalessil commented on #1230
I'll check if this can be done: PhpStorm needs to index the whole project still

[2019-03-15 08:16] kalessil commented on #1233
Fixed!

[2019-03-15 08:16] #1233 closed

[2019-03-15 08:59] nospor commented on #1231
Yes, I use your docker image which is in your repository in *docker* folder

I run inspections in my repository so there is already .idea/php.xml

[2019-03-15 09:02] nospor commented on #1230
I/we can live with indexing all project. But would be really nice to inspect only given folder. Now I have milions of not related inspection errors because it checks all project and I am interested only in SRC folder

[2019-03-15 10:36] kalessil commented on #1231
Ok, I'll re-test

[2019-03-15 10:45] nospor commented on #1231
To make sure I just checked php.xml and I found this:

[code]
which points to proper php version

[2019-03-15 19:27] orklah opened #1237 "[FR] Unused value in foreach"
Description (screenshot):
--
Hi!

I discovered some case like this in our code:
[code]
The developper needed the key's values but didn't need the actual content of the array.

(I thought I saw PhpStorm or PHP EA report $value as unused but now I can't reproduce it...)

The point is, we could suggest this fix:
[code]

It would probably improve memory usage and CPU for big arrays but I didn't do ben

[2019-03-15 19:38] orklah commented on #1237
I think I'll close this issue. I tried to do some tests, and array_keys seem to perform a lot worse than just leaving the unused variable in the foreach...

It seems weird but it's worse for every recent PHP version on 3v4l...

[2019-03-15 19:38] #1237 closed

[2019-03-15 19:45] orklah opened #1238 "[FR] Foreach can be used: new pattern"
Description:
--
We could suggest replacing:
[code]
by this code:
[code]

For array_pop, it may be necessary to add an array_reverse to avoid changing the order of the loop

Thanks

[2019-03-15 20:02] jdreesen commented on #1237
That's because the array is traversed twice in your suggested fix. First the keys are extracted and then they are iterated over in a second run. This should be worse in both, CPU and memory.

[2019-03-15 20:15] orklah commented on #1237
Yep, probably. I thought the value assignment would be worse in comparison but clearly I was wrong :)

[2019-03-16 09:55] kalessil commented on #1224
Implemented!

[2019-03-16 09:55] #1224 closed

[2019-03-16 21:27] voku opened #1239 "Senseless comparison v2 (with non strict comparison)"
Description:
--
I know it's better to use strict comparison everywhere, but that is not so easy in legacy code, so one small step forward is maybe to reduce the usage of this kind of comparisons.

Example
--
[code]

reduced code with the same behaviors ...

[code]

[2019-03-16 22:05] voku opened #1240 "[false-positive] "Single quotes handling is not specified""
### "htmlspecialchars()" -> use \ENT_NOQUOTES for single quotes handling

|  |                                                                        |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |Php Inspections (EA Ultimate), v2.0.13 |
| Language level | PHP 7.0                         |

Current behaviour
--
"Single quotes

[2019-03-17 08:15] kalessil commented on #1240
So, the original code was something like `htmlspecialchars($html, ENT_NOQUOTES)`?

[2019-03-17 08:26] orklah commented on #1239
Just to be sure about what you're suggesting:

You want to add an inspection that will check for every !$foo(or $foo == false) in if statements and warn that every other loose comparison with a falsy value in the same if() is redundant?

If so, there are a few other cases to consider:
$foo == []
$foo == "0"

But there is at least one edge case:
https://3v4l.org/WPXkf
This code shows that $foo == '

[2019-03-17 08:51] orklah opened #1241 "[FP] Isset operations variables existence: extract & includes"
Description (screenshot):
--

For the following code:
[code]
PHP EA warns that $foo seems to not be defined in the scope. However, the use of extract or the require/include doesn't allow PHP EA to be aware of the variables in the scope.

I think adding a setting would be a good way to deal with this.

[2019-03-17 10:01] kalessil commented on #1241
Added a new setting: for the include/require case

[2019-03-17 10:01] #1241 closed

[2019-03-17 10:25] orklah opened #1242 "[FR] absurd type casts with array and objects"
Description (screenshot):
--
Consider the following examples:
[code]

Any of those examples should be flagged as a probable error. Half of them throw notices and none of them makes sense :)

[2019-03-17 10:26] orklah commented on #1241
Thanks!

The settings also handle the extract() case?

[2019-03-17 12:07] orklah commented on #1242
We could also add a case for (unset) . It wasn't useful to begin with and it's deprecated since PHP 7.2

[2019-03-17 13:13] voku commented on #1239
Yep, I think we should skip objects and arrays, because of edge cases.

[2019-03-17 13:14] voku commented on #1240
Yep, something like that. 😊

[2019-03-17 17:02] kalessil commented on #1241
Nope, only includes are respected now. It covers the code sample and annoys when extract is used.

[2019-03-17 17:31] kalessil commented on #1240
Fixed!

[2019-03-17 17:31] #1240 closed

[2019-03-17 19:15] kalessil commented on #1236
Fixed!

[2019-03-17 19:15] #1236 closed

[2019-03-17 19:45] kalessil commented on #1229
Ok. I'll relocate it into code style group and update messages.

[2019-03-17 22:31] tim-hk opened #1243 "Code analysis ignores phpDoc type declarations for variables that are set as the first statement within a switch 'case' inside a function"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) v3.0.11 |
| Language level | PHP 7.2  |

Current behaviour
--
I've come across a strange edge-case issue where IntelliJ IDEA seems to ignore phpDoc type-

[2019-03-17 23:24] orklah commented on #1243
It is indeed a weird case. I tried your example, and a simple ";" before the phpdoc comment is enough to fix the issue...

Anyway, from what I see, there are two separate issues:
1. The resolver from PhpStorm is very good at adding potential types to a variable. But it's not that good at excluding types so when you add the PHPDoc with the type, it doesn't care and still see $foobar as "Foobar|null

[2019-03-18 09:20] jaroslavtyc opened #1244 "Missing regular expression delimiters are not reported"
Missing or non-matching regexp delimiters:
--
Example of invalid but easily overlooked regexp because of missing delimiters:
![missing_delimiters_are_not_reported](https://user-images.githubusercontent.com/2290225/54518654-1e46ed00-4965-11e9-8d5c-cb58fa8a39ab.png)

_Didn't I missed something? Becase not a PHPStorm itself nor PHP inspections report warning caused by such invalid regexp._

For examp

[2019-03-18 13:08] voku commented on #1240
Thanks for the quick fix! 👍

[2019-03-18 17:58] orklah opened #1245 "[FP] One-time use variables: operations on new objects"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.13|
| Language level | PHP 5.3.X                   |

Current behaviour
--
For the following code:
[code]
PHP EA suggests:
[code]

But this syntax

[2019-03-18 19:18] kalessil commented on #1243
That seems to be a IDE bug, I created a ticket for this: https://youtrack.jetbrains.com/issue/WI-45867

[2019-03-18 19:18] #1243 closed

[2019-03-18 20:04] voku commented on #1239
and some more edge cases like this :yum:

[code]

https://3v4l.org/Pjp6I

[2019-03-18 20:08] voku commented on #1239
and more ... :face_with_thermometer:

[code]

https://3v4l.org/3TcaD

[2019-03-18 20:17] orklah commented on #1239
Yes, I didn't include the "0.0" in the list because it's not a falsy value (even if it looks like one !).

For [] == 0, it's an issue, we'll have to drop cases where the variable can be an array to avoid false positives.

To summarize, the list is:
0.0
0
null
''
"0"

who are redundant when loosely compared (==) to a variable who has already been compared to false.
The inverse should be good to, if

[2019-03-18 20:23] voku opened #1246 "[false-positive] SuspiciousBinaryOperationInspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), v2.0.13 |
| Language level | PHP 7.0                        |

Current behaviour
--

error messge: ```'$price == 0' seems to be always false when reache

[2019-03-18 20:44] kalessil commented on #1246
Checked, the behavior is expected. I can recommend 2 options here:
- suppression
- `$price === null || $price == 0`

[2019-03-18 20:44] #1246 closed

[2019-03-18 20:50] voku opened #1247 "Unknown inspection: phpinspectionsea."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), v2.0.13 |
| Language level | PHP 7.0                        |

Current behaviour
--
error message: ```Unknown inspection: phpinspectionsea.```

code:
[c

[2019-03-18 22:01] tim-hk commented on #1243
I actually already raised this as an IDE bug, and it was knocked bag as being a PHP Inspections EA bug.  Here's my original issue here, which I raised before this one:

[2019-03-19 06:38] kalessil commented on #1247
Fixed!

[2019-03-19 06:38] #1247 closed

[2019-03-19 08:01] kalessil commented on #1243
Let see what will happen with my ticket as well =)

[2019-03-19 10:23] pdewouters opened #1248 "Inspection warning 'Suspicious Binary Operator' misgiven with null coalesce"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), which version |
| Language level | e.g. PHP 7.2 (check project settings or composer.json)                        |

Current behaviour
--

<img width="69

[2019-03-19 10:34] kalessil commented on #1248
The reporting is correct: https://3v4l.org/uDIEf, since the reported code fragment is the same as `isset((int)$options['...']) ? (int)$options['...']  :  0`

[2019-03-19 10:34] #1248 closed

[2019-03-19 11:23] kalessil commented on #1245
Fixed!

[2019-03-19 11:23] #1245 closed

[2019-03-19 12:06] kalessil commented on #1229
Done! I updated messages.

[2019-03-19 12:06] #1229 closed

[2019-03-19 12:45] kalessil commented on #1228
Well, we are not focusing on intentions. I think this should be a feature request for the IDE team. Sorry.

[2019-03-19 12:45] #1228 closed

[2019-03-19 12:59] kalessil commented on #1225
Taking into account that the preceding if-statement is optional, the inspection behaves as expected. Hence closing the issues.

[2019-03-19 12:59] #1225 closed

[2019-03-19 13:03] kalessil commented on #1234
Oh, will fix this shortly!

[2019-03-19 14:03] kalessil commented on #1234
Fixed!

[2019-03-19 14:03] #1234 closed

[2019-03-19 14:10] kalessil commented on #1235
Yep, PhpStorm has a native one, which is disabled by default.

[2019-03-19 14:11] kalessil commented on #1235
I'll also drop our inspection since it duplicates the functionality.

[2019-03-19 14:19] kalessil commented on #1235
Done!

[2019-03-19 14:19] #1235 closed

[2019-03-19 17:04] orklah commented on #1225
Thanks for looking into it! However, I'm not sure I understand what you mean. How do you suggest to change the code to fix the issue?

[2019-03-19 17:37] kalessil commented on #1227
Fixed! I also considered the constant conditions case earlier but decided to not implement it.

[2019-03-19 17:37] #1227 closed

[2019-03-19 20:32] kalessil commented on #1238
Invariants:
- `while($array && $value = array_shift($array)) {...}`
- `while(null != $value = array_shift($array)) {...}`

[2019-03-20 11:05] kalessil commented on #1238
Implemented!

[2019-03-20 11:05] #1238 closed

[2019-03-20 13:58] kalessil commented on #1222
Fixed! +updated message text.

[2019-03-20 13:58] #1222 closed

[2019-03-20 14:14] kalessil commented on #1215
Re-checked: functions/methods are handled equally (int the example with `function_return_int`) return type is missing.

[2019-03-20 15:40] kalessil commented on #1215
Implemented `is_numeric((int)...), is_numeric((float)...), is_numeric(call_with_implicit_return_type())` part.

[2019-03-20 15:40] #1215 closed

[2019-03-20 17:50] orklah commented on #1222
Nice, Thanks!

[2019-03-21 12:09] kalessil commented on #1205
Declining, the `$a` is not defined in the scope. So either suppression either local variable introduction will do the trick.

[2019-03-21 12:09] #1205 closed

[2019-03-21 12:21] kalessil commented on #1204
For myself: for `substr` filter all `\p{ASCII}` and add the resulted string length to expected one

[2019-03-21 12:32] kalessil commented on #1204
Fixed!

[2019-03-21 12:32] #1204 closed

[2019-03-22 07:36] kalessil commented on #1214
Checked, you are right, but the b-flag usage is recommended by the official documentation (one of the notes). So I introduced a new setting ("Promote b-modifier (as per documentation)"), so we should be fine now.

[2019-03-22 07:36] #1214 closed

[2019-03-22 12:07] ausi commented on #1214
Thank you!

I created a documentation bug in PHP for this issue: <https://bugs.php.net/bug.php?id=77781>

Should I notify this issue or create a new one if the PHP documentation gets changed?

[2019-03-22 12:29] kalessil commented on #1214
You are welcome =) Yes, please!

[2019-03-22 17:49] orklah opened #1249 "[FR] Inspection for "call to a member function on a non-object""
Description :
--
We already have an inspection that will check for null in variables and warn about Null Pointer Exception when we call a method on this variable.

I would like to suggest the same kind of inspection but for "Call to a member function on an non-object"

It happens every time there is a scalar in a variable and we make a method call on it.

Example
--
[code]
This should throw a warn

[2019-03-23 17:13] kalessil commented on #1208
Fixed!

[2019-03-23 17:13] #1208 closed

[2019-03-24 13:16] kalessil commented on #1008
Implemented!

[2019-03-24 13:16] #1008 closed

[2019-03-24 15:52] kalessil commented on #947
Implemented!

[2019-03-24 15:52] #947 closed

[2019-03-24 22:18] kalessil commented on #224
Implemented (+same patter with print-construct)!

@rentalhost: as per your input I disabling the inspection by default
@dccampbell: your proposal implemented as well

[2019-03-24 22:18] #224 closed

[2019-03-25 18:25] orklah opened #1250 "[FR] strripos/strrpos with non string param"
Description (screenshot):
--
Hi,

In PHP 7.3, strripos and strrpos had a behaviour change. According to doc:
https://www.php.net/manual/en/function.strripos.php

This change mark as deprecated a behaviour that was very suspicious before PHP 7.3 and it is now highly discouraged and throws a "Deprecated" warning

I think this belong in Probable bugs
Here's an example to show the risk of error:
https

[2019-03-25 18:47] kalessil commented on #947
@dryabov, by the way: you've helped me a lot on early project phase, so I would gladly give you a free perpetual Php Inspections (EA Ultimate) license. Any interest?

[2019-03-25 19:26] orklah opened #1251 "[FR] Encourage using local variables already defined"
Description (screenshot):
--
If a variable was already initialized with a method return, encourage using this variable instead of calling the method again.

Example
--
[code]

We should exclude cases when the object implements Iterator.

We may want to add a setting to suggest replacing only call to methods beggining with "get" to avoid messing with working code, but I think this should be useful

[2019-03-25 20:27] kalessil commented on #985
Not sure when I have implemented this, but the case is getting reported.

[2019-03-25 20:27] #985 closed

[2019-03-25 20:36] kalessil opened #1252 "Short open tag usage" inspection only reports first occurrence in a block"
https://youtrack.jetbrains.com/issue/WI-45452

[2019-03-26 17:00] larsroettig opened #1253 "SlowArrayOperationsInLoopInspector dont find all array merge"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate) |
| Language level | PHP 7.2                        |

Current behaviour
--

[code]
Expected behaviour
--

He should find the array_merge

Environment de

[2019-03-26 18:30] orklah opened #1254 "[FR] Suspicious operations on empty array"
Description (screenshot):
--
Today, I found a code on our project who looked like that:

[code]

I was surprised to see no inspections at all. There are some interesting things to report:
1. Functions working with populated arrays could be replaced instantly with QF:
count($errors) replaced by 0
array_search replaced by false
array_pop replaced by null
...
(I can try to do the complete list if you

[2019-03-26 18:59] iakoder opened #1255 "Issue inspecting calling parent method"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), 3.0.12.1 |
| Language level | PHP 7.0                       |

I think this might be related to #1008.  Calls to parent class methods that don't use par

[2019-03-26 19:12] orklah commented on #1255
I had the same issue with my project. However, the code who do this seems suspicious to me, I'm not sure it's a good practice to call a dynamic method statically, even more when you skip the parent.

I was kind of surprised PHP accepts this so I didn't report it as a bug.

[2019-03-26 19:40] kalessil commented on #1254
Thank you for sharing =)

-QF will be a problem - too many cases have to be considered, but the loop case is implemented.

[2019-03-26 19:40] #1254 closed

[2019-03-26 19:43] kalessil commented on #1255
I guess the problem is that QF turns methods into infinity loops. I'll re-check and if so, will release a patch shortly.

[2019-03-26 19:45] orklah commented on #1254
Thanks!

[2019-03-26 20:17] kalessil commented on #1255
Fixed! Patch-release is out.

[2019-03-26 20:17] #1255 closed

[2019-03-26 22:01] iakoder commented on #1255
@kalessil Not sure if you care but this still gets caught out by mismatched case such as if ZB's method was named DoSomething and was trying to call ZA::doSomething().

[2019-03-27 06:59] kalessil commented on #1255
@iakoder : solved as well. Will be in the next regular release.

[2019-03-27 12:35] #161 closed

[2019-03-27 12:35] #221 closed

[2019-03-27 12:44] kalessil commented on #80
Re-opening

[2019-03-27 13:07] kalessil commented on #1200
@puggan: the changes have landed into 2.0.13, hopefully fixed. Can you confirm the fix worked?

[2019-03-27 13:46] kiler129 opened #1256 "Foreach => Yield From Conversion Breaks Nested Loops"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) v3.0.12 |
| Language level | 7.2                        |

Current behaviour
--
Consider the following code:
[code]

The first thing suggested is correct

[2019-03-27 14:37] puggan commented on #1200
Yes, can't reproduce the problem in 2.0.13

[2019-03-27 17:43] kalessil commented on #1200
Super, thank you for the great news!

[2019-03-27 17:43] #1200 closed

[2019-03-27 17:44] orklah opened #1257 "[FR] count is missused"
Description (screenshot):
--
Hi,

There are a lot of cases where my team do this to check if an array is empty:
[code]
If we're inside a namespace, we have an inspection that will tell us that \count($strictly_an_array) is probably better as it generate less opcodes. However,
[code]
has the same behaviour and generate even less opcodes.

It would be cool to have an inspection to match those case a

[2019-03-27 17:59] rentalhost commented on #1257
It could be implemented for `strlen()` and `mb_strlen()` for strings too.

[2019-03-27 18:05] orklah opened #1258 "[FP] Foreach can probably be used: index decoupled from array"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), v2.0.14 |

Current behaviour
--
I'm not sure how the detection is done but this code triggers the inspection
[code]

But $nb limits the loops to 2. If w

[2019-03-27 18:22] orklah commented on #1257
Just checked, there is an inspection that suggest replacing strlen and mb_strlen to !== '' already, but yes, even this is not mandatory

[2019-03-27 19:56] kalessil commented on #1253
So, this specific case I considering legit as merge is not involving `$options`.
On other hand we are reporting `$object->setArray(array_merge($object->getArray(), ...)` now.

[2019-03-27 19:56] #1253 closed

[2019-03-28 08:26] ikeyan commented on #1257
No. `'0'`  is also evaluated as false.

[2019-03-28 09:31] orklah commented on #1257
Well spotted. I suppose the !== '' is justified then

[2019-03-28 19:09] thexpand opened #1259 "False positive: null-coalescing operator usage"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.2                        |

Current behaviour
--
![Screenshot from 2019-03-28 21-01-35](https://user-images.githubusercontent.

[2019-03-28 19:17] kalessil opened #1260 "CS: enforce `json_decode()` with at least 2 parameters"
From twitter

[2019-03-28 19:38] orklah opened #1261 "[FR] Inspection on rethrowing Exception"
Description (screenshot):
--
Hi!

I was surprised to see a lot of those in a project:
[code]

This has absolutely no value and could be added to "Badly organized exception handling"

There must not be anything else in the catch other than the new throw, There has to be only one catch(or if there are more than one, everyone must rethrow the exception as is).

Note that on my example, I used "Except

[2019-03-29 08:51] funivan commented on #1257
IMHO =)
[code]

[2019-03-29 09:00] orklah commented on #1257
Yeah, that could be cleaner, but I don't think I like the syntax

[code]
for older versions of PHP...

[2019-03-29 09:14] dryabov commented on #1257
I think COUNT opcode (for \count) should work much faster than IS_IDENTICAL/IS_NOT_IDENTICAL opcodes to compare two arrays.

[2019-03-29 09:39] funivan commented on #1256
@kiler129 can you check this issue https://github.com/kalessil/phpinspectionsea/issues/1167 I think they are about the same bug)

[2019-03-29 09:54] funivan commented on #1251
function `getRandomAttribute` should be pure function and this is not so easy to detect.
[code]

[2019-03-29 09:55] funivan commented on #662
@kalessil if you do not have time i can implement this feature in my own plugin)

[2019-03-29 10:25] kalessil commented on #1260
Implemented!

[2019-03-29 10:25] #1260 closed

[2019-03-29 13:28] kalessil commented on #1257
Pretty similar to https://github.com/symfony/symfony/pull/29231/files, but I would not like to promote `if ($array) {}`. Please vote hand up/down the issue itself, I'll pull twitter folks for votes as well.

[2019-03-29 13:33] geggleto commented on #1257
This is definitely less readable. You should be explicit.

[2019-03-29 13:35] kalessil commented on #1249
Currently, this is too complex, perhaps in future versions.

[2019-03-29 13:35] #1249 closed

[2019-03-29 13:47] fruitl00p opened #1262 "array_walk: unnecessary callback closure"
Sort of like #883 but for `array_walk`-calls:
i.e.
[code]
could actually be:
[code]
right?
(although i understand this might be complicated to fix)

[2019-03-29 13:48] kalessil commented on #777
Reopening

[2019-03-29 13:59] kalessil commented on #264
Will not happpen

[2019-03-29 13:59] #264 closed

[2019-03-29 13:59] kiler129 commented on #1256
@funivan Indeed looks like the same problem (but here it's directly showing two nested foreaches).

[2019-03-29 14:01] kalessil commented on #684
Will not happen

[2019-03-29 14:01] #684 closed

[2019-03-29 14:02] kalessil commented on #662
@funivan , yes please!

[2019-03-29 14:02] #662 closed

[2019-03-29 14:05] funivan commented on #662
In case if someone is interesting follow https://github.com/funivan/PhpClean/issues/81

[2019-03-29 14:07] andrewmy commented on #1257
Any expression inside `if` must be a boolean, let's not abuse PHP's type juggling. The only valid variants would be then:
1) `if (\count($someArray) > 0) {`
2) `if ($someArray !== []) {`

[2019-03-29 14:19] kiler129 commented on #1257
Comparing to empty arrays is quite slow in PHP. I think the best of both worlds is `if(empty($array))` - while `empty()` is generally very type-unsafe it has no magic with arrays (or at least I don't know about any yet :P)

[2019-03-29 15:10] orklah commented on #1257
`if ((bool)$someArray) {`

Could also make sense.

[2019-03-29 15:14] andrewmy commented on #1257
No, this is making the expression technically boolean but still misusing the truthiness/falsiness magic of PHP.

[2019-03-29 15:15] egircys commented on #1257
`\is_array($array) && \count($array) === 0`

[2019-03-29 15:18] orklah commented on #1257
In the example, it was given that the variable was an array so \is_array is redundant and breaks the whole purpose to simplify and optimize.

If it's not given that the variable is an array, your code change behaviour

[2019-03-29 16:08] k0d3r1s commented on #1257
I think it's always a misuse if you use count for something else than actual counting.
If, as in example, variable is an actual strict array, empty() is the way to go.

[2019-03-29 16:27] andreasschroth commented on #1257
@k0d3r1s I disagree somehow. I mean basically you're right that `count()` should be used for actual counting, but think about it this way: The developer wants to ensure the element has at least one element. You could even write `count($array) >= 1`. Well, or obviously `count($array) > 0`. Isn't that also counting? Or you want to express that the array doesn't contain any elements: `count($array) =

[2019-03-29 16:43] orklah commented on #1257
To summarize, I think it's clear the clean way would be "=== []" or "\count() === 0".

I agree, even if it was not my point. I wanted to simplify a bad practice (implicit cast from int to bool via count()) into a simpler bad practice (implicit cast from array to bool). But it's not what this plugin should aim for.

Instead of my original issue, Maybe we should implement an inspection to suggest on

[2019-03-29 16:47] k0d3r1s commented on #1257
yes and no. while if(count($array) === 1) is counting (aka, you need it to have one element), if(count($array)) is not counting (aka, you don't give a damn how many items are in array). for the second one, you should't be using count

[2019-03-29 16:48] kalessil commented on #1262
Right =) It was an implementation bug in the inspection, fixed now.

[2019-03-29 16:48] #1262 closed

[2019-03-29 16:48] andrewmy commented on #1257
I'm 👍 for this.

I think this is related more to type safety of the code rather than style.

[2019-03-29 16:59] andreasschroth commented on #1257
But your second example is just the implicit type cast again. I think we all agree that's a bad practise. See my examples in the comment before... `if(count($array)  > 0) { }` is counting, isn't it?

[2019-03-29 18:21] k0d3r1s commented on #1257
so what we want from inspection now? that you shouldn't compare it with 0 in any way and with 1 some of the time?

[2019-03-29 18:39] iakoder commented on #571
Yes, it is.

[2019-03-29 19:35] kalessil commented on #1259
Fixed!

[2019-03-29 19:35] #1259 closed

[2019-03-29 19:52] kalessil commented on #1257
As I can see, there are no much benefits from having it. `empty()` would be an option, but it not getting many votes. Projecting this to a possible implementation, the community is mostly going to reject it, so I tend to not implementing it.

[2019-03-29 19:57] kalessil commented on #1257
Closing, thank you all for votes and comment - that make my life so much easier!

[2019-03-29 20:33] kalessil commented on #1261
Implemented!

[2019-03-29 20:33] #1261 closed

[2019-03-29 20:40] hollodotme commented on #1257
Just for the record, I quickly checked the OPCodes using [vld](https://github.com/derickr/vld) for the mentioned cases on PHP 7.3.3:

**PHP `count()` variant**
[code]

**OPCodes `count()` variant**
[code]

---

**Comparison variant short array syntax**
[code]

**OPCodes comparison variant short array syntax**
[code]

---

**Comparison variant short long syntax**
[code]

**OPCodes comparison varian

[2019-03-29 21:26] orklah commented on #1261
cool!

[2019-03-29 22:02] voku opened #1263 "[FP] 'ob_get_clean()' can be used instead"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.14 |
| Language level | PHP 7.1                        |

Current behaviour
--
[code]

... quick-fix generate this output ...

[code]

... but now t

[2019-03-30 06:43] kalessil commented on #1257
Okay, I've changed my mind (as did the more careful reading).
We'll head with `if ($strictlyArray !== [])`, for language level 5.4+, where short array syntax is supported.

That will be readable, will have one of the lowest amounts of opcodes and the option fits my personal experience.

[2019-03-30 06:55] kalessil commented on #1263
Fixed!

[2019-03-30 06:55] #1263 closed

[2019-03-30 16:16] #159 closed

[2019-03-30 17:21] kalessil commented on #159
That'd be a complete semantics change, so I'll keep this closed. @funivan: feel free to take the issue over for your plugin.

[2019-03-31 16:39] kalessil commented on #1256
Duplicates #1167

[2019-03-31 16:39] #1256 closed

[2019-03-31 18:17] kalessil commented on #1167
Fixed!

[2019-03-31 18:17] #1167 closed

[2019-03-31 18:17] kalessil commented on #1256
Fixed!

[2019-04-01 06:53] kalessil commented on #1217
Seems this has been fixed already =)

[2019-04-01 06:53] #1217 closed

[2019-04-01 12:22] kalessil commented on #1158
Fixed!

[2019-04-01 12:22] #1158 closed

[2019-04-01 12:44] Rarst opened #1264 "Unused constructor dependency if property used within closure"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) 3.0.12.2 |
| Language level | PHP 7.3                        |

Current behaviour
--

The following code triggers "Property is only used in constructor,

[2019-04-01 12:47] kalessil commented on #1232
Fixed!

[2019-04-01 12:47] #1232 closed

[2019-04-01 13:01] 9ae8sdf76 commented on #1232
Thank you for the quick turnaround!

Looking over what the fix is, it looks like the warning will still appear if I override a trait property without annotating it:

[code]

The above example is invalid, but since I put the annotation there the warning would not get displayed. Thoughts?

[2019-04-01 13:09] kalessil commented on #1232
IDE will report this case (seems this a native inspection by PhpStorm).

[2019-04-01 13:53] SharkMachine opened #1265 "'gmmktime(...)' / 'mktime(...)' usage inspection applied on 'use function mktime;' statement"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), v3.0.12.2 |
| Language level | PHP 7.2 |

Current behaviour
--
![image](https://user-images.githubusercontent.com/7488694/55332265-b5e82780-549d-11e9-85

[2019-04-01 14:38] kalessil commented on #1265
Fixed!

[2019-04-01 14:38] #1265 closed

[2019-04-01 16:24] orklah opened #1266 "[FR] mistyped ->"
Description (screenshot):
--
Hi, today, we discovered a couple of cases like this in a code:
[code]

Unfortunately for us, we have both a getError function in global namespace AND getError methods on some objects.
It would be cool to match this kind of errors. Maybe match every object in the first operand with a ">" operator and match if the function exists as a method in the object?

We were able

[2019-04-01 16:35] rentalhost commented on #1266
It is very hard identify cases like that, because you could really wants to check if `$this->randomObject > getError()`. So maybe it could be checked by another way:

1. Report if left and right sides is separated by `>` without spaces. But it could be a problem if you really prefer codes like that or if you use autoformatting that will add spaces between it automatically;
2. Check if the left or

[2019-04-01 16:46] orklah commented on #1266
Well, I'm not sure there would be this much false positives, we're talking about this operation:
(object) > (string|int|float|bool|object)
Which means, on the best scenario, we will call __toString and then cast __toString to be able to perform the comparison.
On the worst scenario, __toString won't be defined and we will perform a weird operation on an object (i'm not even sure what it does...):

[2019-04-01 17:15] rentalhost commented on #1266
It could be an upgrade to "suspicious binary operations" inspection. It currently do this check, but only for inline values (eg. `$x > []`, but not for `$x > $anArray`). What do you think @kalessil?

[2019-04-01 18:40] cautionbug opened #1267 "Return type inspection should not suggest self for @return $this"
i reported this over at [PhpStorm](https://youtrack.jetbrains.com/issue/WI-46044), but they corrected me that it's an EA inspection issue...

#761 seems to be a semantically incorrect change.

The context of `$this` is the last-extending class, whereas `self` is the current class. Applying `: self` incorrectly breaks fluency and extensibility of functions because they become forced to return an an

[2019-04-01 19:07] kalessil commented on #1267
Please check the inspection settings: unchecking `Respect `@return self`` should do the trick.

[2019-04-01 19:07] #1267 closed

[2019-04-01 19:08] cautionbug commented on #1267
Disabling an inspection doesn't make the inspection correct... i'm just avoiding the inspection's fault.

[2019-04-01 19:12] cautionbug commented on #1267
i've found the inspection option. i guess i'm unclear why that option changes behavior regarding `@return $this`

[2019-04-01 19:14] kalessil commented on #1267
Misleading wording, typical OSS/software issue =) I'll update the inspection title.

[2019-04-01 19:15] kalessil commented on #1267
You re welcome =) When wording is badly done, I'm happy to improve it =)

[2019-04-01 21:08] zerkms opened #1268 "`SqlNoDataSourceInspection` is not recognised as a valid inspection"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended), v3.0.12.2  |
| Language level | PHP 7.2 (irrelevant)                        |

Current behaviour
[code]

For this code `SqlNoDataSourceInspection` inspe

[2019-04-02 05:53] kalessil commented on #1268
Fixed (331b743789b09465c333903d599ae0819d03b263)!

[2019-04-02 05:53] #1268 closed

[2019-04-02 06:37] kalessil commented on #1266
Implemented!

[2019-04-02 06:37] #1266 closed

[2019-04-02 06:40] kalessil commented on #1266
@rentalhost : checked your input, we run into type resolver limitations there. While inlined values are relatively reliable criteria for firing analysis, supporting more generic case will be a huge piece of maintenance efforts.

But I didi hear that this year we might see a new type resolver implementation.

[2019-04-02 07:09] Hikariii opened #1269 "conflicting inspections uniqid()"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.3                        |

Current behaviour
--
When using uniqid() without the `more entropy` parameter it give a warning.
T

[2019-04-02 07:33] kalessil commented on #1269
Fixed!

[2019-04-02 07:33] #1269 closed

[2019-04-02 16:41] cautionbug opened #1270 "False-positive: Invalid foreach argument"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) 3.0.12.2 |
| Language level | PHP 7.2 |

Current behaviour
--

Foreach argument inspection shows false-positive when argument is string-tested with other

[2019-04-02 16:48] kalessil commented on #1270
One of the IDE related reports is https://youtrack.jetbrains.com/issue/WI-37859, but it was similar where IDE type resolver doesn't handle complex conditions.

[2019-04-02 16:48] #1270 closed

[2019-04-02 16:52] cautionbug commented on #1270
Thanks for the quick response!

[2019-04-02 17:35] kalessil commented on #1264
Fixed!

[2019-04-02 17:35] #1264 closed

[2019-04-02 18:13] kalessil commented on #1211
Fixed!

[2019-04-02 18:13] #1211 closed

[2019-04-02 18:30] dryabov commented on #947
@kalessil Sure :-)

[2019-04-02 18:36] kalessil commented on #947
@dryabov can you ping me via email please (kalessil at gmail dot com, licenses are bound to emails)?

[2019-04-02 19:25] orklah commented on #1211
Nice!

[2019-04-02 19:25] orklah commented on #1266
Cool!

[2019-04-03 04:42] SharkMachine opened #1271 ""Forgotten debug statements" inspection false positives with 'use function' statements"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.2 |

Current behaviour
--

The following happens with all "Forgotten debug statements" inspection functions.

![image](https:/

[2019-04-03 06:12] kalessil commented on #1271
Fixed!

[2019-04-03 06:12] #1271 closed

[2019-04-03 11:09] kalessil commented on #1252
Fixed!

[2019-04-03 11:09] #1252 closed

[2019-04-03 13:51] voku opened #1272 "[FP]: Duplicate array keys"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate), 2.0.14  |
| Language level | PHP 7.0                         |

Current behaviour
--
"Duplicate array keys" is shown for this code

[code]

Expected beh

[2019-04-03 15:24] orklah commented on #1272
Hi, this is a PhpStorm native inspection
PHP > Probable bugs > Duplicate array keys

This is a change that has been made in PhpStorm since a few months (maybe in 2019.1 EAP, I don't remember) for performance reason, only the 24 first characters of the variable are used in the comparison. You can find a related YouTrack issue here:
https://youtrack.jetbrains.com/issue/WI-46077

[2019-04-03 15:37] voku commented on #1272
@orklah Thanks for feedback, we will see if PhpStorm will fix it 😄

[2019-04-03 15:37] #1272 closed

[2019-04-04 17:13] kalessil commented on #1258
Fixed!

[2019-04-04 17:13] #1258 closed

[2019-04-04 17:27] orklah commented on #1258
Thanks!

[2019-04-04 17:38] orklah commented on #1258
In your commit, you used the "count" function hardcoded in "isLimitFor". You may want to add sizeof as well to match more cases...

[2019-04-04 17:42] kalessil commented on #1258
It's an alias for count, which we are marking as deprecated, so I don't see value in supporting "sizeof".

[2019-04-04 17:54] orklah commented on #1258
This inspection is about performance and readability. The sizeof one is just code style. I think people tend to fix performance before code style in legacy code.

And then, there may be people who prefer using sizeof anyway (C habits?) who won't ever see this inspection because of that

[2019-04-04 17:59] kalessil commented on #1258
Sounds good to me: reward for respecting the plugin hints.

This developers group is not a target one, correcting old habits will bring new value - IMO that's a fair deal.

[2019-04-04 18:03] orklah commented on #1258
Fair enough :)

I was just making sure this was not something you forgot :)

Thanks again for the fix!

[2019-04-04 18:19] donnysim opened #1273 "IMPORTANT! "Return type hint can be used" suggests for libraries and php core classes"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) v3.0.12.2 |
| Language level | PHP 7.2                      |

Current behaviour
--
At the moment "Return type hint can be used" inspection suggests addi

[2019-04-04 18:30] orklah commented on #1273
I'm not sure I understand. You're not supposed to run inspections against third-party code.

And once you implements or inherit third-party code, you're free to do whatever you want with it (including redefining return type if i'm not mistaken https://3v4l.org/7GOjt).

Could you share an example of a code you have control over but that you can't modify or you don't wish to?

[2019-04-04 18:50] donnysim commented on #1273
Wait what, I must be hallucinating, could've sworn it threw an error when I declared the type. I do know that there was a situation where I did add it based on the inspection and it blew up while writing tests, but just can't remember the case. This still leaves this without any fix intention so you have to add it manually 😓 and the change signature intention tooltip is invalid in these cases. Wil

[2019-04-04 18:53] orklah commented on #1273
There is one case where the third-party code has a return type and you add another one, then it blows.

But it should in that case. I guess a Quick-Fix to add the parent's return type would be handy in those cases...

[2019-04-05 06:18] kalessil commented on #1178
Fixed!

[2019-04-05 06:18] #1178 closed

[2019-04-05 08:16] kalessil commented on #1273
@donnysim: I'd need a reproduceable example if you mange to catch the issue again.

[2019-04-05 08:16] kalessil commented on #1273
@orklah: I'd rely to PhpStorm refactoring capabilities - the team has much more resourced to maintain it on a good level.

[2019-04-05 09:28] schaeftide opened #1274 "Catch"
$packageName = $this->option('package');
$packageName = $packageName ?? '';

[2019-04-05 13:56] rk opened #1275 "compact($var) as code smell or probable bug?"
I've had this happen semi-frequently when writing code. I'll start with...

    my_func('foo', 'bar', [
      'something' => $something,
    ]);

...and realize it would be better served as a `compact()` call. So I rewrite it and then get slammed with bugs because...

[code]

🤦‍♂️

This is caused by there being 2 valid usages of `compact()`:

    // I usually only see this usage
    compact('var1'

[2019-04-05 16:15] orklah opened #1276 "[FR] Not optimal QF for "explode misused""
Description (screenshot):
--
For the following code, PHP EA suggest to replace with substr_count() + 1
[code]
It will result in this code:
[code]
Simplified to:
[code]
But for this particular case (count(explode()) > 1 or count(explode()) >= 2), I think strpos would be much more efficient and readable:
[code]

Note: this works with count(explode()) > 0 or count(explode()) >= 1 too but it doesn't m

[2019-04-05 16:23] orklah opened #1277 "[FR] Parameter/variable is not used: new pattern"
Description (screenshot):
--
In the following code, $i could be reported as unused:
[code]

Note: even if $value is not used, we can't report it as unused as it is needed in the foreach construct. However, it could be smart to suggest replacing the foreach with a for... when neither the index nor the value are used

Thanks!

[2019-04-05 16:29] rentalhost commented on #1277
But what is the sense of a looping that not uses `$i` or `$value`?

[2019-04-05 16:37] kalessil commented on #1277
The native unused inspection has a setting to report unused $i

[2019-04-05 16:37] #1277 closed

[2019-04-05 17:06] orklah commented on #1277
To loop a fixed number of times defined by the array's length. But this should be handled by a for() if that's the case

I missed that one! I stopped reading after the "list()" part and never noticed it after. Thanks!

[2019-04-05 17:34] kalessil commented on #1276
Implemented!

[2019-04-05 17:34] #1276 closed

[2019-04-05 17:38] orklah commented on #1276
Very quick! Thanks!

[2019-04-07 12:24] kalessil commented on #1274
Implemented!

[2019-04-07 12:24] #1274 closed

[2019-04-07 13:35] kalessil commented on #1251
While the patter looks great, I can not deliver an inspection reliable enough, unfortunately.

[2019-04-07 13:35] #1251 closed

[2019-04-07 13:45] orklah commented on #1251
Thanks for trying :)

[2019-04-07 16:17] kalessil commented on #1239
The original code case is getting reported properly now.
Tracking the if cases currently is not feasible, perhaps I can deliver this in later versions (current IDE and the plugin APIs limitation).

[2019-04-07 16:17] #1239 closed

[2019-04-07 17:00] orklah commented on #1239
Is there a Youtrack issue to ask for a more detailed API? Perhaps we could try to vote for it?

[2019-04-07 17:04] kalessil commented on #1239
@orklah: nope, I'm in touch PhpStorm folks so at some point the APIs will materialize.

[2019-04-08 14:22] wbars opened #1278 "Consider to drop UnnecessaryParenthesesInspector in 2019.2"
Hello.

In 2019.2 we're planing to release set of new inspections/quickfixes related to the parentheses support: [Unnecessary parentheses](https://youtrack.jetbrains.com/issue/WI-45711) and [reverse one](https://youtrack.jetbrains.com/issue/WI-45762). Basically it will be complete toolbox for parentheses manipulation. They will be enabled on (`UnnecessaryParenthesesInspector` from EA plugins right

[2019-04-08 14:50] kalessil commented on #1278
Hi @wbars,

As for me, it sounds good, will drop when adding 2019.2 into the build environments.

I'd only ask to ensure that PhpStorm behaves the same on our test fixtures:
[code]
and the fixed as
[code]

[2019-04-08 15:03] fruitl00p opened #1279 "Static closure $this"
I know that closures that don't mention `$this` in the function can already be optimized into a static closure. Thanks for that!

The problem is that when you add `$this` later on (i.e. in a refactor of the closure inside a method) PHPStorm doesn't complain about the undefined `$this`

(these are ugly codes, but to illustrate)

for example:
[code]
would be refactored into:
[code]
BUT after yet ano

[2019-04-08 15:09] kalessil commented on #1279
@fruitl00p: this has been covered in Php Inspections (EA Ultimate) already.

[2019-04-08 15:09] #1279 closed

[2019-04-08 15:31] orklah opened #1280 "[FR] Slow array function used in loop: count()"
Description (screenshot):
--
I would like to suggest to suggest to replace usage of count() in loops. It could be added in "Slow array function used in loop" or in a separate inspection.

The goal is to match cases like these:
[code]

It should work with all loops, not only foreach. We will want to check if there is no write access to the counted variable in the loop to suggest to move the count()

[2019-04-08 15:44] dryabov commented on #1280
The ideal solution would be to introduce `@pure` attribute in phpDoc, properly annotate all built-in functions (including `\count`), and add inspections that detect
1) pure function calls inside a loop with arguments that are not changed in the loop (with suggestion to move such a call outside of the loop),
2) subsequent pure function calls with arguments that are not changed between calls (with s

[2019-04-08 15:49] orklah commented on #1280
We would need to convince jetbrains to update their stubs and I'm not sure they would accept without some pre-existing community usage.
If the stubs aren't changed, nobody will bother to do it for a simple inspection...

This would be optimal but too much a hassle

[2019-04-08 15:58] dryabov commented on #1280
OK, then there is another simple way to identify function as pure one: it is a function with arguments that are passed by value and are not objects. Of course, in this case we will not able to detect pure functions with object arguments or pure class methods, but it should cover most built-in functions (with possibility to introduce a white-list for other built-in functions/methods).

[2019-04-08 16:24] kalessil commented on #1280
Most of the core functions are not causing, problems (if we are talking about the practice field).
The `count` is one of problematic (even op-cached) + from my past optimization fun I remember the `array_unique` function - will add them both as slow.

And apparently I need to re-evaluate cases where subject variables are changed in a loop, I totally missed that part.

[2019-04-08 17:04] orklah opened #1281 "[FR] loop used as implode"
Description (screenshot):
--
While fixing "foreach could be used instead of for" warnings in my project, I spotted a lot of cases where a loop was used to perform an implode().

Here are the patterns I saw:
[code]

I suspect this may be hard to translate into an inspection, so don't hesitate to close this issue if it is complicated.

Note: to be able to suggest the change, there must be no operati

[2019-04-09 12:34] jwwk opened #1282 "False Positive: ProperNullCoalescingOperatorUsageInspection when avoiding missing key notice"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) v3.0.12.2 |
| Language level | PHP 7.1                       |

Current behaviour
--
**Example:**
[code]
**Warning is displayed:**
*Resolved operands typ

[2019-04-09 13:15] orklah commented on #1282
I think this has been fixed here:
https://github.com/kalessil/phpinspectionsea/issues/1259

[2019-04-09 13:18] jwwk commented on #1282
yep, case closed 👍
You can't grep screenshots 🙈

[2019-04-09 13:18] #1282 closed

[2019-04-10 00:47] rentalhost opened #1283 "Replace the ugly Class::__toString() with (string) cast"
**Description:**
--
The ugly `$object->__toString()` could be replaced to just `(string) $object`. By otherside, you can track the usage of `__toString()`, but from PS side, maybe we can do a FR to it works even for `(string)` casting.

[2019-04-10 02:31] rentalhost opened #1284 "Namespace doesn't matches with folder"
**Description:**
--
For namespaced files, should be great if it tells if the current namespace matches with the path. I think that it is available on Idea for Java.

[code]

It should consider the `composer.json` section `autoload.psr-4`:

[code]

[2019-04-10 10:07] fruitl00p opened #1285 "[False-Positive] One-time use variables + references"
Subject | Details
-- | --
Issue type | False Positive
Plugin | Php Inspections (EA Ultimate), 2.0.14
Language level | n/a

## Current behaviour:
First of all: Not absolutely sure if it's a false positive, but for me it is.

Please see the following example code:
[code]
From the example it might not be obvious, but this creates a nested tree from an array of 'rows' (i.e. from a database) in both a

[2019-04-10 11:26] #1280 closed

[2019-04-10 15:57] kalessil commented on #1284
Fixed!

[2019-04-10 15:57] #1284 closed

[2019-04-10 16:39] orklah commented on #1284
Hi @kalessil ,

I'm afrais this will lead to a big pile of errors for projects who don't follow PSR-4.

Our project for instance use composer to import some libraries but the project in itself use an old autoloader and don't match namespaces with directories.
Will we be able to disable this part of the inspection?

Thanks

[2019-04-10 16:53] kalessil commented on #1284
We should be fine: this pattern picked up only if `/src/` is in the file path. If it pops up, we'll see reports =)

[2019-04-10 16:54] orklah opened #1286 "[Bug] inspection "Unnecessary call arguments specification" less effective on ultimate"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) and Php Inspections (EA Ultimate), last version |

Hi,

I waited a long time to create this issue because I couldn't replicate it on an other project, bu

[2019-04-10 16:56] orklah commented on #1284
Okay, I'll make some feedback if I have the issue :)

[2019-04-10 17:04] orklah opened #1287 "[FP] Foreach source to iterate over on stdClass"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         |  Php Inspections (EA Ultimate), 2.0.14 |

Current behaviour
--
For the following code:
[code]

The plugin launch a warning "Iterates over '\stdClass' properties (probably should imple

[2019-04-10 19:12] kalessil commented on #1283
Implemented!

[2019-04-10 19:12] #1283 closed

[2019-04-11 09:53] putnik opened #1288 "Non-optimal regular expression: cyrillic ranges"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Ultimate) v2.0.15 |
| Language level | PHP 7.1 |

Current behaviour
--
[code]

Expected behaviour
--
Cyrillic letter ranges should not trigger a warning.

[2019-04-11 10:41] funivan commented on #1287
You can wrap `foreach` over stdClass in one function and suppress inspection in 1 place.
But maybe @kalessil can make a list of ignored classes (configured by user)

[2019-04-11 11:04] orklah commented on #1287
If I understand, you say you want to keep this warning for everyone by default?

I can understand why you would want this warning on a random class : if it doesn't implement Iterator, every attribute will show up in the loop. That means if the developper is not careful, a simple attribute creation could break code elsewhere. However, on stdClass, the whole point of the loop is to go over every att

[2019-04-11 15:24] orklah commented on #1258
FYI, I kinda expected to see less cases after this issue was resolved, but since the last release of EA, I actually see a lot more cases. Cool :)

[2019-04-11 15:31] orklah opened #1289 "[FR] Short syntax for applied operation: new pattern"
Description (screenshot):
--
The following code show a pattern where the inspection is not optimal:
[code]

PHP EA could suggest : "Can be safely refactored as '$a .= 'b' . 'c''."
It seems that as long as there are more than one concatenation, the inspection stop suggesting the change.

Thanks!

[2019-04-11 19:26] kalessil commented on #1288
@putnik: added test case, but can not reproduce. Can you supply a file with simplified code fragment?

[2019-04-11 19:30] orklah commented on #1288
Weird, I reproduce it with the code in example with Ulti V2.0.15 and last EAP

[2019-04-11 19:36] kalessil commented on #1288
What's the file encoding is?

[2019-04-11 19:39] orklah commented on #1288
UTF-8

Here's a capture
![Capture5](https://user-images.githubusercontent.com/9605520/55987658-4c88c580-5ca2-11e9-8f0c-215e0a113c9a.PNG)

[2019-04-11 20:28] kalessil commented on #1289
Implemented!

[2019-04-11 20:28] #1289 closed

[2019-04-11 20:41] orklah commented on #1289
Cool!

[2019-04-12 03:17] rentalhost opened #1290 ""Due to ... used as left operand" false-positive"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | U2.0.15 |
| Language level | PHP 7.2 |
| IDE | PS 2019.1.1 Preview - 191.6707.42 |

![image](https://user-images.githubusercontent.com/421851/56009872-c37c8900-5cb7-11e9-9895-a0a45fc0

[2019-04-12 05:58] funivan commented on #1288
Can reproduce:
Php inspections (EA Ultimate) v2.0.15

[2019-04-12 06:06] funivan commented on #1290
Same story:
[code]

[2019-04-12 09:22] fraserredmond opened #1291 "Resolved operands types are not complimentary - Verify complimentary operands types - allow matching overlap"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) - v3.0.13 |
| Language level | PHP 7.3.1                        |

Current behaviour
--
Code like this:
[code]
Produces the warnings:
[code]
These are fr

[2019-04-12 13:17] kalessil commented on #1288
Reproduced, fixed!

[2019-04-12 13:17] #1288 closed

[2019-04-12 14:05] kalessil commented on #1290
Fixed!

[2019-04-12 14:05] #1290 closed

[2019-04-12 17:28] FlyingDR commented on #1194
@kalessil Is this update is mean to be also included into community version of plugin? There is recently added `Static closure can be used` inspection and its use without this update may lead to broken code.

[2019-04-13 05:18] kalessil commented on #1194
Only ultimate. `Static closure can be used` checks if `$this` has been used, so I'm not sure how we can break the code, same as the similar rule in PHP CS Fixer.  Can you elaborate?

[2019-04-13 10:12] kalessil commented on #1291
Implemented!

[2019-04-13 10:12] #1291 closed

[2019-04-13 10:50] donnysim opened #1292 "PHPUnit v8 assertInternalType is deprecated"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Plugin         | Php Inspections (EA Extended) 3.0.13 |
| Language level | PHP 7.2                     |

Current behaviour
--
It suggests converting something like
[code]
into
[code]
But then you end

[2019-04-13 11:18] FlyingDR commented on #1194
`Static closure can be used` works correctly, but in a case if closure contents get changed with adding `$this` inside `static` closure - there is no report from IDE and this situation effectively leads to fatal error in runtime. Of course it is not a fault of your (exceptionally useful) plugin.

Thank you for your answer, I will certainly consider buying ultimate version in this case.

[2019-04-13 14:59] kalessil commented on #1287
Fixed!

[2019-04-13 14:59] #1287 closed

[2019-04-13 15:08] kalessil commented on #1286
Synchronized codebases between plugins.

[2019-04-13 15:08] #1286 closed

[2019-04-13 15:19] kalessil commented on #1275
@rk : which plugin do you use (ultimate or extended)?

[2019-04-14 05:34] Dragonrun1 opened #1293 "@noinspection ParameterDefaultValueIsNotNullInspection not working"
Php Inspections (EA Extended)
PHP 7.2

![NoInspectionNotNull](https://user-images.githubusercontent.com/1431541/56088791-78d84980-5e3c-11e9-9711-e6f0af1a1a62.PNG)
Inspection not suppressed when no inspection used. The inspection should be suppressed. Before or after method docblock does seem to matter either.

[2019-04-14 05:40] orklah commented on #1293
Hi,

It seems that PhpStorm add the docblock here automatically:
[code]

And when it is placed here, it supress the inspection.

Not sure if it is wanted or not though...