[2018-02-27 21:22] kalessil opened #828 "repetitive calls in loops: check assignments value as well"
and in array creation expression

[2018-02-28 09:34] summitpatil opened #829 "auto fix for "Variables should not be self-assigned""
Can we add auto fix for **"Variables should not be self-assigned"**

Code Example
    $name = $name;
Solution
 remove such occurences

[2018-02-28 09:45] jdreesen opened #830 "Suggest "roave/security-advisories" in "require-dev" section instead of "require" section of composer.json"
See https://github.com/Roave/SecurityAdvisories/pull/41 & https://github.com/Roave/SecurityAdvisories/pull/43

[2018-02-28 09:54] kalessil commented on #830
@Ocramius: we are targeting "require" section ATM, should we target "require-dev" instead (if I understood correctly we can now)?

[2018-02-28 09:55] kalessil commented on #829
@summitpatil : yes, I'll add in one of next releases.

[2018-02-28 10:59] kalessil opened #831 "Alias functions: verify list"
http://php.net/manual/en/aliases.php (target core and DB-related APIs only)

[2018-02-28 11:17] kalessil opened #832 "Type casting can be used: */*= 1"

[2018-02-28 11:45] kalessil opened #833 "IssetArgumentExistenceInspector: verify `empty($missingVariable->property)`"
E.g. `empty($missingVariable->property)`

[2018-02-28 12:48] kalessil commented on #833
Fixed

[2018-02-28 12:48] #833 closed

[2018-02-28 13:11] kalessil commented on #826
Fixed

[2018-02-28 13:11] #826 closed

[2018-02-28 13:14] melbings commented on #826
Great job!

[2018-02-28 14:06] rentalhost opened #834 "Suggests param typehint"
Reading the `erusev/parsedown` repository [**I see that code**](https://github.com/erusev/parsedown/blob/6678d59be48c4be64eaca6ce70bea48a09488cc2/Parsedown.php#L80):

[code]

This just uses the param `$safeMode` to cast it to `(bool)` which visibly was done to keep compatibility with PHP versions that does not support param typehint. But if my project does support it (PHP 7+), then it could be avo

[2018-02-28 14:06] #831 closed

[2018-02-28 14:10] #325 closed

[2018-02-28 14:12] kalessil commented on #809
Thank you for reporting @tfettig01, I'll check what can we do here.

[2018-02-28 14:16] #295 closed

[2018-02-28 14:34] Ocramius commented on #830
Yeah, can be `require-dev`, as I verified that `composer update` *always* considers also the `require-dev` section.

[2018-02-28 15:06] #832 closed

[2018-02-28 17:30] craiglondon opened #835 "False positive? with expression is not allowed as class constant value"
`const ROUTE = parent::ROUTE . '/some-county';`
`const NO_RESULTS = ['NOTHING FOUND','NO PAYMENTS FOUND'];`

EA Inspections is saying this is an error..
with expression is not allowed as class constant value

[2018-02-28 18:22] kalessil commented on #835
@craiglondon : reproduced the error message, but it triggered by IDE parser (as I understand).
PhpStrorm bug tracker is here: https://youtrack.jetbrains.com/issues/WI

Cheers, Vlad

[2018-02-28 18:22] #835 closed

[2018-02-28 20:48] kalessil commented on #827
@craiglondon : the right way is to annotate the both widgetObject and widgetArray with relevant type information.

If it's not possible, then just introduce a local variable:
[code]
or, there is less atractive option (but it can chabge semantics if source is traversable, not an array):
[code]

[2018-02-28 20:51] spenserhale opened #836 "New value type (null) is not in annotated types. ( CallableParameterUseCaseInTypeContextInspection )"
**Example Code 1**
[code]
**Example Code 2**
[code]
Examples 1 & 2
The problem line is $input = $replacement.
I am specifically checking for null and handle error, but check still thinks value is null.

**Example 3**
[code]

Example 3 works, and correctly does not throw inspection warning, however this method is ran from a loop and would like to reduce function calls when not needed.

[2018-02-28 20:53] craiglondon commented on #835
@kalessil Thank you.

[2018-02-28 20:54] craiglondon commented on #827
@kalessil Thank you for the response.  I will apply the information you provided.

[2018-02-28 20:59] kalessil commented on #834
Note: ArrayTypeOfParameterByDefaultValueInspection should go away when this is implemented

[2018-02-28 21:08] kalessil commented on #836
Thank you for reporting @spenserhale, I'll check what can we do here (to be specific why null is not filtered out - can be both IDE or my plugin).

[2018-02-28 21:12] kalessil commented on #827
You are welcome =) Which of options did you like more (asking as probably review our docs for the inspection as follow up on this ticket).

[2018-02-28 21:14] kalessil commented on #835
You are welcome =)

[2018-02-28 21:52] craiglondon commented on #835
For what it's worth, I didn't realize my project in PHP Storm was set to PHP 5.4.  Once I changed it to 5.6, this error went away.

[2018-03-01 03:07] craiglondon commented on #827
Maybe this documentation could be enhanced?

https://github.com/kalessil/phpinspectionsea/blob/master/docs/types-compatibility.md#foreach-source-to-iterate-over

I still am not able to always write `@var` declarations that will satisfy that rule.

`/* @var array[] $this->type['selectOptions'] */`
`foreach ($this->type['selectOptions'] as $option) {`

$this = object (this Model)
type = array
select

[2018-03-01 03:38] craiglondon commented on #827
`foreach ((array)... as $subArray) {}` . This works, but I don't like the potential side effect of casting the variable if it isn't an array.

[2018-03-01 05:30] kalessil commented on #827
I'll enhance the docs as well.

Also: in my snippet and docs as well you have to introduce a **local variable** and annotate its type.
Annotating complex expressions is not supported by PhpStorm (and perhaps even not part of PhpDoc).

Would you please give a try to a local variable?

[2018-03-01 05:31] kalessil commented on #827
Re-opening the issue as it was closed not intentionally.

[2018-03-01 14:49] craiglondon commented on #827
@kalessil I will try... would this be the correct syntax for this example below?

[code]

[2018-03-01 14:50] craiglondon commented on #827
re: `Annotating complex expressions is not supported by PhpStorm (and perhaps even not part of PhpDoc).`  I concur, I don't think the complex expressions are supported by PHPDoc or PhpStorm.

[2018-03-02 17:17] rentalhost opened #837 "Reduce highlighting level from aliases"
In case of aliases using (eg. `join()` instead of `implode()`), the aliases inspection will highlight both function name and it parameters, which causes a "visual noising".

I think that it should be limited to only the function name and instead of strikeout uses the warning or weak-warning color.

**Currently:**

![image](https://user-images.githubusercontent.com/421851/36912018-288772fc-1e24-11e

[2018-03-02 21:12] kalessil commented on #837
Totally making sense, I'll make adjustments. If you notice something similar, please post here (I did similar fixes in the last release, but seems missed some cases).

[2018-03-04 10:23] kalessil commented on #837
Fixed

[2018-03-04 10:23] #837 closed

[2018-03-05 08:14] kalessil commented on #829
@summitpatil : this seems to be reported by "Silly assignment" inspection from IDE itself. Hence closing the issue (on our end we have no API for injecting custom QFes in 3rd party inspections.)

[2018-03-05 08:14] #829 closed

[2018-03-05 08:41] kalessil commented on #836
Fixed

[2018-03-05 08:41] #836 closed

[2018-03-05 09:43] kalessil commented on #827
@craiglondon : correct one would be

[code]

[2018-03-05 11:40] kalessil commented on #823
Done, relocated into "Suspicious ternary operator" inspection.

[2018-03-05 11:40] #823 closed

[2018-03-05 13:25] kalessil commented on #827
Done: docs has been extended with the type annotation example.

[2018-03-05 13:25] #827 closed

[2018-03-05 15:27] craiglondon commented on #827
@kalessil Appreciate it!  Thank you.

[2018-03-05 17:31] tarlepp opened #838 "What about `use function xxx` instead of `\xxx`?"
Currently `Unqualified function/constant reference` fixes this like below:

Before:
[code]

After:
[code]

What about if this was just handled via `use function array_map;` ?

[2018-03-05 18:25] michabbb opened #839 "explode(...) misused"
lets say i have a string `a,b,c` and i need to count the elements (split by ,) i would do (as usual)

[code]
but the inspection says "misused". because this is most simple way for me, i would like to know a version
that is "okay" for the inspection ;)

many thanks

[2018-03-05 18:50] kalessil commented on #839
Hi Michael,

this one =):
![image](https://user-images.githubusercontent.com/1577185/36993501-4a27e298-20ae-11e8-80bf-4d54137ab1b0.png)

Cheers, Vlad

[2018-03-05 18:50] #839 closed

[2018-03-05 18:52] kalessil commented on #839
In case of: `$arrayCount = count(explode(',', 'a,b,c'));` a QF is available.

[2018-03-05 18:55] kalessil commented on #838
Can be done, but I can not say when this will happen.

[2018-03-05 18:56] rentalhost commented on #838
Personally I don't like to use the`use function`, so when you implement that, could you make it an option (maybe disabled by default)? 😄

[2018-03-05 18:57] michabbb commented on #839
@kalessil many thanks, my phpstorm didn´t show me this suggestion because the count is a few rows later ;( good2know ;) btw... what is ment with the shortcut **QF** ? ;)

[2018-03-05 19:08] kalessil commented on #839
Quick-Fixes: Alt+Enter on reported statements normally do fix code for you.

[2018-03-05 19:09] kalessil commented on #838
@rentalhost : understood, will be optional behavior.

[2018-03-05 19:11] kalessil commented on #827
@craiglondon : you are welcome =) In case if you run in something similar (what needs documenting), just file an issue.

[2018-03-05 19:32] michabbb commented on #839
okay, thanks, i know this. because explode and count were not below each other, phpstorm didn´t show me this QF ;) `you never stop learning` ;)

[2018-03-05 19:37] #818 closed

[2018-03-06 05:40] funivan commented on #838
@kalessil is there any way to suggest two quick fixes? For example: import, add slash.

[2018-03-06 05:43] funivan commented on #829
@summitpatil create an issue in phpstorm tracker. Maybe they can add a quick fix. It is not so hard.

https://youtrack.jetbrains.com/issues/Wi

[2018-03-06 08:17] kalessil commented on #838
@funivan : have no idea, I'll need to check.

[2018-03-06 10:30] kalessil commented on #812
@Haehnchen : checked, the warning is by PhpUndefinedFieldInspection (IDE bundled one). Worth reporting to PhpStrom team IMO.

[2018-03-06 10:30] #812 closed

[2018-03-06 10:33] kalessil commented on #810
Reviewed, didn't find anything suspicious.

[2018-03-06 10:33] #810 closed

[2018-03-06 11:08] kalessil commented on #793
We dropped legacy type resolver, so the issue suppose to go away with the next update.
@cpriest : if next update doesn;t solve it, we'll reopen the issue.

[2018-03-06 11:08] #793 closed

[2018-03-06 11:11] kalessil commented on #808
We are handling mixed in the same way: if it preset, almost all inspections are skipping analysis.
+ it's PhpDoc, implicit return types are not allowing it =)

[2018-03-06 11:11] #808 closed

[2018-03-06 11:16] kalessil commented on #809
@tfettig01 : seems this needs to be reported to PhpStorm team as following works properly:

[code]
To be more specific: PhpStorm merges types instead of overriding them in case of sequential assignments. That's quite unexpected behaviou.

[2018-03-06 11:16] #809 closed

[2018-03-06 17:37] nightlinus opened #842 "[false-positive] Redudant else keyword"
Given code:
[code]

Expected no inspection violation here

![screenshot_20180306_203339](https://user-images.githubusercontent.com/2681887/37047993-a854aa8e-217d-11e8-9aeb-bf44936a0e24.png)

PhpStorm 2018.1 EAP
Build #PS-181.3986.12, built on February 28, 2018
PhpStorm EAP User
Expiration date: March 30, 2018
JRE: 1.8.0_152-release-1136-b16 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Li

[2018-03-06 17:51] jdreesen commented on #842
Thats not a false-positive. It suggests you to write this instead:

[code]

[2018-03-06 17:51] rentalhost commented on #842
It is not wrong. Try to change `else if()` with `if()` and you will have the same behavior here.

[2018-03-06 18:24] nightlinus commented on #842
Yep, thank you for note about code, but inspection suggest to remove whole `elseif` left it with `return` and this is confusing at least. 2 ifs vs `if` with `elseif` is matter of codestyle, there is no error, it is valid code. And transformation suggested by inspection is misleading in this case, dont you think so?

[2018-03-06 18:31] rentalhost commented on #842
Oh, right. I think that the message could be improved in that case to something like "else if could be replaced by if". The current message is a bit confuses, really.

[2018-03-06 18:33] kalessil commented on #842
Understood, I'll update the message.

[2018-03-06 18:35] nightlinus commented on #842
Thank you for quick replies, guys, it is amazing.

[2018-03-06 20:44] donquixote opened #843 "Unqualified function reference for function as string?"
On
[code]
the plugin suggests I use `'\function_exists'` instead.
Probably not a good idea :)

[2018-03-06 21:04] kalessil commented on #843
Why =)

[2018-03-06 21:05] jdreesen commented on #843
Why shouldn't this be a good idea? PHP's OPCode-Cache is able to optimize this if you use the root-namespaced version.

[2018-03-06 21:07] donquixote commented on #843
ah, backslash in string is ok?

[2018-03-06 21:07] rentalhost commented on #843
Actually it should works fine even for strings: https://ideone.com/xBfr7D

[2018-03-06 21:08] donquixote commented on #843
You be right. I stand corrected. https://3v4l.org/JsnXA

[2018-03-07 06:39] #843 closed

[2018-03-07 08:01] kalessil commented on #842
I updated messages, suppose to be less confusing =)

[2018-03-07 08:01] #842 closed

[2018-03-07 17:54] #822 closed

[2018-03-08 09:01] heisch opened #844 "iterable: New value type (array) is not in annotated types."
There's a false positive with `iterable` as parameter type and arrays

This is the [valid](https://wiki.php.net/rfc/iterable) (7.1+) php script:
[code]

and this is the warning from PHPInspectionsEA:
![screen shot 2018-03-08 at 09 56 21](https://user-images.githubusercontent.com/3083118/37142024-26894222-22b7-11e8-8ced-07a68a50215e.png)

[2018-03-08 09:02] kalessil commented on #844
Looks like a bug, I'll fix it in the next release.

[2018-03-08 09:07] heisch commented on #844
Thanks a lot and keep up the good work 👍

[2018-03-08 09:08] kalessil commented on #844
Thank you for reporting and you are welcome =)

[2018-03-08 14:16] kalessil commented on #844
Fixed

[2018-03-08 14:16] #844 closed

[2018-03-08 16:05] rentalhost opened #845 "Apply Quick-fix automatically on Reformat Code"
@kalessil Could it be done currently? Read the first comment from Anna Kozlova. It should be very important for inspections like `SenselessCommaInArrayDefinitionInspector`.

- See also: https://youtrack.jetbrains.com/issue/IDEA-187946

[2018-03-08 16:45] kalessil commented on #845
Checked: it's different sort of functionality, we don't have API where possible to hook into.
A possible option is a custom intention, and I always ask if @funivan can include intentions into his plugn.

[2018-03-08 17:44] rentalhost commented on #845
So you think that Anna reply is not related to the cause? I don't know if you understand my point here too, but is basically take advantage to yet-implemented quick-fix and run it automagically when you run Reformat Code.

[2018-03-08 18:16] jcrben opened #846 "In which file are settings persisted?"
I reset some of the Probable Bugs to warnings instead of errors. I expected these to show up in my settings - either in the `.idea` directory (`.idea/inspectionProfiles/Project_Default`?) or my overall install settings (maybe in `inspection/` or `/options/ea_xtended`?) - but I'm not seeing the changes I'd expect.

I've also scoured the docs in https://github.com/kalessil/phpinspectionsea/tree/mast

[2018-03-08 18:30] funivan commented on #845
Maybe @rentalhost is right. If it is possible to add chebox to the inspection and run QF automatically before reformat. It is strange that Jetbrains does not have this functionality built in.
QF is very similar to intention. The main difference is creation process. QF is born from inspection (you need to find some errors), ok intention is born just from code analysis.

How I think this can be done

[2018-03-08 18:44] kalessil commented on #845
@rentalhost: what's suggested there is a workaround - to create a macro which applies 2 quick fixes.

[2018-03-08 18:49] rentalhost commented on #845
@kalessil I could not create a macro which applies quick fixes. I have tried to call one of your quick-fix, for instance, and I got that:

![image](https://user-images.githubusercontent.com/421851/37169961-4827497a-22e8-11e8-9c3f-957da924f05e.png)

[2018-03-08 18:50] kalessil commented on #845
@funivan : I'd vote for "B" (com.jetbrains.php.lang.inspections.PhpTraditionalSyntaxArrayLiteralInspection.PhpConvertToShortArrayQuickFix#PhpConvertToShortArrayQuickFix can be extracted into an intenton and modified to drop tha last comma)

[2018-03-08 18:52] kalessil commented on #845
@rentalhost : got it, seems it's fewer options now.

[2018-03-08 19:04] kalessil commented on #846
@jcrben : those settings tweaks are normally landing in `.idea/inspectionProfiles/*` files. If after restart settings are not reset, then 100% they are in that directory.

Are inspections with modified error levels colored by blue color?

[2018-03-08 19:15] jcrben commented on #846
Ah, I'm seeing the file updated now. Perhaps it required a restart, or maybe I was scatterbrained while searching around for where they should be.
![image](https://user-images.githubusercontent.com/5614134/37171191-eae5958a-22c1-11e8-8425-585a7090191d.png)

[2018-03-08 19:15] #846 closed

[2018-03-08 20:25] kalessil commented on #846
Oh, .idea on several directory levels is well-known fun =)

[2018-03-08 20:34] kalessil commented on #828
Skipping assignments: the base object might be overridden, let's keep only simple thing ATM.

[2018-03-08 20:34] #828 closed

[2018-03-09 07:45] ktomk commented on #830
Please change. I don't want to disable that inspection ;-)

[2018-03-09 08:16] Ocramius commented on #830
@ktomk why would you disable it?

[2018-03-09 10:24] kalessil commented on #830
` Roave/SecurityAdvisories` is now considered as dev-package and promoted for require-dev packages group.

[2018-03-09 10:24] #830 closed

[2018-03-09 13:41] ktomk commented on #830
@Ocramius: I don't want to, and seems with the changes I don't have to :+1:

Thanks!

[2018-03-09 14:30] kalessil commented on #154
Since I dropped design-patterns related inspections, closing this one as well.

[2018-03-09 14:30] #154 closed

[2018-03-09 15:42] Ocramius commented on #830
@ktomk the question was about why you'd want to remove it when it's in `require` instead of `require-dev` ;-)

[2018-03-09 16:45] ktomk commented on #830
@Ocramius: Ah, well: I haven't had it in require, I just put it into require-dev as announced on the Homepage of it ;-). I don't do things wrongly only b/c the inspection tells me so ^^

[2018-03-09 16:58] Ocramius commented on #830
To be clear: nothing wrong with using it in `require` ;-)

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Fri, Mar 9, 2018 at 5:45 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2018-03-09 17:34] ktomk commented on #830
@Ocramius: Good to know! ^^

[2018-03-09 18:23] rk opened #847 "Proposal: check set_exception_handler() in PHP 7"
Hello,

A project had a critical bug recently, caused by `display_errors` being off and this:

[code]

In PHP 5.6 that code is perfect working code. But in PHP 7 that code will break error handling when an `Error` is thrown by PHP.

The alternatives are simple:

[code]

I have caught this a couple of times since I switched to PHP 7, but currently it doesn't stand out (with any inspections) in my P

[2018-03-09 19:19] kalessil commented on #686
@sjdaws : I've rechecked the case and seems it's correctly reported. Once JetBrains team delivers https://youtrack.jetbrains.com/issue/WI-40818 the PhpDoc warning will go away.

Sorry for such news.

[2018-03-09 19:19] #686 closed

[2018-03-09 19:27] kalessil commented on #847
Thank you for the proposal @rk, I'll schedule for the next release but most probably it'll be shifted.

[2018-03-10 08:22] kalessil commented on #37
Closing this ticket: cases have been addressed already.

[2018-03-10 08:22] #37 closed

[2018-03-10 19:27] jcrben commented on #118
I noticed this with Addition operator used on arrays
![image](https://user-images.githubusercontent.com/5614134/37245987-da6b3b2a-2455-11e8-9bd6-f274b6043e6f.png)
with this line of code:
![image](https://user-images.githubusercontent.com/5614134/37245994-fd41b570-2455-11e8-837f-f546162e3ccc.png)

I did notice that the light bulb changed from red to yellow, though.

If you'd prefer I could open a n

[2018-03-10 19:37] kalessil commented on #118
@jcrben : please open a new one =)

[2018-03-10 20:08] jcrben opened #848 "Modified Severity of Addition operator used on arrays not recognized in inspection report"
Running Intellij Ultimate 2017.3.4 and EA EA Inspections 2.3.18

![image](https://user-images.githubusercontent.com/5614134/37246271-669410d6-245b-11e8-8264-e581bca2dca7.png)
from this line of code
![image](https://user-images.githubusercontent.com/5614134/37246272-69dc5320-245b-11e8-8cea-ffb3a537e2a2.png)

still registers as an error in the scrollbar and Analyze->Inspect Code report and gets the

[2018-03-11 09:42] kalessil commented on #848
Fixed

[2018-03-11 09:42] #848 closed

[2018-03-11 13:49] kalessil commented on #677
Fixed

[2018-03-11 13:49] #677 closed

[2018-03-12 17:58] #817 closed

[2018-03-13 08:19] dpauli opened #849 "Bug: Nullpointer exception on variable setting"
Hi there,

following code does not work correctly:
[code]

On setting values on `$foo` there is the information, that a null pointer may occur. This is not correct, because I write (and not read) from `$foo`.

[2018-03-13 08:26] kalessil commented on #770
Fixed

[2018-03-13 08:26] #770 closed

[2018-03-13 08:37] kalessil commented on #849
Hi David,

It seems that $foo has an object type: means that ArrayAccess is implemented and hence null reference gets reported. When $foo has only scalar types, the message should go away.

Taking this context into account, do we need to address more contexts?

[2018-03-13 15:16] #845 closed

[2018-03-13 21:22] dpauli commented on #849
Hey,

perhaps I understand it wrong, but `$foo` has only scalar value types, not objects, in this case.

[2018-03-14 12:11] FlyingDR opened #850 "False positive for is_a()"
PHPStorm 2017.3.5, PHP Inspections 2.3.18

`Callable parameter usage violates definition` inspection have false positive on passing `string` argument for `is_a()` function. Passing string argument is [allowed](https://secure.php.net/manual/en/function.is-a.php#refsect1-function.is-a-changelog) since PHP 5.3.9 and is controlled by `$allow_string` argument. However this code reports definition viola

[2018-03-14 18:40] tfettig01 commented on #809
Thank you.

I reported it at https://youtrack.jetbrains.com/issue/WI-41106 and tagged you in a comment.  Hopefully you don't mind.

[2018-03-14 19:23] kalessil commented on #809
Thank you for reporting. Yes, I'm totally fine with it =)

[2018-03-14 19:49] kalessil commented on #850
Fixed

[2018-03-14 19:49] #850 closed

[2018-03-14 20:24] kalessil commented on #849
Fixed!

[2018-03-14 20:24] #849 closed

[2018-03-14 20:44] haegemon opened #851 "Inspection not understand correctly checking value for null."
Inspection not understand correctly checking value for null.

Let's see 3 examples:
[code]
If we say directly types inspection ignore that. But phpstorm hinting understand
[code]
Example with if:
[code]
As I understand inspection not prepare for changing type of variable without assignment

[2018-03-14 21:02] kalessil commented on #851
That's limitations of the inspection: https://github.com/kalessil/phpinspectionsea/blob/master/docs/probable-bugs.md#null-pointer-exceptions-prevention

If you try using a direct null comparison, the warning should disappear. And considering type-respecification: I'm avoiding PhpDoc in the analysis as much as possible and rely more on the workflow (it's pretty easy to fool IDE, but we are catching

[2018-03-14 21:02] #851 closed

[2018-03-14 21:11] kalessil commented on #851
UPD: type change is considered, but I don't remember if it's in the Extended or Ultimate plugin.

[2018-03-15 15:18] azhidkov opened #852 "String index out of range: -1 in version 2.3.18"
Hello, I use IDEA with PHP plugin.

```Php Inspections (EA Extended): 2.3.18```

```PHP Plugin version: 181.4096.20```

[code]

[code]

[2018-03-15 16:11] rentalhost commented on #852
Ops!

Could you please post your code with the backtick usage and PS + EA version?

[2018-03-15 16:20] azhidkov commented on #852
Updated.

[2018-03-15 17:25] rentalhost commented on #852
It was fixed internally and will be available on next release (no ETA).
Thanks for you report!

[2018-03-15 17:25] #852 closed

[2018-03-16 00:17] iakoder commented on #420
Hmmm, I just revisited this under

PhpStorm 2018.1 EAP
Build #PS-181.4203.107, built on March 14, 2018
PhpStorm EAP User
Expiration date: April 13, 2018
JRE: 1.8.0_152-release-1136-b20 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.2

With Php Inspections (EA Extended)
2.3.18

Is Php Inspections 2.3.18 compatible with PhpStorm 2018.1 EAP (Preview 1)?

With all inspections turn

[2018-03-16 05:30] kalessil commented on #420
@iakoder : probably because of exceptions (EA Extended is fail-safe, I but I guess with the problem no type information was available). In fact, I think multiple inspections depending on type information is not getting it because of the exception.

Not much help, but I please report the exception to JetBrains.

[2018-03-16 17:07] iakoder commented on #420
Reported as https://youtrack.jetbrains.com/issue/WI-41147

[2018-03-16 17:39] WiXSL opened #853 "False positive: Suspicious assignment - Last array element accessed via count() is treated as same index"
$values = array();
$values[count($values)] = 1;
$values[count($values)] = 2; // $values[count($values)] is immediately overridden, please check...

[2018-03-16 17:48] kalessil commented on #853
Thank you for reporting @WiXSL. Will be fixed in the next release.

[2018-03-16 20:17] kalessil commented on #853
@WiXSL , apart from the false-positive, isn't it the same as `$values[] = ...`?

[2018-03-19 17:06] isfedorov commented on #420
We have rechecked this issue and find out that even when there is no exceptions in idea.log and all inspections were enabled, inspection doesn't show error for code
[code]
So I think this issue should be re-opened

[2018-03-19 17:08] kalessil commented on #420
I'll re-check (but we have added UTs which are passing, so perhaps just a new test case will be added).

[2018-03-19 17:14] kalessil commented on #420
@isfedorov : in `$x[]` which type $x is?

[2018-03-20 02:18] craiglondon commented on #830
I have PHP Inspections v2.3.18 installed, I have added `"roave/security-advisories": "dev-master"` to my `require-dev` section, but the plugin is still saying it should go into the `require-dev` section.

[2018-03-20 07:32] kalessil commented on #830
@craiglondon : we didn't release changes for this issue yet. An update is coming soon.

[2018-03-20 13:31] kalessil commented on #420
Seems I misunderstood the original pitch. http://php.net/manual/en/migration71.incompatible.php#migration71.incompatible.empty-string-index-operator is not reported yet, I'll make adjustments.

[2018-03-20 13:42] craiglondon commented on #830
@kalessil Thank you for the response.  I will ignore it for now.

[2018-03-20 17:31] craiglondon opened #854 "Inspection of composer.json, blank entries under Annotator"
PHP Inspections v2.3.18 installed.
PhpStorm 2017.3.6
Build #PS-173.4674.46, built on March 15, 2018
JRE: 1.8.0_152-release-1024-b15 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

I ran an inspection of my composer.json.  Below is the screenshot

![composer-blank-annotator](https://user-images.githubusercontent.com/3833140/37671810-f0a9b192-2c42-11e8-8c53-86588c2f2975.jpg

[2018-03-20 18:38] kalessil commented on #854
Hi @craiglondon: doesn't look like something from us. Do you have composer.json plugin installed? Perhaps the inspection belongs to it (I guess).

[2018-03-20 18:44] rentalhost commented on #854
I think the same. I have installed it soon and I see the same issue. So I think that it is related to the [composer plugin](https://github.com/psliwa/idea-composer-plugin).

[2018-03-20 19:06] kalessil commented on #854
Duplicates https://github.com/psliwa/idea-composer-plugin/issues/57

[2018-03-20 19:06] #854 closed

[2018-03-20 21:06] craiglondon commented on #854
Thank you.  I do have this plugin installed as well `PHP composer.json support v 1.0.25` and when I disabled it, those messages related to annotator went away.

[2018-03-21 05:12] kalessil commented on #854
@craiglondon : you are welcome. I think it should be also possible to disable inspection which causes the issue and keep the plugin enabled - it helps pretty much.

[2018-03-21 11:16] Koc opened #855 "Exploiting unserialize do not reports when options are empty"
[code]

Also would be nice create quick fix for that.

[2018-03-21 11:36] kalessil commented on #855
Confirmed, will be in the next release.

[2018-03-21 14:45] Koc opened #856 "Not all unused variables detected"
[code]

variable `$key` not detected as unused.

[2018-03-21 18:08] orklah opened #857 "False positive: Suspicious assignment"
Hi,

Thanks for this awesome plugin!

Here's a false positive I had on a project and I could reproduce:
![false positive](https://user-images.githubusercontent.com/9605520/37728534-cb0ac6f8-2d3a-11e8-8a6e-7ae710222d8f.PNG)

When a variable is reassigned with a string composed with itself via the syntax {$foo}, it detects it as "immediately overriden".

Thanks

[2018-03-21 18:11] kalessil commented on #857
You are welcome =) Confirmed, will be in the next release.

[2018-03-21 18:16] orklah commented on #857
Thanks for the super fast answer!

[2018-03-21 20:15] rentalhost opened #858 "Nested ifs: option to avoid complex ifs"
There some cases where I prefer keep nested ifs, even when I could just merge it to avoid complexity.

For instance:

[code]

Currently it turns to:

[code]

It is right, but I think more complex read codes like that.

Before:

![image](https://user-images.githubusercontent.com/421851/37734926-58fc1d8c-2d2b-11e8-8a6a-e500d099de86.png)

After:

![image](https://user-images.githubusercontent.com/421

[2018-03-22 05:32] kalessil commented on #858
Will adding a new line do the trick (so we tweak formatting) or you want the option to skip merging cases when `||` and `&&` are mixed up?

[2018-03-22 09:46] kalessil commented on #857
Fixed

[2018-03-22 09:46] #857 closed

[2018-03-22 10:03] kalessil commented on #856
Done, gets reported now

[2018-03-22 10:03] #856 closed

[2018-03-22 11:46] rentalhost commented on #858
Second option.

[2018-03-22 20:29] kalessil commented on #853
Fixed

[2018-03-22 20:29] #853 closed

[2018-03-23 13:53] rentalhost opened #859 "Detect conditional variable usage"
It should check if variable will be used only conditionally. See example below:

[code]

Note that `$someVar` is used only conditionally inside an inner scope. So it could be improved to:

[code]

[2018-03-23 18:32] rentalhost opened #860 "Expressions' type was not recognized: with static instances"
If we read some property from a `new static` object it don't recognizes the traversability from type, but it works if is from a `new self`.

[code]

[2018-03-24 07:26] kalessil commented on #420
Added the pattern recognition, thank you for feedback guys!

[2018-03-24 07:26] #420 closed

[2018-03-24 18:42] kalessil commented on #855
Done

[2018-03-24 18:42] #855 closed

[2018-03-26 09:31] MMauro94 opened #861 "': void' can be declared as return type hint false positive"
I found a false-positive on the mentioned inspection. Here's some test functions to reproduce it:
[code]

This happens specifically when there is a not type-hinted param with a `null` default value.

[2018-03-26 16:14] kalessil opened #862 "[FB] Foreach source: is_array() condition - new cases"
Following cases gets reported:

[code]

[2018-03-27 22:19] mambax7 opened #863 "isset(...) helper"
Would it be possible to replace automatically "isset(" to "null !==" ?

I have this:

[code]

and the plugin suggests:

[code]
but I have to do it manually.

Being able to right-click and convert it automatically would save a lot of time :)

Thank you,

[2018-03-28 07:07] funivan commented on #861
Confirmed. This is false positive

[2018-03-28 09:24] jb112 opened #864 "Control Flow | Strings normalization"
### 'ucwords(...)' makes no sense here.
My code:
[code]
After fix normalization:
[code]
Test:
[code]
Even so **ucwords** makes sence.

[2018-03-28 11:02] MMauro94 opened #865 "Exception inheritance"
I noticed that for the inspection "Exception handling and annotating" all non-explicitly ignored exceptions are reported. Shouldn't this inspection ignore also all children of ignored exception? So you can add `\RuntimeException` and call it a day, instead of manually adding each exception you want to ignore. Maybe should this be a setting?

For reference, PHPStorm's "Unhandled exception" behaves

[2018-03-28 11:12] MMauro94 opened #866 ""Exception handling and annotating" doesn't respect severity type"
As the title states, the mentioned inspection doesn't respect the assigned severity type: it always stays on "weak warning" with the grey squiggly underline.

[2018-03-28 12:05] neorganic opened #867 "False suggestion to add "roave/security-advisories": "dev-master""
I have  "roave/security-advisories": "dev-master" in require-dev, but the inspection seems to ignore that an even more it advises to add it to the "required", when the official "roave/security-advisories" documentation is real clear about this.

[2018-03-28 13:54] bcremer commented on #867
This was fixed in https://github.com/kalessil/phpinspectionsea/issues/830.
The Version containing this fix was released a few days ago.

[2018-03-28 17:59] rentalhost opened #868 "Wrap condition into '()' to specify intention: not need for spaceship operation"
The following code is warning "_This may not work as expected (wrap condition into '()' to specify intention)_" over the spaceship operation. The spaceship precedence is greater than `?:`, so it is not need here.

[code]

[2018-03-29 04:58] funivan commented on #866
@kalessil why you control severity type from the java code and not from the XML ;)

[2018-03-29 07:40] kalessil commented on #866
That's what called "learning curve" =) I also imagined that I know better than users what severity should be.
Anyway, I'll make a fix.

[2018-03-29 07:43] kalessil commented on #865
Adding a new setting is making sense.

[2018-03-29 07:46] funivan commented on #866
Maybe we can fix all similar cases?

[2018-03-29 07:53] kalessil commented on #866
Cleaning up periodically =)

[2018-03-29 08:29] kalessil commented on #864
Fixed

[2018-03-29 08:29] #864 closed

[2018-03-29 08:33] #867 closed

[2018-03-29 08:34] kalessil commented on #867
@neorganic : would you please confirm if the plugin update has fixed the issue?

[2018-03-29 08:35] kalessil commented on #863
Hi @mambax7 : should be easy to implement - I'll schedule for the next release.

[2018-03-29 08:46] #260 closed

[2018-03-29 11:54] neorganic commented on #867
@kalessil Yes, I can confirm this is resolved! :+1:

[2018-03-30 15:24] WiXSL opened #869 "Suggest removal of silly evaluation of functions return value."
[code]

Notice that the if comparison could be used with any comparison operator (==, ===, !=, !==, ??, <=>, etc)

[2018-03-30 18:59] Bilge opened #870 "Invalid isset operations variables existence violation detection."
This code triggers the "Isset operations variables existence" inspection on the `isset($nextPrevious)` code fragment. This is incorrect because the code is valid.

[code]

[2018-04-01 09:42] kalessil commented on #281
Implemented

[2018-04-01 09:42] #281 closed

[2018-04-02 18:51] kalessil commented on #869
Thank you for a proposal @WiXSL - I'll schedule for the next Extended release.

[2018-04-02 18:52] rentalhost opened #871 "How to resolve transitive dependencies with Laravel"
I am receiving a lot of warnings about transitive dependencies because of the usage of Laravel [`Illuminate`](https://github.com/laravel/framework/blob/5.6/composer.json#L94) classes. I am not understanding the reason of this warnings, once that I am requiring the `laravel/framework` (that implements this classes).

[2018-04-02 18:53] kalessil commented on #863
@mambax7 : this should be part of Ultimate v2.0.1. I'll update the ticket with correct milestone later.

[2018-04-02 18:54] rentalhost commented on #871
For some reason too, some classes are not being affected:

![image](https://user-images.githubusercontent.com/421851/38210520-0c5a299e-368e-11e8-8ef5-464b6fbb6c57.png)

That is my `composer.json`:

![image](https://user-images.githubusercontent.com/421851/38210534-1dcb9d98-368e-11e8-8cbe-5fc140ee15c7.png)

[2018-04-02 19:10] kalessil commented on #871
The marked classes are not coming from laravel/framework, but e.g. from illuminate/auth, illuminate/cache and etc.

Adding them implicitly would be the way to go - the implicit declaration of dependencies.
Might be redundant, but why not.

[2018-04-02 19:20] kalessil commented on #870
Huh, that's a tough case. An absolutely valid case, but I'd like people to look into implicit declarations.
Hence, the only what I'll do is add documentation, promoting following:

[code]

PS: sorry, hope you understand my dilemma.

[2018-04-02 19:22] Bilge commented on #870
No, sorry, I don't understand and I don't expect your inspections demand I rewrite my code to suit your personal preferences.

[2018-04-02 19:25] kalessil commented on #870
Fair enough. Which plugin/version and IDE/version is it - I'll check what I can do.

[2018-04-02 19:41] kalessil commented on #871
I'll check if I can fix this

[2018-04-02 19:57] Bilge commented on #870
PhpStorm 2017.3, PHPEA 2.3.18

[2018-04-02 20:17] kalessil commented on #870
Thank you.

Also it worth updating to v3.0.0 (the issues will be still there, but the release has many bug-fixes).

[2018-04-02 20:18] Bilge commented on #870
Thanks, but I don't know much about that. I thought PhpStorm was supposed to keep plugins updated automatically?

[2018-04-02 20:25] kalessil commented on #870
No worries, PhpStorm has a popup about available updates (for IDE and plugins). Or these IDE settings:
![image](https://user-images.githubusercontent.com/1577185/38214337-9dd2b194-36c4-11e8-9d24-85d1c431a2c3.png)

If the plugin has no update button, right-click on the list and click "Reload list of plugins"

[2018-04-02 20:27] Bilge commented on #870
It does have a manual update button, but I don't want to manually update anything, I want automatic updates. For some reason that doesn't seem to be available.

[2018-04-02 20:31] kalessil commented on #870
Ok =) I'll poke you when we have a solution for the issues itself.

[2018-04-03 00:53] mambax7 commented on #863
Awesome!!! Thank you!!!

[2018-04-03 00:53] #863 closed

[2018-04-03 12:00] Bilge opened #872 ""Type casting can be used" inspection doesn't differentiate between casting and coercion"
The following type coercion code generates an inspection warning:

[code]

It incorrectly claims:

Perhaps it is true that `(string)$foo` is faster than `strval($foo)`, which is what the inspection claims to be checking for, but it's absolutely incorrect that coercion (which it doesn't even claim to be checking for) is 6x slower than casting.

This inspection should stick to checking the PHP4 func

[2018-04-03 14:25] rentalhost commented on #871
Hmm... Maybe it should consider the [`replace`](https://getcomposer.org/doc/04-schema.md#replace) key from composer? Because the Laravel replace have [a lot of instructions about that](https://github.com/laravel/framework/blob/5.6/composer.json#L42). I believe that it works like an "alias" to the package. So `illuminate/auth` refers to the own `laravel/framework` that I have set on my `composer.js

[2018-04-03 17:37] kalessil commented on #871
@rentalhost : all correct - that's a false-positive and we need to lookup the replace section in some cases.

[2018-04-03 19:36] kalessil commented on #872
Thank you for reporting @Bilge

For myself: update message, introduce settings so people could switch off the case reporting.

[2018-04-03 20:14] zerkms opened #873 "[false-positive] `for` loop is marked as error when iteration expression is `*=`"
In the following code the line with `for` statement is marked with `Suspicious loop` inspection

[code]
If the iteration expression is changed to `$i++` the inspection goes away.

I probably am missing something, but I don't see how `$i *= 2` is more "suspicious" than `$i++`.

[2018-04-04 04:12] kalessil commented on #873
Thank you for reporting @zerkms. That's false-positive, I'll take care of it.

[2018-04-04 15:51] WiXSL commented on #869
Another example:

[code]

[2018-04-05 09:17] neorganic opened #875 "'false !== strpos($httpCode, "200")' can be used instead <- suggestion is bad for readability"
I would argue that preg_match('/200/', $httpCode) has a much better readability .

And a little prehistory of this issue is that I've had a bug after refactoring to strpos and it wasn't clear for some time what's wrong due to bad readability.

The problem is that ``strpos()`` doesn't return true at any time and the ``false !== strpos();`` is a hack....

I think this suggestion should be removed.

[2018-04-05 16:41] kalessil commented on #875
`false !== strpos(...)` is faster (and generally used) alternative, so removal is unlikely.

But `I've had a bug after refactoring to strpos` sounds like an acting challenge, can you provide a code sample with explanations, please?

[2018-04-05 16:44] kalessil commented on #868
Understood, will fix in the next release.

[2018-04-05 17:48] kalessil commented on #870
Fixed

[2018-04-05 17:48] #870 closed

[2018-04-05 17:57] kalessil commented on #868
@rentalhost : re-visited the issue, the `()` is making sense - the intention is not clear as for me.

[2018-04-05 17:57] #868 closed

[2018-04-05 18:03] kalessil commented on #866
Fixed

[2018-04-05 18:03] #866 closed

[2018-04-05 18:49] rentalhost commented on #868
Then it actually is a style inspection, not a possible issue on code?

[2018-04-05 18:55] #862 closed

[2018-04-06 01:03] iakoder commented on #420
Thanks for working on this.  Unfortunately I'm still not seeing it.

PhpStorm 2018.1
Build #PS-181.4203.565, built on March 28, 2018
Licensed to Intacct / Dan Wilks
You have a perpetual fallback license for this version
Subscription is active until April 6, 2019
JRE: 1.8.0_152-release-1136-b20 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.2

Php Inspections (EA Extended): 3.0

[2018-04-06 05:08] kalessil commented on #420
@iakoder : that's strange. What's the language level set in the project?

![image](https://user-images.githubusercontent.com/1577185/38404309-5a138d32-3969-11e8-8b0f-f20c1c7901d6.png)

[2018-04-06 09:09] Haehnchen opened #876 "Add inspection for missing slash / backslash in __DIR__ string path concatenation"
I often forget the slash / backslash in the following example, maybe an inspection can help here. also we should think of windows and linux path names.

[code]

[2018-04-06 17:48] iakoder commented on #420
Well, at least I said I was sorry in my post.  I'd gone back to 7.0 in that project. I'll slink back to my corner now.

[2018-04-06 17:53] kalessil commented on #420
Relax, everything is fine =)

[2018-04-06 18:29] kalessil commented on #876
To clarify: `time thieve` is about the case of course =)

[2018-04-06 19:06] Haehnchen commented on #876
nice thx ;)

[2018-04-07 07:58] kalessil commented on #873
Fixed

[2018-04-07 07:58] #873 closed

[2018-04-07 08:03] kalessil commented on #860
Huh, this one going to eat plenty of my time

[2018-04-08 17:41] kalessil commented on #869
Implemented: goes into ultimate according to this announcement https://kalessil.github.io/page-blog-post-about-ea-ultimate.html from January.

[2018-04-08 17:41] #869 closed

[2018-04-09 08:46] kalessil opened #877 "Unnessesary asserting: assertInternalType when implicit return type being declared"

[2018-04-09 08:47] kalessil opened #878 "assertTrue(in_array) -> assertContains"

[2018-04-09 17:16] #878 closed

[2018-04-09 18:03] #877 closed

[2018-04-09 19:13] kalessil commented on #877
Note: related commits went int #878

[2018-04-10 02:31] mambax7 opened #879 "New value type (float) is not in annotated types."
I have in some old code this defined:
[code]
and then I'm getting the float type notice for this line:
[code]
while this is still an integer

[2018-04-10 16:36] kalessil commented on #847
For myself: enhance CallableMethodValidityInspector

[2018-04-10 16:39] kalessil commented on #875
Closing, as no feedback was provided.
@neorganic : I'll re-open the issues when the requested code sample provided.

[2018-04-10 16:39] #875 closed

[2018-04-11 06:22] excentrik opened #880 "[false-positive] "This statement seems to be disconnected from its parent foreach.""
Quite related to #621 , using the progress bar in the Symfony framework results in the warning "This statement seems to be disconnected from its parent foreach."

(Dummy) Example:
[code]

[2018-04-11 09:10] kalessil commented on #879
Will check, thank you for reporting Michael!

[2018-04-13 19:05] kalessil commented on #861
Fixed

[2018-04-13 19:05] #861 closed

[2018-04-13 19:07] kalessil commented on #880
Thank you for reporting @excentrik. Unfortunately, I don't a solution for this case, so a suppression is recommended here.

[2018-04-13 19:07] #880 closed

[2018-04-13 19:34] kalessil commented on #860
Checked: com.jetbrains.php.lang.psi.resolve.types.PhpType#filterUnknown seems to not play nicely with static here.  Would you please report to JB?

[2018-04-13 19:34] #860 closed

[2018-04-13 20:04] kalessil commented on #880
Or introducing a link to the loop scope:
[code]

[2018-04-14 00:38] Bilge opened #881 "Unnecessary parenthesis completely changes meaning if removed"
Given the following code:

[code]

PHPEA claims the inner braces are redundant and thus changes the code to the following:

[code]

The former yields whatever `$results->advance()` returns, the latter yields a boolean. Since these two statements are non-equivalent this must be considered a bug in the inspection.

[2018-04-14 06:07] kalessil commented on #881
Good catch @Bilge , thank you

[2018-04-15 11:37] kalessil commented on #879
Fixed

[2018-04-15 11:37] #879 closed

[2018-04-15 11:44] mambax7 commented on #879
Thank you so much!!!  :)

[2018-04-15 15:28] donquixote opened #882 ""New value type (int) is not in annotated types" for float * int"
Hello Vladimir ,
I don't know what we should do with this one..

[code]
Inspection warning: "New value type (int) is not in annotated types"
In PHP > Php Inspections (EA Extended) > Architecture > Callable parameter usage violates definition

From https://3v4l.org/TOuFl (with "eol versions"):
- float * int is always float in PHP 7.x.
- float * int can be int for PHP 5.x and hhvm.

I think we shoul

[2018-04-15 15:30] donquixote commented on #882
Maybe add a note about this in the inspection description.

[2018-04-15 16:50] kalessil commented on #882
Hi Andreas, this should be covered by #879 - it'll be in the next release (2-4 weeks)

[2018-04-15 16:50] #882 closed

[2018-04-15 16:57] donquixote commented on #882
Thanks for quick response!

#879 does not contain detailed explanations.
What is the spec behavior with your changes?
Is float * int considered to be always float, or do you support the PHP 5.x situation where float * int can be int?

[2018-04-15 17:32] kalessil commented on #882
There `float * int`, `float + int`, `float - int` is evaluated to float.  The 5.x case is not considered.

[2018-04-15 20:45] kalessil opened #883 "array_filter: unnecessary callback closure"
- `array_filter/array_map([], function(...) { return function(...); })`

[2018-04-17 00:17] craiglondon opened #884 "Yii2 & Kartik ActiveForm, False positive?"
I am using Yii 2.0.15.1 and Kartik ActiveForm 3.40 (most current for both), this detection seems to be new, as in the past few weeks.

`use kartik\widgets\ActiveForm;`

`Expected kartik\form\string got string` is the text displayed when I hover over 'FullName', 'Address', etc.

[code]

![typecompatissue](https://user-images.githubusercontent.com/3833140/38841566-064f9fea-41b3-11e8-9cf8-b6ef21dc2ba

[2018-04-17 01:46] sjdaws commented on #865
Not sure if this is related or not but we've noticed on both 2.8.1 and 3.0.1 the `@throws` tag complains if the base exception _isn't_ annotated:
![screen shot 2018-04-17 at 11 43 18 am](https://user-images.githubusercontent.com/659316/38843944-b5ae8d30-4234-11e8-9f89-fc92d0442027.png)

This error comes from Control Flow -> Exceptions handling and annotating

[2018-04-18 04:26] kalessil commented on #884
Hi Craig, this specific inspection is by IDE itself - hence we can not help here.

[2018-04-18 04:26] #884 closed

[2018-04-18 04:27] sjdaws commented on #865
@kalessil thanks, it seems the whole exception inspection isn't working correctly, this one is thrown by `__call` however will never invoke due to the `method_exists` check prior, this used to be fine as well but now isn't.

![image](https://user-images.githubusercontent.com/659316/38911726-980ba958-4314-11e8-8ee3-0128db488971.png)

This is happening anywhere an exception is thrown even if it's pr

[2018-04-18 04:29] kalessil commented on #865
Both IDE and my plugin has own version of inspection, I'd suggest to leave keep enable only one (you choice ofcourse).

[2018-04-18 04:34] sjdaws commented on #865
@kalessil that was the issue for the latter issue thank you, the first error is still happening (which you probably are aware of). Thanks!

[2018-04-18 11:29] craiglondon commented on #884
Got it.  I forgot that in the last release or two of PHPStorm this plugin has it's on dedicated section in that view.   I'll recreate this issue with them.

[2018-04-19 01:00] iakoder opened #886 "Invalid unsupported string offset operation"
![screen shot 2018-04-18 at 5 42 46 pm](https://user-images.githubusercontent.com/13456541/38965274-99164dfa-4330-11e8-81a8-5fe26264743c.png)
![screen shot 2018-04-18 at 5 46 05 pm](https://user-images.githubusercontent.com/13456541/38965275-9942a490-4330-11e8-9041-135300618256.png)

I've run into one case where I'm getting an unsupported string offset operation that, other than corrupt metadata,

[2018-04-19 17:02] rentalhost opened #887 "Illusion of Choice: how it works?"
Just to clearify. I don't understand well what is the meaning of this inspection.

![image](https://user-images.githubusercontent.com/421851/39006687-332b9a40-43da-11e8-9a04-7282de399daf.png)

The suggested fix is:

![image](https://user-images.githubusercontent.com/421851/39006693-3bd42a0e-43da-11e8-9a58-4a63cb5d458f.png)

And it could break my code if `$content` is not extracted to this view. Ma

[2018-04-19 17:03] Saeven opened #888 "Typo throughout: parenthesises"
The word parenthesises does not exist, I think you want 'parentheses'.

Thank you for your excellent library!

[2018-04-19 17:08] kalessil commented on #887
` ($context = null) ?? null` = null
` ($context = '...') ?? null` = '...'

The statement is always evaluated to $context - but as you pointd out not in global context =)

[2018-04-19 17:17] kalessil commented on #888
You are welcome, thank you for reporting =)

[2018-04-19 17:17] #888 closed

[2018-04-19 18:02] kalessil commented on #886
Difficult to say what causes this. Ideally following should help, can you check, please?
[code]

[2018-04-19 19:06] iakoder commented on #886
[code]

PhpStorm type popup shows just string[][][] but the line

[code]

still shows an error.

Changed to this
[code]

and the type info of $t is array|false|string|string[][][] so it looks like PhpStorm is, for some reason, not showing its full computed type info here like it usually does.

Now that I found that I could easily find

[code]

and PopMessageVariable is defined as returning array|s

[2018-04-19 19:16] kalessil commented on #886
Oh, that was found fast =)

[2018-04-19 19:16] #886 closed

[2018-04-20 06:33] kalessil opened #889 "PhpUnit: assertNotNull and declared return types"

[2018-04-20 09:33] funivan commented on #887
@kalessil I just catched new case with null coalescing operator(

[2018-04-20 09:39] kalessil commented on #887
Report here =)

[2018-04-20 09:45] asgrim opened #890 "Idea for discussion: exclude some things from transitive dependency inspection"
Just an idea here: some discussion about pros/cons of doing this is of course welcome!

Whilst I like that transitive dependencies are checked, I think perhaps some exclusions for common ones that generally we might not care about may be useful.

Ones I've noticed on my current project:

 - `psr/container` - one could argue that this should be in `composer.json`, so I'm split on this one at least

[2018-04-20 09:48] asgrim commented on #890
With the `psr/container` / `container-interop` ones, perhaps if they `provide` the `psr/container-implementation` then exclude it (e.g. this project depends on `zendframework/zend-servicemanager` which `provide`s `psr/container-implementation`)? Wonder if that's a bit complex to handle? Kinda similar in concept to the #871 issue for `replaces` in meta-packages?

[2018-04-20 10:04] Gamesh opened #891 "Traits properties conflict resolution get reported for property annotations"
[code]

error apears on `use SomeTrait` that there is a conflict, but actually there isn't as it's only a property annotation inside the trait.

[2018-04-20 16:35] kalessil commented on #891
Confirmed, thank you for reporting @Gamesh

[2018-04-20 16:42] kalessil commented on #890
For UTs: got it, test scope should not be reported IMO. So, I'll exclude test scope.

Exclusions are needed: to keep it simple, let's 'vendor/package', 'vendor/*' patterns will be supported.

[2018-04-20 18:39] rentalhost opened #892 "Suggests usage of slash instead of backslash in path related functions"
Unix and Windows could uses `/` as _directory separator_. Windows could too uses `\`, but it is invalid for Unix distros. _And I have spent 4 hours do identify an issue caused for that._

Basically, any path related function (eg. `is_dir()`, `is_file()`, `file_exists()`, so on) should be inspected if inner strings uses `\` to separate folders. I don't think that `DIRECTORY_SEPARATOR` is valid for

[2018-04-20 19:28] kalessil commented on #887
Fixed

[2018-04-20 19:28] #887 closed

[2018-04-20 19:44] kalessil commented on #891
Fixed

[2018-04-20 19:44] #891 closed

[2018-04-21 05:27] kalessil commented on #892
Oh, that was obviously annoying. Will add as a new inspection.

[2018-04-21 19:30] kalessil commented on #890
Done. Test scope gets ignored, settings added.

[2018-04-21 19:30] #890 closed

[2018-04-21 19:31] kalessil commented on #871
Solved in #890. I'll be possible to add 'laravel/*' into ignored packages.

[2018-04-21 19:31] #871 closed

[2018-04-21 21:29] rentalhost commented on #871
Do you not prefer make this option configurable via options list?

[2018-04-21 21:30] rentalhost commented on #871
Oh, you did it. :D

[2018-04-23 18:30] kalessil commented on #883
Closing, stupid idea.

[2018-04-23 19:27] rentalhost commented on #883
Do you mean something like the following?

[code]

[2018-04-23 19:47] kalessil commented on #883
Yes

[2018-04-23 20:00] rentalhost commented on #883
It seems very useful, but probably complex to implement, and rare to occur.

[2018-04-24 00:27] iakoder opened #893 "Differences between "Unsupported string offset operations" and "Illegal string offset" inspections."
Just curious why $x[] is caught for both string and array|string variables but $x[$y] is only caught for string but not array|string.  (I'd much prefer that all four cases be caught so I can @noinspect away the ones I don't care about.)

[code]

Oh, never mind.  The Illegal string offset is a PhpStorm built-in inspection.  Ok, this is a feature request then for you to make your own Illegal string

[2018-04-24 00:33] iakoder opened #894 "Unsupported string offset operation doesn't notice string[] types."
[code]

[2018-04-24 04:08] kalessil commented on #883
It staged a little bit, but there is something about what I don't like.

[2018-04-24 12:35] rentalhost commented on #883
You still like to implement that your you think better do not?

[2018-04-24 16:01] kalessil commented on #883
Will implement simplified version

[2018-04-24 18:36] kalessil commented on #883
Implemented

[2018-04-24 18:36] #883 closed

[2018-04-25 12:51] funivan commented on #834
My case:
[code]
We can suggest to use array in parameter types

[code]

[2018-04-25 12:52] funivan commented on #763
What about redundant doc comment?
[code]
I think this comment can be safely dropped out. It does not provide any new information.

[2018-04-25 13:33] kalessil opened #896 "[FR] Covers annotation merging to ::<public>"

[2018-04-26 02:12] hackel opened #897 "False positive: Class needs to implement __isset to properly work here."
In the following simple code example, I'm seeing two issues:
[code]
Line 1 _warning_: `New value type (\Illuminate\Support\Fluent) is not in annotated types.`
What does this mean?  Is there a way to add it?  I tried adding a class phpDoc block but it had no effect.

Line 2 **error**: `\Illuminate\Support\Fluent needs to implement __isset to properly work here.`
You can see [here](https://github.co

[2018-04-26 06:20] kalessil opened #898 "[FR] Introduce profiles"

[2018-04-26 11:52] BinaryKitten opened #899 "Access modifier inspection incorrectly suggests class constants be declared public"
PhpStorm 2018.1.1
Build #PS-181.4445.72, built on April 9, 2018
JRE: 1.8.0_152-release-1136-b27 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

PHP Inspections Ultimate Version 2.0.2
![phpinspections_version](https://user-images.githubusercontent.com/67553/39304081-5ea86fce-4950-11e8-91d7-c8b279f4c636.png)

See image code:
![phpstorm64_2018-04-26_12-40-11](https://user-imag

[2018-04-26 11:58] funivan commented on #899
This inspection suggests adding visibility modifier to the property for example `public` or `private`.
Why do you think this inspection is incorrect?

[2018-04-26 12:00] BinaryKitten commented on #899
because Constants don't have a visibility setting. If you add Public before Const you get a fatal error of unexpected T_CONST

[2018-04-26 12:04] funivan commented on #899
http://php.net/manual/en/language.oop5.constants.php
[code]
Please check your php version specified in the project.
Go to `language and frameworks` -> `php`

![03 03 43](https://user-images.githubusercontent.com/425208/39304682-1f56b55c-4963-11e8-9c49-25691041db50.png)

[2018-04-26 12:05] funivan commented on #899
You can specify 7.0 and then this inspcetion should not warn you about constant visibility.

[2018-04-26 12:10] BinaryKitten commented on #899
My error.
Sorry about that. Seems someone had modified the dev server away from 7.1 to 7.0. Thanks for pointing this out.

[2018-04-26 12:10] #899 closed

[2018-04-26 12:11] funivan commented on #899
No problem. Glad to help.

[2018-04-26 14:22] jeromegamez opened #900 "[FR] Add option to ignore non-annotated/unhandled exceptions in private methods"
I don't know if it makes sense, but for me it would be great to have an additional option in `Control Flow -> Exceptions handling and annotating` to control whether non-annotated/unhandled exceptions *in private methods* should be reported and/or alternatively (if possible) perform a check if the exception has been annotated/handled in one of the calling/parent methods.

<img width="835" alt="exam

[2018-04-27 07:08] kalessil commented on #897
Hi Ryan,

Line 1: Happens when $params is the a function/method parameter and it's type doesn't include the reported class. In simplest case it's enough to introduce a new local variable instead of re-using the parameter.

Line 2: Might be connected with the previous one, can you check please if tweaking to a new local variable solves this issue as well?

[2018-04-27 09:26] jensschulze opened #901 "Transient Dependency Detection false positive with Drupal 8"
Hello,

this is my first post here, so first of all thank you for this great piece of software 👍 !

We have an issue with _Ultimate_: the transient dependency detection identifies any class from the `\Drupal\Components` as transient dependency. But they are actually part of the **Drupal Core** which is required in `composer.json`.
As far as we have checked, any other dependencies to Drupal Core cl

[2018-04-27 11:56] kalessil commented on #901
Hi Jens,

Thank you, happy to hear that you are on Ultimate and liking it =)

This get reported because of this file: https://github.com/drupal/core/blob/8.6.x/lib/Drupal/Component/Utility/composer.json

I'm not sure if this a separate package you can require in the manifest. In some cases it's necessary to ignore such packages in the inspection settings  (the release which bring those settings cu

[2018-04-27 11:56] #901 closed

[2018-04-27 12:48] jensschulze commented on #901
Oops, I missed that one ☠️
Thanks for your help!

[2018-04-27 12:58] kalessil commented on #901
Happy to help =)

[2018-04-27 15:09] rentalhost opened #902 "Callable parameter usage violates definition should not check interfaces"
I don't know if it could be generalized, but certainly it should be skipped for `\assert()`. The following code will fails, but is a valid check.

[code]

[2018-04-27 18:19] kalessil opened #903 "[FR] variable might not be defined"
https://twitter.com/nikolaposa/status/989918649296281600

[code]

[2018-04-27 18:50] kalessil opened #904 "[FP] Suspicious assignments: = and .="

[2018-04-27 19:37] kalessil opened #905 "[FP] rtrim(strtolower($p), 's')"

[2018-04-28 16:32] funivan commented on #902
I think this case is similar to :
[code]
But I can be wrong.

[2018-04-28 16:58] #905 closed

[2018-04-28 17:56] #904 closed

[2018-04-28 18:07] kalessil commented on #897
ping @hackel

[2018-04-29 12:30] #534 closed

[2018-04-29 18:10] kalessil commented on #728
Done

[2018-04-29 18:10] #728 closed

[2018-04-29 19:56] kalessil opened #906 "UnnecessaryEmptinessCheckInspector: new patterns"
[code]
+ cleanup similar functionality in NotOptimalIfConditionsInspection

[2018-04-29 20:00] kalessil commented on #838
Looks like the plugin stable enough, hence the feature should land into the next release.

[2018-04-30 08:21] kalessil opened #907 "[FP] UnnecessaryParenthesesInspection: new ($object->method())[(...)]"

[2018-04-30 13:46] uuf6429 opened #908 "array_merge in loop inspection ignores break/return"
I've found the following false positive for this inspection:
[code]

^ It's just an example, but there are a few cases where this might happen. This might also apply to other statements like `return`.

Docs: https://github.com/kalessil/phpinspectionsea/blob/master/docs/performance.md#slow-array-function-used-in-loop

[2018-05-01 17:19] #906 closed

[2018-05-01 20:35] t-kanstantsin opened #909 "[FP] Unnecessary type casting for `(int) ($foo[0] ?? 0)`"
Following code gives 'Unnecessary type casting' warning:
[code]
But it's true only for second part of statement.

PHPStorm version is 2018.1.2
Plugin version is 3.0.1

[2018-05-02 04:27] funivan commented on #909
Thanks for report @t-kanstantsin
Confirm this bug.

[2018-05-03 12:54] kalessil opened #910 "PhpUnit: `->willReturn(->returnCallback()) `"

[2018-05-03 15:20] kalessil commented on #909
Will check, thank you for reporting.

[2018-05-03 19:43] #910 closed

[2018-05-04 07:02] foobar13373 commented on #909
Can confirm, was just about to report the same issue, only for `(bool)` instead of `(int)`.

[2018-05-04 17:03] ggcarlosr commented on #795
Hello, I am a designer that you need, I am willing to help, what would your requirements be?

[2018-05-05 05:53] kalessil commented on #909
For myself: when about to report, run possible values discovery and skip reporting for ?? (PhpStorm types resolvers is not yet efficient for ??).

[2018-05-08 15:50] kiler129 opened #911 "[FR] Missing False Detection for \DateTime::createFromFormat()"
The following code will crash, since attempt to call `format()` on `false` was made:

[code]

I know the plugin detects such attempts where call on null is executed, but maybe it should also protect against such cases?

[2018-05-08 16:43] Revisor opened #912 "Why "Class needs to implement __isset to properly work here"?"
Hello,
I haven't found anything about this inspection in the docs or in the issues.

Can you please explain, why

[code]
shows the following error?

Why does the $object's class need to implement `__isset()`?

[2018-05-09 02:53] kiler129 commented on #912
If the property doesn’t exists in the class and it’s accessed via magic getter the only way for interpreter to know if the property exists is to call __isset.

[2018-05-09 06:30] kalessil commented on #912
As @kiler129 says, if a property does not exists or the property is private/property the `__isset` is needed.

It's also possible that the codebase creating properties dynamically, like e.g. stdClass used as DTO (Data Transfer objects). Here we can not really fix this and just recommending using less dynamics and write regular DTO instead (the have all fields declared implicitely).

[2018-05-09 06:30] #912 closed

[2018-05-09 06:32] kalessil commented on #911
@funivan @rentalhost : please advice

[2018-05-09 07:27] funivan commented on #911
It would be nice to have this check. Maybe the case can be following:
If we call property/method/constant on the type of boolean or null then we should check it.

You already handle null check, maybe it is possible to handle boolean and maybe resource or array types.

We have the similar case in our project. Resolved it once and do not any have problems.

Other case is to collect feedback. If more

[2018-05-09 10:40] Revisor commented on #912
So if I understand correctly, the condition
[code]
is a problem if

1. The class implements `__get()` but not `__isset()`
2. Or the property is private.

On the other hand it is not a problem if the property is public (or undeclared) and the class doesn't implement `__get()`.

Is that correct?

[2018-05-09 10:47] kalessil commented on #912
- `The class implements __get() but not __isset()`: Correct
- `Or the property is private`: Correct (same applies to protected properties)

- `Or the property is private`: correct

- ` class doesn't implement __get()`: correct, but in general if you are using any of `__get/__set/__isset` , you are expected to have all 3 of them (one of our inspections suppose to complain if something is missing).

[2018-05-09 11:00] Revisor commented on #912
Thank you for the explanation, now I understand the inspection and the problem it points to.

[2018-05-09 11:03] kalessil commented on #912
You are welcome. I'll reopen the issue in order to cover the topic in our documentation as well.

[2018-05-10 18:28] kalessil commented on #912
Done: https://github.com/kalessil/phpinspectionsea/blob/master/docs/probable-bugs.md#emptyisset-results-correctness

@Revisor @kiler129 : feedback on the added docs is appreciated.

[2018-05-10 19:16] kalessil commented on #907
Seems to be covered already.

[2018-05-10 19:16] #907 closed

[2018-05-10 19:42] kalessil commented on #908
Fixed

[2018-05-10 19:42] #908 closed

[2018-05-11 18:31] rentalhost opened #913 "Optimize else + single if"
Analyze the next code:

[code]

It could be optimized to:

[code]

[2018-05-12 11:52] kalessil commented on #913
Done

[2018-05-12 11:52] #913 closed

[2018-05-12 11:52] kalessil commented on #858
Done, as default behaviour, no settings.

[2018-05-12 11:52] #858 closed

[2018-05-13 06:49] kalessil opened #914 "CallableMethodValidityInspector: enhancements"
For myself: enhance CallableMethodValidityInspector

Also following needs to be covered (implicit callable type declaration):

whatever('__function');
whatever(array());
whatever(array($this, '__missing'));
whatever(array('__Missing', 'method'));
whatever(array('__Existing', '__private_or_non_static'));
whatever(array(new self(), '__private_or_protected'));

[2018-05-13 06:49] kalessil commented on #847
Implemented

[2018-05-13 06:49] #847 closed

[2018-05-13 06:50] kalessil commented on #911
Ok, adding to backlog.

[2018-05-14 09:37] kalessil opened #915 "Simplify: isset(..., ...->property)"

[2018-05-14 16:53] #915 closed

[2018-05-15 06:49] kalessil opened #916 "Static methods invocation via '->': QF is needed"

[2018-05-15 18:21] rentalhost opened #917 "Reuse variable"
I don't know if it does sense, but I found some code with something like that:

[code]

`$a` is just initialized or overrided before `$b` copy that, and `$b` is never modified after that, so basically have the same content as `$a`. So, `$b` here could be dropped and  `$a` be used instead.

Exception could occur if `$b` is a reference-variable, then it could be valid in some contexts (like `functio

[2018-05-15 23:39] iakoder opened #918 "No string to array assignment inspection?"
Just logged this https://youtrack.jetbrains.com/issue/WI-42120 and thought you might be interested.  I'm surprised that no one has detected this yet.

[code]

[2018-05-16 06:25] funivan opened #919 "[FP] IllusionOfChoiceInspection"
[code]
I can alsow run quick fix. But the code will get invalid:
` echo $name;`
Yep. This code is old and need to be rewriten. At least i add `$name = null` to the top. But i think Illusion of choise does not work correctly.

[2018-05-16 10:36] kalessil commented on #919
Agree. Note for myself: only `??` is affected.

[2018-05-16 10:41] DroneZzZko opened #920 "Incorrect hints and quick-fix for intval(), floatval() etc."
The inspection show wrong hints for this construction:
[code]

But this hint gives a different result:
[code]
[code]

[2018-05-16 11:33] kalessil commented on #918
That's as usually with PhpDoc ¯\_(ツ)_/¯. Similar cases applying to method/function parameters.
In this project I declining PhpDoc related tickets (just for the focus sense), but it worth checking id PhpStan catches this (I can imagine they could implement this if not yet catching).

PS: voted for the issue.

[2018-05-16 11:33] #918 closed

[2018-05-16 11:34] kalessil commented on #917
Looks like a new pattern for one-time use variables.

[2018-05-16 16:28] kalessil commented on #920
Fixed

[2018-05-16 16:28] #920 closed

[2018-05-16 17:08] kalessil commented on #919
Fixed

[2018-05-16 17:08] #919 closed

[2018-05-16 20:16] kalessil commented on #909
Fixed

[2018-05-16 20:16] #909 closed

[2018-05-17 10:34] kalessil opened #921 "PhpUnit: `->exactly(1)` -> `->once()`"

[2018-05-22 13:54] kalessil commented on #917
Implemented

[2018-05-22 13:54] #917 closed

[2018-05-23 05:01] funivan commented on #130
@rentalhost have same idea. Would be nice to have this check. Also this can cover some NPE:
[code]

@kalessil I can try to implement this, don't know how, but want to try))

[2018-05-23 12:52] pascal-hofmann opened #922 "Suggestion for new inspection"
We just hit the third bug related to null coalescing operator (??) together with negation (!).

Because of missing braces code like this
```!$foo ?? true```
 is evaluated as
```(!$foo) ?? true```
which never makes any sense. The new inspection should offer to correct this to
```!($foo ?? true)```

[2018-05-23 13:29] kalessil commented on #922
Hi @pascal-hofmann, will add. For my understanding, which of plugins do you use (Extended or Ultimate)?

[2018-05-23 13:45] pascal-hofmann commented on #922
Extended

[2018-05-23 14:37] Denitz opened #923 "Disable ArrayTypeOfParameterByDefaultValueInspection if param can be non-array"
Can the inspection be not checked if PHPDoc defines any additional non-array param type?
[code]

[2018-05-23 15:48] MaSergiu opened #924 "Default settings in PhpStorm"
Let's say, in PhpStorm, I made some adjustments to the inspections rules (from Settings -> Editor -> Inspections -> PHP -> PHP Inspections (EA Extended)) and now I want them back to defaults. How can I achieve that?
Thank you.

P.S. Excuse me for opening an issue, didn't find the answer in documentation or other closed issues..

[2018-05-23 16:45] rentalhost commented on #924
On inspections panel, you will see some blue items. That items are modified from default value. So you could basically toggle the checkbox to turn it black, that representes the default value implemented by the inspection.

[2018-05-23 16:52] MaSergiu commented on #924
Thank you for such a fast reply.
What's the probability that in PhpStorm Settings -> Other Settings -> Php Inspections (EA Extended) you would add a button for this purpose?

[2018-05-23 17:30] rentalhost commented on #924
I don't think that it should be done by this plugin. But let wait for @kalessil here.

[2018-05-24 06:15] kalessil commented on #922
Ok, will add to Extended.

[2018-05-24 11:43] kalessil commented on #924
Hi @MaSergiu : here we go with a solution - https://plugins.jetbrains.com/plugin/7622-php-inspections-ea-extended-#comment=27384

[2018-05-24 11:43] #924 closed

[2018-05-25 04:27] funivan commented on #250
phpstorm has built-in inspection "Missing PHPDoc comment"

http://imagizer.imageshack.com/img923/4937/O6QwUX.png

[2018-05-25 04:30] funivan commented on #923
Hello @Denitz do you write such code very often? You can suppress inspection in 1-2 places if needed.
Mixed types is bad practice IMHO.

[2018-05-25 04:54] funivan opened #925 "Bug: SuspiciousLoopInspection does not check variable overwrite"
[code]

[2018-05-25 06:15] Denitz commented on #923
Agree, but flexibility is also counted.

[2018-05-25 06:37] kalessil commented on #250
Perfect, closing this one then.

[2018-05-25 06:37] #250 closed

[2018-05-25 07:16] MaSergiu commented on #924
Thank you very much.
Since there is no other option to reset to defaults just the PhpInspections plugin, suggested workaround worked for me.
Good luck in further development and maintenance of such a good tool.

[2018-05-25 19:04] kalessil commented on #332
Will not happen.

[2018-05-25 19:04] #332 closed

[2018-05-25 19:19] kalessil commented on #254
Will not happen.

[2018-05-25 19:19] #254 closed

[2018-05-28 06:10] kalessil opened #926 "is_a(string, ...) - require the third argument"
https://twitter.com/afoeder/status/1000013112572039168
is_a + is_subclass_of

[2018-05-30 09:51] duncan-qabana opened #927 "Bug: if else shortcut giving wrong construction"
`$var = isset($x['key']) ?: $x['key_2']  !== null `

results in an feedback popup that says:

`'$var = isset($x['key']) ?: $x['key_2']  !== null !== null' construction should be used instead.`

[2018-05-30 17:27] kalessil commented on #927
Looks weird. I'll check.

[2018-05-30 21:17] kalessil commented on #927
@duncan-qabana: I'm unable to reproduce, unfortunately. Would you please provide a screenshot and IDE/plugin versions?

[2018-05-31 04:43] kalessil commented on #925
Fixed

[2018-05-31 04:43] #925 closed

[2018-05-31 05:08] kalessil commented on #923
Fixed. I tend to agree with @funivan, but we'll get a new inspection anyway for parameters types.

[2018-05-31 05:08] #923 closed

[2018-05-31 05:15] funivan commented on #927
Unable to reproduce too. EA Ultimate 2.0.4

[2018-05-31 07:05] duncan-qabana commented on #927
I am using PHPstorm 2018.1.4PhpStorm 2018.1.4 - Build #PS-181.5087.24 with EA extended 3.0.2.1.
When trying to recreate it, I cleared the cache and now it just says: Unnecessary parentheses.
Sorry to bother you, yesterday all the shortcuts had the same error :/

[2018-05-31 07:05] #927 closed

[2018-05-31 07:19] kalessil commented on #927
Ok, thank you for re-checking @duncan-qabana

[2018-06-01 10:49] pascal-hofmann commented on #922
Ok, and I will upgrade to Ultimate. 👍

Thanks for your awesome work!

[2018-06-01 11:52] kalessil opened #928 "[FP] UnnecessaryParenthesesInspection: ($exceptionsHandler ?? $handlerStub)($crash)"

[2018-06-01 11:54] kalessil commented on #922
Oh, thank you! I'll send a license later today.

[2018-06-01 19:42] #928 closed

[2018-06-01 20:13] rentalhost opened #929 "Optimize array_slice(array_values($x), $n)"
The code `array_slice(array_values($x), $n)` is slower than `array_values(array_slice($x, $n))`, so it could be optimized. It could be observed to both `array_values()` and `array_keys()` with some kind of filter wrapper like `array_filter()` or `array_slice()`, once this methods will work with less amount of data.

[2018-06-01 21:15] kalessil commented on #929
Good catch @rentalhost, thank you for reporting =)

[2018-06-02 07:11] kalessil commented on #929
Done

[2018-06-02 07:11] #929 closed

[2018-06-02 07:39] kalessil commented on #897
Closing ticket: can not reproduce

[2018-06-02 07:39] #897 closed

[2018-06-02 12:10] kalessil commented on #495
Done

[2018-06-02 12:10] #495 closed

[2018-06-03 13:18] kalessil commented on #926
Done

[2018-06-03 13:18] #926 closed

[2018-06-03 18:00] rentalhost opened #930 "if(strpos()) could causes issues"
Some functions on PHP will returns an integer that is zero-based. Zero could be returned even for true results, but if you do `if(substr())`, in case where zero is returned, it will considered as falsy and will not work like expected, causing wrong behavior on code.

The example below is a big example:

[code]

The code above will print "not found" instead of "found", because `strpos()` will retur

[2018-06-04 07:06] pascal-hofmann opened #931 "[FR] Suggestion for new inspection array_map -> array_column"
I often stumble upon code like…
[code]

…which can be simplified to:
[code]

It would be great to have an inspection for this.

[2018-06-04 07:13] funivan commented on #930
If function return different types (for example `int|boolean` )  then we should check it with strict comparison.

[2018-06-05 14:08] mitelg opened #932 "issue while trying to apply fixes"
today I got this error message while I wanted to apply a suggested fix. Unfortunately I didn't recognize it immediately, so I don't know, what I did exactly.

java.lang.AssertionError: QuickFix-es with the same family name (Merge into parent construct) should be the same class instances but actually are com.kalessil.phpStorm.phpInspectionsEA.inspectors.ifs.NestedPositiveIfStatementsInspector$Merge

[2018-06-05 14:27] kalessil commented on #932
Hi @mitelg, would you please check which Php Inspections plugins you have installed (if both Extended and Ultimate, then it worth uninstalling the Extended one)

[2018-06-05 15:47] arcticlinux opened #933 "ForeachSourceInspection on multi-dimensional arrays"
If you reference the return of returnMultiArray in the same class file, the inspection is not triggered:

[code]

But if you reference it in another class, it throws the ForeachSourceInspection warning:
"Expressions' type was not recognized, please check type hints." on $firstArray and $secondArray

[code]

[2018-06-06 08:58] kalessil commented on #930
Good finding @rentalhost =) Sometimes I wondering how do you find all that stuff.

[2018-06-06 08:59] kalessil commented on #931
Oh, that's a great simplification. Thank you Pascal!

[2018-06-06 09:00] kalessil commented on #932
Any news @mitelg ?

[2018-06-06 09:00] kalessil commented on #933
Weird, will check. Thank you Michael!

[2018-06-06 14:47] rentalhost commented on #930
Generally after a lot of headache. haha

[2018-06-06 16:43] orklah opened #934 "False positive (Suspicious assignment && Suspicious loop)"
Hi!

Two false positive to report:
[code]

triggers Suspicious assignment > immediatly overriden instruction

[code]

triggers Suspicious loop > suspicious parent condition

Thank you for your amazing work!

[2018-06-07 08:15] apapsch opened #935 "False positive of UnnecessaryCastingInspection"
Consider the following statement:

    $quantity = (int)($item["quantity"] ?? 0);

This will yield a UnnecessaryCastingInspection warning. The offender seems to be `?? 0` because if I remove it, the warning goes away. This statement in question I could refactor to omit the explicit default value, by ensuring that the quantity field is guaranteed to exist. But there still is the underlying issue in

[2018-06-07 11:04] kalessil commented on #934
Thank you for reporting @orklah, I'll check this.

[2018-06-07 11:05] kalessil commented on #935
Hm, looks familiar. Which plugin and version is this?

[2018-06-07 11:20] apapsch commented on #935
Oh well, after upgrade from 3.0.0 to 3.0.3 the false positive is gone. Closing this issue.

[2018-06-07 11:20] #935 closed

[2018-06-07 15:21] mitelg commented on #932
Hi @kalessil
sorry for the delay. I was on a business trip.
I've only installed `Php Inspections (EA Extended)` Version: 3.0.3

[2018-06-08 11:14] ikeyan opened #936 ""Referencing objects" Inspection shows a wrong message"
The inspection says "Objects are always passed by reference; please correct '& $var'."
However, PHP function arguments are *passed by value* without `&`.
[code]

In `pass_by_val`, `$a` is passed by value, while the value of `$a` has a reference type.

If there is an inspection that warns a passed-by-ref argument (of any type) that isn't modified nor further passed by ref, that may be informative.

[2018-06-08 12:46] slk500 opened #937 "!empty is not the same as null !=="
Plugin suggest to change expression ' !empty($data->name)' to 'null !== $data->name' but it is not the same.
[code]
Failed asserting that '' is identical to null.

[2018-06-08 13:06] fraserredmond opened #938 "False positive: Addition operator applied to arrays"
Reproduce with this code:

[code]

Gets a false-positive highlight on the `+` like this:

![image](https://user-images.githubusercontent.com/1796533/41158274-382cd9b0-6b20-11e8-9aaf-1b81fe3ad842.png)

[2018-06-08 13:09] rentalhost commented on #938
It make sense. Maybe the "+" inspector should be triggered only if both sides are array (and in this case it is false to both sides).

[2018-06-08 14:43] kalessil commented on #938
@rentalhost : agree, makes sense.
@fraserredmond : thank you for reporting, I'll take care of the issue.

[2018-06-08 14:44] kalessil commented on #932
Weird, and which IDE version is it?

[2018-06-08 14:47] kalessil commented on #937
I'll check if we can fix this.

[2018-06-08 14:49] kalessil commented on #936
Thank you for reporting @ikeyan, I'll take care about the issue.

[2018-06-08 20:16] kalessil commented on #938
Fixed

[2018-06-08 20:16] #938 closed

[2018-06-08 20:47] fraserredmond opened #939 "False positive: New value type (int) is not in annotated types"
Just saw another false positive, here's some sample code to reproduce it:

[code]

And what it looks like:

![image](https://user-images.githubusercontent.com/1796533/41180118-09b5e47e-6b65-11e8-8dd1-badf6d236d86.png)

`$numberInAString` is a string all the way through, but I guess the `is_numeric` is being treated as the value instead of part of the trinary condition.

[2018-06-09 18:41] kalessil commented on #934
1) Fixed
2) No chance to fix this - suppression is recommended

[2018-06-09 18:41] #934 closed

[2018-06-09 18:47] kalessil commented on #932
Fixed! Also please ask Hendrik Söbbing for a license for Php Inspections (EA Ultimate) - hopefully, some of the licenses are available.

[2018-06-09 18:47] #932 closed

[2018-06-10 10:10] kalessil commented on #939
Checked: the int-type is coming from IDE - we cannot fix this on our end.
Introducing a local variable instead of re-writing the parameter should make the warning disappear.

[2018-06-10 10:10] #939 closed

[2018-06-10 10:46] kalessil commented on #933
Checked, that's something to be reported to PhpStorm team - we cannot fix this on our end, unfortunately.

[2018-06-10 10:46] #933 closed

[2018-06-10 15:46] kalessil commented on #937
Fixed

[2018-06-10 15:46] #937 closed

[2018-06-11 06:05] mitelg commented on #932
thanks a lot :+1: :blush:
I will ask him :smile:

[2018-06-12 07:38] vermeulena opened #941 "MkdirRaceConditionInspection vs. NotOptimalIfConditionsInspection"
If I fix the MkdirRaceConditionInspection-Rule as mentioned in https://github.com/kalessil/phpinspectionsea/blob/master/docs/probable-bugs.md#mkdir-race-condition I get a NotOptimalIfConditionsInspection Warning.
Code with MkdirRaceConditionInspection-Warning:
[code]

Code with NotOptimalIfConditionsInspection-Warning:
[code]

Way to aviod that behavior is a second if:
[code]

PHPStorm: 2017.3.2
E

[2018-06-12 09:59] antiphp opened #942 "Merge for "Cascading 'str_replace(...)' calls" uses new and old array syntax"
Code:

    $value = str_replace('|', '-', $value);
    $value = str_replace('"', "'", $value);

After _Merge_ done by _Cascading 'str_replace(...)' calls_:

    $value = str_replace(['|', '"'], array('-', "'"), $value);

Notice new array syntax for 1st paramter and old array syntax for 2nd parameter.
Git diff screenshot here: https://ibb.co/kWKXpd

[2018-06-12 17:22] kalessil commented on #941
Confirmed, thank you for reporting @vermeulena

[2018-06-12 17:23] kalessil commented on #942
Confirmed, thank you for reporting @antiphp

[2018-06-12 17:37] kalessil opened #943 "[FP] MkdirRaceConditionInspector: when QFing introduce and use a local variable"

[2018-06-12 17:53] kalessil commented on #942
Fixed

[2018-06-13 01:27] #98 closed

[2018-06-13 12:27] #204 closed

[2018-06-13 12:49] Denitz commented on #224
@kalessil  Why closed?

[2018-06-13 13:45] davidmpaz opened #944 "After update exception: java.lang.NoClassDefFoundError: com/intellij/util/indexing/IndexId"
Hi,

after some time out of the PC, i did a suggested update of the plugin. Then started to get the exception below.

I already did an `Invalidate Cache / Restart` in PhpStorm.

PhpStorm info:
[code]

Thanks in advance,
Cheers

[code]

[2018-06-13 22:03] donquixote commented on #439
I suppose the other issue is this one, #746.
(just adding this for reference)

[2018-06-13 22:06] donquixote commented on #439
@kalessil In which version of the plugin is this fixed?
I am using version 3.0.3, which I guess is quite recent?
Maybe the fix only exists in 2.x branch, not in 3.x branch?

[2018-06-13 22:14] donquixote commented on #439
Looking at
https://github.com/kalessil/phpinspectionsea/commit/5894e67e8edd23b328ece38edc6ac42db1cb269c
https://github.com/kalessil/phpinspectionsea/blob/C-3.0.3/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/semanticalAnalysis/CallableParameterUseCaseInTypeContextInspection.java
I would think that the fix is already in 3.0.3.

Which makes me wonder why I still see this behavior.

[2018-06-14 22:20] iakoder opened #945 "Do you really keep track of the type of array keys?"
If the error was on a variable and I absolutely knew that the variable was an array and not a string I could @var array $variable and the inspection error would disappear.  How do I set the typeinfo for the $ar['z'] element?

[code]

Ahh, I have to @var the $ay variable to fix the $ar['z'] type info.

[2018-06-15 00:28] donquixote commented on #439
@kalessil I think you need to reopen this.
I still see this problem with 3.0.3 and the code example above.

PhpStorm 2018.2 EAP
Build #PS-182.3208.33, built on June 13, 2018
PhpStorm EAP User
Expiration date: July 13, 2018
JRE: 1.8.0_152-release-1226-b7 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.13.0-43-generic

[2018-06-15 12:52] mitelg opened #946 "unserialization inspection does not recognize allowed classes"
Message: `Please specify classes allowed for unserialization in 2nd argument.`
Example Code:
[code]
the `Token` class is imported with a use statement. but changing it to:
[code]
makes no difference.

PhpStorm 2018.1.5
Php Inspections (EA Ultimate) 2.0.5

[2018-06-15 20:50] dryabov opened #947 "[FR] Merge ob_get_contents+ob_end_clean into ob_get_clean"
A kind of micro-optimization: find a sequence of assignment and function call
[code]
and suggest to replace it with a single call
[code]

[2018-06-16 17:12] kalessil commented on #945
Hey, @iakoder : in this case, we are relying on the IDE type resolver, so the proper type hinting should o the trick. Looks like you found a solution already, or?

[2018-06-16 17:13] kalessil commented on #946
Looks like a bug, I'll try to reproduce and fix it.

[2018-06-16 17:14] kalessil commented on #947
Looks good, will implement it.

[2018-06-16 18:47] kalessil commented on #944
Fixed (hopefully).

[2018-06-16 18:47] #944 closed

[2018-06-16 18:59] kalessil commented on #946
Fixed!

[2018-06-16 18:59] #946 closed

[2018-06-16 20:39] kalessil commented on #439
@donquixote : in 3.0.3 this suppose to be fixed, please file a new issue please with steps to reproduce.

I'll investigate and try to reproduce yours case (we have tests, so quite sure that's a new case or due to EAP).

[2018-06-16 20:50] kalessil commented on #130
@funivan : I'd skip what related to PhpDoc. In case of implicit type hints, it'd have more sense, but I'm not sure if this in demand without strict types enabled (then IDE starts reporting the mismatches).

What would be cool is to find a way to make an inspection which enables the mentioned functionality without strict types directive: that would be super-welcome.

So if you want to give a try to

[2018-06-16 20:50] #130 closed

[2018-06-16 20:53] kalessil commented on #227
Reopening

[2018-06-16 21:02] kalessil commented on #147
Reopening

[2018-06-16 21:08] kalessil commented on #224
We added a bot which closes tickets without activity for ~1 year, reopening.

[2018-06-17 05:19] kalessil commented on #941
Fixed!

[2018-06-17 05:19] #941 closed

[2018-06-17 11:07] kalessil commented on #936
Fixed!

[2018-06-17 11:07] #936 closed

[2018-06-17 12:13] #943 closed

[2018-06-17 13:00] kalessil commented on #930
For myself: array_search, strpos, stripos, strrpos, strripos, strstr, stristr + mb-invariants

[2018-06-17 17:12] kalessil commented on #931
Implemented.

[2018-06-17 17:12] #931 closed

[2018-06-17 17:55] rentalhost opened #948 "Identify methods used single time"
Imagine the following scenario: you create an `class Child extens Parent`, and a method on `Parent` that is used exclusively on `Child` class. Seems more logical you move this method to `Child` instead of keep it on `Parent`.

[code]

I think that it is a valid idea, but have some problems, for instance: IDE could not identify correctly the usage of `doSomething()` in some cases:

[code]

But in c

[2018-06-18 10:53] kalessil commented on #948
@rentalhost : does it make more sense to extend senseless proxy function here, so it encourages people to use the parent method directly?

[2018-06-18 13:13] rentalhost commented on #948
I don't understand what you mean here. I don't know too much the proxy pattern, so is complicated to me haha

[2018-06-18 14:36] rentalhost opened #949 "Simplify boolean"
See the code below:

[code]

While this code is valid, it is hard to understand what is the expected output.

In this case, the `!== false` could just be dropped, once that `$bool` could assumes only boolean values. The same is valid for the inverse: `$bool !== true` to `!$bool`.

[2018-06-18 16:03] rentalhost opened #950 "Variable is redundant"
The following code will mark `$notRedundant` as redudant.

[code]

[2018-06-18 18:13] iakoder commented on #945
It just seemed that you knew more about the type of $ar['z'] than I would have expected.  The inspection can't just be about the type of $ar because that's just an array.  The IDE had to have carried the type info of $ay into $ar['z'] to make that inspection fire on $ar['z']['zz'][] fire.  I've never seen PhpStorm pretend to know about the types of array elements which made me think that you might

[2018-06-18 19:02] rentalhost commented on #948
I do not know... Perhaps the biggest problem here is a possible rarity of occasions for this to happen. I found an interesting idea once I was refactoring a code and realized that I defined a method in parent that was used only by one of its children. That is, the ideal was that this method existed in the child, and not in the parent.

[2018-06-18 19:20] kalessil commented on #945
Understood =)

[2018-06-18 19:20] #945 closed

[2018-06-18 19:28] iakoder opened #951 "Non-Optimal If Conditions"
Are there any heuristics applied using the complexity of the body of the conditional when considering the non-optimal, duplicate if conditions inspection?  I'm not sure if there's a better way to write the following pattern:

[code]

[2018-06-19 05:36] funivan commented on #951
How `f1` function can change the value of the variable `$b`?
Do you use `global` keyword?

[2018-06-19 08:32] thomasphansen opened #952 "False positive: Null pointer exception => null coalesce operator on object properties."
PHP Inspections (EA Extended) marks the following code as "Null pointer exception may occur here":
[code]
, even though this will never throw an exception (since the null coalesce operator will handle it).

This is valid PHP syntax (and, IMHO, one of the reasons why the null coalesce operator was created for). An analysis on it can be found in [this article](http://markshust.com/2017/08/25/php-7s-

[2018-06-19 11:19] Koc opened #953 "[False positive] ::class result and the class qualified name are not identical when aliasing class"
[code]

[2018-06-19 13:34] kalessil opened #954 "[research] breaking incapsulation"
https://twitter.com/afoeder/status/1009051915341238272

[2018-06-19 13:34] kalessil commented on #952
Looks like a bug, thank you @thomasphansen

[2018-06-19 13:42] kalessil commented on #951
@iakoder : nope, the inspection is straight-forward one. I'd give a try to this approach (a local variable for repeated condition)

[code]

[2018-06-19 13:43] kalessil commented on #951
@funivan : nope - `$b === 0 || $b === 1` is a branch for handling 2 workflows inside if' body.

[2018-06-19 13:44] kalessil commented on #953
Oh, how did I miss that case... Thank you for reporting @Koc

[2018-06-20 15:11] Koopzington opened #955 "Implement Yoda/Regular switch for "'substr(...)' could be replaced with 'strpos(...)'" inspection"
I saw that some of the Inspections have the option to choose between Regular and Yoda style.
I'd love to see that same setting for the Control Flow > "'substr(...)' could be replaced with 'strpos(...)'" inspection since the replacement uses Yoda conditions by default.

[2018-06-21 10:35] kalessil commented on #955
Will add =)

[2018-06-21 18:16] kalessil commented on #953
@Koc, cannot reproduce. I suspect that NS in the `Ololo\FrontEndBundle\Entity\Product\Product` class is not identical to `Ololo\FrontEndBundle\Entity\Product`. Would you please check if this is a case?

[2018-06-21 18:19] kalessil commented on #951
I can not imagine a solution here, hence closing.

[2018-06-21 18:19] #951 closed

[2018-06-21 19:34] funivan commented on #950
Can not reproduce even this code:
[code]
What is the name of the inspection, cant find ))
P.S. Enable `OneTimeUseVariable` but no luck

[2018-06-21 19:41] rentalhost commented on #950
@kalessil I am running on EAU 2.0.5 and PS 2018.2 EAP (182.3341.34).

**Note:** the code will fail only if it is scoped on root.

[code]

The following code will not fail:

[code]

The inspection is "_PHP | Php Inspections (EA Ultimate) | Control Flow | One-time use variables_".

[2018-06-21 19:53] funivan commented on #950
**Plugin** EAU 2.0.5
**PhpStorm** 2018.2 EAP #PS-182.3341.34

Can not reproduce on the global scope.

[2018-06-21 19:53] funivan commented on #950
@rentalhost try to create new dummy project and test it

[2018-06-21 20:41] rentalhost commented on #950
@funivan I have tried on a new clear project, and it keeps happening. haha Very strange!

Anyway, I will put some files attached here and my current PS settings. Maybe is some kind of custom setup.

[test.zip](https://github.com/kalessil/phpinspectionsea/files/2125258/test.zip)
[settings.zip](https://github.com/kalessil/phpinspectionsea/files/2125260/settings.zip)

[2018-06-22 04:49] funivan commented on #950
@rentalhost  `test.php` is empty )

[2018-06-22 09:11] msarris opened #956 "Merge isset can change expression semantics"
If you have the following expression:

[code]

This plugin (if I'm correct) will allow you to automatically merge the isset calls via the "Merge isset constructs" option.

This will result in the following code:

[code]

The expected code however is:

[code]

Because the resulting code is equal to:

[code]

which is semantically different from the original expression.

[2018-06-22 10:38] kalessil commented on #956
Oops, thank you for reporting @msarris

[2018-06-22 15:13] rentalhost commented on #950
I am sending again, with the .idea directory too.
[test.zip](https://github.com/kalessil/phpinspectionsea/files/2128135/test.zip)

[2018-06-22 18:45] kalessil commented on #956
Fixed!

[2018-06-22 18:45] #956 closed

[2018-06-22 19:30] kalessil commented on #952
Fixed

[2018-06-22 19:30] #952 closed

[2018-06-23 08:49] kalessil commented on #930
Ready!

[2018-06-23 08:49] #930 closed

[2018-06-23 09:01] funivan commented on #950
Still can`t reproduce.

[2018-06-23 09:02] funivan commented on #950
Try to create the new instance of the phpstorm. And use new project with fresh configs.

[2018-06-23 10:47] funivan commented on #702
I think this is the same issue https://github.com/kalessil/phpinspectionsea/issues/834

[2018-06-23 10:50] funivan opened #957 "Return type hint does not suggest classes"
[code]

In method fetch i can specify `:\stdClass` as return type. But inspection does not suggest to do this.

[2018-06-23 12:33] kalessil commented on #957
Looks like a bug, I'll take a look in the issues.

[2018-06-23 12:34] kalessil commented on #702
Not sure. Dropping into release, so I don;t forget to find it out.

[2018-06-23 16:59] kalessil commented on #955
Added

[2018-06-23 16:59] #955 closed

[2018-06-23 17:32] kalessil commented on #957
Fixed!

[2018-06-23 17:32] #957 closed

[2018-06-24 00:37] rentalhost commented on #955
I guess that is the time to think in a more generic way to do that (use the Yoda setting directly)... I will try do that tomorrow.

[2018-06-25 05:29] Koc commented on #953
Hm, this is strange. PHP autoloading loads this aliased class without any error on Linux (with case sensetive filesystem)

[2018-06-25 06:42] kalessil commented on #953
Em, so was it a case with case mismatch?

[2018-06-25 23:14] rentalhost opened #958 "Class property initialization flaws fails if same class name is used"
**A\\X::class**

[code]

**B\\X::class**

[code]

Note that we have two classes called `X`, but one from `A` namespace and the another from `B` namespace.

**ParentClass::class**

[code]

**ChildClass::class**

[code]

Now the `ParentClass` import the `A\X`, while `ChildClass` impot `B\X`.

The problem here is that this inspection consider the "text" that is the same: `X::class`, but it should con

[2018-06-26 07:15] kalessil commented on #958
Confirmed, will provide fix in the next release.

[2018-06-27 05:09] b1rdex opened #959 "NPE false positive"
[code]
`findByUid` has `@return Users|null` phpdoc.

If I simplify example code to
[code]
Then issue is not reproduced.

[2018-06-27 07:11] kalessil commented on #959
Duplicates #952

[2018-06-27 09:52] kalessil opened #960 "Only writes: evaluate for e.g. += operations"

[2018-06-27 11:09] #960 closed

[2018-06-27 19:14] voku opened #961 "substr + strlen => problem"
Hi, the substr + strlen replacement didn't work as expected.

[code]

Version: 3.0.4

Demo: [https://3v4l.org/RQ9X3](https://3v4l.org/RQ9X3)

![phpeaerror](https://user-images.githubusercontent.com/264695/41994399-8aae5064-7a4e-11e8-92dc-5a1706719fd8.png)

[2018-06-27 19:54] kalessil commented on #961
Hi Lars, I'll take care of the issue. Thank you for reporting.

[2018-06-27 19:54] kalessil commented on #953
ping @Koc

[2018-06-28 11:10] kalessil opened #962 "exception"
Reported element PsiElement(variable) is not from the file 'PHP file' the inspection 'PropertyCanBeStaticInspection' (class com.kalessil.phpStorm.phpInspectionsEA.inspectors.semanticalAnalysis.classes.PropertyCanBeStaticInspector) was invoked for. Message: 'This property initialization seems to be quite 'heavy', consider using static property or constant instead.'.
Element' containing file: PHP fi

[2018-06-28 15:13] fraserredmond opened #963 "Global Yoda/Regular switch"
Is it possible to set a global setting for Yoda vs Regular in the main settings for the plugin (PhpStorm settings > Other settings) that will change all of the inspections options together?

I've been using PHP Inspections EA for over month now, and really like it. The only small annoyance I had was that applying automatic fixes were done with Yoda-style conditions, but I'd do the fix and then swa

[2018-06-28 15:34] rentalhost commented on #963
Yeah, it is a problem. I was going to see this at the end of last week, but I could not. Another option is use the own Yoda settings to make it work, instead of create an option on Other settings, but I will work on that and I will keep updating this issue.

[2018-06-28 21:34] fraserredmond commented on #963
Thanks. Using the "own Yoda settings" would let you change them all... but it would probably be even harder to find.

Also, I don't know if you want it as a separate issue, but it turns out the inspection that I wanted it for the most doesn't have the Yoda/Regular option anyway. It's:
'substr(...)' could be replaced with 'strpos(...)'

[2018-06-28 22:31] rentalhost commented on #963
@kalessil what do you prefer? The Yoda as "other settings" is reasonable, but it still needs an inspection "is that". Will be a bit hacky we enable the "Yoda inspection" and use the "other settings" to configure that, not does?

[2018-06-29 07:15] kalessil opened #964 "array_merge(...) misused"

[2018-06-29 07:35] kalessil commented on #963
Yep, setting under "File | Settings | Other Settings | Php Inspections (EA Extended)" is preferred. I'll integrate the settings into "Yoda inspection" myself, it's tricky as you mentioned.
But feel free to pickup other inspections =)

[2018-06-29 10:11] kalessil opened #965 "array_combine(..., array_keys(...)) -> array_flip(...)"

[2018-06-29 12:00] GaryJones commented on #950
![screenshot 2018-06-29 12 54 19](https://user-images.githubusercontent.com/88371/42091044-a38f671e-7b9b-11e8-84da-6b58f9458f12.png)

I had to enable the inspection's `Allow long statements` setting for it to appear. After disabling that option, the violation reporting persisted.

Ultimate 2.0.6 (trial)
PhpStorm 2018.1.6

[2018-06-29 15:02] #965 closed

[2018-06-29 19:44] rentalhost opened #966 "Senseless comparison"
Look this example:

[code]

It is a senseless comparison once that `$user` is needly `User`, that is an object, and will never works like that. So in cases like that, maybe we can notify user about that.

* If `$var` is an object:
    * Disallow any comparison (`>`, `>=`, `<`, `<=`, `<=>`);
    * Disallow null comparison (`=== null`, `!== null`, `== null`, `!= null`);
        * Except if it is a n

[2018-06-29 19:50] #964 closed

[2018-06-30 07:17] Koc commented on #953
Will recheck on Monday (because haven't access to code until it).

[2018-06-30 18:19] kalessil opened #967 "FP: LoopWhichDoesNotLoopInspector"
foreach (\Generator|\Traversable|\Iterator as $item) { return $item; }

[2018-07-01 05:53] kalessil commented on #966
Unfortunately, PhpStorm types resolver is not yet ready for supporting this inspection.
Fixing reported resolver bugs are geting postponed, so I cannot deliver anything as good as described.

[2018-07-01 05:53] #966 closed

[2018-07-01 05:55] kalessil commented on #950
Oh, thank you @GaryJones !

[2018-07-01 17:11] funivan commented on #963
Some internal phpstorm inspections use this approach.
![08 06 34](https://user-images.githubusercontent.com/425208/42136825-ea81c42a-7d6a-11e8-960e-0b7c8b02b9d4.png)

[2018-07-02 00:02] rentalhost commented on #963
Thanks @funivan! I had thought of that. But what about allowing the option to be configured directly in both locations? I say, when I change there, it changes in the "others settings", and vice versa.

[2018-07-02 07:20] kalessil commented on #963
JetBrains team has recommended to detach setting as we did originally for privacy. They also recommended to not depend on their settings.

[2018-07-02 08:20] Riimu opened #968 "Incorrect type inference in "Array and string offset validity" inspection"
The inspection `PHP | Php Inspections (EA Extended) | Probable bugs | Array and string offset validity` seems to detect types incorrectly in some cases.

For example, in the following code:

[code]

It complains about the `$key + 1` index with: "Resolved index type ([array]) is incompatible with possible [string, int]". There is however, absolutely no way that operation could result as an array.

[2018-07-02 10:02] kalessil commented on #968
Thank you for reporting @Riimu , I'll investigate.

[2018-07-02 13:18] kalessil commented on #962
`public void visitPhpClass()` gets fired for PhpClassAlias node

[2018-07-02 16:39] #962 closed

[2018-07-03 13:28] Koc commented on #953
Ha!

This class was imported twice: one time without alias and one more time with alias. When I've removed first import - error has gone.

Not sure, can double import create new inspection?)

[2018-07-04 10:38] kalessil commented on #953
Make sense, can you provide a specific example as I'm not sure for 100% how the issues is looking like practically.

[2018-07-04 12:59] Koc commented on #953
[code]

[2018-07-04 14:59] Koc opened #969 "NPE does not respect is_null checks"
[code]

[2018-07-04 18:50] #127 closed

[2018-07-04 19:50] #326 closed

[2018-07-05 06:18] kalessil commented on #969
Well seems it's time to add it's support. Aside from this, why `is_null -> === null` inspection was ignored in this project?

[2018-07-05 07:23] Koc commented on #969
just legacy codebase

[2018-07-05 18:39] #967 closed

[2018-07-05 19:35] kalessil commented on #961
Fixed!

[2018-07-05 19:35] #961 closed

[2018-07-06 10:16] kalessil commented on #959
Re-evaluated with a fresh build: fixed. I'll make a new release ~ in a week.

[2018-07-06 10:16] #959 closed

[2018-07-06 13:08] kalessil commented on #379
I recently evaluated this case, unfortunately our tooling is not good enough -  the PHP arrays API is totally unfriendly to SCA...

[2018-07-06 13:08] #379 closed

[2018-07-06 13:10] kalessil commented on #326
For future people: take a look on https://github.com/phpstan/phpstan.
On our end we'll get language level migration inspection to add parameter types.

[2018-07-06 13:12] kalessil commented on #340
A PhpDoc topic ;)

[2018-07-06 13:12] #340 closed

[2018-07-08 08:54] kalessil commented on #968
Fixed!

[2018-07-08 08:54] #968 closed

[2018-07-08 17:13] kalessil commented on #950
Fixed!

[2018-07-08 17:13] #950 closed

[2018-07-09 07:19] b1rdex commented on #379
Well actually I think my original issue was misunderstood.
I proposed to add inspection to find places where array accessed by key in variable but not to read code and find what keys are actually present (that's done by phpstorm partly, as it does complete known keys).
So `$foo['some key']` should not be reported but `$foo[$variableKey]` should.

But anyway issue is too wide so I'm ok that it's cl

[2018-07-09 07:34] b1rdex commented on #379
I'm actually not sure. Without ability to read code and get knowledge of array keys there will be too many false positives. Even code
[code]
should be reported as we can't guarantee that key `0` is present.

[2018-07-09 07:44] kalessil commented on #379
Understood. Yes, that would be plenty of false-positives (also PhpStorm array structures information is not available to us).

[2018-07-09 18:55] kalessil commented on #865
In the upcoming release, the inspection has been dropped in favor of a similar one by PhpStorm itself. The bundled one reached needed maturity =)

[2018-07-09 18:55] #865 closed

[2018-07-09 19:01] kalessil commented on #953
For myself: scan all imports.

[2018-07-10 10:00] kalessil opened #971 "Unneeded imports: multiple cases"
- multiple imports of the same class (e.g. regular + aliased)
- importing classes from the same NS

[2018-07-11 10:02] schlessera commented on #892
The use of `DIRECTORY_SEPARATOR` can actually break the code in some edge cases.

For example, if you are running a CygWin environment under Windows, you're running a simulation of a POSIX environment (which should use `/`), but as you are using a Windows version of PHP, `DIRECTORY_SEPARATOR` returns `\`. So, depending on how you combine these, you'll end up with broken strings.

Also, some people

[2018-07-11 18:34] jefhar opened #972 "FQN as default"
When simplifying a class that has already been imported, 'Simplify FQN' should be the default action instead of 'Import Class' as the class has already been imported.

[2018-07-11 19:25] kalessil opened #973 "IDE stubbing exception"
2018-07-11 21:17:26,768 [ 181983]  ERROR - stubs.StubProcessingHelperBase - Stub index points to a file without PSI: com.intellij.openapi.fileTypes.UnknownFileType@3351885e
java.lang.Throwable: Stub index points to a file without PSI: com.intellij.openapi.fileTypes.UnknownFileType@3351885e
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:136)
	at com.intellij.psi.stubs.StubProcessingHe

[2018-07-11 19:55] kalessil commented on #973
Fixed with invalidate caches and restart

[2018-07-11 19:55] #973 closed

[2018-07-11 19:56] kalessil opened #974 "Regex: (), {}, [] and <> are all valid bracket style delimiter pairs"

[2018-07-12 14:17] wolfheart opened #975 "Exception: ...character to be escaped is missing..."
Running PHPStorm 2018.1.6 and PHP Inspections (EA Extended) 3.0.5 from time to time there is this exception:

[code]

From there on, there different backtraces...

[2018-07-12 14:20] kalessil commented on #975
Thank you for reporting @wolfheart, I'll take care about the issue. Hot-fix release will follow shortly

[2018-07-12 14:25] kalessil commented on #975
Fixed!

[2018-07-12 14:25] #975 closed

[2018-07-12 15:17] rentalhost opened #976 "Function renaming should respects backslash option"
Some inspections like [`ArraySearchUsedAsInArrayInspector`](https://github.com/kalessil/phpinspectionsea/blob/89287702f97775db4c49733de3a675950308f88b/src/main/java/com/kalessil/phpStorm/phpInspectionsEA/inspectors/apiUsage/arrays/ArraySearchUsedAsInArrayInspector.java#L104) will create `in_array()` with the autofix, but it doesn't respects the backslash option if enabled, which causes a _inspecti

[2018-07-12 15:23] kalessil commented on #976
I'm going to decline this one - inspections must remain decoupled from each other.
IMO after QF, the missing '\' will be reported and can be QFed as well (Linux approach).

[2018-07-12 15:23] #976 closed

[2018-07-12 15:29] rentalhost commented on #976
This is exactly the problem. If we have an inspection that will highlight the missing backslash as a "code inconsistency", why others inspections will create inconsistence codes? In practice, we will have the double work of performing two fixes (one generated by the user, and another by the own inspection). A good example is the Yoda inspection that now is global to avoid two fixes: you setup it l

[2018-07-13 06:54] kalessil commented on #976
I understand your point and agree that it's little bit extra work. But we have #838 which can not be easily integrated ATM globally, at least not now yet.

[2018-07-13 10:07] wolfheart commented on #975
Wow, that was fast! Thx! 👍

[2018-07-15 16:59] #974 closed

[2018-07-16 09:29] thexpand opened #977 "Incorrect null pointer exception inspection when in a while loop"
![screenshot from 2018-07-16 12-28-12](https://user-images.githubusercontent.com/14979167/42751538-c6288700-88f3-11e8-8232-881b2457ccd2.png)

[2018-07-16 11:52] wwulfric opened #978 "Is it possible to define access with property in php class annotation?"
[code]

I used `@property int id` to declare a property `id` in MyClass. Then I could automatically generate getter and setter with correct type hint(int). But ea would do nothing in `$obj->id`. It thought that's right because of `@property int id`, even though it was a private field.

[code]

I then changed to `@property int @access protected id`. But getter and setter wouldn't generate correct t

[2018-07-16 19:55] kalessil opened #979 "PhpUnit: `->expects($this->any())`"

[2018-07-16 22:20] mambax7 commented on #963
I was going to file an issue, after my Yoda settings didn't work anymore after today's update, and actually did the opposite, i.e. converted to the "regular" style , and I couldn't understand why I can't switch to Yoda, even if the link is there as before.
But after reading it I understand what is going on...
Suggestion:  for people like me who are not aware of the change, please remove the link "

[2018-07-17 06:04] funivan commented on #978
Ive implemented the following logic in my custom plugin:
Add annotations `@internal` and `@deprecated` to the description.
`internal` - allows usages of virtual property inside the class. And fire warning if Im using in other places
`deprecated` - fire warning when we use property in any place.
Maybe this logic can be applied here.

How it`s look like:
[code]

[2018-07-17 06:08] funivan commented on #972
Hello, @jefhar

I think this issue is related to the PhpStorm and not to the PhpInspectionsEA.

Check out this issue: https://youtrack.jetbrains.com/issue/WI-37295

[2018-07-17 07:42] jefhar commented on #972
PhpStorm said the same thing about PhpInspections. I guess I’ll need to start with a fresh install with no plugins and try to find the appropriate party.

[2018-07-17 07:45] kalessil commented on #972
@jefhar : that appreciated, as a person with independent POV you can spot the right party. If you see this going to dead end, please poke me directly and I'll try to find solution which we can deliver on our end so end-users are happy.

[2018-07-17 11:15] kalessil commented on #977
Thank you for reporting @thexpand, I'll take care about the bug.

[2018-07-17 19:22] #979 closed

[2018-07-18 15:27] kiler129 opened #980 "[Bug] Invalid conversion for rule "A 'substr()' call can behave as array access...""
Take the following code:

[code]
Demo: https://3v4l.org/bhQle

In such case PhpInspectionsEA Extended suggests replacing `substr` call:
![image](https://user-images.githubusercontent.com/1227834/42891394-e0bab87c-8a74-11e8-9227-09c42a68e94b.png)

By itself the suggestion is right, however the solution `$char = (string)$bar->test[2];` is invalid - it will throw "Cannot use object of type foo as arr

[2018-07-19 10:55] kalessil opened #981 "getMockForAbstractClass and trait: validate classes"
and for getMockBuilder: ensure not abstract/trait

[2018-07-19 20:33] #981 closed

[2018-07-20 10:39] rbairwell opened #982 "Unnecessary type casting : json_encode : "Type casting is not necessary" to string"
Whenever I do a:
`$var = (string)json_encode($data);`

I receive the 'Type casting is not necessary' message (as 'json_encode is already a string'). However, according to PHPStan and php.net/json_encode it is possible for json_encode to return a string OR false (on failure).

I think PHPInspections should be tweaked to recognise both potential return types for json_encode.

[2018-07-20 13:07] funivan commented on #982
I think this bug is not relative to the PhpInspections plugin.
The return type is defined in the phpstorm stubs.
Mine stubs:
[code]
If we change return type to `@return string|false` - PhpInspections will not warn abount unecessary casting. We should ask @kalessil if I`m not wrong)

[2018-07-20 13:13] rbairwell commented on #982
For me, it's listed under `Editor->Inspections->PHP->PHP Inspections (EA Ultimate)->Code Style->Unnecessary type casting` and disabling that check stops the inspection from triggering. Perhaps it's an EA Ultimate issue only.

[2018-07-20 13:15] kiler129 commented on #982
@rbairwell He's saying that it's not a problem with the plugin because it bases the warning on (wrong) PhpStorm stubs.
You need to open issue with JB: https://youtrack.jetbrains.com/oauth?state=%2Fissues%2FWI%3Fq%3D%2523Unresolved%2BSubsystem%253A%2B%257BPHP%2Blib%2Bstubs%257D%2Border%2Bby%253A%2Bvotes%2B

[2018-07-21 15:32] kalessil commented on #980
Oops, thank you for reporting @kiler129, I'll take care about this bug.

[2018-07-21 15:39] kalessil commented on #963
@mambax7, if I understand correctly you are suggesting to remove the link and update the inspection description. Did I get it correct?

[2018-07-21 15:57] mambax7 commented on #963
Since the link doesn't work, this probably would be the best way.
Unless you can convince JetBrains to keep it as it used to be, i.e. that we can change the settings right here.

[2018-07-21 16:20] kalessil commented on #963
Ouch, it did work when I merged the PR. What's the IDE version?

[2018-07-21 16:37] mambax7 commented on #963
The latest EAP
Build #PS-182.3684.40, built on July 17, 2018

[2018-07-21 17:17] rentalhost commented on #963
Same version here, and it works on click on link as expected ([video](https://www.youtube.com/watch?v=65D9ELhMgVY)). Do you receives some exception error on click on link, maybe?

About keep configuration on inspection as generally is, the problem is that exists a lot of inspections that depends of that same definition, which is better move it to a global scope instead of a local one which make it

[2018-07-22 06:59] rentalhost commented on #963
It should be investigated, but I am on Windows 10 too and works for me. It is very strange. Could you try to check if the `CSS / Code quality tools / Stylelint` link does works for you?

[2018-07-22 12:50] #921 closed

[2018-07-22 19:43] kalessil opened #983 "Implode: new surprises by docs http://php.net/manual/en/function.implode.php"

[2018-07-23 06:23] kalessil opened #984 "get_html_translation_table(HTML_ENTITIES, ENT_COMPAT | ENT_HTML5[, ...])"
Missing check in XSS rules.

[2018-07-24 11:21] mlamm commented on #105
Hey, i just ran into this issue, I see there's no way for you to detect if that variable is defined or not, however, are there other options to make that issue less of an issue, like changing the wording of the warning?

[2018-07-25 08:57] comod opened #985 "Binary operations: constant value identity checks"
The following example should report something like: "Condition cant be true"
[code]

[2018-07-25 15:29] rbairwell opened #986 "Class overrides a field of a parent class - more specific type hints false positive"
PHPInspections currently reports 'Class overrides a field of a parent class' in class B of the following:
[code]

And, yes, as far as the PHP code is concerned, they are identical - but to PHPStorm, the latter provides better type hinting for that class. Would it be possible to suppress the notice if the hinted type extends the former type?

[2018-07-26 00:10] spenserhale opened #987 "Array and string offset validity - Not understanding false check after array_search"
In this code example we are searching a parts list array for the value 'content'. We want to replace it with 'content-form'. So we do an array_search() to find the index and then update that index with a new value. Since the search could not find what it is looking for (highly unlikely), we check for false before using the index key, since array_search returns the index (string|int) or false on fa

[2018-07-26 06:49] kalessil commented on #986
Hi @rbairwell, understood.

Will this be a suitable solution for you (does the type-hinting override):
[code]

[2018-07-26 06:55] kalessil commented on #987
Hi @spenserhale, well familiar case. Caused by PhpStorm types resolver: e.g.
- https://youtrack.jetbrains.com/issue/WI-37859
- https://youtrack.jetbrains.com/issue/WI-38622

I gave a try for a workaround on our end, but it didn't work unfortunatelly.

[2018-07-26 16:01] spenserhale commented on #987
Hey @kalessil,
I searched for open issue with array_search, but didn't realize was a bigger issue.
Thank you for your response.

[2018-07-26 16:01] #987 closed

[2018-07-26 16:37] kalessil commented on #987
Thank you for voting @spenserhale! Indeed, also it only popups mostly in this inspection.

[2018-07-26 16:43] kalessil commented on #963
I'll take a deeper view into this issues after vacation.

[2018-07-27 07:59] garak opened #988 "Symfony: lowercase letters for service and parameter"
Such rule should be deleted or at least adapted to allow keys like `env(FOO)`
Symfony allows [uppercase letters when using env vars](https://symfony.com/blog/new-in-symfony-3-2-runtime-environment-variables) in parameters since version 3.2

[2018-07-27 09:44] kalessil commented on #988
Hi @garak, wondering about the context as we don't have any specific frameworks support in this project. Any insights, what is this about?

[2018-07-27 09:52] jdreesen commented on #988
Maybe the inspection comes from this plugin: https://github.com/Haehnchen/idea-php-symfony2-plugin ?

[2018-07-27 09:55] garak commented on #988
@jdreesen just found that myself too.
Sorry for confusion

[2018-07-27 09:55] #988 closed

[2018-07-27 21:14] #54 closed

[2018-07-28 12:18] kalessil commented on #963
@rentalhost : while I remember, folks from Twitter really like the new setting and saying "Thank you!"

[2018-07-28 18:23] #984 closed, assigned to kalessil

[2018-07-28 18:51] kalessil commented on #980
Fixed!

[2018-07-28 18:51] #980 closed

[2018-07-28 19:40] WiXSL opened #989 "NestedPositiveIfStatementsInspector: new patterns"
[code]
I don't know if this was ask before.

[2018-07-28 19:47] kalessil opened #990 "Test issue template"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive, Feature request, Support Request     |
| IDE        | IDEA or PhpStorm, which versio

[2018-07-28 19:48] #990 closed

[2018-07-28 19:56] kalessil commented on #989
Thank you for reporting @WiXSL. Looks like a new pattern for `Redundant 'else' keyword` inspection, also seems to be relatively easy to implement

[2018-07-28 22:17] WiXSL commented on #989
Wonderfull ! Thank you for your work.

[2018-07-29 03:58] rentalhost commented on #990
I did a template for the [HeidiSQL](https://github.com/HeidiSQL/HeidiSQL) project some months ago. **Edit this comment to see hidden things.** Maybe with some adaptations it could works here too.

## Steps to reproduce this issue

1. Step 1;
2. Step 2;
3. Step N;
4. Then I get...

## Current behavior

## Expected behavior

## Possible solution

## Environment

* **PhpStorm version:**

* **This plu

[2018-07-29 10:19] kalessil commented on #989
You are welcome =) Implemented!

[2018-07-29 10:19] #989 closed

[2018-07-29 19:00] kalessil commented on #977
Thank you @thexpand, with this input I reproduced the issue. Fixed!

[2018-07-29 19:00] #977 closed

[2018-07-30 02:11] rentalhost opened #991 "Simplify quotes"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type |  Feature request     |
| IDE        | PS-182.3684.42                          |
| Plugin     | 2.0.7 U |

Suggests simplification of quotes when it could optimizes string visualization.

[code]

[2018-07-30 05:06] kalessil commented on #990
Oh, I'll update the template after vacation.

[2018-07-30 19:49] #983 closed

[2018-07-31 00:53] kiler129 commented on #980
Thank you :)

[2018-08-01 07:53] m8rge opened #992 "false-positive type casting is not necessary"
Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive     |
| IDE        | PhpStorm Build #PS-182.3684.40                          |
| Plugin     | Php Inspections EA Extended 3.0.5.1 |

Description or screenshot:
--
![image](https://user

[2018-08-06 23:07] ktomk commented on #992
Even this is a false positive, the int cast belongs to `$this->data['order_id']` only,

So please also additionally report if casting only for that variable will make any difference.

[2018-08-06 23:29] ktomk commented on #985
Only in a very detault, but the condition can be true - e.g. in a namespace in PHP 5.6 with constant true defined as 1.

[code]

https://3v4l.org/Cj3Pu

[2018-08-07 05:41] m8rge commented on #992
Hi @ktomk, In my case int cast refer to whole expression: `$this->data['order_id'] ?? 0`

[2018-08-07 06:37] ktomk commented on #992
@m8rge sure, but part of it (the 0) is already an integer and must not be casted. That is perhaps triggering it so changing the arrangement might have turned out more however if I understand this case right, it is not possible to change the arrangement as `$this->data['order_id']` might be unset and would trigger a warning.

[2018-08-07 16:05] funivan commented on #992
Hello @m8rge
I`m using  Php plugin version: 182.3911.19 and Plugin PhpInspections EA Version: 2.0.7
Can not reproduce this issue.
Maybe someone rewrites the type of `$this->data `

Can you check this code:
[code]

[2018-08-07 18:10] m8rge commented on #992
Hi @funivan,

Your example works correct. I narrow down issue to this:
[code]

Class extending is required to reproduce bug.

[2018-08-11 16:05] ntzm opened #993 "GetTypeMissUseInspector says "resource (closed)" is not a valid return value of gettype"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm 2018.2.1 EAP Build #PS-182.3911.19, built on August 1, 2018                 |
| Plugin     | Php Inspections EA Extended, 3.0.5.1 |

Description or screenshot:
--

[code]

https://3v4l.org/GvUnm

Environ

[2018-08-12 14:37] funivan commented on #459
Hello. I try to investigate variable types and detect similar cases. This is a really hard task.  If i find solution I will ping you back @rentalhost.

[2018-08-13 05:32] funivan commented on #992
Confirm

[2018-08-13 05:37] funivan commented on #993
http://php.net/manual/en/function.gettype.php
[code]

[2018-08-13 09:31] freezy-sk opened #994 "false-positive 'mkdir(...)' race condition"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive     |
| IDE        | PhpStorm 2018.2.1 Build #PS-182.3911.43                          |
| Plugin     | Php Inspections EA Extended 3.0.5.1 |

Description or screenshot:
--
![image](https://user-images.githubusercontent

[2018-08-14 19:53] #418 closed

[2018-08-17 14:00] fraserredmond opened #995 "False negative for IssetArgumentExistenceInspection on array elements"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Negative     |
| IDE        | PhpStorm v2018.2.1                          |
| Plugin     | Php Inspections (EA Extended), v3.0.5.1 |

Description or screenshot:
--
IssetArgumentExistenceInspection doesn't trigger for array vari

[2018-08-17 20:00] iakoder opened #996 "Problem with "Referencing Objects" cleanup"
Issue type: Bug
IDE: PhpStorm 2018.2.2 EAP  Build #PS-182.4129.18
Plugin: Php Inspections (EA Extended) 3.0.5.1

Not sure if this is you or PhpStorm.

When there are multiple issues in a file, when you use the "Cleanup parameter definition" button, the first one is cleaned up all the inspections issues for that file disappear from the list.

[code]

Steps:
- Run the "Referencing Objects" inspectio

[2018-08-19 08:55] JProof opened #997 "Redundant variables"
In earlier Versions i remember, that the redundant var initialization was an ea-inspection.
Currently i can not find the inspection.

Perhaps someone has an idea.

[code]

IDE:
PhpStorm 2018.2.2 EAP
Build #PS-182.4129.18, built on August 15, 2018
Licensed to somewhereovertherainbow
Subscription is active until November 29, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by

[2018-08-21 17:57] rentalhost opened #998 "Obvious boolean return"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Feature request     |
| IDE        | Build #PS-182.4129.18                          |
| Plugin     | 2.0.7U |

Description or screenshot:
--
[code]

Functions, methods, variables or castings than returns `bool` will not need an additiona

[2018-08-24 06:37] kalessil opened #999 "Transitive dependecies: a QF proposals"
https://twitter.com/phpsince98/status/1032204626567802880

[2018-08-25 21:09] #428 closed

[2018-08-28 12:23] jtaylor100 opened #1000 "Inspection warning 'Suspicious Binary Operator' misgiven with spaceship operator"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm v2018.2.2                         |
| Plugin     | Php Inspections (EA Extended), v3.0.5.1 |

Description or screenshot:
--
This section of code is producing a red inspection warning on the return line:

[2018-08-28 15:09] craiglondon opened #1001 "Language Level Migration, :: class can be used, UI glitch"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug    |
| IDE        | PhpStorm 2018.2.2 Build #PS-182.4129.45, built on August 22, 2018

[2018-08-28 17:58] kalessil commented on #1001
Thank you for reporting @craiglondon. Unfortunately, this seems to be IDE related.

[2018-08-28 17:58] #1001 closed

[2018-08-28 18:28] kalessil commented on #997
@JProof : that's a new pattern, implemented

[2018-08-28 18:28] #997 closed

[2018-08-29 06:48] kalessil commented on #1000
Thank you for reporting @jtaylor100, fixed (spaceship operator will not be analyzed in this context).

[2018-08-29 06:48] #1000 closed

[2018-08-29 07:00] jtaylor100 commented on #1000
Thanks for the quick fix!

[2018-08-29 07:34] kalessil commented on #994
Thank you for reporting @freezy-sk. I'm not fully understanding the context, would you please share some insights regarding the code fragment? So far looks like like it was intended following:

[code]
but I'm not getting why try-catch is there.

[2018-08-29 11:05] freezy-sk commented on #994
hi @kalessil
it looks like that piece of code was inspired in this function https://github.com/yiisoft/yii2/blob/master/framework/helpers/BaseFileHelper.php#L613
but regardless of that try-catch part, it should not report false-positive when it's split into separate if statements

[2018-08-29 11:39] kalessil opened #1002 "Variable functions usage: forward_static_call/forward_static_call_array"

[2018-08-29 13:48] MHCreations opened #1003 "False Negative: The IV generated can be false, please add necessary checks."
Hello!
Great plugin, great tool! Many thanks!

Issue Type: False Negative variable (value) detection.

PhpStorm 2018.2.2
Build #PS-182.4129.45, built on August 22, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

PHP Inspections (EA EXtended) Version: 3.0.5.1

On the following sort of code block:

[code]

And likewise on

[code]

This pers

[2018-08-29 18:17] iakoder opened #1004 "Parameter/Variable Is Not Used Misses One"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive    |
| IDE        | PhpStorm 2018.2.2 EAP                          |
| Plugin     | P

[2018-08-29 19:34] kalessil commented on #1004
Confirmed, thank you @iakoder !

[2018-08-30 07:07] kalessil opened #1006 "FR: CS, merge use trait statements"

[2018-08-30 08:00] kalessil commented on #1003
The bug confirmed, thank you for reporting @MHCreations !

[2018-08-30 10:42] kalessil commented on #1003
Fixed!

[2018-08-30 10:51] kalessil commented on #1003
And updated samples. Sample 1:
[code]

[2018-08-30 15:46] fraserredmond opened #1007 "Feature request for SubStrUsedAsStrPosInspection"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Feature request (or False-negative)  |
| IDE        | PhpStorm 2018.2.2                          |
| Plugin     | Php Inspections (EA Extended), 3.0.5.1 |

Description or screenshot:
--

I just noticed today that one of our previous deve

[2018-08-30 17:52] #1007 closed

[2018-08-30 18:25] kalessil commented on #1004
Fixed!

[2018-08-30 18:25] #1004 closed

[2018-08-31 04:30] kalessil commented on #1007
Implemented!

[2018-08-31 07:13] kalessil commented on #995
This case is getting detected by Php Inspections (EA Ultimate), hence closing the issue.

[2018-08-31 07:13] #995 closed

[2018-08-31 07:15] kalessil commented on #994
Checked, unfortunately I couldn't extract a reliable criteria for this false positive. Hence suppression is a recommended way to go ahead.

[2018-08-31 07:15] #994 closed

[2018-08-31 12:04] freezy-sk commented on #994
thank you @kalessil

[2018-08-31 17:16] kalessil commented on #992
Fixed!

[2018-08-31 17:16] #992 closed

[2018-08-31 18:00] iakoder opened #1008 "Dynamic methods invocation via '::' - Problem with ClassName::dynamicMethod()"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive     |
| IDE        | PhpStorm, 2018.2.3 EAP   182.4323.23                       |
| P

[2018-08-31 18:08] iakoder commented on #996
Here's a movie and two screenshots.  The key is to select the first instance of the issue, not the top-level or even file-level group.

[ReferencingObjectsCleanup.zip](https://github.com/kalessil/phpinspectionsea/files/2341088/ReferencingObjectsCleanup.zip)
![screen shot 2018-08-31 at 11 06 23 am](https://user-images.githubusercontent.com/13456541/44928879-fd42e580-ad0d-11e8-87e1-b40ee31b42e5.png)

[2018-09-01 05:55] kalessil commented on #986
ping @rbairwell

[2018-09-01 06:05] kalessil commented on #978
Looks like the question was answered, closing the issue.

[2018-09-01 06:05] #978 closed

[2018-09-01 09:04] kalessil commented on #969
Fixed!

[2018-09-01 09:04] #969 closed

[2018-09-01 14:25] voku opened #1009 "False-Positive for "is_numeric""
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | False-Positive     |
| IDE        | PhpStorm: PhpStorm 2018.2.2 (Build #PS-182.4129.45)      |
| Plugin     | Php Inspections (EA Extended Ultimate) 2.0.7 |

Description:
--
```is_numeric($string)```: is reported as "Makes no sense, beca

[2018-09-02 07:59] kalessil opened #1010 "FR: exposing @internal classes in public APIs"

[2018-09-02 08:01] kalessil commented on #985
An interesting case @comod, thank you for reporting!

[2018-09-04 19:31] iakoder commented on #1008
See also https://youtrack.jetbrains.com/issue/WI-43380

[2018-09-04 23:05] iakoder opened #1011 "Suppress for statement disappears"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm 2018.2.3 EAP                          |
| Plugin     | Php Inspections (EA Extended),  3.0.6 |

PhpStorm or plugin bug?

- Run inspection by name: Parameter/variable is not used
- Inspection finds 1700+

[2018-09-04 23:13] iakoder opened #1012 "No progress bar for batch supression"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm 2018.2.3 EAP                          |
| Plugin     | Php Inspections (EA Extended), 3.0.6 |

PhpStorm or plugin issue?
[NoProgress.zip](https://github.com/kalessil/phpinspectionsea/files/2350567/NoProg

[2018-09-04 23:24] iakoder opened #1013 "Inconsistent Suppress formatting"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm 2018.2.3 EAP                          |
| Plugin     | Php Inspections (EA Extended) 3.0.6 |

- Run inspection by name: Parameter/variable is not used
- Find 1 700+ issues across 89 files
- Suppress for

[2018-09-04 23:41] iakoder opened #1014 "Batch suppress for statement suppresses more than needed"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug     |
| IDE        | PhpStorm 2018.2.3 EAP                          |
| Plugin     | Php Inspections (EA Extended), 3.0.6 |

- Run inspection by name: Parameter/variable is not used
- Find 1700 issues across many files
- "Suppress fo

[2018-09-04 23:46] iakoder opened #1015 "Inconsistent behavior of @noinspection on a block of code with issues on each line"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug or Feature request - it depends     |
| IDE        | PhpStorm 2018.2.3 EAP                          |
| Plugin     | Php Inspections (EA Extended) 3.0.6 |

Some arrays only need a single @noinspect to suppress them for a block and ot

[2018-09-05 01:07] Frederick888 opened #1016 "False warning of "strpos can be used instead""
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug/False-Positive    |
| IDE        | IDEA 2018.2.3                          |
| Plugin     | Php Inspe

[2018-09-05 04:34] funivan commented on #1013
I think this issue is relevant to the PhpStorm platform and not to the PhpInspections. PhpInspections does not handle `noispection` tag.

[2018-09-05 08:11] kalessil commented on #1013
Correct, suppressions are 100% handled by IDE (we can not even disable suppressing if needed).

[2018-09-05 08:11] #1013 closed

[2018-09-05 09:37] kalessil commented on #1015
@iakoder: this can be and inspection bug. Would you please post a simplified examples (with 2 assignments max in one block)?

[2018-09-05 09:39] kalessil commented on #1014
I suspect this to be duplicate of #1015

[2018-09-05 09:39] #1014 closed

[2018-09-05 09:45] kalessil commented on #1012
Also handled by IDE. Off-topic: didn't run into the issues, perhaps IDE log has exceptions logged?

[2018-09-05 09:47] kalessil commented on #1011
I suspecting IDE. If there are no exceptions by the plugin in IDE log, then it's guarantied to be IDE.

[2018-09-05 09:47] #1011 closed

[2018-09-05 09:48] #1012 closed

[2018-09-05 09:49] kalessil commented on #1009
Will check, looks like a type identification bug.

[2018-09-05 09:55] kalessil commented on #1008
Not sure why, will check. Thank you for the hands on!

[2018-09-05 10:00] kalessil commented on #1016
Thank you for reporting @Frederick888, I'll take care about the issue.

[2018-09-05 10:02] kalessil commented on #996
I'll investigate, currently can not say if this a bug or not.

[2018-09-05 10:06] kalessil commented on #900
We recently dropped the inspection completely, hence closing.

[2018-09-05 10:06] #900 closed

[2018-09-05 11:11] puggan opened #1017 "NestedPositiveIfStatementsInspection, Undefined variable when one is an assignment"
Issue type: Bug/False-Positive
IDE: PhpStorm 2018.2.3 EAP (Build #PS-182.4323.23, built on August 29, 2018)
Plugin: Ext 3.0.5.1 & Ult 2.0.7
Description or screenshot:
![screenshot from 2018-09-05 13-09-37](https://user-images.githubusercontent.com/866668/45089613-061c2880-b10d-11e8-91b5-2b5ee099e644.png)

	if($a = 7) if(in_array($a, [0, 7])) echo 1;

[2018-09-05 12:55] Koopzington commented on #942
I'm on 3.0.6 and this issue still seems to exist.

[2018-09-05 13:06] kalessil commented on #942
Snap, re-opening than. Thank you for reporting, @Koopzington.

[2018-09-05 13:38] puggan commented on #1017
ah, its an "Operator Precedence" problem, then thus may be problems to:

	if(true ?: false) if(false) echo 1;
	if(true ?? false) if(false) echo 1;
	if(true AND true) if(false) echo 1;

not that I can image a case where the 3th matters, for most cases
`(A AND B) && C` and `A AND (B && C)` are equal.

[2018-09-05 14:14] kalessil commented on #1017
Correct =)

[2018-09-05 19:51] kalessil opened #1018 "Review conflicts"
[code]

Enhance check script to search for obsolete fixtures.

[2018-09-06 09:12] kalessil opened #1019 "StaticInvocationViaThisInspection: review cases with variables as base"
+ variable as a parameter/use variable

[2018-09-06 11:48] kalessil commented on #1019
Fixed!

[2018-09-06 11:48] #1019 closed

[2018-09-06 13:36] Koc opened #1020 "Not enough checks for NPE"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug    |
| IDE        | PhpStorm 2017.3.6                     |
| Plugin     | EA Extended Version: 3.0.6 |

[code]

Expecteg get NPE warning but empty if has suppressed it.

[2018-09-06 13:53] Bilge opened #1021 "Ternary mixed with spaceships confuses the "suspicious ternary" inspection"
The following code raises the *suspicious ternary operator* warning.

This is a common and elegant way to express both a primary and secondary sort order. However, the inspection thinks this will not work as expected; yet it does work.

[2018-09-07 09:27] kalessil commented on #418
Too many false-positives will be emitted. It's better to use a framework component providing wrappers for request, they are handling those cases normally.

[2018-09-07 09:56] kaznovac opened #1022 "wrong refactor suggestion for call_user_func_array([$this, 'test'], []);"
| Subject    | Details                                                  |
| :--------- | :------------------------------------------------------- |
| Issue type | Bug |
| IDE        | PhpStorm, 2018.2 .2 |
| Plugin     | Php Inspections (EA Extended), 3.0.6 |

Description or screenshot:
plugins suggest to refactor `call_user_func_array([$this, 'test'], []);` to `call_user_func([$this, 'test'], );`

[2018-09-07 14:01] kalessil commented on #1022
Confirmed, thank you for reporting @kaznovac !

[2018-09-07 16:30] kalessil commented on #1018
WIP:

[code]

[2018-09-07 16:55] #1018 closed

[2018-09-08 05:23] kalessil opened #1023 "FP: covers annotation"
https://twitter.com/s_bergmann/status/1038294535145701377

[2018-09-08 06:54] kalessil commented on #1009
Fixed!

[2018-09-08 06:54] #1009 closed

[2018-09-08 09:06] kalessil commented on #1016
Fixed!

[2018-09-08 09:06] #1016 closed

[2018-09-08 11:42] kalessil commented on #1023
Fixed.

[2018-09-08 11:42] #1023 closed

[2018-09-08 12:03] vladyslavstartsev opened #1024 "No inspection for array_map to array_column"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     |  Feature request                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6 |
| Language level | PHP 7.2  |

Current behaviour (description/screenshot:)
--
I'v

[2018-09-08 12:13] vladyslavstartsev opened #1025 "No inspection for while + array_shift to array_slice"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspectio

[2018-09-08 16:52] kalessil commented on #1017
Fixed!

[2018-09-08 16:52] #1017 closed

[2018-09-08 18:44] kalessil commented on #1021
Thank you for reporting @Bilge, confirmed.

[2018-09-08 18:52] kalessil commented on #1024
Available in Php Inspections (EA Ultimate) - added in one of previous releases.

[2018-09-08 18:52] #1024 closed

[2018-09-08 19:13] kalessil commented on #1020
That's an expected behavior - we don't process workflow, but the fact that variables were checked at all.

[2018-09-08 19:13] #1020 closed

[2018-09-08 19:27] kalessil commented on #1021
Fixed!

[2018-09-08 19:27] #1021 closed

[2018-09-08 19:42] kalessil commented on #1022
Fixed!

[2018-09-08 19:42] #1022 closed

[2018-09-08 19:47] kalessil commented on #993
Fixed

[2018-09-08 19:47] #993 closed

[2018-09-09 08:37] pretzlaw opened #1026 "Unassigned return values"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request,                          |
| Plugin         | both |
| Language level | any                        |

Current behaviour (description/screenshot:)
--

I write somethin

[2018-09-09 09:24] rentalhost opened #1027 "Identify the non-use of the function return"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |

There a lot (95%?) of PHP native functions that will return some valuable data, but it make sense only if the return is used. Else the func

[2018-09-09 15:36] njandreasson opened #1028 "Invalid regular expression suggestion"
I want to do something if $text either is 'STOP' literally (i.e. $text === 'STOP') or starts with STOP and a blank space. For this I use the following regex:

[code]

Php Inspections marks this yellow and complains with

This suggestion is AFAIK wrong.
( |$) means "either blank space OR assert end of string"
([ $]) however means "either blank space OR literal $ (dollar sign)"

Now to be fair I rea

[2018-09-10 07:17] kalessil commented on #1028
Confirmed. So we need to recognize unescaped `^` and `$` characters as well, thanks for sharing @njandreasson !

[2018-09-10 07:17] kalessil commented on #1028
@njandreasson, which plugin was it (extended or ultimate and which version)?

[2018-09-10 07:19] kalessil commented on #1027
Duplicates #1026

[2018-09-10 07:19] #1027 closed

[2018-09-10 09:42] Koopzington opened #1029 ""Type compability > 'in_array(...)', 'array_search(...)' type unsafe usage" inspection removes backslash"
| Subject|Details|
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive|
| Plugin         | Php Inspections (EA Extended) 3.0.6|

Current behaviour
---
The autofix replaces `\in_array($foo, $bar);` with `in_array($foo, $bar, true);`

Expected behaviour
---
This inspection (and maybe others which are related to func

[2018-09-10 10:29] kalessil commented on #1029
Confirmed, thank you for reporting @Koopzington.

[2018-09-10 12:02] njandreasson commented on #1028
@kalessil EA Ultimate v2.0.7

[2018-09-10 14:37] #473 closed

[2018-09-11 08:59] azdanov opened #1030 "Ensure strict_types location on auto-fix"
When using `Use ::class instead` auto-fix, the generated _use_ statement is appended right after `<?php` block which works fine. But when `declare(strict_types=1);` is already defined the _use_ statement is added before the _declare_ statement which makes the file invalid, in my case using Laravel.

https://secure.php.net/manual/en/control-structures.declare.php

<img width="719" alt="screen shot

[2018-09-11 11:30] kalessil opened #1031 "Illusion of choice: if-else branches are the same"

[2018-09-12 09:09] fraserredmond opened #1032 "False positive on SubStrUsedAsStrPosInspection"
Got a false positive on your improvement at https://github.com/kalessil/phpinspectionsea/issues/1007

It's reporting an error for arrays too if the comparison string is a single character. (Should only be for strings.)

To reproduce:
[code]

[2018-09-12 10:44] kalessil commented on #1029
Fixed.

[2018-09-12 10:44] #1029 closed

[2018-09-13 09:05] kalessil commented on #1030
Fixed!

[2018-09-13 09:05] #1030 closed

[2018-09-13 12:30] kalessil commented on #1008
@iakoder : checked, that a new pattern. I'll leave the ticket in the current milestone, but it has to wait when open bugs are resolved.

[2018-09-13 12:34] kalessil commented on #996
Re-checked on a stable version, can not reproduce. Worth reporting to JetBrains.

[2018-09-13 12:34] #996 closed

[2018-09-13 16:34] kalessil commented on #942
Second attempt to fix the un-reproducible behaviour. I have no more ideas how to reproduce/test the issue.

[2018-09-13 16:34] #942 closed

[2018-09-13 19:11] Koopzington commented on #942
ah... i didn't see that the inspection had an option to explicitly use short array syntax.
The box was unchecked on my side but i configured PhpStorm to enfore short syntax (Editor > Code Style > PHP > Code Conversion) resulting in the replacement being mixed like in the initial issue.
It's kind of confusing though that the second array doesn't get automatically converted to the short syntax too.

[2018-09-13 19:33] kalessil commented on #942
Uh, thank you for clarifying!

[2018-09-14 08:08] kalessil commented on #986
No worries =) i updated our documentation as a follow up, as this a common case which is not visible from docs.

[2018-09-14 08:08] #986 closed

[2018-09-14 13:12] oshdev opened #1033 "Use the qualified reference doesn't work with imported functions."
| Subject        | Details
| :------------- | :----
| Issue type     | False-Positive
| Plugin         | Php Inspections (EA Extended) 3.0.6
| Language level | PHP 7.1

Current behaviour (description/screenshot:)
--
Sample code:
[code]
_Use the qualified reference_ shows up on both, the import _and_ the function usage.
Note that the issue is not consistent - for instance I could replicate it with

[2018-09-16 11:10] kalessil commented on #1033
Thank you for reporting @oshdev, ficed!

[2018-09-16 11:10] #1033 closed

[2018-09-18 07:48] fredricj opened #1035 "mkdir race condition inspection: "Harden" sometimes changes meaning of code"
Language Level: PHP 7.2
EA Ultimate 2.0.8

When applying the fix for the following (allegedly badly written) code snippet:
[code]
it changes to this:
[code]
Which have a completely different meaning

[2018-09-18 10:08] oshdev commented on #1033
Thanks for such a quick turn around!
May I ask why `count()` didn't have false positive?
Another thing - looking at the commit, it seems that there's a related issue that won't be fixed with this.
Same as above, but constant:
[code]

[2018-09-19 05:56] kalessil commented on #1035
Thank you for reporting @fredricj, looks like a false-positive. I'll take care about it.

[2018-09-19 07:16] kalessil commented on #1033
count is one of op-coded functions and my implementation had a bug with reporting non-opcoded functions even if they are imported.

Oh, I'll add a new test cases to check the behaviour, thank you!

[2018-09-19 08:03] kalessil commented on #1033
Confirmed, the constants were getting reported. Fixed.

[2018-09-19 08:48] kalessil commented on #1035
Fixed!

[2018-09-19 08:48] #1035 closed

[2018-09-19 14:50] kalessil opened #1036 "New patterns: `!empty(...) ? ... : ...`,"

[2018-09-19 14:52] kalessil commented on #1036
+ `if (!empty(...))`
+ `isset(...) ?? ...`

[2018-09-19 18:39] kalessil commented on #1036
Implemented only isset-related patterns, as empty-patterns are conflicting with existing checks.

[2018-09-19 18:39] #1036 closed

[2018-09-20 22:31] kalessil commented on #1026
Implemented!

[2018-09-20 22:31] #1026 closed

[2018-09-21 11:42] vladyslavstartsev commented on #527
@kalessil any updates? Just low priority?

[2018-09-22 15:26] azdanov opened #1037 "[Feature Request] Cognitive Complexity"
I've looked in already implemented inspections, but couldn't find anything similar.

Instead of trying to explain the inspection, here is a good article: https://www.tomasvotruba.cz/blog/2018/05/21/is-your-code-readable-by-humans-cognitive-complexity-tells-you/.

[2018-09-23 05:33] kalessil commented on #1037
Let me evaluate in our projects, to get fa eeling how does it fit daily development and existing toolchain (phpmd, infection and Php Inspections (EA Extended) of course).
Examples look good so far, thank you for sharing!

[2018-09-23 09:49] vladyslavstartsev commented on #527
@kalessil got it! Do you think some newbie (me) java developer can solve this thing?

[2018-09-23 14:30] kalessil commented on #527
Depends on the person =) I'd suggest giving a try: it's possible to use Idea CE, import the project (it uses Graddle to build/test things) - an see where to start.

[2018-09-24 04:08] DCoderLT opened #1038 ""Extension is missing in composer.json" uses wrong composer.json"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended) 3.0.6.1 |
| Language level | PHP 7.1                        |

Current behaviour (descri

[2018-09-24 05:48] kalessil commented on #1038
Thank you for reporting @DCoderLT, unfortunately the missing extension inspection is coming from PhpStorm team.

[2018-09-24 05:48] #1038 closed

[2018-09-24 09:15] webimpress opened #1039 "Written value is the same as default one"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive
| Plugin         | Php Inspections (EA Extended) 3.0.6.1 |
| Language level | e.g. PHP 7.1    |

Current behaviour (description/screenshot:)
--

1. PR with the code

[2018-09-24 10:34] kalessil commented on #1039
Thank you for reporting @webimpress, this might be the same as #958 (class constant references are the same name, but resolved to different classes).

[2018-09-24 12:07] MHCreations commented on #1003
Hello
With version 3.0.6 this issue still remains. Please see screenshot attached.
![phpea306](https://user-images.githubusercontent.com/17123773/45951265-5858b700-bff2-11e8-94a1-929bc47dda1f.jpg)

[2018-09-24 12:12] kalessil commented on #1003
Re-opening in order to re-evaluate on the latest 3.0.6.1 version.

[2018-09-24 12:15] MHCreations commented on #1003
Sorry! I have found I needed to invalidate caches and restart PhpStorm itself (although the update to 3.0.6.1 happened days ago). This problem IS now fixed for me, thanks.

[2018-09-24 12:18] MHCreations commented on #1003
(Correction: invalidating caches does not fix anything.)

Also attached is same issue with Do/while loop
![php-ea-306-2](https://user-images.githubusercontent.com/17123773/45951673-f436f280-bff3-11e8-8fc9-b2801e42e7ed.jpg)

Version 3.0.6.1

[2018-09-24 12:19] kalessil commented on #1003
:+1:

[2018-09-24 18:55] kalessil commented on #1003
@MHCreations: I've re-checked the case and the warning is correct, the function can return false and this scenario is not handled (here how it can be addressed: https://github.com/kalessil/phpinspectionsea/issues/1003#issuecomment-417277017).

The fix was related to handling `!$falsyVariable` constructs properly, sorry for misleading messages in the thread.

[2018-09-24 18:55] #1003 closed

[2018-09-24 21:06] spenserhale opened #1040 "[Feature Request] Make Comparison Code Style Option Per Project"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugi

[2018-09-25 04:29] funivan commented on #1040
Do you store Code

[2018-09-25 04:36] spenserhale commented on #1040
@funivan What do you mean by store code? Each project is in its own folder, and as separate PHPStorm projects, each with their own .idea folder.

[2018-09-25 04:40] funivan commented on #1040
You need to create 2 different schemas.
For example `WP Code style` and `Laravel Code style`. Then select the proper one for the project.
And changing one schema - will not affect another.
Then you can add a project schema to `.git` and all collaborators will have the same settings of the code style.

[2018-09-25 05:56] kalessil commented on #1040
@funivan: we don't utilize code style settings currently. This means our global settings wil be really annoying when jumping between projects with different CS.

[2018-09-25 06:59] funivan commented on #1040
Oops. Sorry about that. I forgot that this configuration is moved from code style schema.

[2018-09-25 07:06] kalessil commented on #1040
@funivan no worries =)
@spenserhale I'l target the next release for this feature, it seems to be in demand.

[2018-09-25 16:49] puggan opened #1041 "Feature: Method can be made static"
Issue type: Feature request
Plugin: Php Inspections (EA Extended) or Php Inspections (EA Ultimate)

Current behaviour (description/screenshot:)
![screenshot from 2018-09-25 18-48-22](https://user-images.githubusercontent.com/866668/46029398-9c7fb080-c0f3-11e8-8487-c405961f7ef2.png)

[code]

Expected behaviour
After handeling the `$this->` to `self::`, the function no longer have any references to

[2018-09-25 20:12] 6ecuk opened #1042 "[Feature Request] Comparing float point numbers"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.2 |

Current behaviour (description/screenshot:)
--
Don't exist

Expected behaviour
--
If

[2018-09-25 20:48] vladyslavstartsev opened #1043 "[Feature Request] suggest static anonymous functions"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspections (EA Extended) or Php Inspections (EA Ultimate), any version |
| Language level | e.g. PHP 5.4  |

Current behaviour (description/s

[2018-09-25 21:02] rentalhost commented on #1043
Wow! I even know that it is possible. haha
It have some performance advantage?

[2018-09-25 21:09] vladyslavstartsev commented on #1043
@rentalhost propaply yes, have not tested yet :smile:

[2018-09-25 21:10] rentalhost commented on #1043
I did a local test, and it speed up ~13%, which make this feature a good catch for me. 😄

[2018-09-25 21:46] kalessil commented on #1043
Holy shit, how this possible at all. I mean since which PHP version?

[2018-09-25 22:09] vladyslavstartsev commented on #1043
@kalessil since php 5.4 see [docs](http://php.net/manual/en/functions.anonymous.php#functions.anonymous-functions.static)

[2018-09-25 22:21] kalessil commented on #1043
Thank you, @vladyslavstartsev. Will check docs for side-effects.

[2018-09-25 23:07] kwvanderlinde commented on #1043
Hello all! This is a neat idea, but keep in mind that static closures cannot be used in all the same situations that non-static closures can. E.g.:
[code]
This gives a warning: "Cannot bind an instance to a static closure", but this would be valid if `$c` were not marked `static`.

[2018-09-26 08:07] hollodotme opened #1044 "Warn about too low value for `stream_select`'s `tv_usec` parameter"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP4+                        |

Current behaviour (description/screens

[2018-09-26 09:28] hollodotme commented on #1044
Fine for me @kalessil. 😬

[2018-09-26 10:37] kalessil commented on #1044
Also a question: did you hit the issue in production (perhaps a ticket on GitHub)?

[2018-09-26 11:01] hollodotme commented on #1044
Yes, it was a long existing bug in [hollodotme/fast-cgi-client](https://github.com/hollodotme/fast-cgi-client/issues/20), that popped up during [this discussion](https://github.com/hollodotme/fast-cgi-client/issues/18) and was fixed in the [last release](https://github.com/hollodotme/fast-cgi-client/blob/v2.4.3/CHANGELOG.md).

It was quite hidden, because the `tv_usec` value was defined in a class

[2018-09-26 15:30] puggan opened #1045 "FP, Unnecessary semicolon, laravl/blade @endphp"
Issue type: False-Positive
Php Inspections (EA Ultimate): v2.0.8
PHP "v5.6.30" in composer.json

Current behaviour
![screenshot from 2018-09-26 17-17-31](https://user-images.githubusercontent.com/866668/46090039-1f664100-c1b0-11e8-80a5-6530e694b3ac.png)

Expected behaviour
as `@endphp` is expanded to ` ?>`,
and running the inspection on the generated cache-file
dosn't give this warning,
I expected

[2018-09-26 19:34] kalessil commented on #1045
Thank you for reporting @puggan. Looks like a bug, I'll make sure the inspection does not process blade-files.

[2018-09-27 00:07] voku opened #1046 "False-Positive for "Makes no sense, because this type is not defined in annotations.""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Ultimate) v2.0.8 |
| Language level | e.g. PHP 7.0                       |

Current behaviour (descrip

[2018-09-27 06:36] kalessil commented on #1046
Fixed!

[2018-09-27 06:36] #1046 closed

[2018-09-27 06:45] kalessil commented on #1045
Fixed.

[2018-09-27 06:45] #1045 closed

[2018-09-27 07:00] sanderha opened #1047 "Ultimate - Issue with indirectly required packages (Transitive)"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Support Request                          |
| Plugi

[2018-09-27 07:07] kalessil commented on #1047
There are at least 3 options:
- Disable the inspection in the project
- Update composer.json to list transitive dependencies as well
- In inspections settings add '<vendor>/*' into exclusions list

What will work at best for you?

[2018-09-27 07:11] sanderha commented on #1047
Ah I see. Is it generally recommended by the community to list transitive dependencies in the composer.json?

[2018-09-27 07:16] kalessil commented on #1047
There is no agreed strategy in the community on this. I'd recommend to discuss this with the team.
My hints would be following:
- disable the inspection in monolithic projects
- list transitive dependencies in composer.json for micro-services and cloud applications.

[2018-09-27 07:16] #1047 closed

[2018-09-27 07:59] kalessil commented on #911
I was digging into the inspection codebase yesterday. Unfortunately, I can not implement false handling.

[2018-09-27 07:59] #911 closed

[2018-09-27 08:01] kalessil commented on #707
A sub-set of #1026

[2018-09-27 08:01] #707 closed

[2018-09-27 08:07] kalessil commented on #1041
Duplicates #204 (which didn't happen and has many possible side-effects). But there is also #1043 (static anonymous functions) which will happen.

[2018-09-27 08:07] #1041 closed

[2018-09-27 08:11] kalessil commented on #1042
Thank you for the proposal @6ecuk. The topic needs evaluation and time for it, so landing into backlog.

[2018-09-27 09:39] Ocramius opened #1048 "False positive: `UnnecessaryAssertionInspection` on `assert::instanceOf(SomeSubType::class, $some->typedCall())`"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin

[2018-09-27 10:00] kalessil commented on #1048
Good catch Marco, I'll take care of fixing this.

[2018-09-27 11:15] kalessil commented on #1048
Fixed!

[2018-09-27 11:15] #1048 closed

[2018-09-27 12:24] 4n70w4 opened #1049 "Check for missing handler for return false from function"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) |
| Language level | PHP 7.2                        |

Current behaviour (description/scree

[2018-09-27 19:12] kalessil opened #1050 "OpenapiTypesUtil#is: make variadic"

[2018-09-27 19:41] kalessil commented on #1050
False alarm, not yet needed.

[2018-09-27 19:41] #1050 closed

[2018-09-28 15:13] WiXSL opened #1051 "Assignment In Condition Inspection Not Working."
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended) v3.0.6.1 |
| Language level | PHP 7.0.24

The code inside the following function doesn't trigger any is

[2018-09-28 16:34] kalessil commented on #1051
Thank you for reporting @WiXSL, unfortunately, the mentioned inspection is not from us. Please report to PhpStorm team.

[2018-09-28 16:34] #1051 closed

[2018-09-28 18:39] kalessil commented on #958
Fixed in #1039!

[2018-09-28 18:39] #958 closed

[2018-09-28 18:39] kalessil commented on #1039
Fixed!

[2018-09-28 18:39] #1039 closed

[2018-09-28 18:43] kalessil commented on #1015
ping @iakoder

[2018-09-28 18:47] kalessil commented on #902
Re-visiting the ticket after a while. The check has found the dead code (probably existing before introducing parameter types), hence closing the issue.

@rentalhost, with a fresh look - isn't it the dead code.

[2018-09-28 18:47] #902 closed

[2018-09-28 19:36] kalessil commented on #609
PhpStorm team has released the inspection, hence closing this one.

[2018-09-28 19:36] #609 closed

[2018-09-28 19:43] kalessil commented on #185
A bad idea, closing.

[2018-09-28 19:43] #185 closed

[2018-09-29 13:45] kalessil commented on #903
Implemented!

[2018-09-29 13:45] #903 closed

[2018-09-30 11:13] kalessil commented on #1049
So, if I getting this correctly, we are talking about un-checked file writes. Sounds like a good idea.

Here I'll request support by @4n70w4 , @rentalhost, @funivan: please prepare a list of such functions (similar to file_put_contents, imagejpeg) - I'm overloaded ATM.

[2018-09-30 14:32] 4n70w4 commented on #1049
I'm talking about any functions that can return false in case of error (instead of exception), and the programmer did not check the result false.

[2018-09-30 14:39] funivan commented on #1049
@4n70w4 functions `json_encode`, `shuffle` and `preg_match` should be checked ?

We can collect the list of functions and find how they are used in modern frameworks and tools (symfony, laravel, yii .....)

P.S. Google can help us:
1. `site:php.net "FALSE on failure" inurl:function`
2. `site:php.net "FALSE if an error occurred" inurl:function`

[2018-09-30 15:43] 4n70w4 commented on #1049
Hi!

Yes, the volume of such functions is great. You can split the task into parts, for example:

1) the functions of the standard library, taking the information from here:
C:\Program Files\JetBrains\PhpStorm 2018.2.1\plugins\php\lib\php.jar -> \stubs\
2) a detector of similar functions written in user code

Patterns to detect the similar functions:
1) «false on failure» in return phpdoс (found 6

[2018-10-01 07:50] kalessil commented on #1049
Search criteria are clear, still breakdown is needed. Covering 100% of those cases will emit lots of false-positives, hence I need a practical breakdown to start with: like files operations, string manipulation, regular expressions.

[2018-10-01 10:59] ihor-sviziev opened #1052 "PhpStorm works really slow with this extension on Magento 2.2.5 projects"
Current behavior (description/screenshot:)
--
PhpStorm indexation is starting to be really slow, when you're changing between 2 different projects - it all the time tries to reindex everything again and again.

Expected behavior
--
Indexation should happening only at the same time as plugin is not installed, speed of navigation between files and indexation process should be ~ the same.

Environmen

[2018-10-01 11:04] kalessil commented on #1052
Hi @ihor-sviziev, please use "Help -> Diagnostic -> Profile indexing" tool and share the generated artifact for further analysis. Hopefully it'll be something we can fix on our end.

[2018-10-01 14:43] Azenet opened #1053 "False positive: empty() usage suggests to use null-comparison when variable is not null"
Hi,

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Extended) 3.0.6.1 |
| Language level | PHP 7.2 |

Current behaviour
---
With the following code,

[2018-10-03 05:55] b1rdex opened #1054 "Missing Array and string offset validity for types containing mixed"
In the following code only second and third example usages are correctly identifyed and reported as `may not support offset operations`.
I think that's because `MixedReturn::get()` is union `array|stdClass[]` internally and `array` type is collection of `mixed` type items, so `$item` is `mixed|stdClass` internally?
Would be nice to detect first example as probable error too.

[code]

[2018-10-03 16:42] Lutacon opened #1055 "Wrong behaviour when simplifying ternary operator"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                         |
| Plugin         | Php Inspections (EA Ultimate), 2.0.8 |
| Language level | PHP 7.0                       |

Current behaviour (description/screenshot:)

[2018-10-04 08:18] kalessil commented on #1055
Thank you for reporting @Lutacon, I'll take care about the issue.

[2018-10-04 09:51] kalessil commented on #1053
Tested with newer version, couldn't reproduce. Would you please try updating to PhpStorm 2018.2.3?

[2018-10-04 10:09] puggan opened #1056 "FP TransitiveDependenciesUsageInspection"
Issue type: False-Positive
Plugin: EAU v2.0.8
Language level: 7.2

Current behaviour (description/screenshot:)
--
The class belongs to a package which is not directly required in your composer.json. Please add the package into your composer.json
![screenshot from 2018-10-04 12-04-16](https://user-images.githubusercontent.com/866668/46467297-ac6f5280-c7cd-11e8-9d97-7b12a9a3afc6.png)
![screenshot fr

[2018-10-04 10:11] puggan commented on #1056
May have something to do with the "replace" part of the composoer.json in laravel/framework:
https://github.com/laravel/framework/blob/5.7/composer.json

[2018-10-04 11:31] Azenet commented on #1053
Sorry, I didn't notice PhpStorm was outdated, I can't reproduce after updating, closing.

[2018-10-04 11:31] #1053 closed

[2018-10-04 13:00] kalessil commented on #1056
@puggan: proposal with `replace` sounds good, I'll make adjustments.
@CZechBoY: the inspection heavily depends on composer auto-loading, alternatives are not supported ATM.

[2018-10-04 13:06] CZechBoY commented on #1056
@kalessil What about classmap?

[2018-10-04 14:27] #510 closed

[2018-10-05 06:10] kalessil commented on #1055
Fixed!

[2018-10-05 06:10] #1055 closed

[2018-10-05 06:17] kalessil commented on #1054
@b1rdex, could not reproduce (PhpStorm 2018.2.3), what;s you PhpStorm version?

![image](https://user-images.githubusercontent.com/1577185/46518965-f5c7ac80-c876-11e8-8f38-8cae38ed7574.png)

[2018-10-05 07:02] b1rdex commented on #1054
Originally reported from previous EAP. Now #PS-183.3283.10, built on October 3, 2018, still reproducible.

[2018-10-05 07:06] kalessil commented on #1054
Ok, I'll add a new test case and let see how many build on stable version going to fail ;)

[2018-10-05 09:10] kalessil commented on #1054
@b1rdex: checked (can not reproduce still), see here: https://travis-ci.org/kalessil/phpinspectionsea/builds/437515864

Can be the an EAP issue or caused by a third-party plugin as well.

[2018-10-05 09:10] #1054 closed

[2018-10-05 10:51] MaximilianKresse opened #1057 "False-positive getMockBuilder abstract classes"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.1                        |

Current behaviour
--
In PhpU

[2018-10-05 11:39] kalessil commented on #1057
Thank you for reporting an issue @Bob4ever, unfortunately I'm not following the description. Would you please provide a sample code or a screenshot which I could map with the description?

[2018-10-05 15:19] puggan commented on #1056
"the inspection heavily depends on composer auto-loading"
according to composer autoloding, the Blueprint belongs to '/laravel/framework',

all 3 files say the same:

in vendor/composer/autoload_static.php:
[code]

in vendor/composer/autoload_classmap.php:
[code]

in vendor/composer/autoload_psr4.php:
[code]

or where is your inspection getting its intel from?

[2018-10-06 21:50] andreasschroth opened #1058 "Wrong refactoring suggested for call_user_func_array with key => value array"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Suggested refac

[2018-10-06 22:11] andreasschroth opened #1059 "[Feature Request] Warn about useless phpunit assertions"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Thi

[2018-10-07 05:44] kalessil commented on #1058
Thank you for reporting @andreasschroth, I'll take care about the issue.

[2018-10-07 11:04] kalessil commented on #1058
Fixed!

[2018-10-07 11:04] #1058 closed

[2018-10-07 15:11] andreasschroth opened #1060 "[Enhancement] "Switch-case" does not warn about single cases in switch"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Enhancement                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Let's s

[2018-10-07 15:35] andreasschroth opened #1061 "[Enhancement] strlen misused does not recognise > 0"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Enhancement                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here is

[2018-10-07 17:36] andreasschroth opened #1062 "[Bug] Suggested fix in "General '\Exception' is thrown" is wrong if Exception is imported via namespace"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here is some ex

[2018-10-07 18:12] andreasschroth opened #1063 "[False-Positive] isset() usage - $variable !== null construction should be used when variable might not be declared"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here

[2018-10-07 18:15] kalessil commented on #1061
Fixed!

[2018-10-07 18:15] #1061 closed

[2018-10-07 18:30] kalessil commented on #1062
Confirmed, the easiest way will be to follow `throw new \RuntimeException(...);` approach. Thank you for reporting @andreasschroth.

[2018-10-07 18:31] kalessil commented on #1063
No worries, it good to re-visit the inspection from time to time =)

[2018-10-07 18:42] andreasschroth opened #1064 "[Bug] Non-optimal regular expression: Suggested fix "strpos can be used instead" is wrong"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here is some ex

[2018-10-07 18:58] andreasschroth opened #1065 "[Enhancement] Non-optimal regular expression doesn't check if pattern param is an array in preg_replace()"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Enhancement                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here is

[2018-10-07 19:09] kalessil commented on #1060
Confirmed, we have an inspection which supposed to cover this already.

[2018-10-07 19:10] kalessil commented on #1064
Confirmed

[2018-10-07 19:11] kalessil commented on #1065
Marking as a bug, so it's on my short list.

[2018-10-07 19:14] andreasschroth opened #1066 "[Bug] Non-optimal regular expression: Suggested fix does not take regex escaping into account"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Sorry, it's me

[2018-10-08 05:13] funivan commented on #600
Rules in our team: if we return iterator then we should specify the return type
[code]

But in other cases, we just skip return type. For example:
`function name() : string { /**/ }` We remove return type. And even DocComment.
PhpStorm has a nice option: `Ignore PhpDoc with return typehint`
This is the personal case. Maybe it would be nice to have an option for this. Thanks.

![08 10 57](https://u

[2018-10-08 05:48] funivan commented on #201
Maybe it will be better to just stop writing public properties? =)
In our team, we avoid using public properties. "Properties should not be public" - this inspection is simple to implement.

[2018-10-08 08:12] Bob4ever commented on #1057
Yeah sure:

[code]

The bottom part is just an addition to represent why enforcing getMockForAbstractClass is not always a good idea. It is really hard to recognize what each flag does. (without the show argument name feature of phpstorm)

[2018-10-08 12:56] andreasschroth opened #1067 "[Feature Request] Add an inspection to warn for unnecessary type checks"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature Request                          |
| Plugin         | Php Inspections (EA Extended), 3.0.6.1 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Thi

[2018-10-08 13:02] andreasschroth opened #1068 "[Improvement] Add link to Patreon in README.md"
I think you should also add a link to Patreon in the README.md here. Just an idea... And thanks for the great plugin! Keep up the good work.

[2018-10-08 15:19] andreasschroth commented on #1067
Sorry, the suggestion is already implemented in "EA Ultimate": "Callable parameter usage violates definition".

[2018-10-08 15:19] #1067 closed

[2018-10-08 15:31] andreasschroth opened #1069 "[False-Positive] Callable parameter usage violates definition with is_subclass_of()"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.8 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here i

[2018-10-08 20:03] kalessil commented on #1065
Fixed!

[2018-10-08 20:03] #1065 closed

[2018-10-08 20:08] kalessil commented on #1069
Confirmed, I'll take care about fixing it.

[2018-10-08 20:09] kalessil commented on #1068
You are welcome =) I'll revisit the readme, seems the link needs to be more visible there.

[2018-10-08 21:04] andreasschroth commented on #1065
Thank you!

[2018-10-09 06:05] kalessil commented on #1067
So, you discovered ultimate, congrats and thank you for supporting via Patreon =) The license is coming today (~evening).

[2018-10-09 06:12] kalessil commented on #1068
Done!

[2018-10-09 06:12] #1068 closed

[2018-10-09 10:49] andreasschroth commented on #1067
It's a great tool that deserves more support! Thank you again for creating the tool.

[2018-10-09 14:21] andreasschroth opened #1070 "[False-Positive] Makes no sense, because this type is not defined in annotations - Wrong return type for iconv"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.8 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here i

[2018-10-09 17:30] iakoder commented on #1015
Sorry, was on vacation.  What, exactly are you looking for?

[2018-10-09 18:22] kalessil commented on #1015
Oh, hope the vacation was great =) I was looking for a simplified example (minimalistic one).

[2018-10-09 18:50] kalessil commented on #1070
Checked: the function signature in PhpStorm stubs is incorrect. BTW, you can contribute a fix there.

[2018-10-09 18:50] #1070 closed

[2018-10-09 18:59] andreasschroth commented on #1070
Thank you, PR submitted over there.

[2018-10-09 19:13] iakoder commented on #1015
[code]

Repros in PhpStorm 2018.2.3 and 2018.3 EAP 183.3283.10 with PHP Inspection (EA Extended 3.0.6).

[2018-10-10 06:56] kalessil commented on #1015
Well, this is very specific for this inspection, confirming to be a bug. Based on the provided samples, I prepared a test case for the correct behaviour (which is not a case yet):
[code]

[2018-10-10 09:07] tzfrs opened #1071 "Asserting instanceof should not result in "argument implicitly declares return type" if a method has a return type"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive (?)                          |
| Plugin         | Php Inspections (EA Extended) 3.0.6.1 |
| Language level | 7.2                        |

Current behaviour (descriptio

[2018-10-10 09:36] kalessil commented on #1071
If the method would return an interface and assertion tested certain implementation class, this would be ok.

 But this specific case smells or probably indicates recent migration to return types. Let other tests cover this: if the return type changed, the business logic somewhere will break ;)

[2018-10-10 11:47] tzfrs commented on #1071
Do you mean because every class should have an interface? I mean, while it's probably good practice I wouldn't declare that as a code smell. Not following SOLID should not be a code smell IMO.

It will, but I'm not quite sure if it should only be noticed through other methods.

Just my two cents.

[2018-10-10 19:47] iakoder opened #1072 "Referencing Objects Inspection Enhancement"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                          |
| Plugin         | Php Inspections (EA Extended) 3.0.6 |
| Language level | e.g. PHP 7.x                        |

I know you don't like to

[2018-10-10 19:52] kalessil commented on #1015
Fixed!

[2018-10-10 19:52] #1015 closed

[2018-10-11 05:56] kalessil commented on #1072
What about this case: https://3v4l.org/n1JXC?

[2018-10-11 06:08] kalessil commented on #1071
`Not following SOLID should not be a code smell IMO.`
Fair enough =)

`Just my two cents.`
I think the best solution will be to introduce a new setting for this inspection, so you can disable this specific behaviour in specific projects.

[2018-10-11 16:54] iakoder commented on #1072
Yea, unless you can detect that there are no assignments to the property/variable then you don't really know why the reference was taken.  Was it "I don't really understand PHP, classes and references" or "I'm an expert and am trying to do something."

[2018-10-11 18:10] kalessil commented on #1069
Duplicates #1046 (which if fixed)

[2018-10-11 18:10] #1069 closed

[2018-10-15 08:19] mattsches commented on #953
Wonder if this is related or if I should open a new issue, but using EA Ultimate v2.0.8 I get the same warning when I alias a class like this:

[code]

![auswahl_038](https://user-images.githubusercontent.com/68414/46938340-cd546500-d063-11e8-85d8-5c1da94c181d.png)

[2018-10-18 19:13] kalessil commented on #1071
Good news, it's already a separate inspection (PhpUnit: unnecessary assertion), which you can disable.
Hence, closing the issue.

[2018-10-18 19:13] #1071 closed

[2018-10-18 19:48] kalessil commented on #1064
Working on it, good catch Andreas!

[2018-10-20 09:35] kalessil commented on #1064
Fixed!

[2018-10-20 09:35] #1064 closed

[2018-10-20 11:59] andreasschroth commented on #1064
Great, thank you! 👍

[2018-10-20 13:16] andreasschroth opened #1073 "False-Positive "Function result is unused" with constructor calls"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | Php Inspections (EA Ultimate), 2.0.9 |
| Language level | PHP 7.2                        |

Current behaviour:
---

Here i

[2018-10-22 08:17] puggan opened #1074 "[FP] substr() used as index-based access (on int)"
Issue type: False-Positive
Plugin: Ultimate v2.0.9

Current behaviour:
![screenshot from 2018-10-22 10-08-22](https://user-images.githubusercontent.com/866668/47283350-5549ea00-d5e3-11e8-985d-e539ece23d73.png)

Expected behaviour:
quiet, or something that converts it to string before using index-based access.

Environment details:
PhpStorm 2018.2.5
Build #PS-182.4892.16, built on October 11, 2018

[2018-10-22 08:17] kalessil commented on #1072
Checked once more this: looks like feasible.
For myself: is all writes are like `=&` and subject is used only in member access context, report the case.

[2018-10-22 09:47] tzfrs commented on #1071
@kalessil Thanks! Does this only deactivate the one I talked about or even more? Because `unnecessary assertions` sounds like it can make sense in specific cases, so I don't know if it's only related to the return type?

[2018-10-22 10:37] nkonev-4xxi opened #1075 "False-positive "Null Pointer exception may occur here" after webmozart/assert check"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                          |
| Plugin         | Php Inspections (EA Extended), v3.0.7 |
| Language level | PHP 7.1                        |

Current behaviour:
Suppos

[2018-10-22 11:28] kalessil commented on #1075
Thank you for reporting @nkonev-4xxi, the assertions suppose to be supported. I'll check what's broken.

[2018-10-22 11:33] kalessil commented on #1074
Thank you for reporting @puggan, that's a good catch. I'll fix the code generation for this case.

[2018-10-22 16:56] kalessil commented on #1073
+ fluid interfaces (returning self, static or this)

[2018-10-22 16:58] kalessil opened #1076 "Boolean compare can be simplified"
https://twitter.com/SenseException/status/1053226277027618821

[2018-10-22 19:19] ScreamingDev opened #1077 "Use const over define"
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request                         |
| Plugin         | Php Inspections (EA Ultimate) |
| Language level | e.g. PHP 7.2 (check project settings or composer.json)

[2018-10-23 07:20] Bob4ever commented on #1057
Any news here? Do you understand my problem with the current behaviour?

[2018-10-23 08:15] kalessil commented on #1057
Hi @Bob4ever: yes, thank you for the example. Considering the issues to be a false-positive - seems we can easily recognize the context from the example.

[2018-10-23 08:17] kalessil commented on #1077
Will check, in which contexts this is relevant (global scopes, functions, methods)?

[2018-10-23 10:34] reedy opened #1078 "Return type confused by return new static()"
Re-report of https://youtrack.jetbrains.com/issue/WI-43923#

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug/False-Positive                         |
| Plugin         | Php Inspections (EA Extended) |
| Language level | e.g. PH

[2018-10-23 10:42] kalessil commented on #1073
Fixed!

[2018-10-23 10:42] #1073 closed

[2018-10-23 10:44] kalessil commented on #1078
Thank you for reporting @reedy , I'll check what causes the issue.

[2018-10-23 13:08] ruudk opened #1079 "Use the qualified reference > Allow to import function instead of backslash"
First of all, your plugin rocks! Saves my ass every day. Just put in an order for Ultimate. Thanks!

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Feature request |
| Plugin         | Php Inspections (EA Extended) v3.0.7 |
| Lang

[2018-10-23 15:50] kalessil commented on #838
Closing in favour of #1079 (duplicate)

[2018-10-23 15:50] #838 closed

[2018-10-23 15:52] kalessil commented on #1079
Thank for a great feedback @ruudk, since we are going into the next stabilization round, I think it's time to finally implement this =)

[2018-10-23 18:37] kalessil commented on #1075
Fixed!

[2018-10-23 18:37] #1075 closed

[2018-10-23 19:04] kalessil commented on #953
Fixed finally!

[2018-10-23 19:04] #953 closed

[2018-10-23 20:11] kalessil commented on #1062
Fixed!

[2018-10-23 20:11] #1062 closed

[2018-10-23 21:28] ScreamingDev commented on #1077
Only global scope. Like config files or bootstrapping things.
As soon as it is within a lower scope (function, for, if, while, ...) it looses all benefits.

[2018-10-24 06:52] kalessil commented on #1060
Done!

[2018-10-24 06:52] #1060 closed

[2018-10-24 13:20] SkylerLS opened #1080 "RealpathInSteamContextInspection inspection has a typo"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Typo                          |
| Plugin         |

[2018-10-24 15:35] kalessil commented on #1080
Thank you for reporting @SkylerLS, I'll take care of fixing this bug.

[2018-10-24 17:36] kalessil commented on #1080
Fixed!

[2018-10-24 17:36] #1080 closed

[2018-10-25 10:10] aik099 commented on #270
@vladyslavstartsev , does work for me. It is covered by PHP EA Extended plugin (this one): `PHP | Php Inspections (EA Extended) | Probable bugs | Passing arguments by reference correctness`.

[2018-10-25 10:16] aik099 opened #1081 "The "Passing arguments by reference correctness" inspection doesn't catch object creation"
First, thank you for reporting a bug or making a request. That takes time and we appreciate that!

Let's start with common details:

| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | Bug                          |
| Plugin         |

[2018-10-25 10:30] aik099 commented on #270
The https://youtrack.jetbrains.com/issue/WI-9368 does tell, that it's this plugin inspection and not PhpStorm built-in one.

[2018-10-25 10:38] kalessil commented on #270
Wuut, I'll re-check then.

[2018-10-25 10:39] kalessil commented on #1081
Will check, thank you for reporting @aik099.

[2018-10-25 16:01] kalessil commented on #1081
Fixed!

[2018-10-25 16:01] #1081 closed

[2018-10-25 16:03] aik099 commented on #1081
Thanks for fixing. What is the release strategy for this project, like every month or sooner?

[2018-10-26 09:32] puggan opened #1082 "[FP] Loop which does not loop, blade"
Issue type: Bug/False-Positive
Plugin: Ultimate 2.0.9
Language level: php 5.6, blade, laravel/framework v5.1.46

        @foreach ($payments as $payment)
            <tr>
                <td>Inbetalningar - {{ $payment->tr_type }}</td>
                <td align="right" title="{{ Currency::formatNumber($payment->pos) }}, {{ Currency::formatNumber($payment->neg) }}">{{ Currency::formatNumber($paymen

[2018-10-26 09:33] puggan commented on #1082
Blade parsing seam of in general, as all lopp dosn't loop warnings, and all ifs says Statement has empty block.

[2018-10-26 16:09] kalessil commented on #1082
Fixed! We'll skip processing blade files, as they are not php code.

[2018-10-26 16:09] #1082 closed

[2018-10-26 16:32] kalessil commented on #270
Checked, the red marking is coming by PhpPassByRefInspection.

[2018-10-26 16:32] #270 closed

[2018-10-29 13:54] nkonev-4xxi commented on #1075
Woohoo, thanks

[2018-10-29 15:10] rentalhost opened #1083 "Intentional "function result is not used""
| Subject        | Details                                                                       |
| :------------- | :---------------------------------------------------------------------------- |
| Issue type     | False-Positive                          |
| Plugin         | U2.0.9 |
| Language level | -                      |

I don't know what we can do here. There some cases where we have som

[2018-10-30 07:04] kalessil opened #1084 "Remove manipulative words from hints and documentation"
https://twitter.com/fabpot/status/1056897953196060672

for the symfony doc, i did a regular expression search with " (simply|simple|just|easy|easily|quick|of course|logically|clearly|obviously|merely|basically|trivial)". "simply" and "of course" are mostly superflous and particularly annoying. the rest is very dependening on context.

[2018-10-30 07:47] kalessil commented on #1083
Hi, has been solved already: https://github.com/kalessil/phpinspectionsea/commit/78430c110adf42da2eb3b2de92f8ab839287e153